.
wizard
-
header
{
display
:
none
;
}
.
update
-
header
{
display
:
-
moz
-
box
!
important
;
}
updateheader
{
-
moz
-
binding
:
url
(
"
chrome
:
/
/
mozapps
/
content
/
update
/
updates
.
xml
#
updateheader
"
)
;
display
:
-
moz
-
box
;
-
moz
-
box
-
orient
:
horizontal
;
}
#
downloadProgress
{
-
moz
-
box
-
flex
:
1
;
}
richlistitem
.
update
{
-
moz
-
binding
:
url
(
"
chrome
:
/
/
mozapps
/
content
/
update
/
updates
.
xml
#
update
"
)
;
display
:
-
moz
-
box
;
-
moz
-
box
-
orient
:
vertical
;
}
