#
description
{
font
-
weight
:
bold
;
}
#
description
-
box
#
chooser
{
margin
-
bottom
:
0
.
5em
;
}
#
rememberContainer
{
margin
-
bottom
:
1em
;
}
#
remember
-
text
:
not
(
[
visible
]
)
{
visibility
:
hidden
;
}
#
remember
-
text
{
margin
-
top
:
0
.
5em
;
}
#
remember
{
margin
-
inline
-
start
:
6px
;
}
#
remember
-
label
#
remember
{
vertical
-
align
:
middle
;
}
