%
include
.
.
/
.
.
/
.
.
/
shared
/
in
-
content
/
common
.
inc
.
css
xul
|
caption
{
background
-
color
:
transparent
;
}
xul
|
button
html
|
button
xul
|
colorpicker
[
type
=
"
button
"
]
xul
|
menulist
{
margin
:
2px
4px
;
}
xul
|
menulist
:
not
(
[
editable
=
"
true
"
]
)
>
xul
|
*
.
menulist
-
dropmarker
{
margin
-
top
:
1px
;
margin
-
bottom
:
1px
;
}
xul
|
checkbox
{
padding
-
inline
-
start
:
0
;
}
media
(
-
moz
-
windows
-
default
-
theme
:
0
)
{
xul
|
*
.
checkbox
-
check
{
background
-
image
:
none
;
}
xul
|
*
.
checkbox
-
check
[
checked
]
{
fill
:
-
moz
-
dialogText
;
stroke
:
none
;
background
-
color
:
-
moz
-
dialog
;
}
}
xul
|
radio
{
-
moz
-
binding
:
url
(
"
chrome
:
/
/
global
/
content
/
bindings
/
radio
.
xml
#
radio
"
)
;
padding
-
inline
-
start
:
0
;
}
media
(
-
moz
-
windows
-
default
-
theme
:
0
)
{
xul
|
*
.
radio
-
check
{
background
-
image
:
none
;
}
xul
|
*
.
radio
-
check
[
selected
]
{
background
-
color
:
-
moz
-
dialog
;
fill
:
-
moz
-
dialogText
;
}
}
xul
|
*
.
radio
-
icon
xul
|
*
.
checkbox
-
icon
{
margin
-
inline
-
end
:
0
;
}
xul
|
*
.
menulist
-
label
-
box
xul
|
*
.
radio
-
label
-
box
{
border
-
style
:
none
;
}
xul
|
menulist
:
-
moz
-
focusring
>
xul
|
*
.
menulist
-
label
-
box
xul
|
radio
[
focused
=
"
true
"
]
>
xul
|
*
.
radio
-
label
-
box
html
|
input
[
type
=
"
checkbox
"
]
:
-
moz
-
focusring
+
html
|
label
:
before
{
outline
:
1px
dotted
;
}
media
(
-
moz
-
windows
-
default
-
theme
:
0
)
{
xul
|
treechildren
:
:
-
moz
-
tree
-
row
(
selected
)
xul
|
listbox
xul
|
listitem
[
selected
=
"
true
"
]
{
border
:
2px
dotted
Highlight
;
}
}
html
|
html
*
xul
|
page
*
xul
|
window
*
{
font
-
size
:
1
.
25rem
;
}
*
|
*
.
header
-
name
{
font
-
size
:
1
.
83rem
;
}
*
|
*
.
category
-
name
{
font
-
size
:
1
.
33rem
;
}
xul
|
caption
>
xul
|
label
{
font
-
size
:
1
.
42rem
;
}
.
tip
-
caption
.
help
-
button
{
font
-
size
:
1
.
08rem
;
}
