%
include
.
.
/
.
.
/
.
.
/
shared
/
in
-
content
/
common
.
inc
.
css
xul
|
*
.
menulist
-
dropmarker
{
margin
-
top
:
1px
;
margin
-
bottom
:
1px
;
}
xul
|
checkbox
xul
|
radio
{
padding
-
inline
-
start
:
0
;
}
media
(
-
moz
-
windows
-
default
-
theme
:
0
)
{
xul
|
checkbox
[
checked
]
>
xul
|
*
.
checkbox
-
check
xul
|
*
.
radio
-
check
[
selected
]
{
fill
:
-
moz
-
fieldText
;
background
-
color
:
-
moz
-
field
;
}
}
xul
|
menulist
:
-
moz
-
focusring
>
xul
|
*
.
menulist
-
label
-
box
{
outline
:
none
!
important
;
}
html
|
input
[
type
=
"
checkbox
"
]
:
-
moz
-
focusring
+
html
|
label
:
before
{
outline
:
1px
dotted
;
}
media
(
-
moz
-
windows
-
default
-
theme
:
0
)
{
xul
|
treechildren
:
:
-
moz
-
tree
-
row
(
selected
)
{
border
:
2px
dotted
Highlight
;
}
}
html
|
button
{
min
-
width
:
6
.
3em
;
}
xul
|
button
>
xul
|
*
.
button
-
box
{
padding
-
right
:
0
;
padding
-
left
:
0
;
}
