.
conditional
-
breakpoint
-
panel
{
cursor
:
initial
;
margin
:
1em
0
;
position
:
relative
;
display
:
flex
;
align
-
items
:
center
;
background
:
var
(
-
-
theme
-
toolbar
-
background
)
;
border
-
top
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
}
.
conditional
-
breakpoint
-
panel
.
prompt
{
font
-
size
:
1
.
8em
;
color
:
var
(
-
-
theme
-
graphs
-
orange
)
;
padding
-
left
:
3px
;
padding
-
right
:
3px
;
padding
-
bottom
:
3px
;
text
-
align
:
right
;
width
:
30px
;
align
-
self
:
baseline
;
margin
-
top
:
3px
;
}
.
conditional
-
breakpoint
-
panel
.
log
-
point
.
prompt
{
color
:
var
(
-
-
purple
-
60
)
;
}
.
conditional
-
breakpoint
-
panel
.
CodeMirror
{
margin
:
6px
10px
;
}
.
conditional
-
breakpoint
-
panel
.
CodeMirror
pre
.
CodeMirror
-
placeholder
{
color
:
var
(
-
-
theme
-
text
-
color
-
alt
)
;
}
