.
highlight
-
function
-
calls
{
background
-
color
:
rgba
(
202
227
255
0
.
5
)
;
}
.
theme
-
dark
.
highlight
-
function
-
calls
{
background
-
color
:
#
743884
;
}
.
highlight
-
function
-
calls
:
hover
{
cursor
:
default
;
}
