%
include
.
.
/
.
.
/
.
.
/
shared
/
incontentprefs
/
dialog
.
inc
.
css
prefwindow
.
windowDialog
{
font
:
message
-
box
!
important
;
}
label
:
not
(
.
menu
-
text
)
textbox
description
.
tab
-
text
caption
>
label
{
font
-
size
:
1
.
3rem
;
}
textbox
.
tree
-
input
{
font
-
size
:
unset
;
}
caption
{
font
:
message
-
box
;
}
.
prefWindow
-
dlgbuttons
{
margin
:
0
;
}
