.
aboutdebugging
-
plug
{
text
-
align
:
right
;
padding
:
1rem
0
;
}
.
aboutdebugging
-
plug__link
{
margin
:
0
;
}
.
registrations
-
container
{
flex
-
grow
:
1
;
}
.
registrations
-
container__list
{
padding
-
inline
-
start
:
0
;
}
.
registrations
-
container__item
{
list
-
style
-
type
:
none
;
margin
:
0
;
padding
:
calc
(
var
(
-
-
base
-
unit
)
*
5
)
0
;
}
.
registrations
-
container__item
:
first
-
child
{
padding
-
top
:
0
;
}
.
registrations
-
container__item
:
not
(
:
last
-
child
)
{
border
-
bottom
:
1px
solid
var
(
-
-
separator
-
color
)
;
}
