.
worker
{
line
-
height
:
1
.
5
;
font
-
size
:
var
(
-
-
body
-
10
-
font
-
size
)
;
}
.
worker__source
-
url
{
user
-
select
:
text
;
}
.
worker__meta
-
name
{
color
:
var
(
-
-
theme
-
text
-
color
-
alt
)
;
}
.
worker__data
{
display
:
grid
;
grid
-
template
-
columns
:
auto
1fr
;
grid
-
column
-
gap
:
calc
(
var
(
-
-
base
-
unit
)
*
2
)
;
grid
-
row
-
gap
:
calc
(
var
(
-
-
base
-
unit
)
*
0
.
5
)
;
}
.
worker__data
>
*
{
margin
:
calc
(
var
(
-
-
base
-
unit
)
*
2
)
0
0
0
;
}
.
worker__link
-
start
.
worker__link
-
debug
{
margin
:
0
calc
(
var
(
-
-
base
-
unit
)
*
2
)
;
}
.
worker__status
{
text
-
transform
:
capitalize
;
}
