:
root
{
-
-
body
-
10
-
font
-
size
:
13px
;
-
-
body
-
10
-
font
-
weight
:
400
;
-
-
body
-
20
-
font
-
size
:
15px
;
-
-
body
-
20
-
font
-
weight
:
400
;
-
-
body
-
20
-
font
-
weight
-
bold
:
700
;
-
-
title
-
20
-
font
-
size
:
17px
;
-
-
title
-
20
-
font
-
weight
:
600
;
-
-
title
-
30
-
font
-
size
:
22px
;
-
-
title
-
30
-
font
-
weight
:
300
;
-
-
base
-
font
-
size
:
var
(
-
-
body
-
10
-
font
-
size
)
;
-
-
base
-
font
-
weight
:
var
(
-
-
body
-
10
-
font
-
weight
)
;
-
-
base
-
line
-
height
:
1
.
8
;
-
-
list
-
line
-
height
:
1
.
25
;
-
-
bg
-
color
:
var
(
-
-
grey
-
10
)
;
-
-
text
-
color
:
var
(
-
-
grey
-
90
)
;
-
-
base
-
unit
:
4px
;
}
body
{
margin
:
0
;
padding
:
0
;
line
-
height
:
var
(
-
-
base
-
line
-
height
)
;
}
ul
{
line
-
height
:
var
(
-
-
list
-
line
-
height
)
;
}
a
{
color
:
var
(
-
-
theme
-
highlight
-
blue
)
;
text
-
decoration
:
none
;
cursor
:
pointer
;
}
h1
.
application
-
-
title
{
font
-
size
:
var
(
-
-
title
-
30
-
font
-
size
)
;
font
-
weight
:
var
(
-
-
title
-
30
-
font
-
weight
)
;
line
-
height
:
var
(
-
-
base
-
line
-
height
)
;
}
p
{
margin
:
0
;
}
