#
downloadsListBox
>
richlistitem
:
not
(
[
selected
]
)
button
{
-
moz
-
user
-
focus
:
none
;
}
#
downloadsSummary
:
not
(
[
inprogress
]
)
>
vbox
>
#
downloadsSummaryProgress
#
downloadsSummary
:
not
(
[
inprogress
]
)
>
vbox
>
#
downloadsSummaryDetails
#
downloadsFooter
:
not
(
[
showingsummary
]
)
#
downloadsSummary
{
display
:
none
;
}
#
downloadsFooter
[
showingsummary
]
>
stack
:
hover
>
#
downloadsSummary
#
downloadsFooter
[
showingsummary
]
>
stack
:
not
(
:
hover
)
>
#
downloadsFooterButtons
{
opacity
:
0
;
-
moz
-
user
-
focus
:
ignore
;
}
#
downloadsRichListBox
>
richlistitem
button
{
-
moz
-
user
-
focus
:
none
;
}
.
download
-
state
[
buttonhidden
]
>
toolbarseparator
.
download
-
state
[
buttonhidden
]
>
.
downloadButton
{
display
:
none
;
}
.
download
-
state
:
not
(
:
is
(
[
state
=
"
6
"
]
[
state
=
"
8
"
]
[
state
=
"
9
"
]
)
)
.
downloadBlockedBadge
.
download
-
state
:
not
(
:
is
(
[
state
=
"
-
1
"
]
[
state
=
"
5
"
]
[
state
=
"
0
"
]
[
state
=
"
4
"
]
[
state
=
"
7
"
]
)
)
.
downloadProgress
.
download
-
state
:
not
(
[
state
=
"
0
"
]
)
.
downloadPauseMenuItem
.
download
-
state
:
not
(
[
state
=
"
4
"
]
)
.
downloadResumeMenuItem
.
download
-
state
:
not
(
[
state
=
"
8
"
]
)
.
downloadUnblockMenuItem
.
download
-
state
[
state
=
"
8
"
]
:
not
(
.
temporary
-
block
)
.
downloadUnblockMenuItem
.
download
-
state
:
not
(
:
is
(
[
state
=
"
1
"
]
[
state
=
"
2
"
]
[
state
=
"
3
"
]
[
state
=
"
6
"
]
[
state
=
"
8
"
]
[
state
=
"
9
"
]
)
)
.
downloadRemoveFromHistoryMenuItem
.
download
-
state
:
not
(
:
is
(
[
state
=
"
-
1
"
]
[
state
=
"
0
"
]
[
state
=
"
1
"
]
[
state
=
"
4
"
]
[
state
=
"
5
"
]
)
)
.
downloadShowMenuItem
.
download
-
state
[
state
=
"
1
"
]
:
not
(
[
exists
]
)
.
downloadShowMenuItem
.
download
-
state
:
not
(
:
is
(
[
state
=
"
-
1
"
]
[
state
=
"
0
"
]
[
state
=
"
1
"
]
[
state
=
"
4
"
]
[
state
=
"
5
"
]
[
state
=
"
8
"
]
)
)
.
downloadCommandsSeparator
.
download
-
state
[
state
=
"
1
"
]
:
not
(
[
exists
]
)
.
downloadCommandsSeparator
.
download
-
state
[
state
=
"
8
"
]
:
not
(
.
temporary
-
block
)
.
downloadCommandsSeparator
.
download
-
state
:
not
(
[
viewable
-
internally
]
)
.
downloadUseSystemDefaultMenuItem
.
download
-
state
.
downloadUseSystemDefaultMenuItem
:
not
(
[
enabled
]
)
.
download
-
state
.
downloadAlwaysUseSystemDefaultMenuItem
:
not
(
[
enabled
]
)
.
download
-
state
:
not
(
[
viewable
-
internally
]
)
.
downloadAlwaysUseSystemDefaultMenuItem
{
display
:
none
;
}
.
download
-
state
:
not
(
:
is
(
[
state
=
"
-
1
"
]
[
state
=
"
5
"
]
[
state
=
"
0
"
]
[
state
=
"
4
"
]
)
)
.
downloadCancel
.
download
-
state
:
not
(
:
is
(
[
state
=
"
2
"
]
[
state
=
"
3
"
]
)
)
.
downloadRetry
.
download
-
state
:
not
(
[
state
=
"
1
"
]
)
.
downloadShow
{
display
:
none
;
}
#
downloadsPanel
[
hasdownloads
]
#
emptyDownloads
#
downloadsPanel
:
not
(
[
hasdownloads
]
)
#
downloadsListBox
{
display
:
none
;
}
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
{
max
-
width
:
unset
;
}
.
subviewbutton
.
download
>
.
toolbarbutton
-
text
>
.
status
-
text
.
subviewbutton
.
download
:
not
(
:
hover
)
>
.
action
-
button
.
subviewbutton
.
download
>
.
action
-
button
>
.
toolbarbutton
-
text
{
display
:
none
;
}
.
subviewbutton
.
download
:
not
(
:
hover
)
>
.
toolbarbutton
-
text
>
.
status
-
full
.
subviewbutton
.
download
:
hover
:
is
(
:
not
(
[
canShow
]
)
:
not
(
[
exists
]
)
)
:
not
(
[
canRetry
]
)
>
.
toolbarbutton
-
text
>
.
status
-
full
.
subviewbutton
.
download
:
hover
[
canRetry
]
:
not
(
.
downloadHoveringButton
)
>
.
toolbarbutton
-
text
>
.
status
-
full
.
subviewbutton
.
download
:
hover
[
canShow
]
[
exists
]
:
not
(
.
downloadHoveringButton
)
>
.
toolbarbutton
-
text
>
.
status
-
open
.
subviewbutton
.
download
:
hover
[
canRetry
]
.
downloadHoveringButton
>
.
toolbarbutton
-
text
>
.
status
-
retry
.
subviewbutton
.
download
:
hover
[
canShow
]
[
exists
]
.
downloadHoveringButton
>
.
toolbarbutton
-
text
>
.
status
-
show
{
display
:
inline
;
}
