#
downloadsListBox
>
richlistitem
{
-
moz
-
binding
:
url
(
'
chrome
:
/
/
browser
/
content
/
downloads
/
download
.
xml
#
download
'
)
;
}
#
downloadsListBox
>
richlistitem
:
not
(
[
selected
]
)
button
{
-
moz
-
user
-
focus
:
none
;
}
#
downloadsListBox
>
richlistitem
.
download
-
state
[
state
=
"
1
"
]
:
not
(
[
exists
]
)
>
.
downloadButtonArea
#
downloadsListBox
>
richlistitem
.
download
-
state
[
state
=
"
1
"
]
:
not
(
[
exists
]
)
>
toolbarseparator
{
display
:
none
;
}
#
downloadsSummary
:
not
(
[
inprogress
]
)
>
vbox
>
#
downloadsSummaryProgress
#
downloadsSummary
:
not
(
[
inprogress
]
)
>
vbox
>
#
downloadsSummaryDetails
#
downloadsFooter
:
not
(
[
showingsummary
]
)
#
downloadsSummary
{
display
:
none
;
}
#
downloadsFooter
[
showingsummary
]
>
stack
:
hover
>
#
downloadsSummary
#
downloadsFooter
[
showingsummary
]
>
stack
:
not
(
:
hover
)
>
#
downloadsFooterButtons
{
opacity
:
0
;
-
moz
-
user
-
focus
:
ignore
;
}
#
downloadsRichListBox
>
richlistitem
{
-
moz
-
binding
:
none
;
}
#
downloadsRichListBox
>
richlistitem
[
active
]
{
-
moz
-
binding
:
url
(
"
chrome
:
/
/
browser
/
content
/
downloads
/
download
.
xml
#
download
"
)
;
}
#
downloadsRichListBox
>
richlistitem
button
{
-
moz
-
user
-
focus
:
none
;
}
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
6
"
]
[
state
=
"
8
"
]
[
state
=
"
9
"
]
)
)
.
downloadBlockedBadge
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
-
1
"
]
[
state
=
"
5
"
]
[
state
=
"
0
"
]
[
state
=
"
4
"
]
[
state
=
"
7
"
]
)
)
.
downloadProgress
.
download
-
state
:
not
(
[
state
=
"
0
"
]
)
.
downloadPauseMenuItem
.
download
-
state
:
not
(
[
state
=
"
4
"
]
)
.
downloadResumeMenuItem
.
download
-
state
:
not
(
[
state
=
"
8
"
]
)
.
downloadUnblockMenuItem
.
download
-
state
[
state
=
"
8
"
]
:
not
(
.
temporary
-
block
)
.
downloadUnblockMenuItem
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
1
"
]
[
state
=
"
2
"
]
[
state
=
"
3
"
]
[
state
=
"
6
"
]
[
state
=
"
8
"
]
[
state
=
"
9
"
]
)
)
.
downloadRemoveFromHistoryMenuItem
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
-
1
"
]
[
state
=
"
0
"
]
[
state
=
"
1
"
]
[
state
=
"
4
"
]
[
state
=
"
5
"
]
)
)
.
downloadShowMenuItem
.
download
-
state
[
state
=
"
1
"
]
:
not
(
[
exists
]
)
.
downloadShowMenuItem
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
-
1
"
]
[
state
=
"
0
"
]
[
state
=
"
1
"
]
[
state
=
"
4
"
]
[
state
=
"
5
"
]
[
state
=
"
8
"
]
)
)
.
downloadCommandsSeparator
.
download
-
state
[
state
=
"
1
"
]
:
not
(
[
exists
]
)
.
downloadCommandsSeparator
.
download
-
state
[
state
=
"
8
"
]
:
not
(
.
temporary
-
block
)
.
downloadCommandsSeparator
{
display
:
none
;
}
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
-
1
"
]
[
state
=
"
5
"
]
[
state
=
"
0
"
]
[
state
=
"
4
"
]
)
)
.
downloadCancel
.
download
-
state
:
not
(
[
state
=
"
8
"
]
)
.
downloadConfirmBlock
.
download
-
state
[
state
=
"
8
"
]
:
not
(
.
temporary
-
block
)
.
downloadConfirmBlock
.
download
-
state
[
state
=
"
8
"
]
.
temporary
-
block
:
not
(
[
verdict
=
"
Malware
"
]
)
.
downloadConfirmBlock
.
download
-
state
:
not
(
[
state
=
"
8
"
]
)
.
downloadChooseUnblock
.
download
-
state
[
state
=
"
8
"
]
:
not
(
.
temporary
-
block
)
.
downloadChooseUnblock
.
download
-
state
[
state
=
"
8
"
]
.
temporary
-
block
:
not
(
[
verdict
=
"
PotentiallyUnwanted
"
]
)
.
downloadChooseUnblock
.
download
-
state
:
not
(
[
state
=
"
8
"
]
)
.
downloadChooseOpen
.
download
-
state
[
state
=
"
8
"
]
:
not
(
.
temporary
-
block
)
.
downloadChooseOpen
.
download
-
state
[
state
=
"
8
"
]
.
temporary
-
block
:
not
(
[
verdict
=
"
Uncommon
"
]
)
.
downloadChooseOpen
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
2
"
]
[
state
=
"
3
"
]
)
)
.
downloadRetry
.
download
-
state
:
not
(
[
state
=
"
1
"
]
)
.
downloadShow
.
download
-
state
:
-
moz
-
any
(
[
state
=
"
6
"
]
[
state
=
"
7
"
]
[
state
=
"
9
"
]
)
>
toolbarseparator
.
downloadShowBlockedInfo
{
display
:
none
;
}
#
downloadsPanel
[
hasdownloads
]
#
emptyDownloads
#
downloadsPanel
:
not
(
[
hasdownloads
]
)
#
downloadsListBox
{
display
:
none
;
}
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadCancel
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadConfirmBlock
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadChooseUnblock
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadChooseOpen
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadRetry
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadShow
{
display
:
none
;
}
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
{
max
-
width
:
unset
;
}
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadShowBlockedInfo
{
display
:
inline
;
}
.
subviewbutton
.
download
{
-
moz
-
binding
:
url
(
"
chrome
:
/
/
browser
/
content
/
downloads
/
download
.
xml
#
download
-
subview
-
toolbarbutton
"
)
;
}
.
subviewbutton
.
download
>
.
toolbarbutton
-
text
>
.
status
-
text
.
subviewbutton
.
download
:
not
(
:
hover
)
>
.
action
-
button
.
subviewbutton
.
download
>
.
action
-
button
>
.
toolbarbutton
-
text
{
display
:
none
;
}
.
subviewbutton
.
download
:
not
(
:
hover
)
>
.
toolbarbutton
-
text
>
.
status
-
full
.
subviewbutton
.
download
:
hover
:
-
moz
-
any
(
:
not
(
[
openLabel
]
)
:
not
(
[
exists
]
)
)
:
not
(
[
retryLabel
]
)
>
.
toolbarbutton
-
text
>
.
status
-
full
.
subviewbutton
.
download
:
hover
[
retryLabel
]
:
not
(
[
buttonover
]
)
>
.
toolbarbutton
-
text
>
.
status
-
full
.
subviewbutton
.
download
:
hover
[
openLabel
]
[
exists
]
:
not
(
[
buttonover
]
)
>
.
toolbarbutton
-
text
>
.
status
-
open
.
subviewbutton
.
download
:
hover
[
retryLabel
]
[
buttonover
]
>
.
toolbarbutton
-
text
>
.
status
-
retry
.
subviewbutton
.
download
:
hover
[
openLabel
]
[
exists
]
[
buttonover
]
>
.
toolbarbutton
-
text
>
.
status
-
show
{
display
:
inline
;
}
