richlistitem
[
type
=
"
download
"
]
{
-
moz
-
binding
:
url
(
'
chrome
:
/
/
browser
/
content
/
downloads
/
download
.
xml
#
download
'
)
;
}
richlistitem
[
type
=
"
download
"
]
:
not
(
[
selected
]
)
button
{
-
moz
-
user
-
focus
:
none
;
}
.
downloadsHideDropmarker
>
#
downloadsFooterButtonsSplitter
.
downloadsHideDropmarker
>
#
downloadsFooterDropmarker
{
display
:
none
;
}
richlistitem
[
type
=
"
download
"
]
.
download
-
state
[
state
=
"
1
"
]
:
not
(
[
exists
]
)
>
.
downloadButtonArea
richlistitem
[
type
=
"
download
"
]
.
download
-
state
[
state
=
"
1
"
]
:
not
(
[
exists
]
)
>
toolbarseparator
{
display
:
none
;
}
#
downloadsSummary
:
not
(
[
inprogress
]
)
>
vbox
>
#
downloadsSummaryProgress
#
downloadsSummary
:
not
(
[
inprogress
]
)
>
vbox
>
#
downloadsSummaryDetails
#
downloadsFooter
:
not
(
[
showingsummary
]
)
#
downloadsSummary
{
display
:
none
;
}
#
downloadsFooter
[
showingdropdown
]
>
stack
>
#
downloadsSummary
#
downloadsFooter
[
showingsummary
]
>
stack
:
hover
>
#
downloadsSummary
#
downloadsFooter
[
showingsummary
]
:
not
(
[
showingdropdown
]
)
>
stack
:
not
(
:
hover
)
>
#
downloadsFooterButtons
{
opacity
:
0
;
-
moz
-
user
-
focus
:
ignore
;
}
richlistitem
.
download
{
-
moz
-
binding
:
none
;
}
richlistitem
.
download
[
active
]
{
-
moz
-
binding
:
url
(
"
chrome
:
/
/
browser
/
content
/
downloads
/
download
.
xml
#
download
"
)
;
}
richlistitem
.
download
button
{
-
moz
-
user
-
focus
:
none
;
}
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
6
"
]
[
state
=
"
8
"
]
[
state
=
"
9
"
]
)
)
.
downloadBlockedBadge
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
-
1
"
]
[
state
=
"
5
"
]
[
state
=
"
0
"
]
[
state
=
"
4
"
]
[
state
=
"
7
"
]
)
)
.
downloadProgress
.
download
-
state
:
not
(
[
state
=
"
0
"
]
)
.
downloadPauseMenuItem
.
download
-
state
:
not
(
[
state
=
"
4
"
]
)
.
downloadResumeMenuItem
.
download
-
state
:
not
(
[
state
=
"
8
"
]
)
.
downloadUnblockMenuItem
.
download
-
state
[
state
=
"
8
"
]
:
not
(
.
temporary
-
block
)
.
downloadUnblockMenuItem
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
2
"
]
[
state
=
"
4
"
]
)
)
.
downloadCancelMenuItem
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
1
"
]
[
state
=
"
2
"
]
[
state
=
"
3
"
]
[
state
=
"
6
"
]
[
state
=
"
8
"
]
[
state
=
"
9
"
]
)
)
.
downloadRemoveFromHistoryMenuItem
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
-
1
"
]
[
state
=
"
0
"
]
[
state
=
"
1
"
]
[
state
=
"
4
"
]
[
state
=
"
5
"
]
)
)
.
downloadShowMenuItem
.
download
-
state
[
state
=
"
7
"
]
.
downloadCommandsSeparator
{
display
:
none
;
}
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
-
1
"
]
[
state
=
"
5
"
]
[
state
=
"
0
"
]
[
state
=
"
4
"
]
)
)
.
downloadCancel
.
download
-
state
:
not
(
[
state
=
"
8
"
]
)
.
downloadConfirmBlock
.
download
-
state
[
state
=
"
8
"
]
:
not
(
.
temporary
-
block
)
.
downloadConfirmBlock
.
download
-
state
[
state
=
"
8
"
]
.
temporary
-
block
:
not
(
[
verdict
=
"
Malware
"
]
)
.
downloadConfirmBlock
.
download
-
state
:
not
(
[
state
=
"
8
"
]
)
.
downloadChooseUnblock
.
download
-
state
[
state
=
"
8
"
]
:
not
(
.
temporary
-
block
)
.
downloadChooseUnblock
.
download
-
state
[
state
=
"
8
"
]
.
temporary
-
block
:
not
(
[
verdict
=
"
PotentiallyUnwanted
"
]
)
.
downloadChooseUnblock
.
download
-
state
:
not
(
[
state
=
"
8
"
]
)
.
downloadChooseOpen
.
download
-
state
[
state
=
"
8
"
]
:
not
(
.
temporary
-
block
)
.
downloadChooseOpen
.
download
-
state
[
state
=
"
8
"
]
.
temporary
-
block
:
not
(
[
verdict
=
"
Uncommon
"
]
)
.
downloadChooseOpen
.
download
-
state
:
not
(
:
-
moz
-
any
(
[
state
=
"
2
"
]
[
state
=
"
3
"
]
)
)
.
downloadRetry
.
download
-
state
:
not
(
[
state
=
"
1
"
]
)
.
downloadShow
.
download
-
state
:
-
moz
-
any
(
[
state
=
"
6
"
]
[
state
=
"
7
"
]
[
state
=
"
9
"
]
)
>
toolbarseparator
.
downloadShowBlockedInfo
{
display
:
none
;
}
#
downloadsPanel
[
hasdownloads
]
#
emptyDownloads
#
downloadsPanel
:
not
(
[
hasdownloads
]
)
#
downloadsListBox
{
display
:
none
;
}
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadCancel
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadConfirmBlock
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadChooseUnblock
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadChooseOpen
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadRetry
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadShow
{
display
:
none
;
}
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
>
.
panel
-
mainview
{
max
-
width
:
unset
;
}
#
downloadsPanel
-
mainView
.
download
-
state
[
state
=
"
8
"
]
.
downloadShowBlockedInfo
{
display
:
inline
;
}
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
[
viewtype
=
main
]
>
.
panel
-
subviews
{
transform
:
translateX
(
101
%
)
;
transition
:
transform
var
(
-
-
panelui
-
subview
-
transition
-
duration
)
;
}
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
[
viewtype
=
main
]
>
.
panel
-
subviews
:
-
moz
-
locale
-
dir
(
rtl
)
{
transform
:
translateX
(
-
101
%
)
;
}
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
[
viewtype
=
"
subview
"
]
.
download
-
state
:
not
(
[
showingsubview
]
)
.
downloadButton
{
visibility
:
hidden
;
}
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
[
viewtype
=
"
subview
"
]
.
download
-
state
[
showingsubview
]
{
padding
:
0
;
}
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
[
viewtype
=
subview
]
>
.
panel
-
mainview
{
transform
:
translateX
(
calc
(
-
100
%
+
38px
)
)
;
transition
:
transform
var
(
-
-
panelui
-
subview
-
transition
-
duration
)
;
}
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
[
viewtype
=
subview
]
>
.
panel
-
mainview
:
-
moz
-
locale
-
dir
(
rtl
)
{
transform
:
translateX
(
calc
(
100
%
-
38px
)
)
;
}
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
>
.
panel
-
subviews
{
-
moz
-
margin
-
start
:
38px
!
important
;
}
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
[
viewtype
=
"
subview
"
]
>
.
panel
-
mainview
#
downloadsListBox
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
[
viewtype
=
"
subview
"
]
>
.
panel
-
mainview
richlistitem
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
[
viewtype
=
"
subview
"
]
>
.
panel
-
mainview
.
downloadButton
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
[
viewtype
=
"
subview
"
]
>
.
panel
-
mainview
.
downloadsPanelFooterButton
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
[
viewtype
=
"
subview
"
]
>
.
panel
-
mainview
#
downloadsSummary
{
-
moz
-
user
-
focus
:
ignore
;
}
#
downloadsPanel
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
[
viewtype
=
"
subview
"
]
.
download
-
state
[
showingsubview
]
.
downloadShowBlockedInfo
{
-
moz
-
user
-
focus
:
normal
;
}
