h1
{
font
-
size
:
1
.
5em
;
font
-
weight
:
lighter
;
color
:
white
;
margin
:
3em
0
1em
;
}
.
certificate
-
tabs
{
display
:
flex
;
text
-
align
:
center
;
border
-
bottom
:
1px
solid
var
(
-
-
in
-
content
-
border
-
active
)
;
}
.
info
-
groups
{
display
:
none
;
outline
:
none
;
background
-
color
:
var
(
-
-
in
-
content
-
page
-
background
)
;
margin
-
bottom
:
2em
;
border
-
radius
:
0
0
4px
4px
;
}
.
info
-
groups
.
selected
{
display
:
block
;
}
.
tab
{
margin
:
0
;
border
-
radius
:
0
;
padding
:
18px
;
border
:
none
;
background
-
color
:
var
(
-
-
in
-
content
-
box
-
background
)
;
color
:
var
(
-
-
in
-
content
-
text
-
color
)
;
flex
:
1
1
auto
;
text
-
overflow
:
ellipsis
;
overflow
:
hidden
;
font
-
size
:
1
.
363rem
;
}
.
tab
:
first
-
of
-
type
{
border
-
start
-
start
-
radius
:
4px
;
}
.
tab
:
last
-
of
-
type
{
border
-
start
-
end
-
radius
:
4px
;
}
.
tab
:
hover
{
border
-
bottom
:
3px
solid
var
(
-
-
in
-
content
-
border
-
active
-
shadow
)
;
padding
-
bottom
:
15px
;
}
.
tab
.
selected
{
border
-
bottom
:
3px
solid
var
(
-
-
in
-
content
-
border
-
active
)
;
padding
-
bottom
:
15px
;
color
:
var
(
-
-
in
-
content
-
link
-
color
)
;
text
-
overflow
:
unset
;
overflow
:
visible
;
}
.
tab
.
dir
-
auto
{
unicode
-
bidi
:
plaintext
;
}
