:
host
{
line
-
height
:
24px
;
display
:
contents
;
}
label
{
text
-
align
:
right
;
margin
-
inline
-
end
:
0
;
color
:
var
(
-
-
in
-
content
-
text
-
color
)
;
font
-
weight
:
700
;
font
-
size
:
1em
;
}
label
:
dir
(
rtl
)
{
text
-
align
:
left
;
}
.
long
-
hex
{
max
-
width
:
100
%
;
overflow
:
hidden
;
word
-
break
:
break
-
all
;
text
-
overflow
:
ellipsis
;
white
-
space
:
nowrap
;
}
