:
host
{
display
:
grid
;
grid
-
template
-
columns
:
minmax
(
11em
25
%
)
minmax
(
50
%
75
%
)
;
grid
-
gap
:
0
15px
;
margin
:
1
.
75em
0
;
align
-
items
:
center
;
}
.
info
-
group
-
title
{
text
-
align
:
end
;
font
-
weight
:
700
;
color
:
var
(
-
-
in
-
content
-
deemphasized
-
text
)
;
font
-
size
:
1em
;
}
.
info
-
group
-
title
-
hr
{
height
:
1px
;
background
-
color
:
var
(
-
-
in
-
content
-
deemphasized
-
text
)
;
width
:
calc
(
100
%
-
3
.
5em
)
;
position
:
relative
;
margin
:
auto
0
;
inset
:
0
;
}
