.
searchBox
{
height
:
18px
;
font
-
size
:
12px
;
margin
-
top
:
0
;
border
:
1px
solid
rgb
(
170
188
207
)
;
width
:
200px
;
position
:
fixed
;
right
:
5px
;
background
-
image
:
url
(
"
search
.
svg
"
)
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
2px
center
;
padding
-
left
:
20px
;
}
.
theme
-
dark
.
searchBox
.
theme
-
light
.
searchBox
{
border
:
1px
solid
rgb
(
170
170
170
)
;
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
devtools
/
magnifying
-
glass
-
light
.
png
"
)
;
background
-
position
:
8px
center
;
border
-
radius
:
2px
;
padding
-
left
:
25px
;
margin
-
top
:
1px
;
height
:
16px
;
font
-
style
:
italic
;
}
.
theme
-
dark
.
searchBox
{
background
-
color
:
rgba
(
24
29
32
1
)
;
color
:
rgba
(
184
200
217
1
)
;
border
-
color
:
var
(
-
-
theme
-
splitter
-
color
)
;
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
devtools
/
magnifying
-
glass
.
png
"
)
;
}
