.
sidebar
-
runtime
-
item
{
font
-
size
:
0
.
8em
;
align
-
items
:
center
;
display
:
grid
;
grid
-
column
-
gap
:
var
(
-
-
base
-
distance
)
;
grid
-
template
-
columns
:
calc
(
var
(
-
-
base
-
distance
)
*
6
)
1fr
auto
;
}
.
sidebar
-
runtime
-
item__icon
{
fill
:
currentColor
;
-
moz
-
context
-
properties
:
fill
;
}
