.
sidebar
-
fixed
-
item
{
align
-
items
:
center
;
border
-
radius
:
2px
;
display
:
grid
;
grid
-
template
-
columns
:
34px
1fr
;
font
-
size
:
16px
;
}
.
sidebar
-
fixed
-
item__icon
{
fill
:
currentColor
;
height
:
24px
;
margin
-
inline
-
end
:
9px
;
width
:
24px
;
-
moz
-
context
-
properties
:
fill
;
}
