.
sidebar__label
{
color
:
var
(
-
-
grey
-
40
)
;
display
:
block
;
padding
:
12px
0
;
text
-
align
:
center
;
font
-
size
:
var
(
-
-
message
-
font
-
size
)
;
}
.
sidebar__refresh
-
usb
{
text
-
align
:
center
;
}
