.
sidebar
-
fixed
-
item__container
{
align
-
items
:
center
;
border
-
radius
:
2px
;
display
:
grid
;
grid
-
template
-
columns
:
34px
1fr
;
height
:
100
%
;
font
-
size
:
var
(
-
-
body
-
20
-
font
-
size
)
;
font
-
weight
:
var
(
-
-
body
-
20
-
font
-
weight
)
;
}
.
sidebar
-
fixed
-
item__icon
{
fill
:
currentColor
;
height
:
24px
;
margin
-
inline
-
end
:
9px
;
width
:
24px
;
-
moz
-
context
-
properties
:
fill
;
}
