.
sidebar
-
item
{
-
-
sidebar
-
text
-
color
:
var
(
-
-
category
-
text
)
;
-
-
sidebar
-
selected
-
color
:
var
(
-
-
category
-
text
-
selected
)
;
-
-
sidebar
-
background
-
hover
:
var
(
-
-
category
-
background
-
hover
)
;
}
.
sidebar
-
item
{
color
:
var
(
-
-
sidebar
-
text
-
color
)
;
border
-
radius
:
2px
;
height
:
var
(
-
-
category
-
height
)
;
padding
-
inline
-
end
:
var
(
-
-
category
-
padding
)
;
padding
-
inline
-
start
:
var
(
-
-
category
-
padding
)
;
transition
:
background
-
color
var
(
-
-
category
-
transition
-
duration
)
;
-
moz
-
user
-
select
:
none
;
}
.
sidebar
-
item__link
{
display
:
block
;
height
:
100
%
;
}
.
sidebar
-
item__link
.
sidebar
-
item__link
:
hover
{
color
:
inherit
;
}
.
sidebar
-
item
:
not
(
.
sidebar
-
item
-
-
selectable
)
{
color
:
var
(
-
-
grey
-
40
)
;
}
.
sidebar
-
item
-
-
selectable
:
hover
{
background
-
color
:
var
(
-
-
sidebar
-
background
-
hover
)
;
}
.
sidebar
-
item
-
-
selected
{
color
:
var
(
-
-
sidebar
-
selected
-
color
)
;
}
.
sidebar
-
item
-
-
breathe
{
margin
-
block
-
start
:
calc
(
2
*
var
(
-
-
base
-
unit
)
)
;
margin
-
block
-
end
:
calc
(
2
*
var
(
-
-
base
-
unit
)
)
;
}
