#
editBookmarkPanelRows
>
vbox
{
margin
-
bottom
:
.
5em
;
}
.
folder
-
icon
>
.
menulist
-
label
-
box
>
.
menulist
-
icon
{
width
:
16px
;
height
:
16px
;
}
.
folder
-
icon
>
.
menu
-
iconic
-
left
{
display
:
-
moz
-
box
;
}
.
folder
-
icon
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
folder
.
svg
"
)
!
important
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
}
.
expander
-
up
.
expander
-
down
{
min
-
width
:
0
;
margin
:
0
;
margin
-
inline
-
end
:
4px
;
}
.
expander
-
up
>
.
button
-
box
.
expander
-
down
>
.
button
-
box
{
padding
:
0
;
}
.
expander
-
up
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
collapse
.
png
"
)
;
}
.
expander
-
down
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
expand
.
png
"
)
;
}
#
editBMPanel_folderTree
{
margin
-
top
:
2px
;
margin
-
bottom
:
2px
;
}
#
editBMPanel_tagsField
#
treecolAutoCompleteValue
{
visibility
:
collapse
;
}
#
editBMPanel_tagsSelector
>
richlistitem
>
image
{
-
moz
-
appearance
:
checkbox
;
-
moz
-
box
-
align
:
center
;
margin
:
0px
2px
;
border
:
1px
solid
-
moz
-
DialogText
;
min
-
width
:
13px
;
min
-
height
:
13px
;
background
:
-
moz
-
Field
no
-
repeat
50
%
50
%
;
}
#
editBMPanel_folderMenuList
[
selectedIndex
=
"
0
"
]
#
editBMPanel_toolbarFolderItem
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
bookmarksToolbar
.
svg
"
)
!
important
;
}
#
editBMPanel_folderMenuList
[
selectedIndex
=
"
1
"
]
#
editBMPanel_bmRootItem
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
bookmarksMenu
.
svg
"
)
!
important
;
}
#
editBMPanel_folderMenuList
[
selectedIndex
=
"
2
"
]
#
editBMPanel_unfiledRootItem
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
unfiledBookmarks
.
svg
"
)
!
important
;
}
