#
history
-
panel
#
bookmarksPanel
{
background
-
color
:
transparent
;
}
#
sidebar
-
search
-
container
{
padding
:
4px
;
}
.
sidebar
-
placesTree
{
-
moz
-
appearance
:
none
;
background
-
color
:
transparent
;
color
:
inherit
;
border
:
0
;
margin
:
0
;
}
.
sidebar
-
placesTreechildren
:
:
-
moz
-
tree
-
cell
.
sidebar
-
placesTreechildren
:
:
-
moz
-
tree
-
twisty
{
padding
:
0
4px
;
}
.
sidebar
-
placesTreechildren
:
:
-
moz
-
tree
-
cell
(
leaf
)
.
sidebar
-
placesTreechildren
:
:
-
moz
-
tree
-
image
(
leaf
)
{
cursor
:
pointer
;
}
.
sidebar
-
placesTreechildren
:
:
-
moz
-
tree
-
cell
-
text
(
leaf
hover
)
{
cursor
:
pointer
;
text
-
decoration
:
underline
;
}
.
sidebar
-
placesTreechildren
:
:
-
moz
-
tree
-
cell
(
separator
)
{
cursor
:
default
;
}
media
(
-
moz
-
windows
-
default
-
theme
)
{
.
sidebar
-
placesTreechildren
:
:
-
moz
-
tree
-
cell
-
text
(
leaf
hover
)
{
text
-
decoration
:
none
;
}
}
%
include
.
.
/
.
.
/
shared
/
places
/
tree
-
icons
.
inc
.
css
#
viewButton
{
margin
:
0
;
margin
-
inline
-
start
:
4px
;
}
#
viewButton
>
.
button
-
box
>
.
button
-
menu
-
dropmarker
{
height
:
auto
;
width
:
auto
;
margin
-
inline
-
end
:
-
3px
;
}
#
sidebar
-
search
-
container
{
padding
:
4px
;
}
#
search
-
box
{
margin
:
0
;
}
