%
include
.
.
/
.
.
/
.
.
/
shared
/
incontentprefs
/
dialog
.
inc
.
css
label
:
not
(
.
menu
-
text
)
textbox
description
.
tab
-
text
caption
>
label
{
font
-
size
:
1
.
2rem
;
}
textbox
.
tree
-
input
{
font
-
size
:
unset
;
}
