%
include
.
.
/
.
.
/
.
.
/
shared
/
incontentprefs
/
preferences
.
inc
.
css
.
treecol
-
sortdirection
{
-
moz
-
appearance
:
none
;
}
.
actionsMenu
{
font
-
family
:
"
Clear
Sans
"
sans
-
serif
;
font
-
size
:
1
.
25rem
;
line
-
height
:
22px
;
}
.
actionsMenu
>
.
menulist
-
label
-
box
>
.
menulist
-
icon
{
margin
-
top
:
1px
;
margin
-
inline
-
start
:
1px
;
margin
-
inline
-
end
:
6px
;
}
.
actionsMenu
>
.
menulist
-
label
-
box
>
.
menulist
-
label
{
margin
-
top
:
2px
!
important
;
}
#
fxaProfileImage
{
-
moz
-
user
-
focus
:
normal
;
}
menulist
.
actionsMenu
>
.
menulist
-
dropmarker
{
margin
-
top
:
11px
;
margin
-
bottom
:
11px
;
}
textbox
+
button
filefield
+
button
{
margin
-
inline
-
start
:
-
4px
;
}
#
dialogTitle
{
font
-
size
:
1em
;
}
