%
include
.
.
/
.
.
/
.
.
/
shared
/
incontentprefs
/
preferences
.
inc
.
css
:
root
>
*
{
font
-
size
:
1
.
11em
;
}
.
treecol
-
sortdirection
{
-
moz
-
appearance
:
none
;
}
.
actionsMenu
>
.
menulist
-
label
-
box
>
.
menulist
-
icon
{
margin
-
inline
-
start
:
1px
;
margin
-
inline
-
end
:
8px
;
}
