notification
.
heartbeat
{
background
-
image
:
linear
-
gradient
(
-
179deg
#
FBFBFB
0
%
#
EBEBEB
100
%
)
!
important
;
border
-
bottom
:
1px
solid
#
C1C1C1
!
important
;
height
:
40px
;
}
notification
.
heartbeat
[
type
=
"
info
"
]
.
close
-
icon
:
not
(
:
hover
)
{
-
moz
-
image
-
region
:
rect
(
0
16px
16px
0
)
!
important
;
}
media
(
min
-
resolution
:
2dppx
)
{
notification
.
heartbeat
[
type
=
"
info
"
]
.
close
-
icon
:
not
(
:
hover
)
{
-
moz
-
image
-
region
:
rect
(
0
32px
32px
0
)
!
important
;
}
}
