body
{
color
:
white
;
}
#
label
#
progress_background
#
blurb
{
text
-
align
:
center
;
margin
:
20px
30px
;
}
#
label
{
font
-
size
:
40px
;
margin
-
top
:
100px
;
margin
-
bottom
:
20px
;
}
#
progress_background
{
margin
:
0
auto
;
width
:
60
%
;
height
:
24px
;
background
-
color
:
white
;
}
#
progress_bar
{
margin
:
0
;
width
:
0
%
;
height
:
100
%
;
background
-
color
:
#
00AAFF
;
}
#
header
#
content
{
display
:
none
;
}
#
blurb
{
font
-
size
:
20px
;
}
#
footer
{
position
:
fixed
;
right
:
50px
;
bottom
:
60px
;
}
