#
aboutDialogContainer
{
background
-
image
:
url
(
"
chrome
:
/
/
branding
/
content
/
about
-
background
.
png
"
)
;
background
-
repeat
:
no
-
repeat
;
background
-
color
:
rgb
(
10
17
37
)
;
color
:
#
fff
;
}
.
update
-
throbber
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
loading
-
inverted
.
png
"
)
;
}
media
(
min
-
resolution
:
1
.
1dppx
)
{
.
update
-
throbber
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
loading
-
inverted
2x
.
png
"
)
;
}
}
.
text
-
link
{
color
:
#
fff
!
important
;
text
-
decoration
:
underline
;
}
#
rightBox
{
margin
-
left
:
280px
;
margin
-
right
:
20px
;
}
#
bottomBox
{
background
-
color
:
rgba
(
0
0
0
.
7
)
;
}
