%
include
.
.
/
shared
.
inc
%
include
.
.
/
.
.
/
shared
/
controlcenter
/
panel
.
inc
.
css
.
identity
-
popup
-
expander
:
-
moz
-
focusring
.
identity
-
popup
-
permission
-
remove
-
button
:
-
moz
-
focusring
{
box
-
shadow
:
var
(
-
-
focus
-
ring
-
box
-
shadow
)
;
}
.
tracking
-
protection
-
button
#
identity
-
popup
-
securityView
-
body
>
button
{
hudButton
min
-
height
:
30px
;
}
.
tracking
-
protection
-
button
:
hover
:
active
#
identity
-
popup
-
securityView
-
body
>
button
:
hover
:
active
{
hudButtonPressed
}
.
tracking
-
protection
-
button
:
-
moz
-
focusring
#
identity
-
popup
-
securityView
-
body
>
button
:
-
moz
-
focusring
{
box
-
shadow
:
var
(
-
-
focus
-
ring
-
box
-
shadow
)
;
}
