%
include
.
.
/
shared
.
inc
%
include
.
.
/
.
.
/
shared
/
controlcenter
/
panel
.
inc
.
css
.
identity
-
popup
-
expander
:
-
moz
-
focusring
.
identity
-
popup
-
permission
-
remove
-
button
:
-
moz
-
focusring
{
box
-
shadow
:
var
(
-
-
focus
-
ring
-
box
-
shadow
)
;
}
#
identity
-
popup
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
>
.
panel
-
subviews
{
border
-
bottom
-
right
-
radius
:
3
.
5px
;
}
#
identity
-
popup
-
multiView
>
.
panel
-
viewcontainer
>
.
panel
-
viewstack
>
.
panel
-
subviews
:
-
moz
-
locale
-
dir
(
rtl
)
{
border
-
bottom
-
right
-
radius
:
0
;
border
-
bottom
-
left
-
radius
:
3
.
5px
;
}
#
tracking
-
action
-
block
#
tracking
-
action
-
unblock
#
tracking
-
action
-
unblock
-
private
#
identity
-
popup
-
securityView
-
body
>
button
{
hudButton
min
-
height
:
30px
;
}
#
tracking
-
action
-
block
:
hover
:
active
#
tracking
-
action
-
unblock
:
hover
:
active
#
tracking
-
action
-
unblock
-
private
:
hover
:
active
#
identity
-
popup
-
securityView
-
body
>
button
:
hover
:
active
{
hudButtonPressed
}
#
tracking
-
action
-
block
:
-
moz
-
focusring
#
tracking
-
action
-
unblock
:
-
moz
-
focusring
#
tracking
-
action
-
unblock
-
private
:
-
moz
-
focusring
#
identity
-
popup
-
securityView
-
body
>
button
:
-
moz
-
focusring
{
box
-
shadow
:
var
(
-
-
focus
-
ring
-
box
-
shadow
)
;
}
