html
body
#
content
{
height
:
100
%
;
}
body
{
color
:
var
(
-
-
theme
-
body
-
color
)
;
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
padding
:
0
;
margin
:
0
;
}
*
:
focus
{
outline
:
none
!
important
;
}
pre
{
background
-
color
:
white
;
border
:
none
;
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
}
#
content
{
display
:
flow
-
root
;
}
#
json
{
margin
:
8px
;
}
body
.
theme
-
dark
{
color
:
var
(
-
-
theme
-
body
-
color
)
;
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
}
.
theme
-
dark
pre
{
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
}
table
{
font
:
inherit
;
}
