body
{
background
-
color
:
white
;
padding
:
0
;
margin
:
0
;
overflow
:
hidden
;
}
*
:
focus
{
outline
:
none
!
important
;
}
#
content
{
height
:
100
%
;
}
pre
{
background
-
color
:
white
;
border
:
none
;
}
#
json
#
headers
{
display
:
none
;
}
body
.
theme
-
dark
{
color
:
var
(
-
-
theme
-
body
-
color
)
;
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
}
.
theme
-
dark
pre
{
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
}
