.
headersPanelBox
{
height
:
100
%
;
}
.
headersPanelBox
.
netInfoHeadersTable
{
overflow
:
auto
;
height
:
100
%
;
}
.
headersPanelBox
.
netHeadersGroup
{
padding
:
10px
;
}
.
headersPanelBox
td
{
vertical
-
align
:
bottom
;
}
.
headersPanelBox
.
netInfoHeadersGroup
{
color
:
var
(
-
-
theme
-
body
-
color
-
alt
)
;
margin
-
bottom
:
10px
;
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
padding
-
top
:
8px
;
padding
-
bottom
:
4px
;
font
-
weight
:
bold
;
-
moz
-
user
-
select
:
none
;
}
.
headersPanelBox
.
netInfoParamValue
{
word
-
wrap
:
break
-
word
;
}
.
headersPanelBox
.
netInfoParamName
{
padding
:
2px
10px
0
0
;
font
-
weight
:
bold
;
vertical
-
align
:
top
;
text
-
align
:
right
;
white
-
space
:
nowrap
;
}
.
theme
-
light
.
netInfoParamName
{
color
:
var
(
-
-
theme
-
highlight
-
red
)
;
}
.
theme
-
light
.
netInfoParamValue
{
color
:
var
(
-
-
theme
-
highlight
-
purple
)
;
}
.
theme
-
dark
.
netInfoParamName
{
color
:
var
(
-
-
theme
-
highlight
-
purple
)
;
}
.
theme
-
dark
.
netInfoParamValue
{
color
:
var
(
-
-
theme
-
highlight
-
gray
)
;
}
.
theme
-
firebug
.
netInfoHeadersTable
{
font
-
family
:
Lucida
Grande
Tahoma
sans
-
serif
;
font
-
size
:
11px
;
line
-
height
:
12px
;
}
.
theme
-
firebug
.
netInfoParamValue
{
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
}
