:
root
{
-
-
theme
-
body
-
background
:
#
fcfcfc
;
-
-
theme
-
tab
-
toolbar
-
background
:
#
ebeced
;
-
-
theme
-
toolbar
-
background
:
#
f0f1f2
;
-
-
theme
-
selection
-
background
:
#
4c9ed9
;
-
-
theme
-
splitter
-
color
:
#
aaaaaa
;
-
-
theme
-
selection
-
color
:
#
f5f7fa
;
-
-
theme
-
comment
:
#
757873
;
-
-
theme
-
body
-
color
:
#
18191a
;
-
-
theme
-
body
-
color
-
alt
:
#
585959
;
-
-
theme
-
content
-
color1
:
#
292e33
;
-
-
theme
-
highlight
-
green
:
#
2cbb0f
;
-
-
theme
-
highlight
-
blue
:
#
0088cc
;
-
-
theme
-
highlight
-
orange
:
#
f13c00
;
-
-
theme
-
highlight
-
bluegrey
:
#
0072ab
;
}
