import
"
resource
:
/
/
devtools
/
client
/
themes
/
variables
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
themes
/
common
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
themes
/
toolbars
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
shared
/
components
/
tree
/
TreeView
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
shared
/
components
/
tabs
/
Tabs
.
css
"
;
import
"
general
.
css
"
;
import
"
search
-
box
.
css
"
;
import
"
toolbar
.
css
"
;
import
"
json
-
panel
.
css
"
;
import
"
text
-
panel
.
css
"
;
import
"
headers
-
panel
.
css
"
;
.
tab
-
panel
-
inner
{
display
:
flex
;
flex
-
direction
:
column
;
height
:
100
%
;
}
.
panelContent
{
direction
:
ltr
;
overflow
-
y
:
auto
;
width
:
100
%
;
flex
:
1
;
}
.
panelContent
.
treeTable
{
width
:
100
%
;
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
}
:
root
[
platform
=
"
linux
"
]
.
treeTable
{
font
-
size
:
80
%
;
}
.
panelContent
.
treeTable
.
treeLabelCell
{
padding
-
right
:
17px
;
}
.
theme
-
firebug
.
tabs
.
tabs
-
navigation
{
font
-
size
:
14px
;
}
