import
"
resource
:
/
/
devtools
/
client
/
shared
/
components
/
reps
/
reps
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
shared
/
components
/
tree
/
tree
-
view
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
shared
/
components
/
tabs
/
tabs
.
css
"
;
import
"
general
.
css
"
;
import
"
search
-
box
.
css
"
;
import
"
toolbar
.
css
"
;
import
"
json
-
panel
.
css
"
;
import
"
text
-
panel
.
css
"
;
import
"
headers
-
panel
.
css
"
;
.
panelContent
{
overflow
-
y
:
auto
;
font
-
size
:
11px
;
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
padding
-
right
:
5px
;
}
.
panelContent
.
treeTable
{
width
:
100
%
;
}
.
panelContent
.
treeTable
.
treeLabelCell
{
padding
-
right
:
17px
;
}
.
theme
-
firebug
.
panelContent
{
height
:
calc
(
100
%
-
30px
)
;
}
.
theme
-
firebug
.
tabs
.
tabs
-
navigation
{
font
-
size
:
14px
;
}
.
theme
-
dark
.
panelContent
.
theme
-
light
.
panelContent
{
height
:
calc
(
100
%
-
27px
)
;
}
