import
"
chrome
:
/
/
devtools
/
skin
/
variables
.
css
"
;
import
"
chrome
:
/
/
devtools
/
skin
/
common
.
css
"
;
import
"
chrome
:
/
/
devtools
/
skin
/
toolbars
.
css
"
;
import
"
chrome
:
/
/
devtools
/
content
/
shared
/
components
/
tree
/
TreeView
.
css
"
;
import
"
chrome
:
/
/
devtools
/
content
/
shared
/
components
/
tabs
/
Tabs
.
css
"
;
import
"
general
.
css
"
;
import
"
search
-
box
.
css
"
;
import
"
toolbar
.
css
"
;
import
"
json
-
panel
.
css
"
;
import
"
text
-
panel
.
css
"
;
import
"
headers
-
panel
.
css
"
;
.
tab
-
panel
-
inner
{
display
:
flex
;
flex
-
direction
:
column
;
height
:
100
%
;
}
.
panelContent
{
direction
:
ltr
;
overflow
-
y
:
auto
;
width
:
100
%
;
flex
:
1
;
}
.
panelContent
.
treeTable
{
width
:
100
%
;
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
}
.
panelContent
.
treeTable
.
treeLabelCell
{
padding
-
right
:
17px
;
}
