.
searchBox
{
height
:
18px
;
font
:
message
-
box
;
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
filter
.
svg
#
filterinput
"
)
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
2px
center
;
border
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
border
-
radius
:
2px
;
color
:
var
(
-
-
theme
-
content
-
color1
)
;
width
:
200px
;
margin
-
top
:
0
;
position
:
fixed
;
right
:
1px
;
padding
-
left
:
20px
;
}
