.
textPanelBox
{
height
:
100
%
;
}
.
textPanelBox
.
data
{
font
-
size
:
11px
;
font
-
family
:
monospace
;
overflow
:
auto
;
height
:
100
%
;
}
.
textPanelBox
pre
{
margin
:
0
;
}
.
theme
-
dark
.
textPanelBox
{
color
:
var
(
-
-
theme
-
content
-
color1
)
;
}
