.
textPanelBox
{
height
:
100
%
;
}
.
textPanelBox
.
data
{
overflow
:
auto
;
height
:
100
%
;
}
.
textPanelBox
pre
{
margin
:
0
;
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
color
:
var
(
-
-
theme
-
content
-
color1
)
;
}
:
root
[
platform
=
"
linux
"
]
.
textPanelBox
.
data
{
font
-
size
:
80
%
;
}
