.
textPanelBox
{
height
:
100
%
;
}
.
textPanelBox
pre
{
margin
:
8px
;
white
-
space
:
pre
-
wrap
;
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
color
:
var
(
-
-
theme
-
text
-
color
-
strong
)
;
}
