.
grid
-
element
-
width
-
resizer
{
-
-
inline
-
inset
:
3px
;
width
:
calc
(
1px
+
(
2
*
var
(
-
-
inline
-
inset
)
)
)
;
position
:
relative
;
cursor
:
ew
-
resize
;
z
-
index
:
10
;
}
.
grid
-
element
-
width
-
resizer
.
start
{
justify
-
self
:
start
;
inset
-
inline
-
start
:
calc
(
-
1
*
var
(
-
-
inline
-
inset
)
)
;
}
.
grid
-
element
-
width
-
resizer
.
end
{
justify
-
self
:
end
;
inset
-
inline
-
start
:
var
(
-
-
inline
-
inset
)
;
}
.
dragging
.
dragging
*
{
cursor
:
ew
-
resize
!
important
;
pointer
-
events
:
none
!
important
;
}
