.
grid
-
element
-
width
-
resizer
{
border
-
inline
-
style
:
solid
;
border
-
inline
-
color
:
var
(
-
-
theme
-
splitter
-
color
)
;
border
-
inline
-
width
:
0
;
width
:
10px
;
z
-
index
:
1
;
}
.
grid
-
element
-
width
-
resizer
.
start
{
justify
-
self
:
start
;
border
-
inline
-
start
-
width
:
1px
;
}
.
grid
-
element
-
width
-
resizer
.
end
{
justify
-
self
:
end
;
border
-
inline
-
end
-
width
:
1px
;
}
.
dragging
.
dragging
*
{
cursor
:
ew
-
resize
!
important
;
pointer
-
events
:
none
!
important
;
}
.
grid
-
element
-
width
-
resizer
{
cursor
:
ew
-
resize
;
}
