#
sanitizeDurationLabel
{
margin
-
inline
-
start
:
1px
;
}
#
sanitizeDurationSuffixLabel
[
value
=
"
"
]
{
display
:
none
;
}
#
sanitizeEverythingWarningBox
{
background
-
color
:
Window
;
border
:
1px
solid
ThreeDDarkShadow
;
border
-
radius
:
5px
;
padding
:
16px
;
}
#
sanitizeEverythingWarningIcon
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
warning
-
large
.
png
"
)
;
padding
:
0
;
margin
:
0
;
}
#
sanitizeEverythingWarningDescBox
{
padding
:
0
16px
;
margin
:
0
;
}
.
dialog
-
button
-
box
{
margin
-
inline
-
end
:
0
;
}
.
dialog
-
button
[
dlgtype
=
"
accept
"
]
{
margin
-
inline
-
end
:
0
;
}
