%
include
.
.
/
shared
/
searchbar
.
inc
.
css
.
search
-
panel
-
header
.
addengine
-
item
{
font
-
size
:
10px
;
}
.
searchbar
-
popup
{
margin
-
top
:
4px
;
margin
-
inline
-
start
:
3px
;
}
#
PopupSearchAutoComplete
{
border
-
radius
:
4px
;
}
.
search
-
panel
-
current
-
engine
{
border
-
radius
:
4px
4px
0
0
;
}
.
search
-
setting
-
button
{
border
-
radius
:
0
0
4px
4px
;
}
