%
if
0
%
endif
namespace
html
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
%
include
.
.
/
shared
/
webRTC
-
indicator
.
inc
.
css
#
window
-
controls
{
order
:
1
;
}
#
display
-
share
+
.
separator
{
order
:
2
;
}
#
display
-
share
{
order
:
3
;
}
#
device
-
share
+
.
separator
{
order
:
4
;
}
#
device
-
share
{
order
:
5
;
}
#
drag
-
indicator
{
order
:
6
;
}
#
minimize
{
background
-
position
:
center
-
5px
;
padding
:
8px
;
border
:
1px
solid
transparent
;
border
-
radius
:
1000px
;
}
