import
url
(
"
chrome
:
/
/
global
/
skin
/
in
-
content
/
common
.
css
"
)
;
html
{
height
:
100
%
;
}
body
{
display
:
flex
;
align
-
items
:
stretch
;
height
:
100
%
;
}
#
sectionTitle
{
float
:
left
;
padding
-
inline
-
start
:
1rem
;
}
#
sectionTitle
:
dir
(
rtl
)
{
float
:
right
;
padding
-
inline
-
end
:
1rem
;
}
.
category
{
cursor
:
pointer
;
display
:
flex
;
align
-
items
:
center
;
}
.
category
.
category
-
name
{
pointer
-
events
:
none
;
}
#
categories
hr
{
border
-
top
-
color
:
rgba
(
255
255
255
0
.
15
)
;
}
.
main
-
content
{
flex
:
1
;
}
.
tab
{
padding
:
0
.
5em
0
;
}
.
tab
table
{
width
:
100
%
;
}
tbody
tr
{
transition
:
background
cubic
-
bezier
(
.
07
.
95
0
1
)
250ms
;
}
tbody
tr
:
hover
{
background
-
color
:
#
d7d7db
;
}
th
td
table
{
border
-
collapse
:
collapse
;
border
:
none
;
text
-
align
:
start
;
}
th
{
padding
:
1rem
;
font
-
size
:
larger
;
}
td
{
padding
:
1rem
;
}
.
active
-
policies
tr
.
odd
.
errors
tr
:
nth
-
child
(
odd
)
tbody
:
nth
-
child
(
4n
+
1
)
{
background
-
color
:
#
ededf0
;
}
.
active
-
policies
tr
.
odd
:
hover
.
errors
tr
:
nth
-
child
(
odd
)
:
hover
tbody
:
nth
-
child
(
4n
+
1
)
:
hover
{
background
-
color
:
#
d7d7db
;
}
.
arr_sep
.
odd
:
not
(
:
last
-
child
)
td
:
not
(
:
first
-
child
)
{
border
-
bottom
:
2px
solid
#
f9f9fa
;
}
.
arr_sep
.
even
:
not
(
:
last
-
child
)
td
:
not
(
:
first
-
child
)
{
border
-
bottom
:
2px
solid
#
ededf0
;
}
.
last_row
:
not
(
:
last
-
child
)
td
{
border
-
bottom
:
2px
solid
#
d7d7db
!
important
;
}
.
icon
{
background
-
position
:
center
center
;
background
-
repeat
:
no
-
repeat
;
background
-
size
:
16px
;
-
moz
-
context
-
properties
:
fill
;
display
:
inline
-
block
;
fill
:
var
(
-
-
newtab
-
icon
-
primary
-
color
)
;
height
:
14px
;
vertical
-
align
:
middle
;
width
:
14px
;
margin
-
top
:
-
.
125rem
;
margin
-
left
:
.
5rem
;
}
.
collapsible
{
cursor
:
pointer
;
border
:
none
;
outline
:
none
;
}
.
content
{
display
:
none
;
}
.
content
-
style
{
background
-
color
:
white
;
color
:
var
(
-
-
in
-
content
-
category
-
text
-
selected
)
;
}
tbody
.
collapsible
td
{
padding
-
bottom
:
1rem
;
}
.
schema
{
font
-
family
:
monospace
;
white
-
space
:
pre
;
direction
:
ltr
;
}
.
no
-
specified
-
policies
>
table
.
inactive
-
service
>
table
{
display
:
none
;
}
:
not
(
.
no
-
specified
-
policies
)
>
.
no
-
specified
-
policies
-
message
:
not
(
.
inactive
-
service
)
>
.
inactive
-
service
-
message
{
display
:
none
;
}
.
no
-
specified
-
policies
-
message
.
inactive
-
service
-
message
{
padding
:
1rem
;
}
