namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
button
{
-
moz
-
appearance
:
button
;
margin
:
1px
5px
2px
;
min
-
width
:
6
.
3em
;
color
:
ButtonText
;
text
-
shadow
:
none
;
}
.
button
-
box
{
padding
-
top
:
2px
;
padding
-
bottom
:
3px
;
padding
-
inline
-
start
:
4px
;
padding
-
inline
-
end
:
5px
;
}
.
button
-
text
{
margin
:
0
!
important
;
text
-
align
:
center
;
}
button
:
-
moz
-
focusring
{
outline
:
1px
dotted
;
outline
-
offset
:
-
3px
;
}
media
(
-
moz
-
windows
-
default
-
theme
:
0
)
{
media
(
-
moz
-
windows
-
compositor
)
{
button
:
-
moz
-
any
(
[
default
=
"
true
"
]
:
hover
:
focus
)
:
not
(
:
-
moz
-
any
(
:
active
[
disabled
=
"
true
"
]
[
open
=
"
true
"
]
[
checked
=
"
true
"
]
)
)
{
color
:
HighlightText
;
}
}
}
media
(
-
moz
-
windows
-
classic
)
{
button
:
-
moz
-
any
(
:
hover
:
active
[
open
=
"
true
"
]
[
checked
=
"
true
"
]
)
:
not
(
[
disabled
=
"
true
"
]
)
>
.
button
-
box
{
padding
-
top
:
3px
;
padding
-
bottom
:
2px
;
padding
-
inline
-
start
:
5px
;
padding
-
inline
-
end
:
4px
;
}
}
button
[
disabled
=
"
true
"
]
{
color
:
GrayText
;
}
media
(
-
moz
-
windows
-
classic
)
{
button
[
disabled
=
"
true
"
]
{
color
:
ThreeDShadow
;
text
-
shadow
:
1px
1px
ThreeDHighlight
;
}
}
button
[
type
=
"
menu
-
button
"
]
{
margin
:
0
;
}
.
button
-
menu
-
dropmarker
.
button
-
menubutton
-
dropmarker
{
-
moz
-
appearance
:
none
!
important
;
margin
:
1px
;
width
:
11px
;
height
:
11px
;
}
.
button
-
menubutton
-
dropmarker
[
open
=
"
true
"
]
{
margin
-
top
:
2px
;
margin
-
bottom
:
0px
;
margin
-
inline
-
start
:
2px
;
margin
-
inline
-
end
:
0px
;
}
button
.
plain
{
margin
:
0
!
important
;
padding
:
0
!
important
;
}
button
[
type
=
"
disclosure
"
]
{
margin
:
0
;
-
moz
-
appearance
:
none
;
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
tree
/
twisty
-
collapsed
.
svg
"
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
min
-
width
:
0
;
}
button
[
type
=
"
disclosure
"
]
[
open
=
"
true
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
tree
/
twisty
-
expanded
.
svg
"
)
;
}
