namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
checkbox
{
-
moz
-
appearance
:
checkbox
-
container
;
-
moz
-
box
-
align
:
center
;
margin
:
2px
4px
;
padding
-
top
:
1px
;
padding
-
bottom
:
1px
;
padding
-
inline
-
start
:
4px
;
padding
-
inline
-
end
:
2px
;
}
.
checkbox
-
icon
[
src
]
{
margin
-
inline
-
end
:
2px
;
}
.
checkbox
-
label
{
margin
:
0
!
important
;
}
checkbox
:
-
moz
-
focusring
>
.
checkbox
-
label
-
box
{
outline
:
1px
dotted
;
}
checkbox
[
disabled
=
"
true
"
]
{
color
:
GrayText
;
}
media
(
-
moz
-
windows
-
classic
)
{
checkbox
[
disabled
=
"
true
"
]
{
color
:
ThreeDShadow
;
text
-
shadow
:
1px
1px
ThreeDHighlight
;
}
}
.
checkbox
-
check
{
-
moz
-
appearance
:
checkbox
;
-
moz
-
box
-
align
:
center
;
min
-
width
:
13px
;
min
-
height
:
13px
;
margin
-
inline
-
end
:
3px
;
}
