namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
%
include
.
.
/
.
.
/
shared
/
notification
.
inc
.
css
%
include
.
.
/
.
.
/
shared
/
popupnotification
.
inc
.
css
.
popup
-
notification
-
dropmarker
>
.
button
-
box
>
.
button
-
menu
-
dropmarker
{
width
:
16px
;
height
:
16px
;
}
.
popup
-
notification
-
primary
-
button
{
order
:
-
1
;
}
.
popup
-
notification
-
secondary
-
button
:
not
(
[
hidden
=
"
true
"
]
)
~
.
popup
-
notification
-
primary
-
button
:
not
(
[
default
]
)
{
border
-
inline
-
end
:
1px
solid
var
(
-
-
panel
-
separator
-
color
)
;
}
