namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
%
include
.
.
/
.
.
/
shared
/
notification
.
inc
.
css
%
include
.
.
/
.
.
/
shared
/
popupnotification
.
inc
.
css
.
popup
-
notification
-
dropmarker
>
.
button
-
box
>
.
button
-
menu
-
dropmarker
{
width
:
16px
;
height
:
16px
;
}
media
(
-
moz
-
windows
-
default
-
theme
)
{
.
popup
-
notification
-
warning
{
color
:
#
aa1b08
;
}
}
.
popup
-
notification
-
button
[
default
]
{
order
:
-
1
;
}
