fieldset
{
border
:
0
.
5px
groove
ThreeDLightShadow
;
margin
:
6px
3px
;
}
.
groupbox
-
body
{
margin
:
3px
3px
6px
;
}
.
portrait
-
page
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
Portrait
.
png
"
)
;
}
.
landscape
-
page
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
Landscape
.
png
"
)
;
}
#
header
-
footer
-
grid
{
display
:
grid
;
grid
-
template
-
columns
:
auto
auto
auto
;
}
