.
navigate
-
button
{
min
-
width
:
1
.
9em
;
}
.
navigate
-
button
>
.
toolbarbutton
-
icon
{
display
:
none
;
}
.
toolbar
-
portrait
-
page
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
Print
-
preview
.
png
"
)
;
-
moz
-
image
-
region
:
rect
(
0px
16px
16px
0px
)
;
}
.
toolbar
-
landscape
-
page
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
Print
-
preview
.
png
"
)
;
-
moz
-
image
-
region
:
rect
(
0px
32px
16px
16px
)
;
}
#
pageNumber
{
width
:
3ch
;
}
