namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
progressmeter
{
-
moz
-
appearance
:
progressbar
;
margin
:
2px
4px
;
border
:
1px
solid
ThreeDShadow
;
background
-
color
:
-
moz
-
Dialog
;
min
-
width
:
128px
;
min
-
height
:
15px
;
}
.
progress
-
bar
{
-
moz
-
appearance
:
progresschunk
;
min
-
width
:
0
;
background
-
color
:
ThreeDShadow
;
}
