namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
spinbuttons
{
-
moz
-
appearance
:
spinner
;
cursor
:
default
;
}
.
spinbuttons
-
button
{
min
-
width
:
13px
;
min
-
height
:
11px
;
margin
:
0
!
important
;
}
.
spinbuttons
-
up
{
-
moz
-
appearance
:
spinner
-
upbutton
;
}
.
spinbuttons
-
down
{
-
moz
-
appearance
:
spinner
-
downbutton
;
}
