namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
tabpanels
{
-
moz
-
appearance
:
tabpanels
;
padding
:
8px
;
color
:
-
moz
-
DialogText
;
}
tab
{
-
moz
-
appearance
:
tab
;
margin
-
top
:
2px
;
padding
:
1px
4px
2px
;
color
:
-
moz
-
DialogText
;
}
.
tab
-
text
{
margin
:
0
!
important
;
}
tab
[
visuallyselected
=
"
true
"
]
{
margin
-
top
:
0
;
padding
:
1px
6px
4px
;
}
tab
:
-
moz
-
focusring
>
.
tab
-
middle
{
outline
:
1px
dotted
;
}
tab
:
first
-
of
-
type
[
visuallyselected
=
"
true
"
]
{
padding
-
inline
:
5px
;
}
