namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
namespace
html
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
textbox
{
-
moz
-
appearance
:
textfield
;
cursor
:
text
;
margin
:
2px
4px
;
padding
:
2px
2px
3px
;
padding
-
inline
-
start
:
4px
;
background
-
color
:
-
moz
-
Field
;
color
:
-
moz
-
FieldText
;
}
html
|
*
.
textbox
-
input
html
|
*
.
textbox
-
textarea
{
margin
:
0px
!
important
;
border
:
none
!
important
;
padding
:
0px
1px
!
important
;
background
-
color
:
inherit
;
color
:
inherit
;
font
:
inherit
;
}
media
(
-
moz
-
windows
-
default
-
theme
)
and
(
-
moz
-
os
-
version
:
windows
-
win7
)
{
textbox
html
|
*
.
textbox
-
input
:
:
placeholder
{
font
-
style
:
italic
;
}
}
.
textbox
-
contextmenu
{
cursor
:
default
;
}
textbox
[
readonly
=
"
true
"
]
{
background
-
color
:
-
moz
-
Dialog
;
color
:
-
moz
-
DialogText
;
}
textbox
[
disabled
=
"
true
"
]
{
cursor
:
default
;
background
-
color
:
-
moz
-
Dialog
;
color
:
GrayText
;
}
textbox
.
plain
{
-
moz
-
appearance
:
none
!
important
;
background
-
color
:
transparent
;
padding
:
0px
!
important
;
margin
:
0px
!
important
;
border
:
none
!
important
;
}
textbox
.
plain
html
|
*
.
textbox
-
input
textbox
.
plain
html
|
*
.
textbox
-
textarea
{
padding
:
0px
!
important
;
}
textbox
:
not
(
[
searchbutton
]
)
>
moz
-
input
-
box
>
.
textbox
-
search
-
sign
{
list
-
style
-
image
:
url
(
chrome
:
/
/
global
/
skin
/
icons
/
search
-
textbox
.
svg
)
;
margin
-
inline
-
end
:
5px
;
}
.
textbox
-
search
-
icon
[
searchbutton
]
{
list
-
style
-
image
:
url
(
chrome
:
/
/
global
/
skin
/
icons
/
search
-
textbox
.
svg
)
;
}
.
textbox
-
search
-
icon
:
-
moz
-
locale
-
dir
(
rtl
)
{
transform
:
scaleX
(
-
1
)
;
}
.
textbox
-
search
-
icon
[
searchbutton
]
:
not
(
[
disabled
]
)
{
cursor
:
pointer
;
}
.
textbox
-
search
-
clear
{
list
-
style
-
image
:
url
(
chrome
:
/
/
global
/
skin
/
icons
/
Search
-
close
.
png
)
;
-
moz
-
image
-
region
:
rect
(
0
16px
16px
0
)
;
}
.
textbox
-
search
-
clear
:
not
(
[
disabled
]
)
{
cursor
:
default
;
}
.
textbox
-
search
-
clear
:
not
(
[
disabled
]
)
:
hover
{
-
moz
-
image
-
region
:
rect
(
0
32px
16px
16px
)
;
}
.
textbox
-
search
-
clear
:
not
(
[
disabled
]
)
:
hover
:
active
{
-
moz
-
image
-
region
:
rect
(
0
48px
16px
32px
)
;
}
toolbarpaletteitem
>
toolbaritem
>
textbox
>
moz
-
input
-
box
>
html
|
*
.
textbox
-
input
{
visibility
:
hidden
;
}
