%
include
.
.
/
.
.
/
shared
/
tree
.
inc
.
css
.
treecol
-
sortdirection
{
list
-
style
-
image
:
none
;
}
treecol
:
not
(
[
hideheader
=
"
true
"
]
)
>
.
treecol
-
sortdirection
[
sortDirection
=
"
ascending
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
tree
/
sort
-
asc
.
png
"
)
;
}
treecol
:
not
(
[
hideheader
=
"
true
"
]
)
>
.
treecol
-
sortdirection
[
sortDirection
=
"
descending
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
tree
/
sort
-
dsc
.
png
"
)
;
}
media
(
-
moz
-
windows
-
classic
)
{
treecol
:
not
(
[
hideheader
=
"
true
"
]
)
>
.
treecol
-
sortdirection
[
sortDirection
=
"
ascending
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
tree
/
sort
-
asc
-
classic
.
png
"
)
;
}
treecol
:
not
(
[
hideheader
=
"
true
"
]
)
>
.
treecol
-
sortdirection
[
sortDirection
=
"
descending
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
tree
/
sort
-
dsc
-
classic
.
png
"
)
;
}
}
