%
include
.
.
/
.
.
/
shared
/
tree
.
inc
.
css
.
treecol
-
sortdirection
{
list
-
style
-
image
:
none
;
}
treecol
:
not
(
[
hideheader
=
"
true
"
]
)
>
.
treecol
-
sortdirection
[
sortDirection
=
"
ascending
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
tree
/
sort
-
asc
.
png
"
)
;
}
treecol
:
not
(
[
hideheader
=
"
true
"
]
)
>
.
treecol
-
sortdirection
[
sortDirection
=
"
descending
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
tree
/
sort
-
dsc
.
png
"
)
;
}
media
(
-
moz
-
windows
-
classic
)
{
treecol
:
not
(
[
hideheader
=
"
true
"
]
)
>
.
treecol
-
sortdirection
[
sortDirection
=
"
ascending
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
tree
/
sort
-
asc
-
classic
.
png
"
)
;
}
treecol
:
not
(
[
hideheader
=
"
true
"
]
)
>
.
treecol
-
sortdirection
[
sortDirection
=
"
descending
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
tree
/
sort
-
dsc
-
classic
.
png
"
)
;
}
}
media
(
-
moz
-
windows
-
classic
)
{
treecol
treecolpicker
{
border
:
1px
solid
;
border
-
top
-
color
:
ThreeDHighlight
;
border
-
inline
-
end
-
color
:
ThreeDShadow
;
border
-
bottom
-
color
:
ThreeDShadow
;
border
-
inline
-
start
-
color
:
ThreeDHighlight
;
background
-
color
:
-
moz
-
Dialog
;
}
treecol
:
hover
:
active
treecolpicker
:
hover
:
active
{
border
-
top
-
color
:
ThreeDShadow
;
border
-
inline
-
end
-
color
:
ThreeDHighlight
;
border
-
bottom
-
color
:
ThreeDHighlight
;
border
-
inline
-
start
-
color
:
ThreeDShadow
;
}
}
