.
outline
-
filter
{
border
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
border
-
top
:
0px
;
}
.
outline
-
filter
-
input
{
padding
-
top
:
2px
;
padding
-
bottom
:
2px
;
width
:
100
%
;
background
-
color
:
var
(
-
-
theme
-
sidebar
-
background
)
;
color
:
var
(
-
-
theme
-
body
-
color
)
;
font
-
size
:
inherit
;
user
-
select
:
text
;
}
.
outline
-
filter
-
input
.
focused
{
border
:
1px
solid
var
(
-
-
theme
-
highlight
-
blue
)
;
}
.
outline
-
filter
-
input
:
:
placeholder
{
font
-
style
:
italic
;
color
:
var
(
-
-
theme
-
comment
)
;
}
.
theme
-
dark
.
outline
-
filter
-
input
.
focused
{
border
:
1px
solid
var
(
-
-
blue
-
50
)
;
}
