rich
-
select
:
not
(
[
open
]
)
>
.
rich
-
select
-
popup
-
box
{
display
:
none
;
}
rich
-
select
[
open
]
{
position
:
relative
;
}
rich
-
select
[
open
]
>
.
rich
-
select
-
popup
-
box
{
position
:
absolute
;
z
-
index
:
1
;
top
:
1em
;
}
