shipping
-
option
{
grid
-
row
-
gap
:
5px
;
grid
-
column
-
gap
:
10px
;
grid
-
template
-
areas
:
"
label
amount
"
;
}
shipping
-
option
>
.
label
{
grid
-
area
:
label
;
font
-
weight
:
bold
;
}
shipping
-
option
>
.
amount
{
grid
-
area
:
amount
;
}
shipping
-
option
>
.
label
shipping
-
option
>
.
amount
{
white
-
space
:
nowrap
;
}
