<
!
DOCTYPE
html
>
<
html
class
=
"
reftest
-
wait
"
>
<
head
>
<
script
type
=
"
text
/
javascript
"
>
function
onload
(
)
{
var
range
=
document
.
createRange
(
)
;
range
.
selectNodeContents
(
document
.
getElementById
(
"
selectMe
"
)
)
;
var
sel
=
window
.
getSelection
(
)
;
sel
.
removeAllRanges
(
)
;
sel
.
addRange
(
range
)
;
document
.
documentElement
.
className
=
'
'
;
}
<
/
script
>
<
style
>
body
{
font
-
size
:
60px
;
position
:
absolute
;
margin
:
0px
;
padding
:
0px
;
}
div
{
position
:
absolute
;
margin
:
0px
;
padding
:
0px
;
}
div
:
:
selection
{
/
*
hide
all
selection
boxes
for
convenience
*
/
}
#
shadow1
{
text
-
shadow
:
80px
50px
0px
;
top
:
-
30px
;
left
:
-
60px
;
}
#
shadow2
{
text
-
shadow
:
80px
50px
10px
;
top
:
100px
;
left
:
-
60px
;
}
#
shadow3
{
text
-
shadow
:
80px
50px
10px
;
top
:
-
30px
;
left
:
100px
;
}
#
shadow4
{
top
:
200px
;
left
:
-
60px
;
}
#
shadow4
:
:
selection
{
text
-
shadow
:
20px
5px
10px
;
}
#
shadow5
{
top
:
-
30px
;
left
:
250px
;
}
#
shadow5
:
:
selection
{
text
-
shadow
:
20px
5px
10px
;
}
<
/
style
>
<
/
head
>
<
body
id
=
"
selectMe
"
onload
=
"
onload
(
)
"
>
<
div
id
=
"
shadow1
"
>
hello
<
/
div
>
<
div
id
=
"
shadow2
"
>
hello
<
/
div
>
<
div
id
=
"
shadow3
"
>
hello
<
/
div
>
<
div
id
=
"
shadow4
"
>
hello
&
nbsp
;
&
nbsp
;
<
/
div
>
<
div
id
=
"
shadow5
"
>
hello
&
nbsp
;
&
nbsp
;
<
/
div
>
<
/
body
>
<
/
html
>
