namespace
url
(
http
:
namespace
xml
url
(
http
:
style
script
symbol
{
display
:
none
;
}
symbol
:
-
moz
-
use
-
shadow
-
tree
-
root
{
display
:
inline
!
important
;
}
switch
{
-
moz
-
binding
:
none
!
important
;
}
svg
:
not
(
:
root
)
symbol
image
marker
pattern
foreignObject
{
overflow
:
hidden
;
}
media
all
and
(
-
moz
-
is
-
glyph
)
{
:
root
{
fill
:
context
-
fill
;
fill
-
opacity
:
context
-
fill
-
opacity
;
stroke
:
context
-
stroke
;
stroke
-
opacity
:
context
-
stroke
-
opacity
;
stroke
-
width
:
context
-
value
;
stroke
-
dasharray
:
context
-
value
;
stroke
-
dashoffset
:
context
-
value
;
}
}
foreignObject
{
-
moz
-
appearance
:
none
!
important
;
margin
:
0
!
important
;
padding
:
0
!
important
;
border
-
width
:
0
!
important
;
white
-
space
:
normal
;
}
media
all
and
(
-
moz
-
is
-
resource
-
document
)
{
foreignObject
*
|
*
{
-
moz
-
appearance
:
none
!
important
;
}
}
*
|
*
:
:
-
moz
-
svg
-
foreign
-
content
{
display
:
block
!
important
;
transform
:
translate
(
0
)
!
important
;
text
-
indent
:
0
;
}
*
:
not
(
svg
)
*
:
not
(
foreignObject
)
>
svg
{
transform
-
origin
:
0
0
;
}
*
|
*
:
:
-
moz
-
svg
-
text
{
unicode
-
bidi
:
inherit
;
vector
-
effect
:
inherit
;
}
*
[
xml
|
space
=
preserve
]
{
white
-
space
:
-
moz
-
pre
-
space
;
}
*
|
*
:
:
-
moz
-
svg
-
marker
-
anon
-
child
{
clip
-
path
:
inherit
;
filter
:
inherit
;
mask
:
inherit
;
opacity
:
inherit
;
}
*
:
-
moz
-
focusring
{
outline
:
1px
dotted
;
}
circle
ellipse
line
mesh
path
polygon
polyline
rect
{
-
moz
-
user
-
select
:
none
;
}
