<
!
DOCTYPE
html
>
<
html
lang
=
"
en
"
class
=
"
reftest
-
wait
"
>
<
head
>
<
meta
http
-
equiv
=
"
content
-
type
"
content
=
"
text
/
html
;
charset
=
UTF
-
8
"
>
<
meta
charset
=
"
utf
-
8
"
>
<
title
>
Clicking
the
canvas
should
turn
it
green
(
and
shift
it
slighly
)
<
/
title
>
<
style
>
canvas
{
border
:
10px
solid
black
;
}
.
opacity
{
opacity
:
0
.
8
;
}
<
/
style
>
<
/
head
>
<
body
>
<
div
style
=
"
transform
:
translateX
(
1px
)
"
>
<
div
class
=
"
wrapper
"
>
<
div
class
=
"
opacity
"
>
<
div
class
=
"
border
"
>
<
canvas
id
=
"
canvas
"
width
=
"
200
"
height
=
"
200
"
>
<
/
canvas
>
<
/
div
>
<
/
div
>
<
/
div
>
<
/
div
>
<
script
>
var
canvas
=
document
.
getElementById
(
'
canvas
'
)
;
var
wrapper
=
document
.
querySelector
(
'
.
wrapper
'
)
;
canvas
.
width
=
200
;
canvas
.
height
=
200
;
var
ctx
=
canvas
.
getContext
(
'
2d
'
)
;
ctx
.
fillStyle
=
'
red
'
;
ctx
.
fillRect
(
0
0
200
200
)
;
function
doTest
(
)
{
ctx
.
fillStyle
=
'
lime
'
;
ctx
.
fillRect
(
0
0
200
200
)
;
wrapper
.
style
.
transform
=
'
translateX
(
1px
)
'
;
document
.
documentElement
.
removeAttribute
(
"
class
"
)
;
}
document
.
addEventListener
(
"
MozReftestInvalidate
"
doTest
)
;
<
/
script
>
<
/
body
>
<
/
html
>
