html
body
{
height
:
100
%
;
width
:
100
%
;
}
h2
h3
h4
{
margin
-
bottom
:
5px
;
}
button
{
width
:
100px
;
}
#
body
{
display
:
flex
;
flex
-
direction
:
row
;
}
.
category
{
display
:
flex
;
flex
-
direction
:
row
;
align
-
content
:
center
;
}
.
category
-
name
{
cursor
:
default
;
}
.
main
-
content
{
flex
:
1
;
}
.
tab
{
max
-
width
:
800px
;
}
.
tab
:
not
(
.
active
)
{
display
:
none
;
}
label
{
display
:
block
;
margin
-
bottom
:
5px
;
}
.
targets
{
margin
-
bottom
:
25px
;
}
.
target
{
margin
-
top
:
5px
;
display
:
flex
;
flex
-
direction
:
row
;
align
-
items
:
center
;
}
.
target
-
icon
{
height
:
24px
;
margin
-
right
:
5px
;
}
.
target
-
icon
:
not
(
[
src
]
)
{
display
:
none
;
}
.
inverted
-
icons
.
target
-
icon
{
filter
:
invert
(
30
%
)
;
}
.
target
-
details
{
flex
:
1
;
}
