body
{
margin
:
0
;
}
#
msg
-
complete
{
color
:
blue
;
}
#
content
{
flow
-
into
:
content
;
width
:
125px
;
}
.
region
{
flow
-
from
:
content
;
width
:
125px
;
height
:
125px
;
float
:
left
;
}
.
block
{
background
-
color
:
gray
;
display
:
inline
-
block
;
width
:
100px
;
height
:
100px
;
}
#
target
-
block
{
background
-
color
:
rgb
(
0
0
0
)
;
}
#
target
-
block
:
hover
{
background
-
color
:
rgb
(
0
255
0
)
;
}
input
:
focus
{
background
-
color
:
rgb
(
0
255
0
)
;
}
#
outside
-
region
{
clear
:
both
;
width
:
125px
;
height
:
125px
;
background
-
color
:
rgb
(
255
191
0
)
;
margin
:
25px
;
}
#
outside
-
region
:
hover
{
background
-
color
:
rgb
(
0
255
0
)
;
}
#
log
{
clear
:
both
;
}
