html
{
font
-
family
:
menu
;
font
-
size
:
10px
;
}
.
copy
-
body
{
display
:
flex
;
padding
:
1
.
5rem
;
}
.
copy
-
logo
{
height
:
32px
;
margin
-
inline
-
end
:
1
.
5rem
;
}
.
copy
-
message
{
color
:
#
000
;
font
-
size
:
1
.
2rem
;
}
.
copy
-
toggle
-
label
{
display
:
block
;
margin
-
top
:
1
.
5rem
;
}
.
copy
-
toggle
-
label
input
{
margin
-
inline
-
start
:
0
;
}
.
copy
-
button
{
background
:
#
efefef
;
border
:
0
;
line
-
height
:
1rem
;
outline
:
1px
solid
#
d1d1d1
;
padding
:
1
.
5rem
;
width
:
50
%
;
}
.
copy
-
button
:
active
.
copy
-
button
:
focus
.
copy
-
button
:
hover
{
background
:
#
00a9dc
;
color
:
#
fff
;
outline
-
color
:
#
0097c5
;
}
