%
include
.
.
/
.
.
/
shared
/
customizableui
/
panelUI
.
inc
.
css
.
panel
-
subviews
{
background
-
color
:
var
(
-
-
arrowpanel
-
background
)
;
}
#
BMB_bookmarksPopup
>
menuitem
[
type
=
"
checkbox
"
]
{
-
moz
-
appearance
:
none
!
important
;
}
#
BMB_bookmarksPopup
menupopup
{
-
moz
-
appearance
:
none
;
background
:
var
(
-
-
arrowpanel
-
background
)
;
color
:
var
(
-
-
arrowpanel
-
color
)
;
border
:
1px
solid
var
(
-
-
arrowpanel
-
border
-
color
)
;
margin
-
top
:
-
6px
;
padding
-
top
:
1px
;
}
#
BMB_bookmarksPopup
menupopup
>
hbox
>
.
popup
-
internal
-
box
>
.
arrowscrollbox
-
scrollbox
>
.
scrollbox
-
innerbox
{
padding
-
top
:
4px
;
}
menuitem
.
subviewbutton
{
-
moz
-
appearance
:
none
!
important
;
}
menu
.
subviewbutton
>
.
menu
-
right
{
-
moz
-
appearance
:
none
;
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
places
/
bookmarks
-
menu
-
arrow
.
png
)
;
-
moz
-
image
-
region
:
rect
(
0
16px
16px
0
)
;
width
:
16px
;
height
:
16px
;
}
menu
[
disabled
=
"
true
"
]
.
subviewbutton
>
.
menu
-
right
{
-
moz
-
image
-
region
:
rect
(
0
32px
16px
16px
)
;
}
menu
.
subviewbutton
>
.
menu
-
right
:
-
moz
-
locale
-
dir
(
rtl
)
{
transform
:
scaleX
(
-
1
)
;
}
.
subviewradio
>
.
radio
-
label
-
box
{
-
moz
-
appearance
:
none
;
}
#
pageActionFeedback
>
.
panel
-
arrowcontainer
>
.
panel
-
arrowcontent
{
box
-
shadow
:
none
;
}
