%
include
.
.
/
.
.
/
shared
/
customizableui
/
panelUI
.
inc
.
css
#
BMB_bookmarksPopup
menupopup
{
-
moz
-
appearance
:
none
;
background
:
var
(
-
-
arrowpanel
-
background
)
;
color
:
var
(
-
-
arrowpanel
-
color
)
;
border
:
1px
solid
var
(
-
-
arrowpanel
-
border
-
color
)
;
margin
-
top
:
-
6px
;
padding
-
top
:
1px
;
}
#
BMB_bookmarksPopup
menupopup
>
hbox
>
.
popup
-
internal
-
box
>
.
arrowscrollbox
-
scrollbox
>
.
scrollbox
-
innerbox
{
padding
-
top
:
4px
;
}
menuitem
.
subviewbutton
{
-
moz
-
appearance
:
none
!
important
;
}
.
subviewradio
>
.
radio
-
label
-
box
{
-
moz
-
appearance
:
none
;
}
#
pageActionFeedback
>
.
panel
-
arrowcontainer
>
.
panel
-
arrowcontent
{
box
-
shadow
:
none
;
}
