%
include
.
.
/
.
.
/
.
.
/
shared
/
extensions
/
extensions
.
inc
.
css
:
root
>
*
{
font
-
size
:
1
.
36em
;
}
.
no
-
auto
-
hide
>
.
menulist
-
dropmarker
{
padding
-
inline
-
start
:
0px
!
important
;
}
.
addon
.
relnotes
-
toggle
{
-
moz
-
box
-
direction
:
reverse
;
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
arrow
/
arrow
-
dn
.
gif
"
)
;
}
.
addon
[
show
-
relnotes
]
.
relnotes
-
toggle
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
arrow
/
arrow
-
up
.
gif
"
)
;
}
.
download
-
progress
{
margin
-
top
:
3px
;
margin
-
bottom
:
3px
;
}
.
meta
-
rating
>
.
star
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
mozapps
/
skin
/
extensions
/
rating
-
not
-
won
.
png
"
)
;
padding
:
0
1px
;
}
.
meta
-
rating
>
.
star
[
on
=
"
true
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
mozapps
/
skin
/
extensions
/
rating
-
won
.
png
"
)
;
}
