*
{
box
-
sizing
:
border
-
box
;
}
button
{
background
:
transparent
;
border
:
none
;
font
-
family
:
inherit
;
font
-
size
:
inherit
;
}
button
:
hover
button
:
focus
{
background
-
color
:
var
(
-
-
theme
-
toolbar
-
background
-
hover
)
;
}
.
theme
-
dark
button
:
hover
.
theme
-
dark
button
:
focus
{
background
-
color
:
var
(
-
-
theme
-
toolbar
-
hover
)
;
}
.
debugger
{
display
:
flex
;
flex
:
1
;
height
:
100
%
;
}
.
editor
-
pane
{
display
:
flex
;
position
:
relative
;
flex
:
1
;
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
height
:
100
%
;
overflow
:
hidden
;
}
.
editor
-
container
{
width
:
100
%
;
}
.
absolute
-
center
{
position
:
absolute
;
top
:
50
%
;
left
:
50
%
;
transform
:
translate
(
-
50
%
-
50
%
)
;
}
.
d
-
flex
{
display
:
flex
;
}
.
align
-
items
-
center
{
align
-
items
:
center
;
}
.
rounded
-
circle
{
border
-
radius
:
50
%
;
}
.
text
-
white
{
color
:
white
;
}
.
text
-
center
{
text
-
align
:
center
;
}
.
min
-
width
-
0
{
min
-
width
:
0
;
}
.
split
-
box
>
.
splitter
:
last
-
child
{
display
:
none
;
}
