#
unknownContentType
{
font
:
menu
;
}
description
{
font
-
weight
:
bold
;
}
#
contentTypeImage
{
margin
-
right
:
3px
;
width
:
16px
;
}
#
type
{
-
moz
-
box
-
flex
:
1
;
}
#
container
>
.
small
-
indent
{
margin
-
left
:
0
;
}
.
small
-
indent
label
{
margin
-
left
:
0
;
}
