body
{
padding
:
0
;
margin
:
0
;
display
:
flex
;
height
:
100vh
;
}
.
devtools
-
toolbox
-
browsertoolbox
-
iframe
{
border
:
0
;
width
:
100
%
;
}
#
status
-
message
-
container
{
width
:
calc
(
100
%
-
10px
)
;
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
padding
:
5px
;
color
:
FieldText
;
background
-
color
:
Field
;
}
#
status
-
message
-
container
[
hidden
=
"
true
"
]
{
display
:
none
;
}
#
status
-
message
-
title
{
font
-
size
:
14px
;
font
-
weight
:
bold
;
}
#
status
-
message
{
font
-
size
:
12px
;
width
:
100
%
;
height
:
200px
;
overflow
:
auto
;
}
