.
permission
-
icon
{
max
-
height
:
20px
;
max
-
width
:
20px
;
vertical
-
align
:
middle
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
}
.
geo
-
icon
{
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
notification
-
icons
.
svg
#
geo
-
linux
)
;
}
.
camera
-
icon
{
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
notification
-
icons
.
svg
#
camera
)
;
}
.
microphone
-
icon
{
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
notification
-
icons
.
svg
#
microphone
)
;
}
.
desktop
-
notification
-
icon
{
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
notification
-
icons
.
svg
#
desktop
-
notification
)
;
}
