.
searchBarImage
{
height
:
36px
;
width
:
631px
;
margin
-
left
:
33px
;
}
.
searchBarHiddenImage
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
preferences
/
in
-
content
/
no
-
search
-
bar
.
svg
"
)
;
}
#
searchBarShownRadio
{
margin
-
top
:
10px
;
}
.
searchBarShownImage
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
preferences
/
in
-
content
/
search
-
bar
.
svg
"
)
;
}
.
searchBarImage
:
-
moz
-
locale
-
dir
(
rtl
)
{
transform
:
scaleX
(
-
1
)
;
}
#
defaultEngine
{
margin
-
inline
-
start
:
0
;
}
#
defaultEngine
>
.
menulist
-
label
-
box
>
.
menulist
-
icon
{
height
:
16px
;
}
.
searchengine
-
menuitem
>
.
menu
-
iconic
-
left
{
display
:
-
moz
-
box
;
}
#
engineList
{
margin
:
.
5em
0
;
}
#
engineList
treechildren
:
:
-
moz
-
tree
-
image
(
engineName
)
{
margin
-
inline
-
end
:
10px
;
margin
-
inline
-
start
:
1px
;
width
:
16px
;
height
:
16px
;
}
#
engineList
treechildren
:
:
-
moz
-
tree
-
drop
-
feedback
{
background
-
color
:
Highlight
;
width
:
10000px
;
height
:
2px
;
margin
-
inline
-
start
:
0
;
}
#
engineShown
{
min
-
width
:
26px
;
}
#
addEnginesBox
{
margin
-
bottom
:
1em
;
}
#
removeEngineButton
#
restoreDefaultSearchEngines
{
margin
-
right
:
0
;
margin
-
left
:
0
;
}
