#
sitesList
{
min
-
height
:
20em
;
}
.
item
-
box
{
padding
:
5px
8px
;
}
#
SiteDataRemoveSelectedDialog
{
padding
:
16px
;
}
#
contentContainer
{
font
-
size
:
1
.
2em
;
margin
-
bottom
:
10px
;
}
.
question
-
icon
{
margin
:
6px
;
}
#
removing
-
label
{
font
-
weight
:
bold
;
}
#
sitesTree
{
height
:
15em
;
}
