.
checkbox
-
check
{
-
moz
-
appearance
:
checkbox
;
}
#
useFirefoxSync
#
getStarted
{
font
-
size
:
90
%
;
}
#
isNotDefaultLabel
{
font
-
weight
:
bold
;
}
#
translationAttributionImage
{
width
:
70px
;
cursor
:
pointer
;
}
.
windowDialog
.
windowDialog
prefpane
{
padding
:
0px
;
}
.
contentPane
{
margin
:
9px
8px
5px
8px
;
}
.
actionButtons
{
margin
:
0px
3px
6px
3px
!
important
;
}
#
cookiesChildren
:
:
-
moz
-
tree
-
image
(
domainCol
)
{
width
:
16px
;
height
:
16px
;
margin
:
0px
2px
;
list
-
style
-
image
:
url
(
"
chrome
:
/
/
mozapps
/
skin
/
places
/
defaultFavicon
.
png
"
)
;
}
#
linksOpenInBox
{
margin
-
top
:
5px
;
}
#
advancedPrefs
{
margin
-
left
:
0
;
margin
-
right
:
0
;
}
#
cookiesChildren
:
:
-
moz
-
tree
-
image
(
domainCol
container
)
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
directory
?
size
=
menu
"
)
;
}
#
cookieInfoBox
{
border
:
1px
solid
ThreeDShadow
;
border
-
radius
:
0px
;
margin
:
4px
;
padding
:
0px
;
}
.
bottomBox
{
padding
-
bottom
:
4px
;
}
#
SanitizeDialogPane
>
groupbox
{
margin
-
top
:
0
;
}
#
syncDesc
{
padding
:
0
8em
;
}
#
accountCaptionImage
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
mozapps
/
skin
/
profile
/
profileicon
.
png
"
)
;
}
#
syncAddDeviceLabel
{
margin
-
top
:
1em
;
margin
-
bottom
:
1em
;
}
#
noFxaAccount
{
line
-
height
:
1
.
2em
;
}
#
noFxaAccount
>
label
:
first
-
child
{
margin
-
bottom
:
0
.
6em
;
}
