#
alertBox
[
animate
]
{
animation
-
duration
:
12s
;
animation
-
fill
-
mode
:
both
;
animation
-
name
:
alert
-
animation
;
}
#
alertBox
[
animate
]
:
not
(
[
clicked
]
)
:
not
(
[
closing
]
)
:
hover
{
animation
-
play
-
state
:
paused
;
}
#
alertBox
:
not
(
[
hasOrigin
]
)
>
box
>
#
alertTextBox
>
#
alertFooter
#
alertImage
:
not
(
[
src
]
)
{
display
:
none
;
}
.
alertText
{
white
-
space
:
pre
-
wrap
;
}
keyframes
alert
-
animation
{
to
{
visibility
:
hidden
;
}
}
