.
accessibility
-
color
-
contrast
{
position
:
relative
;
display
:
flex
;
cursor
:
default
;
height
:
inherit
;
align
-
items
:
baseline
;
}
.
accessibility
-
color
-
contrast
.
accessibility
-
contrast
-
value
:
not
(
:
empty
)
:
after
{
margin
-
inline
-
start
:
4px
;
}
.
accessibility
-
color
-
contrast
.
accessibility
-
contrast
-
value
:
not
(
:
empty
)
.
AA
:
after
.
accessibility
-
color
-
contrast
.
accessibility
-
contrast
-
value
:
not
(
:
empty
)
.
AAA
:
after
{
color
:
var
(
-
-
theme
-
highlight
-
green
)
;
}
.
accessibility
-
color
-
contrast
.
accessibility
-
contrast
-
value
:
not
(
:
empty
)
.
fail
:
after
{
color
:
#
E57180
;
content
:
"
"
;
}
.
accessibility
-
color
-
contrast
.
accessibility
-
contrast
-
value
:
not
(
:
empty
)
.
AA
:
after
{
content
:
"
AA
\
2713
"
;
}
.
accessibility
-
color
-
contrast
.
accessibility
-
contrast
-
value
:
not
(
:
empty
)
.
AAA
:
after
{
content
:
"
AAA
\
2713
"
;
}
.
accessibility
-
color
-
contrast
-
large
-
text
{
background
-
color
:
var
(
-
-
badge
-
background
-
color
)
;
color
:
var
(
-
-
badge
-
color
)
;
outline
:
1px
solid
var
(
-
-
badge
-
border
-
color
)
;
-
moz
-
outline
-
radius
:
3px
;
padding
:
0px
2px
;
margin
-
inline
-
start
:
6px
;
line
-
height
:
initial
;
}
