.
theme
-
dark
{
-
-
even
-
animation
-
timeline
-
background
-
color
:
rgba
(
255
255
255
0
.
03
)
;
}
.
theme
-
light
{
-
-
even
-
animation
-
timeline
-
background
-
color
:
rgba
(
128
128
128
0
.
03
)
;
}
:
root
{
-
-
toolbar
-
height
:
20px
;
-
-
timeline
-
sidebar
-
width
:
200px
;
-
-
timeline
-
animation
-
height
:
20px
;
-
-
keyframes
-
marker
-
size
:
10px
;
-
-
time
-
graduation
-
border
-
color
:
rgba
(
128
136
144
.
5
)
;
}
.
animation
{
-
-
timeline
-
border
-
color
:
var
(
-
-
theme
-
body
-
color
)
;
-
-
timeline
-
background
-
color
:
var
(
-
-
theme
-
splitter
-
color
)
;
}
.
animation
.
cssanimation
{
-
-
timeline
-
border
-
color
:
var
(
-
-
theme
-
highlight
-
lightorange
)
;
-
-
timeline
-
background
-
color
:
var
(
-
-
theme
-
contrast
-
background
)
;
}
.
animation
.
csstransition
{
-
-
timeline
-
border
-
color
:
var
(
-
-
theme
-
highlight
-
bluegrey
)
;
-
-
timeline
-
background
-
color
:
var
(
-
-
theme
-
highlight
-
blue
)
;
}
html
{
height
:
100
%
;
}
body
{
margin
:
0
;
padding
:
0
;
display
:
flex
;
flex
-
direction
:
column
;
height
:
100
%
;
overflow
:
hidden
;
color
:
var
(
-
-
theme
-
content
-
color3
)
;
}
#
global
-
toolbar
#
timeline
-
toolbar
{
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
display
:
flex
;
flex
-
direction
:
row
;
align
-
items
:
center
;
justify
-
content
:
flex
-
end
;
height
:
var
(
-
-
toolbar
-
height
)
;
}
#
timeline
-
toolbar
{
display
:
none
;
justify
-
content
:
flex
-
start
;
}
[
timeline
]
#
global
-
toolbar
{
display
:
none
;
}
[
timeline
]
#
timeline
-
toolbar
{
display
:
flex
;
}
#
players
{
height
:
calc
(
100
%
-
var
(
-
-
toolbar
-
height
)
)
;
overflow
:
auto
;
}
[
empty
]
#
players
{
display
:
none
;
}
#
error
-
message
{
padding
-
top
:
10
%
;
text
-
align
:
center
;
flex
:
1
;
overflow
:
auto
;
display
:
none
;
}
[
empty
]
#
error
-
message
{
display
:
block
;
}
#
global
-
toolbar
>
*
#
timeline
-
toolbar
>
*
{
min
-
height
:
var
(
-
-
toolbar
-
height
)
;
border
-
color
:
var
(
-
-
theme
-
splitter
-
color
)
;
border
-
width
:
0
0
0
1px
;
display
:
flex
;
justify
-
content
:
center
;
align
-
items
:
center
;
}
#
global
-
toolbar
.
label
#
timeline
-
toolbar
.
label
{
padding
:
0
5px
;
border
-
style
:
solid
;
}
#
timeline
-
toolbar
.
devtools
-
button
#
timeline
-
toolbar
.
label
{
border
-
width
:
0
1px
0
0
;
}
#
element
-
picker
:
:
before
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
command
-
pick
.
png
"
)
;
}
.
pause
-
button
:
:
before
{
background
-
image
:
url
(
"
images
/
debugger
-
pause
.
png
"
)
;
}
#
rewind
-
timeline
:
:
before
{
background
-
image
:
url
(
"
images
/
rewind
.
png
"
)
;
}
.
pause
-
button
.
paused
:
:
before
{
background
-
image
:
url
(
"
images
/
debugger
-
play
.
png
"
)
;
}
media
(
min
-
resolution
:
1
.
1dppx
)
{
#
element
-
picker
:
:
before
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
command
-
pick
2x
.
png
"
)
;
}
.
pause
-
button
:
:
before
{
background
-
image
:
url
(
"
images
/
debugger
-
pause
2x
.
png
"
)
;
}
.
pause
-
button
.
paused
:
:
before
{
background
-
image
:
url
(
"
images
/
debugger
-
play
2x
.
png
"
)
;
}
#
rewind
-
timeline
:
:
before
{
background
-
image
:
url
(
"
images
/
rewind
2x
.
png
"
)
;
}
}
#
timeline
-
rate
select
{
-
moz
-
appearance
:
none
;
text
-
align
:
center
;
font
-
family
:
inherit
;
color
:
var
(
-
-
theme
-
body
-
color
)
;
font
-
size
:
1em
;
position
:
absolute
;
top
:
0
;
left
:
0
;
width
:
100
%
;
height
:
100
%
;
}
#
timeline
-
rate
{
position
:
relative
;
width
:
4em
;
}
.
animation
-
timeline
{
height
:
100
%
;
overflow
:
hidden
;
position
:
relative
;
background
-
image
:
-
moz
-
element
(
#
time
-
graduations
)
;
background
-
repeat
:
repeat
-
y
;
background
-
size
:
calc
(
100
%
-
var
(
-
-
timeline
-
sidebar
-
width
)
-
var
(
-
-
keyframes
-
marker
-
size
)
)
100
%
;
background
-
position
:
var
(
-
-
timeline
-
sidebar
-
width
)
0
;
display
:
flex
;
flex
-
direction
:
column
;
}
.
animation
-
timeline
.
track
-
container
{
position
:
absolute
;
top
:
0
;
left
:
var
(
-
-
timeline
-
sidebar
-
width
)
;
right
:
var
(
-
-
keyframes
-
marker
-
size
)
;
height
:
var
(
-
-
timeline
-
animation
-
height
)
;
}
.
animation
-
timeline
.
scrubber
-
wrapper
{
z
-
index
:
1
;
pointer
-
events
:
none
;
height
:
100
%
;
}
.
animation
-
timeline
.
scrubber
{
position
:
absolute
;
height
:
100
%
;
width
:
0
;
border
-
right
:
1px
solid
red
;
box
-
sizing
:
border
-
box
;
}
.
animation
-
timeline
.
scrubber
:
:
before
{
content
:
"
"
;
position
:
absolute
;
top
:
0
;
width
:
1px
;
right
:
-
6px
;
border
-
top
:
5px
solid
red
;
border
-
left
:
5px
solid
transparent
;
border
-
right
:
5px
solid
transparent
;
}
.
animation
-
timeline
.
scrubber
.
scrubber
-
handle
{
position
:
absolute
;
height
:
100
%
;
top
:
0
;
width
:
6px
;
right
:
-
3px
;
cursor
:
col
-
resize
;
pointer
-
events
:
all
;
}
.
animation
-
timeline
.
time
-
header
{
min
-
height
:
var
(
-
-
toolbar
-
height
)
;
cursor
:
col
-
resize
;
-
moz
-
user
-
select
:
none
;
}
.
animation
-
timeline
.
time
-
header
.
time
-
tick
{
position
:
absolute
;
top
:
3px
;
}
.
animation
-
timeline
.
animations
{
width
:
100
%
;
height
:
100
%
;
overflow
-
y
:
auto
;
overflow
-
x
:
hidden
;
margin
-
top
:
var
(
-
-
timeline
-
animation
-
height
)
;
padding
:
0
;
list
-
style
-
type
:
none
;
border
-
top
:
1px
solid
var
(
-
-
time
-
graduation
-
border
-
color
)
;
}
.
animation
-
timeline
.
animation
{
margin
:
2px
0
;
height
:
var
(
-
-
timeline
-
animation
-
height
)
;
position
:
relative
;
}
.
animation
-
timeline
.
animation
:
nth
-
child
(
4n
+
1
)
{
background
-
color
:
var
(
-
-
even
-
animation
-
timeline
-
background
-
color
)
;
}
.
animation
-
timeline
.
animation
.
target
{
width
:
var
(
-
-
timeline
-
sidebar
-
width
)
;
height
:
100
%
;
overflow
:
hidden
;
display
:
flex
;
align
-
items
:
center
;
}
.
animation
-
timeline
.
animation
-
target
{
background
-
color
:
transparent
;
}
.
animation
-
timeline
.
animation
.
time
-
block
{
cursor
:
pointer
;
}
.
animation
-
timeline
.
animation
.
iterations
{
position
:
absolute
;
height
:
100
%
;
box
-
sizing
:
border
-
box
;
background
-
image
:
linear
-
gradient
(
to
right
var
(
-
-
timeline
-
border
-
color
)
0
var
(
-
-
timeline
-
border
-
color
)
1px
transparent
1px
transparent
2px
)
;
background
-
repeat
:
repeat
-
x
;
background
-
position
:
-
1px
0
;
border
:
1px
solid
var
(
-
-
timeline
-
border
-
color
)
;
border
-
width
:
1px
0
1px
1px
;
background
-
color
:
var
(
-
-
timeline
-
background
-
color
)
;
}
.
animation
-
timeline
.
animation
.
iterations
.
infinite
{
border
-
right
-
width
:
0
;
}
.
animation
-
timeline
.
animation
.
iterations
.
infinite
:
:
before
.
animation
-
timeline
.
animation
.
iterations
.
infinite
:
:
after
{
content
:
"
"
;
position
:
absolute
;
top
:
0
;
right
:
0
;
width
:
0
;
height
:
0
;
border
-
right
:
4px
solid
var
(
-
-
theme
-
body
-
background
)
;
border
-
top
:
4px
solid
transparent
;
border
-
bottom
:
4px
solid
transparent
;
}
.
animation
-
timeline
.
animation
.
iterations
.
infinite
:
:
after
{
bottom
:
0
;
top
:
unset
;
}
.
animation
-
timeline
.
animation
.
name
{
position
:
absolute
;
color
:
var
(
-
-
theme
-
selection
-
color
)
;
height
:
100
%
;
display
:
flex
;
align
-
items
:
center
;
padding
:
0
2px
;
box
-
sizing
:
border
-
box
;
-
-
fast
-
track
-
icon
-
width
:
12px
;
}
.
animation
-
timeline
.
animation
.
name
div
{
white
-
space
:
nowrap
;
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
}
.
animation
-
timeline
.
fast
-
track
.
name
div
{
width
:
calc
(
100
%
-
var
(
-
-
fast
-
track
-
icon
-
width
)
)
;
}
.
animation
-
timeline
.
fast
-
track
.
name
:
:
after
{
content
:
"
"
;
display
:
block
;
position
:
absolute
;
top
:
0
;
right
:
0
;
height
:
100
%
;
width
:
var
(
-
-
fast
-
track
-
icon
-
width
)
;
background
-
image
:
url
(
"
images
/
animation
-
fast
-
track
.
svg
"
)
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
center
;
}
.
animation
-
timeline
.
animation
.
delay
{
position
:
absolute
;
height
:
100
%
;
border
:
1px
solid
var
(
-
-
timeline
-
border
-
color
)
;
box
-
sizing
:
border
-
box
;
border
-
width
:
1px
0
1px
1px
;
background
-
image
:
repeating
-
linear
-
gradient
(
45deg
transparent
transparent
1px
var
(
-
-
theme
-
selection
-
color
)
1px
var
(
-
-
theme
-
selection
-
color
)
4px
)
;
background
-
color
:
var
(
-
-
timeline
-
border
-
color
)
;
}
.
animation
-
timeline
.
animation
.
delay
.
negative
{
border
-
width
:
1px
;
}
.
animation
-
target
{
background
-
color
:
var
(
-
-
theme
-
toolbar
-
background
)
;
padding
:
0
4px
;
box
-
sizing
:
border
-
box
;
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
white
-
space
:
nowrap
;
cursor
:
pointer
;
}
.
animation
-
target
.
attribute
-
name
{
padding
-
left
:
4px
;
}
.
animation
-
target
.
node
-
highlighter
{
background
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
vview
-
open
-
inspector
.
png
"
)
no
-
repeat
0
0
;
padding
-
left
:
16px
;
margin
-
right
:
5px
;
cursor
:
pointer
;
}
.
animation
-
target
.
node
-
highlighter
:
hover
{
filter
:
url
(
images
/
filters
.
svg
#
checked
-
icon
-
state
)
;
}
.
animation
-
target
.
node
-
highlighter
:
active
.
animation
-
target
.
node
-
highlighter
.
selected
{
filter
:
url
(
images
/
filters
.
svg
#
checked
-
icon
-
state
)
brightness
(
0
.
9
)
;
}
.
animation
-
timeline
.
animated
-
properties
:
not
(
.
selected
)
{
display
:
none
;
}
.
animation
-
timeline
.
animated
-
properties
{
background
-
color
:
var
(
-
-
theme
-
selection
-
background
-
semitransparent
)
;
}
.
animation
-
timeline
.
animated
-
properties
ul
{
margin
:
0
;
padding
:
0
;
list
-
style
-
type
:
none
;
}
.
animation
-
timeline
.
animated
-
properties
.
property
{
height
:
var
(
-
-
timeline
-
animation
-
height
)
;
position
:
relative
;
}
.
animation
-
timeline
.
animated
-
properties
.
property
:
nth
-
child
(
2n
)
{
background
-
color
:
var
(
-
-
even
-
animation
-
timeline
-
background
-
color
)
;
}
.
animation
-
timeline
.
animated
-
properties
.
name
{
width
:
var
(
-
-
timeline
-
sidebar
-
width
)
;
padding
-
right
:
var
(
-
-
keyframes
-
marker
-
size
)
;
box
-
sizing
:
border
-
box
;
height
:
100
%
;
color
:
var
(
-
-
theme
-
body
-
color
-
alt
)
;
white
-
space
:
nowrap
;
display
:
flex
;
justify
-
content
:
flex
-
end
;
align
-
items
:
center
;
}
.
animation
-
timeline
.
animated
-
properties
.
name
div
{
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
}
.
animation
-
timeline
.
animated
-
properties
.
frames
{
position
:
absolute
;
top
:
0
;
height
:
100
%
;
display
:
flex
;
align
-
items
:
center
;
}
.
keyframes
{
position
:
relative
;
width
:
100
%
;
height
:
0
;
}
.
keyframes
.
cssanimation
{
background
-
color
:
var
(
-
-
theme
-
contrast
-
background
)
;
}
.
keyframes
.
csstransition
{
background
-
color
:
var
(
-
-
theme
-
highlight
-
blue
)
;
}
.
keyframes
.
frame
{
position
:
absolute
;
top
:
0
;
width
:
0
;
height
:
0
;
background
-
color
:
inherit
;
cursor
:
pointer
;
}
.
keyframes
.
frame
:
:
before
{
content
:
"
"
;
display
:
block
;
transform
:
translateX
(
calc
(
var
(
-
-
keyframes
-
marker
-
size
)
*
-
.
5
)
)
translateY
(
calc
(
var
(
-
-
keyframes
-
marker
-
size
)
*
-
.
5
+
1px
)
)
;
width
:
var
(
-
-
keyframes
-
marker
-
size
)
;
height
:
var
(
-
-
keyframes
-
marker
-
size
)
;
border
-
radius
:
100
%
;
background
-
color
:
inherit
;
}
