:
root
{
-
-
animation
-
even
-
background
-
color
:
rgba
(
0
0
0
0
.
05
)
;
-
-
command
-
pick
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
command
-
pick
.
svg
)
;
}
:
root
.
theme
-
dark
{
-
-
animation
-
even
-
background
-
color
:
rgba
(
255
255
255
0
.
05
)
;
}
:
root
.
theme
-
firebug
{
-
-
command
-
pick
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
firebug
/
command
-
pick
.
svg
)
;
}
.
animation
-
list
{
list
-
style
-
type
:
none
;
margin
-
top
:
0
;
padding
:
0
;
}
.
animation
-
item
{
height
:
30px
;
}
.
animation
-
item
:
nth
-
child
(
2n
+
1
)
{
background
-
color
:
var
(
-
-
animation
-
even
-
background
-
color
)
;
}
.
animation
-
error
-
message
{
overflow
:
auto
;
}
.
animation
-
error
-
message
>
p
{
white
-
space
:
pre
;
}
.
animation
-
element
-
picker
:
:
before
{
background
-
image
:
var
(
-
-
command
-
pick
-
image
)
;
}
