:
root
{
-
-
diff
-
add
-
background
-
color
:
#
f1feec
;
-
-
diff
-
add
-
text
-
color
:
#
54983f
;
-
-
diff
-
remove
-
background
-
color
:
#
fbf2f5
;
-
-
diff
-
remove
-
text
-
color
:
#
bf7173
;
-
-
diff
-
source
-
background
:
var
(
-
-
theme
-
toolbar
-
background
)
;
-
-
diff
-
level
:
0
;
-
-
diff
-
level
-
offset
:
10px
;
-
-
diff
-
level
-
min
-
offset
:
5px
;
}
:
root
.
theme
-
dark
{
-
-
diff
-
add
-
background
-
color
:
rgba
(
18
188
0
0
.
15
)
;
-
-
diff
-
add
-
text
-
color
:
#
12BC00
;
-
-
diff
-
remove
-
background
-
color
:
rgba
(
255
0
57
0
.
15
)
;
-
-
diff
-
remove
-
text
-
color
:
#
FF0039
;
-
-
diff
-
source
-
background
:
#
222225
;
}
:
root
[
dir
=
"
rtl
"
]
{
-
-
diff
-
level
-
min
-
offset
:
15px
;
}
:
root
[
dir
=
"
rtl
"
]
#
sidebar
-
panel
-
changes
.
source
{
direction
:
ltr
;
}
#
sidebar
-
panel
-
changes
{
margin
:
0
;
padding
:
0
;
width
:
100
%
;
height
:
100
%
;
overflow
:
auto
;
background
:
var
(
-
-
theme
-
sidebar
-
background
)
;
}
#
sidebar
-
panel
-
changes
.
href
{
display
:
flex
;
align
-
items
:
center
;
color
:
var
(
-
-
theme
-
toolbar
-
color
)
;
background
:
var
(
-
-
diff
-
source
-
background
)
;
border
-
top
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
padding
:
4px
;
padding
-
inline
-
start
:
var
(
-
-
diff
-
level
-
min
-
offset
)
;
font
-
size
:
12px
;
}
#
sidebar
-
panel
-
changes
.
source
:
first
-
child
.
href
{
border
-
top
:
unset
;
}
#
sidebar
-
panel
-
changes
.
href
span
{
min
-
width
:
0
;
white
-
space
:
nowrap
;
text
-
overflow
:
ellipsis
;
overflow
:
hidden
;
}
#
sidebar
-
panel
-
changes
.
level
{
padding
-
top
:
3px
;
padding
-
right
:
5px
;
padding
-
bottom
:
3px
;
padding
-
left
:
calc
(
var
(
-
-
diff
-
level
-
min
-
offset
)
+
var
(
-
-
diff
-
level
-
offset
)
*
var
(
-
-
diff
-
level
)
)
;
}
#
sidebar
-
panel
-
changes
.
selector
{
word
-
wrap
:
break
-
word
;
}
#
sidebar
-
panel
-
changes
.
declaration
-
name
{
margin
-
left
:
10px
;
}
.
diff
-
add
.
diff
-
remove
{
-
-
diff
-
level
-
min
-
offset
:
15px
;
position
:
relative
;
}
.
diff
-
marker
{
position
:
absolute
;
left
:
5px
;
}
.
diff
-
add
{
background
-
color
:
var
(
-
-
diff
-
add
-
background
-
color
)
;
}
.
diff
-
add
.
diff
-
marker
{
color
:
var
(
-
-
diff
-
add
-
text
-
color
)
;
}
.
diff
-
remove
{
background
-
color
:
var
(
-
-
diff
-
remove
-
background
-
color
)
;
}
.
diff
-
remove
.
diff
-
marker
{
color
:
var
(
-
-
diff
-
remove
-
text
-
color
)
;
}
#
sidebar
-
panel
-
changes
.
devtools
-
sidepanel
-
no
-
result
:
not
(
:
first
-
child
)
{
font
-
style
:
normal
;
}
