.
frame
-
link
{
margin
-
left
:
7px
;
}
.
focused
.
frame
-
link
-
filename
.
focused
.
frame
-
link
-
column
.
focused
.
frame
-
link
-
line
.
focused
.
frame
-
link
-
host
.
focused
.
frame
-
link
-
colon
{
color
:
var
(
-
-
theme
-
selection
-
color
)
;
}
.
frame
-
link
.
frame
-
link
-
filename
{
color
:
var
(
-
-
theme
-
highlight
-
blue
)
;
cursor
:
pointer
;
}
.
frame
-
link
.
frame
-
link
-
filename
:
hover
{
text
-
decoration
:
underline
;
}
.
frame
-
link
.
frame
-
link
-
host
{
margin
-
inline
-
start
:
5px
;
font
-
size
:
90
%
;
color
:
var
(
-
-
theme
-
content
-
color2
)
;
}
.
frame
-
link
.
frame
-
link
-
function
-
display
-
name
{
margin
-
inline
-
end
:
5px
;
}
.
frame
-
link
.
frame
-
link
-
column
.
frame
-
link
.
frame
-
link
-
line
.
frame
-
link
.
frame
-
link
-
colon
{
color
:
var
(
-
-
theme
-
highlight
-
orange
)
;
}
