.
h
-
split
-
box
.
h
-
split
-
box
-
pane
{
overflow
:
auto
;
margin
:
0
;
padding
:
0
;
width
:
100
%
;
height
:
100
%
;
}
.
h
-
split
-
box
{
display
:
flex
;
flex
-
direction
:
row
;
flex
:
1
;
}
.
h
-
split
-
box
-
splitter
{
-
moz
-
border
-
end
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
cursor
:
ew
-
resize
;
width
:
3px
;
-
moz
-
margin
-
start
:
-
3px
;
}
