#
sidebar
-
panel
-
computedview
{
margin
:
0
;
display
:
flex
;
flex
-
direction
:
column
;
width
:
100
%
;
height
:
100
%
;
}
#
sidebar
-
panel
-
computedview
.
theme
-
twisty
:
not
(
.
open
)
:
dir
(
rtl
)
#
sidebar
-
panel
-
computedview
.
theme
-
twisty
:
not
(
[
open
]
)
:
-
moz
-
locale
-
dir
(
rtl
)
{
transform
:
rotate
(
-
90deg
)
;
}
#
computedview
-
panel
.
inspector
-
tabpanel
{
min
-
width
:
0
;
}
#
computedview
-
panel
#
browser
-
style
-
checkbox
-
label
{
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
}
#
computed
-
container
{
overflow
:
auto
;
height
:
100
%
;
}
#
computed
-
container
-
focusable
{
height
:
100
%
;
outline
:
none
;
}
#
computed
-
toolbar
{
display
:
flex
;
align
-
items
:
center
;
user
-
select
:
none
;
}
#
browser
-
style
-
checkbox
{
margin
-
inline
-
start
:
5px
;
margin
-
inline
-
end
:
0
;
}
#
browser
-
style
-
checkbox
-
label
{
white
-
space
:
nowrap
;
padding
-
inline
-
start
:
5px
;
margin
-
inline
-
end
:
5px
;
}
#
computed
-
property
-
container
{
user
-
select
:
text
;
overflow
-
y
:
auto
;
overflow
-
x
:
hidden
;
flex
:
auto
;
border
-
top
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
margin
-
top
:
-
1px
;
}
.
row
-
striped
{
background
:
var
(
-
-
theme
-
body
-
background
)
;
}
.
computed
-
property
-
hidden
{
display
:
none
;
}
.
computed
-
property
-
view
{
padding
:
2px
0px
;
padding
-
inline
-
start
:
5px
;
display
:
flex
;
flex
-
wrap
:
wrap
;
}
.
computed
-
property
-
name
-
container
{
width
:
230px
;
}
.
computed
-
property
-
value
-
container
{
display
:
flex
;
flex
:
1
1
168px
;
overflow
:
hidden
;
}
.
computed
-
property
-
name
-
container
>
*
.
computed
-
property
-
value
-
container
>
*
{
display
:
inline
-
block
;
vertical
-
align
:
middle
;
}
.
computed
-
property
-
name
{
outline
:
0
!
important
;
}
.
computed
-
other
-
property
-
value
:
:
before
{
content
:
"
"
;
display
:
inline
-
block
;
vertical
-
align
:
-
0
.
5px
;
width
:
8px
;
height
:
8px
;
margin
:
0
1px
;
background
-
image
:
url
(
images
/
arrow
-
e
.
svg
)
;
background
-
repeat
:
no
-
repeat
;
background
-
size
:
contain
;
-
moz
-
context
-
properties
:
fill
;
fill
:
var
(
-
-
theme
-
text
-
color
-
inactive
)
;
}
.
computed
-
other
-
property
-
value
:
dir
(
rtl
)
:
:
before
{
transform
:
scaleX
(
-
1
)
;
}
.
computed
-
property
-
value
{
padding
-
inline
-
start
:
14px
;
outline
:
0
!
important
;
}
.
computed
-
property
-
content
{
padding
-
inline
-
start
:
17px
;
}
.
fix
-
get
-
selection
{
display
:
inline
;
}
.
visually
-
hidden
{
opacity
:
0
;
}
.
computed
-
expander
{
visibility
:
hidden
;
}
.
computed
-
expandable
{
visibility
:
visible
;
}
.
match
{
visibility
:
hidden
;
}
.
matchedselectors
>
p
{
clear
:
both
;
margin
:
0
;
margin
-
inline
-
end
:
2px
;
padding
:
2px
;
overflow
-
x
:
hidden
;
border
-
style
:
dotted
;
border
-
color
:
rgba
(
128
128
128
0
.
4
)
;
border
-
width
:
1px
1px
0
1px
;
}
.
matchedselectors
>
p
:
last
-
of
-
type
{
border
-
bottom
-
width
:
1px
;
}
.
matched
{
text
-
decoration
:
line
-
through
;
}
.
parentmatch
{
opacity
:
0
.
5
;
}
#
computed
-
no
-
results
{
height
:
100
%
;
}
.
onlyuserstyles
{
cursor
:
pointer
;
}
.
legendKey
{
margin
:
0
5px
;
}
.
computed
-
link
{
padding
:
0
3px
;
cursor
:
pointer
;
float
:
inline
-
end
;
}
.
computed
-
link
.
computed
-
link
:
visited
{
text
-
decoration
:
none
;
}
.
computed
-
link
:
hover
{
text
-
decoration
:
underline
;
}
.
computed
-
colorswatch
{
border
-
radius
:
50
%
;
width
:
0
.
9em
;
height
:
0
.
9em
;
vertical
-
align
:
middle
;
margin
-
inline
-
end
:
5px
;
display
:
inline
-
block
;
position
:
relative
;
}
.
computed
-
colorswatch
:
:
before
{
content
:
'
'
;
background
-
color
:
#
eee
;
background
-
image
:
linear
-
gradient
(
45deg
#
ccc
25
%
transparent
25
%
transparent
75
%
#
ccc
75
%
#
ccc
)
linear
-
gradient
(
45deg
#
ccc
25
%
transparent
25
%
transparent
75
%
#
ccc
75
%
#
ccc
)
;
background
-
size
:
12px
12px
;
background
-
position
:
0
0
6px
6px
;
position
:
absolute
;
border
-
radius
:
50
%
;
top
:
0
;
left
:
0
;
right
:
0
;
bottom
:
0
;
z
-
index
:
-
1
;
}
