import
url
(
"
resource
:
/
/
devtools
/
client
/
themes
/
splitters
.
css
"
)
;
import
url
(
"
resource
:
/
/
devtools
/
client
/
responsive
/
responsive
-
browser
.
css
"
)
;
.
devtools
-
toolbox
-
bottom
-
iframe
{
min
-
height
:
29px
;
}
