import
url
(
"
resource
:
/
/
devtools
/
client
/
themes
/
splitters
.
css
"
)
;
.
devtools
-
toolbox
-
side
-
iframe
{
min
-
width
:
74px
;
}
.
devtools
-
eyedropper
-
panel
{
pointer
-
events
:
none
;
-
moz
-
appearance
:
none
;
width
:
156px
;
height
:
120px
;
background
-
color
:
transparent
;
border
:
none
;
}
