import
url
(
"
chrome
:
/
/
devtools
/
skin
/
splitters
.
css
"
)
;
import
url
(
"
chrome
:
/
/
devtools
/
content
/
responsive
/
responsive
-
browser
.
css
"
)
;
.
devtools
-
toolbox
-
bottom
-
iframe
{
min
-
height
:
29px
;
}
