:
root
{
-
-
eyedropper
-
image
:
url
(
images
/
command
-
eyedropper
.
svg
)
;
}
.
theme
-
firebug
{
-
-
eyedropper
-
image
:
url
(
images
/
firebug
/
command
-
eyedropper
.
svg
)
;
}
#
inspector
-
toolbar
.
devtools
-
toolbar
{
display
:
flex
;
}
#
inspector
-
toolbar
.
devtools
-
toolbar
.
devtools
-
toolbar
-
spacer
{
flex
-
grow
:
1
;
display
:
inline
-
block
;
}
#
inspector
-
element
-
add
-
button
:
:
before
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
add
.
svg
"
)
;
list
-
style
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
add
.
svg
"
)
;
-
moz
-
user
-
focus
:
normal
;
}
#
inspector
-
searchlabel
{
overflow
:
hidden
;
margin
-
inline
-
end
:
2px
;
}
#
inspector
-
search
{
flex
:
unset
;
}
#
inspector
-
searchbox
{
width
:
100
%
;
}
.
theme
-
dark
#
inspector
-
searchbox
.
theme
-
light
#
inspector
-
searchbox
{
line
-
height
:
19px
;
}
.
theme
-
firebug
#
inspector
-
searchbox
{
line
-
height
:
17px
;
}
#
inspector
-
eyedropper
-
toggle
{
display
:
none
;
}
#
inspector
-
eyedropper
-
toggle
:
:
before
{
background
-
image
:
var
(
-
-
eyedropper
-
image
)
;
}
#
inspector
-
sidebar
-
toggle
-
box
{
line
-
height
:
initial
;
}
#
inspector
-
breadcrumbs
-
toolbar
{
padding
:
0px
;
border
-
bottom
-
width
:
0px
;
border
-
top
-
width
:
1px
;
display
:
block
;
position
:
relative
;
}
#
inspector
-
breadcrumbs
-
toolbar
#
inspector
-
breadcrumbs
-
toolbar
*
{
box
-
sizing
:
border
-
box
;
}
#
inspector
-
breadcrumbs
{
display
:
flex
;
position
:
absolute
;
top
:
0
;
left
:
0
;
bottom
:
0
;
right
:
0
;
}
#
inspector
-
breadcrumbs
.
scrollbutton
-
up
#
inspector
-
breadcrumbs
.
scrollbutton
-
down
{
flex
:
0
;
display
:
flex
;
align
-
items
:
center
;
}
#
inspector
-
breadcrumbs
.
html
-
arrowscrollbox
-
inner
{
flex
:
1
;
display
:
flex
;
overflow
:
hidden
;
}
#
inspector
-
breadcrumbs
.
breadcrumbs
-
widget
-
item
{
white
-
space
:
nowrap
;
flex
-
shrink
:
0
;
font
:
message
-
box
;
}
#
inspector
-
sidebar
-
container
{
overflow
:
hidden
;
min
-
width
:
450px
;
position
:
relative
;
}
#
inspector
-
sidebar
{
position
:
absolute
;
top
:
0
;
bottom
:
0
;
left
:
0
;
right
:
0
;
}
.
inspector
-
tabpanel
>
*
{
-
moz
-
user
-
focus
:
normal
;
}
#
ruleview
-
no
-
results
#
computedview
-
no
-
results
{
color
:
var
(
-
-
theme
-
body
-
color
-
inactive
)
;
text
-
align
:
center
;
margin
:
5px
;
}
