#
jit
-
optimizations
-
view
{
width
:
350px
;
min
-
width
:
200px
;
white
-
space
:
nowrap
;
-
-
jit
-
tree
-
row
-
height
:
14
;
-
-
jit
-
tree
-
header
-
height
:
16
;
}
#
jit
-
optimizations
-
view
div
{
display
:
block
;
}
#
jit
-
optimizations
-
view
span
{
display
:
inline
-
block
;
}
#
jit
-
optimizations
-
view
>
div
{
display
:
-
moz
-
box
;
-
moz
-
box
-
flex
:
1
;
-
moz
-
box
-
orient
:
vertical
;
}
#
jit
-
optimizations
-
view
.
optimization
-
header
#
jit
-
optimizations
-
view
.
tree
*
{
display
:
flex
;
}
#
jit
-
optimizations
-
view
.
optimization
-
header
{
height
:
var
(
-
-
jit
-
tree
-
header
-
height
)
;
padding
:
2px
5px
;
background
-
color
:
var
(
-
-
theme
-
tab
-
toolbar
-
background
)
;
}
#
jit
-
optimizations
-
view
.
header
-
title
{
font
-
weight
:
bold
;
padding
-
inline
-
end
:
7px
;
}
#
jit
-
optimizations
-
view
.
tree
{
display
:
-
moz
-
box
;
-
moz
-
box
-
flex
:
1
;
-
moz
-
box
-
orient
:
vertical
;
overflow
:
auto
;
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
}
#
jit
-
optimizations
-
view
.
tree
-
node
{
height
:
var
(
-
-
jit
-
tree
-
row
-
height
)
;
}
#
jit
-
optimizations
-
view
.
tree
-
node
button
{
display
:
none
;
}
#
jit
-
optimizations
-
view
.
optimization
-
outcome
.
success
{
color
:
var
(
-
-
theme
-
highlight
-
green
)
;
}
#
jit
-
optimizations
-
view
.
optimization
-
outcome
.
failure
{
color
:
var
(
-
-
theme
-
highlight
-
red
)
;
}
.
theme
-
dark
.
opt
-
icon
:
:
before
{
background
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
webconsole
.
svg
)
;
}
.
theme
-
light
.
opt
-
icon
:
:
before
{
background
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
webconsole
.
svg
#
light
-
icons
)
;
}
.
opt
-
icon
:
:
before
{
display
:
inline
-
block
;
content
:
"
"
;
background
-
repeat
:
no
-
repeat
;
background
-
size
:
72px
60px
;
background
-
position
:
-
36px
-
36px
;
width
:
10px
;
height
:
10px
;
max
-
height
:
12px
;
}
.
opt
-
icon
:
:
before
{
margin
:
1px
6px
0
0
;
}
.
opt
-
icon
.
warning
:
:
before
{
background
-
position
:
-
24px
-
24px
;
}
.
frame
-
link
{
margin
-
inline
-
start
:
7px
;
}
