#
layout
-
container
{
height
:
100
%
;
width
:
100
%
;
overflow
:
auto
;
}
.
grid
-
container
{
display
:
flex
;
flex
-
direction
:
column
;
flex
:
1
;
align
-
items
:
center
;
}
.
grid
-
container
>
span
{
font
-
weight
:
bold
;
margin
-
bottom
:
3px
;
}
.
grid
-
container
>
ul
{
list
-
style
:
none
;
margin
:
0
;
padding
:
0
;
}
.
grid
-
container
li
{
padding
:
4px
0
;
}
#
layout
-
grid
-
container
{
display
:
flex
;
flex
-
direction
:
column
;
margin
:
5px
;
}
.
grid
-
content
{
display
:
flex
;
flex
:
1
;
}
#
grid
-
outline
{
margin
:
5px
auto
;
}
.
grid
-
outline
-
border
{
stroke
-
width
:
0
.
75
;
fill
:
none
;
}
.
grid
-
outline
-
cell
{
fill
:
none
;
pointer
-
events
:
all
;
stroke
-
dasharray
:
0
.
5
2
;
}
.
layout
-
no
-
grids
{
font
-
style
:
italic
;
text
-
align
:
center
;
padding
:
0
.
5em
;
}
.
grid
-
item
{
display
:
flex
;
align
-
items
:
center
;
}
.
grid
-
item
input
{
margin
:
0
5px
;
}
.
grid
-
color
-
swatch
{
width
:
12px
;
height
:
12px
;
margin
-
left
:
5px
;
border
:
1px
solid
var
(
-
-
theme
-
highlight
-
gray
)
;
border
-
radius
:
50
%
;
cursor
:
pointer
;
}
.
grid
-
color
-
value
{
display
:
none
;
}
