#
layout
-
container
{
height
:
100
%
;
width
:
100
%
;
overflow
:
auto
;
}
#
layout
-
grid
-
container
{
margin
:
5px
;
}
.
layout
-
grid
-
list
-
container
{
display
:
flex
;
flex
-
direction
:
column
;
align
-
items
:
center
;
}
.
layout
-
grid
-
list
-
container
>
span
{
font
-
weight
:
bold
;
margin
-
bottom
:
3px
;
}
#
layout
-
grid
-
list
{
list
-
style
:
none
;
margin
:
0
;
padding
:
0
;
}
#
layout
-
grid
-
list
li
{
padding
:
4px
0
;
}
.
layout
-
no
-
grids
{
font
-
style
:
italic
;
text
-
align
:
center
;
padding
:
0
.
5em
;
}
