:
root
{
-
-
markup
-
outline
:
var
(
-
-
theme
-
splitter
-
color
)
;
-
-
hover
-
pseudo
-
background
:
var
(
-
-
theme
-
highlight
-
green
)
;
-
-
active
-
pseudo
-
background
:
var
(
-
-
theme
-
highlight
-
red
)
;
-
-
focus
-
pseudo
-
background
:
var
(
-
-
theme
-
highlight
-
blue
)
;
}
.
theme
-
dark
:
root
{
-
-
markup
-
outline
:
var
(
-
-
theme
-
highlight
-
pink
)
;
}
*
{
padding
:
0
;
margin
:
0
;
}
:
root
{
-
moz
-
control
-
character
-
visibility
:
visible
;
}
body
{
-
moz
-
user
-
select
:
none
;
}
#
root
{
float
:
left
;
min
-
width
:
100
%
;
}
#
root
>
ul
>
li
>
.
children
{
background
:
none
;
}
html
.
dragging
{
overflow
-
x
:
hidden
;
}
body
.
dragging
.
tag
-
line
{
cursor
:
grabbing
;
}
#
root
-
wrapper
:
after
{
content
:
"
"
;
display
:
block
;
clear
:
both
;
position
:
relative
;
}
.
html
-
editor
{
display
:
none
;
position
:
absolute
;
z
-
index
:
2
;
margin
-
left
:
-
1000em
;
padding
-
left
:
1000em
;
}
.
html
-
editor
-
inner
{
border
:
solid
.
1px
;
flex
:
1
1
auto
;
margin
-
inline
-
end
:
12px
;
}
.
html
-
editor
iframe
{
height
:
100
%
;
width
:
100
%
;
border
:
none
;
margin
:
0
;
padding
:
0
;
}
.
children
{
list
-
style
:
none
;
padding
:
0
;
margin
:
0
;
}
.
child
{
margin
-
left
:
-
1000em
;
padding
-
left
:
1001em
;
}
.
child
.
dragging
{
position
:
relative
;
pointer
-
events
:
none
;
opacity
:
0
.
7
;
z
-
index
:
1
;
height
:
0
;
}
.
tag
-
line
.
drop
-
target
:
:
before
.
tag
-
line
.
drag
-
target
:
:
before
{
content
:
'
'
;
position
:
absolute
;
top
:
0
;
width
:
100
%
;
padding
-
left
:
1000px
;
left
:
-
1000px
;
}
.
tag
-
line
.
drag
-
target
:
:
before
{
border
-
top
:
2px
solid
var
(
-
-
theme
-
content
-
color2
)
;
}
.
tag
-
line
.
drop
-
target
:
:
before
{
border
-
top
:
2px
solid
var
(
-
-
theme
-
contrast
-
background
)
;
}
ul
.
children
+
.
tag
-
line
:
:
before
{
margin
-
left
:
14px
;
}
.
tag
-
line
{
min
-
height
:
1
.
4em
;
line
-
height
:
1
.
4em
;
position
:
relative
;
cursor
:
default
;
padding
-
left
:
2px
;
}
.
tag
-
line
[
selected
]
+
.
children
{
background
-
image
:
linear
-
gradient
(
to
top
var
(
-
-
markup
-
outline
)
var
(
-
-
markup
-
outline
)
)
;
background
-
repeat
:
no
-
repeat
;
background
-
size
:
1
.
5px
calc
(
100
%
-
4px
)
;
background
-
position
:
-
6px
2px
;
border
-
left
:
6px
solid
transparent
;
margin
-
left
:
-
6px
;
}
.
html
-
editor
-
container
{
position
:
relative
;
min
-
height
:
200px
;
}
.
tag
-
line
.
tag
-
state
{
position
:
absolute
;
left
:
-
1000em
;
right
:
0
;
height
:
100
%
;
z
-
index
:
0
;
}
.
expander
{
display
:
inline
-
block
;
margin
-
left
:
-
14px
;
vertical
-
align
:
middle
;
position
:
relative
;
z
-
index
:
1
;
}
.
child
.
collapsed
.
child
.
child
.
collapsed
.
children
{
display
:
none
;
}
.
child
>
.
tag
-
line
:
first
-
child
.
close
{
display
:
none
;
}
.
child
.
collapsed
>
.
tag
-
line
:
first
-
child
.
close
{
display
:
inline
;
}
.
child
.
collapsed
>
.
tag
-
line
~
.
tag
-
line
{
display
:
none
;
}
.
child
.
collapsed
.
close
{
display
:
inline
;
}
.
child
.
collapsed
>
.
tag
-
line
.
void
-
element
.
close
{
display
:
none
;
}
.
closing
-
bracket
{
pointer
-
events
:
none
;
}
.
newattr
{
display
:
inline
-
block
;
width
:
1em
;
height
:
1ex
;
margin
-
right
:
-
1em
;
padding
:
1px
0
;
}
.
attr
-
value
.
link
{
text
-
decoration
:
underline
;
}
.
newattr
:
focus
{
margin
-
right
:
0
;
}
.
flash
-
out
{
transition
:
background
.
5s
;
}
.
markupview
-
events
{
display
:
none
;
cursor
:
pointer
;
}
.
editor
{
position
:
relative
;
z
-
index
:
1
;
}
.
editor
.
text
{
display
:
inline
-
block
;
}
.
editor
.
text
pre
.
editor
.
comment
pre
{
font
:
inherit
;
}
.
more
-
nodes
{
padding
-
left
:
16px
;
}
.
styleinspector
-
propertyeditor
{
border
:
1px
solid
#
CCC
;
}
.
child
:
not
(
[
pseudoclass
-
count
]
)
>
.
pseudoclass
-
locked
-
container
{
display
:
none
;
}
.
child
[
pseudoclass
-
count
]
>
.
pseudoclass
-
locked
-
container
{
border
-
radius
:
50
%
;
width
:
.
8em
;
height
:
.
8em
;
margin
-
top
:
.
2em
;
left
:
0
;
overflow
:
hidden
;
position
:
absolute
;
z
-
index
:
1
;
}
.
child
[
pseudoclass
-
count
=
"
1
"
]
.
pseudoclass
-
hover
>
.
pseudoclass
-
locked
-
container
{
background
:
var
(
-
-
hover
-
pseudo
-
background
)
;
}
.
child
[
pseudoclass
-
count
=
"
1
"
]
.
pseudoclass
-
active
>
.
pseudoclass
-
locked
-
container
{
background
:
var
(
-
-
active
-
pseudo
-
background
)
;
}
.
child
[
pseudoclass
-
count
=
"
1
"
]
.
pseudoclass
-
focus
>
.
pseudoclass
-
locked
-
container
{
background
:
var
(
-
-
focus
-
pseudo
-
background
)
;
}
.
child
[
pseudoclass
-
count
=
"
2
"
]
>
.
pseudoclass
-
locked
-
container
:
:
before
.
child
[
pseudoclass
-
count
=
"
2
"
]
>
.
pseudoclass
-
locked
-
container
:
:
after
{
content
:
"
"
;
position
:
absolute
;
width
:
100
%
;
height
:
100
%
;
background
:
var
(
-
-
active
-
pseudo
-
background
)
;
}
.
child
[
pseudoclass
-
count
=
"
2
"
]
>
.
pseudoclass
-
locked
-
container
:
:
after
{
transform
:
rotate
(
45deg
)
translate
(
50
%
)
;
}
.
child
[
pseudoclass
-
count
=
"
2
"
]
.
pseudoclass
-
hover
>
.
pseudoclass
-
locked
-
container
:
:
before
{
background
:
var
(
-
-
hover
-
pseudo
-
background
)
;
}
.
child
[
pseudoclass
-
count
=
"
2
"
]
.
pseudoclass
-
focus
>
.
pseudoclass
-
locked
-
container
:
:
after
{
background
:
var
(
-
-
focus
-
pseudo
-
background
)
;
}
.
child
[
pseudoclass
-
count
=
"
3
"
]
>
.
pseudoclass
-
locked
-
container
{
background
:
var
(
-
-
hover
-
pseudo
-
background
)
;
}
.
child
[
pseudoclass
-
count
=
"
3
"
]
>
.
pseudoclass
-
locked
-
container
:
:
before
.
child
[
pseudoclass
-
count
=
"
3
"
]
>
.
pseudoclass
-
locked
-
container
:
:
after
{
content
:
"
"
;
display
:
block
;
width
:
0
.
53333em
;
height
:
0
.
47059em
;
}
.
child
[
pseudoclass
-
count
=
"
3
"
]
>
.
pseudoclass
-
locked
-
container
:
:
before
{
transform
:
rotate
(
90deg
)
skew
(
30deg
)
;
margin
-
left
:
-
0
.
10429em
;
margin
-
top
:
0
.
05em
;
background
:
var
(
-
-
active
-
pseudo
-
background
)
;
}
.
child
[
pseudoclass
-
count
=
"
3
"
]
>
.
pseudoclass
-
locked
-
container
:
:
after
{
transform
:
rotate
(
30deg
)
skew
(
30deg
)
;
margin
-
left
:
0
.
35783em
;
margin
-
top
:
-
0
.
47em
;
background
:
var
(
-
-
focus
-
pseudo
-
background
)
;
}
.
theme
-
firebug
.
theme
-
fg
-
color3
{
color
:
var
(
-
-
theme
-
graphs
-
full
-
blue
)
;
}
.
theme
-
firebug
.
open
.
theme
-
firebug
.
close
.
theme
-
firebug
.
attr
-
name
.
theme
-
fg
-
color2
{
color
:
var
(
-
-
theme
-
highlight
-
purple
)
;
}
.
theme
-
firebug
.
attr
-
value
.
theme
-
fg
-
color6
{
color
:
var
(
-
-
theme
-
highlight
-
red
)
;
}
.
theme
-
firebug
.
markupview
-
events
{
font
-
size
:
var
(
-
-
theme
-
toolbar
-
font
-
size
)
;
}
.
theme
-
selected
~
.
editor
.
theme
-
selected
~
.
editor
.
theme
-
fg
-
color1
.
theme
-
selected
~
.
editor
.
theme
-
fg
-
color2
.
theme
-
selected
~
.
editor
.
theme
-
fg
-
color3
.
theme
-
selected
~
.
editor
.
theme
-
fg
-
color4
.
theme
-
selected
~
.
editor
.
theme
-
fg
-
color5
.
theme
-
selected
~
.
editor
.
theme
-
fg
-
color6
.
theme
-
selected
~
.
editor
.
theme
-
fg
-
color7
{
color
:
var
(
-
-
theme
-
selection
-
color
)
;
}
.
theme
-
firebug
.
theme
-
selected
~
.
editor
.
open
.
theme
-
firebug
.
theme
-
selected
~
.
editor
.
close
{
color
:
var
(
-
-
theme
-
selection
-
color
)
;
}
.
not
-
displayed
.
open
.
not
-
displayed
.
close
{
opacity
:
.
7
;
}
.
markupview
-
events
{
font
-
size
:
8px
;
font
-
weight
:
bold
;
line
-
height
:
10px
;
border
-
radius
:
3px
;
padding
:
0px
2px
;
margin
-
inline
-
start
:
5px
;
-
moz
-
user
-
select
:
none
;
}
.
markupview
-
events
{
background
-
color
:
var
(
-
-
theme
-
body
-
color
-
alt
)
;
color
:
var
(
-
-
theme
-
body
-
background
)
;
}
