:
root
{
-
-
markup
-
badge
-
active
-
background
-
color
:
var
(
-
-
blue
-
50
)
;
-
-
markup
-
badge
-
background
-
color
:
var
(
-
-
grey
-
20
)
;
-
-
markup
-
badge
-
border
-
color
:
#
CACAD1
;
-
-
markup
-
badge
-
color
:
var
(
-
-
grey
-
90
)
;
-
-
markup
-
badge
-
hover
-
background
-
color
:
#
DFDFE8
;
-
-
markup
-
hidden
-
attr
-
name
-
color
:
#
BA89B8
;
-
-
markup
-
hidden
-
attr
-
value
-
color
:
#
5C6D87
;
-
-
markup
-
hidden
-
punctuation
-
color
:
#
909090
;
-
-
markup
-
hidden
-
tag
-
color
:
#
97A4B3
;
-
-
markup
-
outline
:
var
(
-
-
theme
-
splitter
-
color
)
;
}
.
theme
-
dark
:
root
{
-
-
markup
-
badge
-
active
-
background
-
color
:
var
(
-
-
blue
-
60
)
;
-
-
markup
-
badge
-
background
-
color
:
var
(
-
-
grey
-
70
)
;
-
-
markup
-
badge
-
border
-
color
:
var
(
-
-
grey
-
50
)
;
-
-
markup
-
badge
-
color
:
var
(
-
-
grey
-
30
)
;
-
-
markup
-
badge
-
hover
-
background
-
color
:
var
(
-
-
grey
-
80
)
;
-
-
markup
-
hidden
-
attr
-
name
-
color
:
#
B07EB3
;
-
-
markup
-
hidden
-
attr
-
value
-
color
:
#
9893A3
;
-
-
markup
-
hidden
-
punctuation
-
color
:
#
909090
;
-
-
markup
-
hidden
-
tag
-
color
:
#
AFB5BF
;
-
-
markup
-
outline
:
var
(
-
-
theme
-
selection
-
background
)
;
}
*
{
padding
:
0
;
margin
:
0
;
}
:
root
{
-
moz
-
control
-
character
-
visibility
:
visible
;
}
body
{
-
moz
-
user
-
select
:
none
;
}
#
root
{
float
:
left
;
min
-
width
:
100
%
;
}
#
root
>
ul
>
li
>
.
children
{
background
:
none
;
}
html
.
dragging
{
overflow
-
x
:
hidden
;
}
body
.
dragging
.
tag
-
line
{
cursor
:
grabbing
;
}
#
root
-
wrapper
:
after
{
content
:
"
"
;
display
:
block
;
clear
:
both
;
position
:
relative
;
}
.
html
-
editor
{
display
:
none
;
position
:
absolute
;
z
-
index
:
2
;
margin
-
left
:
-
1000em
;
padding
-
left
:
1000em
;
}
.
html
-
editor
-
inner
{
border
:
solid
.
1px
;
flex
:
1
1
auto
;
margin
-
inline
-
end
:
12px
;
}
.
html
-
editor
iframe
{
height
:
100
%
;
width
:
100
%
;
border
:
none
;
margin
:
0
;
padding
:
0
;
}
.
children
{
list
-
style
:
none
;
padding
:
0
;
margin
:
0
;
}
.
child
{
margin
-
left
:
-
1000em
;
padding
-
left
:
1001em
;
}
.
child
.
dragging
{
position
:
relative
;
pointer
-
events
:
none
;
opacity
:
0
.
7
;
z
-
index
:
1
;
height
:
0
;
}
.
tag
-
line
.
drop
-
target
:
:
before
.
tag
-
line
.
drag
-
target
:
:
before
{
content
:
'
'
;
position
:
absolute
;
top
:
0
;
width
:
100
%
;
padding
-
left
:
1000px
;
left
:
-
1000px
;
}
.
tag
-
line
.
drag
-
target
:
:
before
{
border
-
top
:
2px
solid
var
(
-
-
theme
-
content
-
color2
)
;
}
.
tag
-
line
.
drop
-
target
:
:
before
{
border
-
top
:
2px
solid
var
(
-
-
theme
-
contrast
-
background
)
;
}
ul
.
children
+
.
tag
-
line
:
:
before
{
margin
-
left
:
14px
;
}
.
tag
-
line
{
min
-
height
:
1
.
4em
;
line
-
height
:
1
.
4em
;
position
:
relative
;
cursor
:
default
;
padding
-
left
:
2px
;
}
.
tag
-
line
[
selected
]
+
.
children
.
tag
-
line
[
selected
]
~
.
tag
-
line
{
background
-
image
:
linear
-
gradient
(
to
top
var
(
-
-
markup
-
outline
)
var
(
-
-
markup
-
outline
)
)
;
background
-
position
-
x
:
-
6px
;
background
-
repeat
:
no
-
repeat
;
background
-
size
:
1
.
5px
100
%
;
border
-
left
:
6px
solid
transparent
;
margin
-
left
:
-
6px
;
}
.
tag
-
line
[
selected
]
+
.
children
{
background
-
position
-
y
:
2px
;
}
.
tag
-
line
[
selected
]
~
.
tag
-
line
{
background
-
position
-
y
:
-
2px
;
transition
-
property
:
none
;
}
.
html
-
editor
-
container
{
position
:
relative
;
min
-
height
:
200px
;
}
.
tag
-
line
.
tag
-
state
{
position
:
absolute
;
left
:
-
1000em
;
right
:
0
;
height
:
100
%
;
z
-
index
:
0
;
}
.
tag
-
line
.
tag
-
hover
:
not
(
.
theme
-
selected
)
{
background
:
var
(
-
-
theme
-
selection
-
background
-
hover
)
;
z
-
index
:
-
1
;
}
.
expander
{
display
:
inline
-
block
;
margin
-
left
:
-
14px
;
vertical
-
align
:
middle
;
position
:
relative
;
z
-
index
:
1
;
}
.
child
.
collapsed
.
child
.
child
.
collapsed
.
children
{
display
:
none
;
}
.
child
>
.
tag
-
line
:
first
-
child
.
close
{
display
:
none
;
}
.
child
.
collapsed
>
.
tag
-
line
:
first
-
child
.
close
{
display
:
inline
;
}
.
child
.
collapsed
>
.
tag
-
line
~
.
tag
-
line
{
display
:
none
;
}
.
child
.
collapsed
.
close
{
display
:
inline
;
}
.
expandable
.
collapsed
.
close
:
:
before
{
content
:
"
\
2026
"
;
display
:
inline
-
block
;
width
:
12px
;
height
:
8px
;
margin
:
0
2px
;
line
-
height
:
3px
;
color
:
var
(
-
-
theme
-
body
-
color
-
inactive
)
;
border
-
radius
:
3px
;
border
-
style
:
solid
;
border
-
width
:
1px
;
text
-
align
:
center
;
vertical
-
align
:
middle
;
}
.
child
.
collapsed
>
.
tag
-
line
.
void
-
element
.
close
{
display
:
none
;
}
.
closing
-
bracket
{
pointer
-
events
:
none
;
}
.
newattr
{
margin
-
right
:
-
13px
;
}
.
newattr
:
before
{
content
:
"
\
00a0
\
00a0
"
;
}
.
attr
-
value
.
link
{
text
-
decoration
:
underline
;
}
.
newattr
:
focus
{
margin
-
right
:
0
;
}
.
flash
-
out
{
transition
:
background
.
5s
;
}
.
editor
{
position
:
relative
;
z
-
index
:
1
;
}
.
editor
.
comment
:
not
(
.
doctype
)
{
color
:
var
(
-
-
theme
-
highlight
-
green
)
;
}
.
editor
.
text
{
display
:
inline
-
block
;
}
.
editor
.
text
pre
.
editor
.
comment
pre
{
font
:
inherit
;
}
.
theme
-
dark
.
editor
.
text
pre
{
color
:
var
(
-
-
theme
-
content
-
color1
)
;
}
.
editor
.
text
.
whitespace
{
padding
:
0
.
5em
;
}
.
editor
.
text
.
whitespace
:
:
before
{
content
:
"
\
25cf
"
;
display
:
inline
-
block
;
width
:
12px
;
height
:
8px
;
margin
:
0
2px
;
line
-
height
:
7px
;
font
-
size
:
0
.
6em
;
color
:
var
(
-
-
theme
-
body
-
color
-
inactive
)
;
border
-
radius
:
3px
;
border
-
style
:
solid
;
border
-
width
:
1px
;
text
-
align
:
center
;
vertical
-
align
:
middle
;
}
.
tag
-
line
[
selected
]
.
editor
.
text
.
whitespace
:
:
before
{
color
:
white
;
}
.
more
-
nodes
{
padding
-
left
:
16px
;
}
.
styleinspector
-
propertyeditor
{
border
:
1px
solid
#
CCC
;
}
.
reveal
-
link
{
cursor
:
pointer
;
background
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
reveal
.
svg
"
)
no
-
repeat
;
display
:
inline
-
block
;
width
:
16px
;
height
:
8px
;
-
moz
-
context
-
properties
:
stroke
;
stroke
:
currentColor
;
}
.
child
.
pseudoclass
-
locked
:
:
before
{
content
:
"
"
;
background
:
var
(
-
-
theme
-
highlight
-
lightorange
)
;
border
-
radius
:
50
%
;
width
:
.
8em
;
height
:
.
8em
;
margin
-
top
:
.
3em
;
left
:
1px
;
position
:
absolute
;
z
-
index
:
1
;
}
.
not
-
displayed
{
color
:
var
(
-
-
markup
-
hidden
-
punctuation
-
color
)
;
}
.
not
-
displayed
.
attr
-
name
{
color
:
var
(
-
-
markup
-
hidden
-
attr
-
name
-
color
)
;
}
.
not
-
displayed
.
attr
-
value
{
color
:
var
(
-
-
markup
-
hidden
-
attr
-
value
-
color
)
;
}
.
not
-
displayed
.
tag
{
color
:
var
(
-
-
markup
-
hidden
-
tag
-
color
)
;
}
.
theme
-
selected
~
.
editor
.
theme
-
selected
~
.
editor
.
comment
.
theme
-
selected
~
.
editor
.
theme
-
fg
-
color1
.
theme
-
selected
~
.
editor
.
theme
-
fg
-
color2
.
theme
-
selected
~
.
editor
.
theme
-
fg
-
color3
.
theme
-
selected
~
.
editor
.
theme
-
fg
-
color4
.
theme
-
selected
~
.
editor
.
theme
-
fg
-
color5
.
theme
-
selected
~
.
editor
.
close
:
:
before
{
color
:
var
(
-
-
theme
-
selection
-
color
)
;
}
.
doctype
{
font
-
style
:
italic
;
}
.
markup
-
badge
{
display
:
none
;
font
-
size
:
9px
;
font
-
weight
:
normal
;
line
-
height
:
11px
;
vertical
-
align
:
1px
;
border
:
1px
solid
var
(
-
-
markup
-
badge
-
border
-
color
)
;
border
-
radius
:
3px
;
padding
:
0px
2px
;
margin
-
inline
-
start
:
5px
;
-
moz
-
user
-
select
:
none
;
background
-
color
:
var
(
-
-
markup
-
badge
-
background
-
color
)
;
color
:
var
(
-
-
markup
-
badge
-
color
)
;
}
.
markup
-
badge
.
active
{
background
-
color
:
var
(
-
-
markup
-
badge
-
active
-
background
-
color
)
;
border
-
color
:
var
(
-
-
theme
-
selection
-
color
)
;
color
:
var
(
-
-
theme
-
selection
-
color
)
;
}
.
markup
-
badge
[
data
-
display
=
"
flex
"
]
.
interactive
.
markup
-
badge
[
data
-
display
=
"
grid
"
]
.
markup
-
badge
[
data
-
display
=
"
inline
-
flex
"
]
.
markup
-
badge
[
data
-
display
=
"
inline
-
grid
"
]
.
markup
-
badge
[
data
-
event
]
{
cursor
:
pointer
;
}
.
markup
-
badge
[
data
-
display
=
"
flex
"
]
.
interactive
:
focus
.
markup
-
badge
[
data
-
display
=
"
flex
"
]
.
interactive
:
hover
.
markup
-
badge
[
data
-
display
=
"
grid
"
]
:
focus
.
markup
-
badge
[
data
-
display
=
"
grid
"
]
:
hover
.
markup
-
badge
[
data
-
display
=
"
inline
-
flex
"
]
.
interactive
:
focus
.
markup
-
badge
[
data
-
display
=
"
inline
-
flex
"
]
.
interactive
:
hover
.
markup
-
badge
[
data
-
display
=
"
inline
-
grid
"
]
:
focus
.
markup
-
badge
[
data
-
display
=
"
inline
-
grid
"
]
:
hover
.
markup
-
badge
[
data
-
event
]
:
focus
.
markup
-
badge
[
data
-
event
]
:
hover
{
background
-
color
:
var
(
-
-
markup
-
badge
-
hover
-
background
-
color
)
;
}
