.
theme
-
dark
{
-
-
cell
-
border
-
color
:
rgba
(
255
255
255
0
.
15
)
;
-
-
cell
-
border
-
color
-
light
:
rgba
(
255
255
255
0
.
1
)
;
-
-
focus
-
cell
-
border
-
color
:
rgba
(
255
255
255
0
.
5
)
;
-
-
row
-
alt
-
background
-
color
:
rgba
(
29
79
115
0
.
15
)
;
-
-
row
-
hover
-
background
-
color
:
rgba
(
29
79
115
0
.
25
)
;
}
.
theme
-
light
{
-
-
cell
-
border
-
color
:
rgba
(
0
0
0
0
.
15
)
;
-
-
cell
-
border
-
color
-
light
:
rgba
(
0
0
0
0
.
1
)
;
-
-
focus
-
cell
-
border
-
color
:
rgba
(
0
0
0
0
.
3
)
;
-
-
row
-
alt
-
background
-
color
:
rgba
(
76
158
217
0
.
1
)
;
-
-
row
-
hover
-
background
-
color
:
rgba
(
76
158
217
0
.
2
)
;
}
html
body
#
app
#
memory
-
tool
{
height
:
100
%
;
}
#
memory
-
tool
{
display
:
flex
;
flex
-
direction
:
column
;
-
-
sidebar
-
width
:
185px
;
-
-
heap
-
tree
-
row
-
height
:
14px
;
-
-
heap
-
tree
-
header
-
height
:
17px
;
}
.
devtools
-
toolbar
{
display
:
flex
;
align
-
items
:
center
;
}
.
devtools
-
toolbar
>
.
toolbar
-
group
:
nth
-
of
-
type
(
1
)
{
flex
:
0
0
calc
(
var
(
-
-
sidebar
-
width
)
-
3px
)
;
border
-
inline
-
end
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
margin
-
inline
-
end
:
5px
;
}
.
devtools
-
toolbar
>
.
toolbar
-
group
{
display
:
flex
;
align
-
items
:
center
;
flex
:
1
;
white
-
space
:
nowrap
;
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
}
.
devtools
-
toolbar
>
.
toolbar
-
group
>
label
{
display
:
flex
;
align
-
items
:
center
;
margin
-
inline
-
end
:
5px
;
}
.
devtools
-
toolbar
>
.
toolbar
-
group
>
label
.
breakdown
-
by
>
span
{
margin
-
inline
-
end
:
5px
;
}
.
devtools
-
toolbar
>
label
{
margin
-
inline
-
end
:
5px
;
}
#
select
-
view
{
margin
-
inline
-
start
:
5px
;
}
#
take
-
snapshot
:
:
before
{
background
-
image
:
url
(
images
/
command
-
screenshot
.
png
)
;
}
media
(
min
-
resolution
:
1
.
1dppx
)
{
#
take
-
snapshot
:
:
before
{
background
-
image
:
url
(
images
/
command
-
screenshot
2x
.
png
)
;
}
}
#
import
-
snapshot
{
min
-
width
:
78px
;
}
.
spacer
{
flex
:
1
;
}
#
filter
{
align
-
self
:
stretch
;
margin
:
2px
;
}
#
memory
-
tool
-
container
{
display
:
flex
;
flex
:
1
;
overflow
:
hidden
;
}
.
list
{
width
:
var
(
-
-
sidebar
-
width
)
;
min
-
width
:
var
(
-
-
sidebar
-
width
)
;
overflow
-
y
:
auto
;
margin
:
0
;
padding
:
0
;
background
-
color
:
var
(
-
-
theme
-
sidebar
-
background
)
;
border
-
inline
-
end
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
}
.
snapshot
-
list
-
item
{
display
:
flex
;
flex
-
direction
:
column
;
color
:
var
(
-
-
theme
-
body
-
color
)
;
border
-
bottom
:
1px
solid
rgba
(
128
128
128
0
.
15
)
;
padding
:
8px
;
}
.
snapshot
-
list
-
item
.
selected
{
background
-
color
:
var
(
-
-
theme
-
selection
-
background
)
;
color
:
var
(
-
-
theme
-
selection
-
color
)
;
}
.
snapshot
-
list
-
item
.
snapshot
-
info
{
display
:
flex
;
justify
-
content
:
space
-
between
;
font
-
size
:
90
%
;
}
.
snapshot
-
list
-
item
.
save
{
text
-
decoration
:
underline
;
cursor
:
pointer
;
}
.
snapshot
-
list
-
item
>
.
snapshot
-
title
{
margin
-
bottom
:
14px
;
}
.
snapshot
-
list
-
item
>
.
snapshot
-
title
>
input
[
type
=
checkbox
]
{
margin
:
0
;
margin
-
inline
-
end
:
5px
;
}
.
snapshot
-
list
-
item
>
.
snapshot
-
state
.
snapshot
-
list
-
item
>
.
snapshot
-
totals
{
font
-
size
:
90
%
;
color
:
var
(
-
-
theme
-
body
-
color
-
alt
)
;
}
.
snapshot
-
list
-
item
.
selected
>
.
snapshot
-
state
.
snapshot
-
list
-
item
.
selected
>
.
snapshot
-
totals
{
color
:
inherit
!
important
;
}
#
heap
-
view
{
;
display
:
flex
;
flex
:
1
;
background
-
color
:
var
(
-
-
theme
-
toolbar
-
background
)
;
}
#
heap
-
view
>
.
heap
-
view
-
panel
{
display
:
flex
;
flex
-
direction
:
column
;
flex
:
1
;
}
#
heap
-
view
>
.
heap
-
view
-
panel
>
.
snapshot
-
status
#
heap
-
view
>
.
heap
-
view
-
panel
>
.
take
-
snapshot
{
margin
:
auto
;
margin
-
top
:
65px
;
font
-
size
:
120
%
;
}
#
heap
-
view
>
.
heap
-
view
-
panel
>
.
take
-
snapshot
{
padding
:
5px
;
}
#
heap
-
view
>
.
heap
-
view
-
panel
[
data
-
state
=
"
snapshot
-
state
-
error
"
]
pre
{
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
margin
:
20px
;
padding
:
20px
;
}
.
header
{
display
:
flex
;
color
:
var
(
-
-
theme
-
body
-
color
)
;
background
-
color
:
var
(
-
-
theme
-
tab
-
toolbar
-
background
)
;
border
-
bottom
:
1px
solid
var
(
-
-
cell
-
border
-
color
)
;
}
.
header
>
span
{
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
line
-
height
:
var
(
-
-
heap
-
tree
-
header
-
height
)
;
justify
-
content
:
center
;
font
-
size
:
90
%
;
white
-
space
:
nowrap
;
}
.
header
>
.
heap
-
tree
-
item
-
name
{
justify
-
content
:
flex
-
start
;
}
.
tree
{
flex
:
1
;
overflow
-
y
:
auto
;
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
}
.
tree
-
node
{
height
:
var
(
-
-
heap
-
tree
-
row
-
height
)
;
}
.
heap
-
tree
-
item
{
display
:
flex
;
}
.
tree
-
node
:
nth
-
child
(
2n
)
{
background
-
color
:
var
(
-
-
row
-
alt
-
background
-
color
)
;
}
.
tree
-
node
:
hover
{
background
-
color
:
var
(
-
-
row
-
hover
-
background
-
color
)
;
}
.
heap
-
tree
-
item
.
focused
{
background
-
color
:
var
(
-
-
theme
-
selection
-
background
)
;
color
:
var
(
-
-
theme
-
selection
-
color
)
;
}
.
heap
-
tree
-
item
-
bytes
.
heap
-
tree
-
item
-
count
.
heap
-
tree
-
item
-
total
-
bytes
.
heap
-
tree
-
item
-
total
-
count
{
display
:
flex
;
text
-
align
:
end
;
border
-
inline
-
end
:
var
(
-
-
cell
-
border
-
color
)
1px
solid
;
}
.
heap
-
tree
-
item
-
count
.
heap
-
tree
-
item
-
total
-
count
{
width
:
8
%
;
}
.
heap
-
tree
-
item
-
bytes
.
heap
-
tree
-
item
-
total
-
bytes
{
width
:
10
%
;
}
.
heap
-
tree
-
item
-
name
{
display
:
flex
;
align
-
items
:
center
;
flex
:
1
;
padding
-
inline
-
start
:
5px
;
}
.
heap
-
tree
-
number
.
heap
-
tree
-
percent
.
heap
-
tree
-
item
-
name
{
white
-
space
:
nowrap
;
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
}
.
heap
-
tree
-
number
.
heap
-
tree
-
percent
{
padding
-
inline
-
end
:
5px
;
}
.
heap
-
tree
-
number
{
flex
:
1
;
color
:
var
(
-
-
theme
-
content
-
color3
)
;
}
.
heap
-
tree
-
percent
{
flex
:
0
0
3
.
5em
;
}
.
heap
-
tree
-
item
.
focused
.
heap
-
tree
-
number
.
heap
-
tree
-
item
.
focused
.
heap
-
tree
-
percent
{
color
:
inherit
;
}
.
error
:
:
before
{
content
:
"
"
;
display
:
inline
-
block
;
width
:
12px
;
height
:
12px
;
max
-
height
:
12px
;
background
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
webconsole
.
svg
)
;
background
-
size
:
72px
60px
;
background
-
position
:
-
24px
-
24px
;
background
-
repeat
:
no
-
repeat
;
margin
:
0px
;
margin
-
top
:
2px
;
margin
-
inline
-
end
:
5px
;
}
.
theme
-
light
.
error
:
:
before
{
background
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
webconsole
.
svg
#
light
-
icons
)
;
}
.
separator
.
not
-
available
.
heap
-
tree
-
item
-
address
{
opacity
:
.
5
;
margin
-
left
:
.
5em
;
margin
-
right
:
.
5em
;
}
.
focused
.
frame
-
link
-
filename
.
focused
.
frame
-
link
-
column
.
focused
.
frame
-
link
-
line
.
focused
.
frame
-
link
-
host
.
focused
.
frame
-
link
-
colon
{
color
:
var
(
-
-
theme
-
selection
-
color
)
;
}
.
frame
-
link
-
filename
{
color
:
var
(
-
-
theme
-
highlight
-
blue
)
;
cursor
:
pointer
;
}
.
frame
-
link
-
filename
:
hover
{
text
-
decoration
:
underline
;
}
.
frame
-
link
-
column
.
frame
-
link
-
line
.
frame
-
link
-
colon
{
color
:
var
(
-
-
theme
-
highlight
-
orange
)
;
}
.
frame
-
link
-
host
{
margin
-
inline
-
start
:
5px
;
font
-
size
:
90
%
;
color
:
var
(
-
-
theme
-
content
-
color2
)
;
}
.
frame
-
link
-
function
-
display
-
name
{
margin
-
inline
-
end
:
5px
;
}
.
no
-
allocation
-
stacks
{
border
-
color
:
var
(
-
-
theme
-
splitter
-
color
)
;
border
-
style
:
solid
;
border
-
width
:
0px
0px
1px
0px
;
text
-
align
:
center
;
padding
:
5px
;
}
