:
root
{
-
-
rule
-
highlight
-
background
-
color
:
var
(
-
-
theme
-
highlight
-
yellow
)
;
-
-
rule
-
overridden
-
item
-
border
-
color
:
var
(
-
-
theme
-
content
-
color3
)
;
-
-
rule
-
header
-
background
-
color
:
var
(
-
-
theme
-
toolbar
-
background
)
;
}
:
root
.
theme
-
dark
{
-
-
rule
-
highlight
-
background
-
color
:
#
521C76
;
-
-
rule
-
overridden
-
item
-
border
-
color
:
var
(
-
-
theme
-
content
-
color1
)
;
-
-
rule
-
header
-
background
-
color
:
#
222225
;
}
#
sidebar
-
panel
-
ruleview
{
margin
:
0
;
display
:
flex
;
flex
-
direction
:
column
;
width
:
100
%
;
height
:
100
%
;
min
-
width
:
100px
;
}
#
ruleview
-
toolbar
-
container
{
display
:
flex
;
flex
-
direction
:
column
;
height
:
auto
;
}
#
ruleview
-
toolbar
{
display
:
flex
;
}
#
ruleview
-
toolbar
>
.
devtools
-
searchbox
:
first
-
child
{
padding
-
inline
-
start
:
0px
;
}
#
ruleview
-
command
-
toolbar
{
display
:
flex
;
}
.
ruleview
-
reveal
-
panel
{
display
:
flex
;
overflow
:
hidden
;
flex
-
wrap
:
wrap
;
}
.
ruleview
-
reveal
-
panel
[
hidden
]
{
display
:
none
;
}
.
ruleview
-
reveal
-
panel
label
{
-
moz
-
user
-
select
:
none
;
flex
-
grow
:
1
;
display
:
flex
;
align
-
items
:
center
;
}
#
ruleview
-
class
-
panel
:
not
(
[
hidden
]
)
{
flex
-
direction
:
column
;
}
#
ruleview
-
class
-
panel
.
add
-
class
{
margin
:
0
;
border
-
width
:
0
0
1px
0
;
padding
:
2px
6px
;
border
-
radius
:
0
;
}
#
ruleview
-
class
-
panel
.
classes
{
display
:
flex
;
flex
-
direction
:
row
;
flex
-
wrap
:
wrap
;
}
#
ruleview
-
class
-
panel
.
classes
{
max
-
height
:
100px
;
overflow
-
y
:
auto
;
}
#
ruleview
-
class
-
panel
.
classes
label
{
flex
:
0
0
;
max
-
width
:
50
%
;
}
#
ruleview
-
class
-
panel
.
classes
label
span
{
white
-
space
:
nowrap
;
text
-
overflow
:
ellipsis
;
overflow
:
hidden
;
}
#
ruleview
-
class
-
panel
.
no
-
classes
{
flex
:
1
;
color
:
var
(
-
-
theme
-
body
-
color
-
inactive
)
;
margin
:
0
;
text
-
align
:
center
;
}
#
ruleview
-
container
{
-
moz
-
user
-
select
:
text
;
overflow
:
auto
;
flex
:
auto
;
height
:
100
%
;
}
#
ruleview
-
container
-
focusable
{
height
:
100
%
;
outline
:
none
;
}
#
ruleview
-
container
.
non
-
interactive
{
pointer
-
events
:
none
;
visibility
:
collapse
;
transition
:
visibility
0
.
25s
;
}
#
ruleview
-
container
.
accordion
.
_content
{
padding
:
0
;
}
.
ruleview
-
code
{
direction
:
ltr
;
}
.
ruleview
-
property
:
not
(
:
hover
)
>
.
ruleview
-
enableproperty
{
pointer
-
events
:
none
;
}
.
ruleview
-
expandable
-
container
{
display
:
block
;
}
.
ruleview
-
namecontainer
{
cursor
:
text
;
margin
-
left
:
-
35px
;
}
.
ruleview
-
computed
>
.
ruleview
-
namecontainer
{
margin
:
0
;
}
.
ruleview
-
propertyvaluecontainer
{
cursor
:
text
;
padding
-
right
:
5px
;
}
.
ruleview
-
propertyvaluecontainer
a
{
color
:
var
(
-
-
theme
-
highlight
-
purple
)
;
cursor
:
pointer
;
}
.
ruleview
-
computedlist
.
ruleview
-
expandable
-
container
[
hidden
]
.
ruleview
-
overridden
-
items
[
hidden
]
.
ruleview
-
overridden
-
rule
-
filter
.
hidden
.
ruleview
-
overridden
-
rule
-
filter
[
hidden
]
.
ruleview
-
warning
.
hidden
.
ruleview
-
warning
[
hidden
]
.
ruleview
-
overridden
.
ruleview
-
grid
{
display
:
none
;
}
.
ruleview
-
computedlist
[
user
-
open
]
.
ruleview
-
computedlist
[
filter
-
open
]
.
ruleview
-
overridden
-
items
{
display
:
block
;
}
.
ruleview
-
rule
-
source
{
text
-
align
:
end
;
float
:
right
;
max
-
width
:
100
%
;
direction
:
rtl
;
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
-
moz
-
user
-
select
:
none
;
margin
-
bottom
:
2px
;
}
.
ruleview
-
rule
-
source
-
label
{
white
-
space
:
nowrap
;
margin
:
0
;
cursor
:
pointer
;
direction
:
ltr
;
unicode
-
bidi
:
embed
}
.
ruleview
-
rule
-
source
[
unselectable
]
.
ruleview
-
rule
-
source
[
unselectable
]
>
.
ruleview
-
rule
-
source
-
label
{
cursor
:
default
;
}
.
ruleview
-
rule
-
source
:
not
(
[
unselectable
]
)
:
hover
{
text
-
decoration
:
underline
;
}
.
ruleview
-
header
{
background
:
var
(
-
-
rule
-
header
-
background
-
color
)
;
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
color
:
var
(
-
-
theme
-
toolbar
-
color
)
;
font
-
size
:
12px
;
padding
:
4px
;
width
:
100
%
;
align
-
items
:
center
;
display
:
flex
;
-
moz
-
user
-
select
:
none
;
}
.
ruleview
-
expandable
-
header
{
cursor
:
pointer
;
}
.
ruleview
-
expandable
-
header
:
hover
{
background
-
color
:
var
(
-
-
theme
-
toolbar
-
background
-
hover
)
;
}
.
ruleview
-
rule
-
pseudo
-
element
{
padding
-
left
:
20px
;
border
-
left
:
solid
10px
;
}
.
ruleview
-
rule
{
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
padding
:
2px
4px
;
}
#
ruleview
-
container
-
focusable
>
.
ruleview
-
rule
:
last
-
child
{
border
-
bottom
:
none
;
}
.
ruleview
-
rule
.
unmatched
.
ruleview
-
rule
.
uneditable
.
ruleview
-
rule
[
unmatched
=
true
]
.
ruleview
-
rule
[
uneditable
=
true
]
{
background
:
var
(
-
-
theme
-
tab
-
toolbar
-
background
)
;
}
.
ruleview
-
rule
.
unmatched
.
ruleview
-
rule
[
unmatched
=
true
]
{
opacity
:
0
.
5
;
}
.
ruleview
-
rule
.
uneditable
:
focus
.
ruleview
-
rule
[
uneditable
=
true
]
:
focus
{
outline
:
none
;
}
.
ruleview
-
rule
.
uneditable
.
theme
-
link
.
ruleview
-
rule
[
uneditable
=
true
]
.
theme
-
link
{
color
:
var
(
-
-
theme
-
highlight
-
bluegrey
)
;
}
.
ruleview
-
rule
.
uneditable
.
ruleview
-
enableproperty
.
ruleview
-
rule
[
uneditable
=
true
]
.
ruleview
-
enableproperty
{
visibility
:
hidden
;
}
.
ruleview
-
rule
.
uneditable
.
ruleview
-
swatch
.
ruleview
-
rule
[
uneditable
=
true
]
.
ruleview
-
swatch
{
cursor
:
default
;
}
.
ruleview
-
rule
.
uneditable
.
ruleview
-
namecontainer
>
.
ruleview
-
propertyname
.
ruleview
-
rule
.
uneditable
.
ruleview
-
propertyvaluecontainer
>
.
ruleview
-
propertyvalue
.
ruleview
-
rule
[
uneditable
=
true
]
.
ruleview
-
namecontainer
>
.
ruleview
-
propertyname
.
ruleview
-
rule
[
uneditable
=
true
]
.
ruleview
-
propertyvaluecontainer
>
.
ruleview
-
propertyvalue
{
border
-
bottom
-
color
:
transparent
;
}
.
ruleview
-
overridden
-
rule
-
filter
{
display
:
inline
-
block
;
width
:
14px
;
height
:
14px
;
margin
-
inline
-
start
:
3px
;
background
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
filter
-
small
.
svg
)
;
background
-
position
:
center
;
background
-
repeat
:
no
-
repeat
;
background
-
size
:
12px
;
-
moz
-
context
-
properties
:
fill
;
fill
:
var
(
-
-
theme
-
icon
-
dimmed
-
color
)
;
}
.
ruleview
-
overridden
-
rule
-
filter
:
hover
{
fill
:
var
(
-
-
theme
-
icon
-
color
)
;
}
.
ruleview
-
ruleopen
{
padding
-
inline
-
end
:
5px
;
}
.
ruleview
-
ruleclose
{
clear
:
both
;
cursor
:
text
;
padding
-
right
:
20px
;
}
.
ruleview
-
propertylist
{
list
-
style
:
none
;
padding
:
0
;
margin
:
0
;
}
.
ruleview
-
enableproperty
{
position
:
relative
;
float
:
left
;
left
:
-
38px
;
box
-
sizing
:
content
-
box
;
border
-
left
:
10px
solid
transparent
;
background
-
clip
:
content
-
box
;
}
.
ruleview
-
warning
{
display
:
inline
-
block
;
width
:
12px
;
height
:
12px
;
margin
-
inline
-
start
:
5px
;
background
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
alert
.
svg
)
;
background
-
size
:
cover
;
-
moz
-
context
-
properties
:
fill
;
fill
:
var
(
-
-
yellow
-
60
)
;
}
.
ruleview
-
rule
:
not
(
:
hover
)
.
ruleview
-
enableproperty
{
visibility
:
hidden
;
}
.
ruleview
-
expander
{
vertical
-
align
:
middle
;
}
.
ruleview
-
propertycontainer
.
ruleview
-
expander
{
margin
-
left
:
-
6px
;
}
.
ruleview
-
expander
.
theme
-
twisty
:
dir
(
rtl
)
:
not
(
[
open
]
)
{
transform
:
rotate
(
-
90deg
)
;
}
.
ruleview
-
newproperty
{
margin
-
inline
-
start
:
-
10px
;
}
.
ruleview
-
namecontainer
.
ruleview
-
propertyvaluecontainer
.
ruleview
-
propertyname
.
ruleview
-
propertyvalue
{
text
-
decoration
:
inherit
;
}
.
ruleview
-
computedlist
{
list
-
style
:
none
;
padding
:
0
;
}
.
ruleview
-
overridden
-
items
{
margin
-
inline
-
start
:
-
25px
;
list
-
style
:
none
;
line
-
height
:
1
.
5em
;
}
.
ruleview
-
overridden
-
item
{
position
:
relative
;
}
.
ruleview
-
overridden
-
item
:
:
before
{
position
:
absolute
;
left
:
-
15px
;
top
:
0px
;
content
:
'
'
;
display
:
block
;
border
-
left
:
0
.
5px
solid
var
(
-
-
rule
-
overridden
-
item
-
border
-
color
)
;
height
:
0
.
8em
;
border
-
bottom
:
0
.
5px
solid
var
(
-
-
rule
-
overridden
-
item
-
border
-
color
)
;
width
:
10px
;
}
.
ruleview
-
overridden
-
item
:
:
after
{
position
:
absolute
;
left
:
-
15px
;
bottom
:
-
7px
;
content
:
'
'
;
display
:
block
;
border
-
left
:
0
.
5px
solid
var
(
-
-
rule
-
overridden
-
item
-
border
-
color
)
;
height
:
100
%
;
}
.
ruleview
-
overridden
-
item
:
last
-
child
:
after
{
display
:
none
;
}
.
ruleview
-
overridden
-
item
.
ruleview
-
namecontainer
{
margin
-
left
:
0
;
}
.
ruleview
-
flex
.
ruleview
-
grid
.
ruleview
-
shapeswatch
.
ruleview
-
swatch
{
cursor
:
pointer
;
width
:
1em
;
height
:
1em
;
vertical
-
align
:
middle
;
margin
-
top
:
-
1px
;
margin
-
inline
-
end
:
5px
;
display
:
inline
-
block
;
position
:
relative
;
}
.
ruleview
-
flex
.
ruleview
-
grid
.
ruleview
-
shapeswatch
{
-
moz
-
context
-
properties
:
stroke
;
stroke
:
var
(
-
-
theme
-
icon
-
color
)
;
}
.
ruleview
-
flex
.
active
.
ruleview
-
grid
.
active
.
ruleview
-
shapeswatch
.
active
{
stroke
:
var
(
-
-
theme
-
icon
-
checked
-
color
)
;
}
.
ruleview
-
flex
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
flexbox
-
swatch
.
svg
"
)
;
background
-
size
:
13px
11px
;
width
:
13px
;
height
:
11px
;
}
.
ruleview
-
grid
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
grid
.
svg
"
)
;
}
.
ruleview
-
grid
[
disabled
]
{
cursor
:
default
;
opacity
:
0
.
5
;
}
.
ruleview
-
shapeswatch
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
shape
-
swatch
.
svg
"
)
;
background
-
size
:
110
%
;
width
:
1
.
45em
;
height
:
1
.
45em
;
}
.
ruleview
-
shape
-
point
.
active
.
ruleview
-
shapeswatch
.
active
+
.
ruleview
-
shape
>
.
ruleview
-
shape
-
point
:
hover
{
background
-
color
:
var
(
-
-
rule
-
highlight
-
background
-
color
)
;
}
.
ruleview
-
swatch
{
background
-
size
:
1em
;
border
-
radius
:
50
%
;
}
.
ruleview
-
colorswatch
:
:
before
{
content
:
'
'
;
background
-
color
:
#
eee
;
background
-
image
:
linear
-
gradient
(
45deg
#
ccc
25
%
transparent
25
%
transparent
75
%
#
ccc
75
%
#
ccc
)
linear
-
gradient
(
45deg
#
ccc
25
%
transparent
25
%
transparent
75
%
#
ccc
75
%
#
ccc
)
;
background
-
size
:
12px
12px
;
background
-
position
:
0
0
6px
6px
;
position
:
absolute
;
border
-
radius
:
50
%
;
top
:
0
;
left
:
0
;
right
:
0
;
bottom
:
0
;
z
-
index
:
-
1
;
}
.
ruleview
-
bezierswatch
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
cubic
-
bezier
-
swatch
.
svg
"
)
;
}
.
ruleview
-
filterswatch
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
filter
-
swatch
.
svg
"
)
;
}
.
ruleview
-
angleswatch
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
angle
-
swatch
.
svg
"
)
;
}
.
ruleview
-
overridden
{
text
-
decoration
:
line
-
through
;
}
.
ruleview
-
overridden
.
ruleview
-
flex
.
ruleview
-
overridden
.
ruleview
-
grid
.
ruleview
-
overridden
.
ruleview
-
shapeswatch
.
ruleview
-
overridden
.
ruleview
-
swatch
{
display
:
none
;
}
.
theme
-
light
.
ruleview
-
overridden
{
text
-
decoration
-
color
:
var
(
-
-
theme
-
content
-
color3
)
;
}
.
ruleview
-
font
-
family
.
used
-
font
{
text
-
decoration
:
underline
;
}
.
styleinspector
-
propertyeditor
{
border
:
1px
solid
#
CCC
;
padding
:
0
;
margin
:
-
1px
-
3px
-
1px
-
1px
;
}
.
ruleview
-
property
{
border
-
left
:
3px
solid
transparent
;
clear
:
both
;
padding
-
left
:
28px
;
}
.
ruleview
-
propertycontainer
>
*
{
vertical
-
align
:
middle
;
}
.
ruleview
-
property
[
dirty
]
{
border
-
left
-
color
:
var
(
-
-
theme
-
highlight
-
green
)
;
}
.
ruleview
-
highlight
>
.
ruleview
-
expander
.
ruleview
-
highlight
>
.
ruleview
-
namecontainer
.
ruleview
-
highlight
>
.
ruleview
-
propertyvaluecontainer
.
ruleview
-
highlight
>
.
ruleview
-
rule
-
source
-
label
.
ruleview
-
highlight
>
.
ruleview
-
selector
{
background
-
color
:
var
(
-
-
rule
-
highlight
-
background
-
color
)
;
}
.
ruleview
-
namecontainer
>
.
ruleview
-
propertyname
.
ruleview
-
propertyvaluecontainer
>
.
ruleview
-
propertyvalue
{
border
-
bottom
:
1px
dashed
transparent
;
}
.
ruleview
-
namecontainer
:
hover
>
.
ruleview
-
propertyname
.
ruleview
-
propertyvaluecontainer
:
hover
>
.
ruleview
-
propertyvalue
{
border
-
bottom
-
color
:
hsl
(
0
0
%
50
%
)
;
}
.
ruleview
-
selectorcontainer
{
word
-
wrap
:
break
-
word
;
cursor
:
text
;
}
.
ruleview
-
selector
-
separator
.
ruleview
-
selector
-
unmatched
.
ruleview
-
unmatched
-
variable
{
color
:
#
888
;
}
.
ruleview
-
selector
-
matched
>
.
ruleview
-
selector
-
attribute
{
}
.
ruleview
-
selector
-
matched
>
.
ruleview
-
selector
-
pseudo
-
class
{
}
.
ruleview
-
selector
-
matched
>
.
ruleview
-
selector
-
pseudo
-
class
-
lock
{
font
-
weight
:
bold
;
color
:
var
(
-
-
theme
-
highlight
-
orange
)
;
}
.
ruleview
-
selectorhighlighter
{
display
:
inline
-
block
;
vertical
-
align
:
top
;
width
:
15px
;
height
:
15px
;
margin
-
left
:
5px
;
background
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
open
-
inspector
.
svg
"
)
no
-
repeat
0
0
;
background
-
size
:
contain
;
cursor
:
pointer
;
-
moz
-
context
-
properties
:
fill
;
fill
:
var
(
-
-
theme
-
icon
-
dimmed
-
color
)
;
}
.
ruleview
-
selectorhighlighter
:
hover
{
fill
:
var
(
-
-
theme
-
icon
-
color
)
;
}
.
ruleview
-
selectorhighlighter
:
active
.
ruleview
-
selectorhighlighter
.
highlighted
{
fill
:
var
(
-
-
theme
-
icon
-
checked
-
color
)
;
}
#
ruleview
-
add
-
rule
-
button
:
:
before
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
add
.
svg
"
)
;
}
#
pseudo
-
class
-
panel
-
toggle
:
:
before
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
pseudo
-
class
.
svg
"
)
;
}
#
class
-
panel
-
toggle
:
:
before
{
content
:
"
.
cls
"
;
}
