:
root
{
-
-
devtools
-
splitter
-
element
-
size
:
1px
;
-
-
devtools
-
emphasized
-
splitter
-
element
-
size
:
2px
;
-
-
devtools
-
splitter
-
top
-
width
:
2px
;
-
-
devtools
-
splitter
-
bottom
-
width
:
2px
;
-
-
devtools
-
horizontal
-
splitter
-
min
-
height
:
calc
(
var
(
-
-
devtools
-
splitter
-
top
-
width
)
+
var
(
-
-
devtools
-
splitter
-
bottom
-
width
)
+
var
(
-
-
devtools
-
splitter
-
element
-
size
)
)
;
-
-
devtools
-
emphasized
-
horizontal
-
splitter
-
min
-
height
:
calc
(
var
(
-
-
devtools
-
splitter
-
top
-
width
)
+
var
(
-
-
devtools
-
splitter
-
bottom
-
width
)
+
var
(
-
-
devtools
-
emphasized
-
splitter
-
element
-
size
)
)
;
-
-
devtools
-
splitter
-
inline
-
start
-
width
:
1px
;
-
-
devtools
-
splitter
-
inline
-
end
-
width
:
4px
;
-
-
devtools
-
vertical
-
splitter
-
min
-
width
:
calc
(
var
(
-
-
devtools
-
splitter
-
inline
-
start
-
width
)
+
var
(
-
-
devtools
-
splitter
-
inline
-
end
-
width
)
+
var
(
-
-
devtools
-
splitter
-
element
-
size
)
)
;
}
#
appcontent
[
devtoolstheme
=
"
light
"
]
{
-
-
devtools
-
splitter
-
color
:
#
e0e0e2
;
}
#
appcontent
[
devtoolstheme
=
"
dark
"
]
{
-
-
devtools
-
splitter
-
color
:
#
38383d
;
}
splitter
.
devtools
-
horizontal
-
splitter
.
devtools
-
side
-
splitter
{
-
moz
-
appearance
:
none
;
background
-
image
:
none
;
border
:
0
;
border
-
style
:
solid
;
border
-
color
:
transparent
;
background
-
color
:
var
(
-
-
devtools
-
splitter
-
color
)
;
background
-
clip
:
content
-
box
;
position
:
relative
;
box
-
sizing
:
border
-
box
;
z
-
index
:
1
;
}
splitter
.
devtools
-
horizontal
-
splitter
{
min
-
height
:
var
(
-
-
devtools
-
horizontal
-
splitter
-
min
-
height
)
;
border
-
top
-
width
:
var
(
-
-
devtools
-
splitter
-
top
-
width
)
;
border
-
bottom
-
width
:
var
(
-
-
devtools
-
splitter
-
bottom
-
width
)
;
margin
-
top
:
calc
(
-
1
*
var
(
-
-
devtools
-
splitter
-
top
-
width
)
-
1px
)
;
margin
-
bottom
:
calc
(
-
1
*
var
(
-
-
devtools
-
splitter
-
bottom
-
width
)
)
;
cursor
:
ns
-
resize
;
}
#
toolbox
-
deck
~
splitter
.
devtools
-
horizontal
-
splitter
{
min
-
height
:
var
(
-
-
devtools
-
emphasized
-
horizontal
-
splitter
-
min
-
height
)
;
}
#
toolbox
-
deck
~
splitter
.
devtools
-
horizontal
-
splitter
:
hover
{
background
-
color
:
var
(
-
-
theme
-
emphasized
-
splitter
-
color
-
hover
)
;
}
.
devtools
-
side
-
splitter
{
min
-
width
:
var
(
-
-
devtools
-
vertical
-
splitter
-
min
-
width
)
;
border
-
inline
-
start
-
width
:
var
(
-
-
devtools
-
splitter
-
inline
-
start
-
width
)
;
border
-
inline
-
end
-
width
:
var
(
-
-
devtools
-
splitter
-
inline
-
end
-
width
)
;
margin
-
inline
-
start
:
calc
(
-
1
*
var
(
-
-
devtools
-
splitter
-
inline
-
start
-
width
)
-
1px
)
;
margin
-
inline
-
end
:
calc
(
-
1
*
var
(
-
-
devtools
-
splitter
-
inline
-
end
-
width
)
)
;
cursor
:
ew
-
resize
;
}
.
devtools
-
horizontal
-
splitter
.
disabled
.
devtools
-
side
-
splitter
.
disabled
{
pointer
-
events
:
none
;
}
