:
root
{
-
-
devtools
-
splitter
-
top
-
width
:
2px
;
-
-
devtools
-
splitter
-
bottom
-
width
:
2px
;
-
-
devtools
-
splitter
-
inline
-
start
-
width
:
1px
;
-
-
devtools
-
splitter
-
inline
-
end
-
width
:
4px
;
}
#
content
[
devtoolstheme
=
"
light
"
]
{
-
-
devtools
-
splitter
-
color
:
#
dde1e4
;
}
#
content
[
devtoolstheme
=
"
dark
"
]
{
-
-
devtools
-
splitter
-
color
:
#
42484f
;
}
.
devtools
-
horizontal
-
splitter
.
devtools
-
side
-
splitter
{
-
moz
-
appearance
:
none
;
background
-
image
:
none
;
border
:
0
;
border
-
style
:
solid
;
border
-
color
:
transparent
;
background
-
color
:
var
(
-
-
devtools
-
splitter
-
color
)
;
background
-
clip
:
content
-
box
;
position
:
relative
;
box
-
sizing
:
border
-
box
;
z
-
index
:
1
;
}
.
devtools
-
horizontal
-
splitter
{
min
-
height
:
calc
(
var
(
-
-
devtools
-
splitter
-
top
-
width
)
+
var
(
-
-
devtools
-
splitter
-
bottom
-
width
)
+
1px
)
;
border
-
top
-
width
:
var
(
-
-
devtools
-
splitter
-
top
-
width
)
;
border
-
bottom
-
width
:
var
(
-
-
devtools
-
splitter
-
bottom
-
width
)
;
margin
-
top
:
calc
(
-
1
*
var
(
-
-
devtools
-
splitter
-
top
-
width
)
-
1px
)
;
margin
-
bottom
:
calc
(
-
1
*
var
(
-
-
devtools
-
splitter
-
bottom
-
width
)
)
;
cursor
:
n
-
resize
;
}
.
devtools
-
side
-
splitter
{
min
-
width
:
calc
(
var
(
-
-
devtools
-
splitter
-
inline
-
start
-
width
)
+
var
(
-
-
devtools
-
splitter
-
inline
-
end
-
width
)
+
1px
)
;
border
-
inline
-
start
-
width
:
var
(
-
-
devtools
-
splitter
-
inline
-
start
-
width
)
;
border
-
inline
-
end
-
width
:
var
(
-
-
devtools
-
splitter
-
inline
-
end
-
width
)
;
margin
-
inline
-
start
:
calc
(
-
1
*
var
(
-
-
devtools
-
splitter
-
inline
-
start
-
width
)
-
1px
)
;
margin
-
inline
-
end
:
calc
(
-
1
*
var
(
-
-
devtools
-
splitter
-
inline
-
end
-
width
)
)
;
cursor
:
e
-
resize
;
}
.
devtools
-
horizontal
-
splitter
.
disabled
.
devtools
-
side
-
splitter
.
disabled
{
pointer
-
events
:
none
;
}
