:
root
[
devtoolstheme
=
"
light
"
]
.
devtools
-
horizontal
-
splitter
{
-
-
devtools
-
splitter
-
color
:
#
dde1e4
;
}
:
root
[
devtoolstheme
=
"
dark
"
]
.
devtools
-
horizontal
-
splitter
{
-
-
devtools
-
splitter
-
color
:
#
42484f
;
}
.
devtools
-
horizontal
-
splitter
{
-
moz
-
appearance
:
none
;
background
-
image
:
none
;
background
-
color
:
transparent
;
border
:
0
;
border
-
bottom
:
1px
solid
var
(
-
-
devtools
-
splitter
-
color
)
;
min
-
height
:
3px
;
height
:
3px
;
margin
-
top
:
-
3px
;
position
:
relative
;
}
.
devtools
-
side
-
splitter
{
-
moz
-
appearance
:
none
;
background
-
image
:
none
;
background
-
color
:
transparent
;
border
:
0
;
-
moz
-
border
-
end
:
1px
solid
var
(
-
-
devtools
-
splitter
-
color
)
;
min
-
width
:
3px
;
width
:
3px
;
-
moz
-
margin
-
start
:
-
3px
;
position
:
relative
;
cursor
:
e
-
resize
;
}
.
devtools
-
horizontal
-
splitter
.
disabled
.
devtools
-
side
-
splitter
.
disabled
{
pointer
-
events
:
none
;
}
