#
storage
-
tree
{
min
-
width
:
220px
;
max
-
width
:
500px
;
overflow
:
auto
;
}
#
storage
-
tree
{
background
:
var
(
-
-
theme
-
sidebar
-
background
)
;
}
.
table
-
widget
-
cell
{
min
-
width
:
unset
;
}
#
name
{
min
-
width
:
65px
;
}
#
host
{
min
-
width
:
80px
;
}
#
path
{
min
-
width
:
60px
;
}
#
expires
#
lastAccessed
#
creationTime
{
min
-
width
:
115px
;
}
#
value
{
min
-
width
:
95px
;
}
#
hostOnly
#
isHttpOnly
#
sameSite
{
min
-
width
:
50px
;
}
#
isSecure
{
min
-
width
:
40px
;
}
#
storage
-
sidebar
{
max
-
width
:
500px
;
min
-
width
:
250px
;
}
#
storage
-
toolbar
.
add
-
button
:
:
before
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
add
.
svg
"
)
;
-
moz
-
user
-
focus
:
normal
;
}
#
storage
-
toolbar
.
refresh
-
button
:
:
before
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
reload
.
svg
"
)
;
-
moz
-
user
-
focus
:
normal
;
}
#
storage
-
toolbar
.
devtools
-
button
{
min
-
width
:
0
;
}
#
storage
-
toolbar
.
devtools
-
button
hbox
#
storage
-
toolbar
.
sidebar
-
toggle
[
hidden
]
{
display
:
none
;
}
media
(
max
-
width
:
700px
)
{
#
storage
-
tree
#
storage
-
sidebar
{
max
-
width
:
100
%
;
}
#
storage
-
table
#
path
{
display
:
none
;
}
#
storage
-
table
.
table
-
widget
-
cell
{
min
-
width
:
100px
;
}
}
