#
storage
-
tree
{
min
-
width
:
220px
;
max
-
width
:
500px
;
overflow
:
auto
;
}
#
storage
-
tree
{
background
:
var
(
-
-
theme
-
sidebar
-
background
)
;
}
#
storage
-
tree
.
tree
-
widget
-
item
[
type
=
"
store
"
]
:
after
{
background
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
tool
-
storage
.
svg
)
;
background
-
size
:
18px
18px
;
background
-
position
:
-
1px
0
;
}
#
expires
#
lastAccessed
#
creationTime
{
min
-
width
:
150px
;
}
#
storage
-
sidebar
{
max
-
width
:
500px
;
min
-
width
:
250px
;
}
media
(
max
-
width
:
700px
)
{
#
storage
-
tree
#
storage
-
sidebar
{
max
-
width
:
100
%
;
}
#
storage
-
table
#
path
{
display
:
none
;
}
#
storage
-
table
.
table
-
widget
-
cell
{
min
-
width
:
100px
;
}
}
