#
command
-
button
-
paintflashing
:
:
before
{
background
-
image
:
var
(
-
-
command
-
paintflashing
-
image
)
;
}
#
command
-
button
-
screenshot
:
:
before
{
background
-
image
:
var
(
-
-
command
-
screenshot
-
image
)
;
}
#
command
-
button
-
responsive
:
:
before
{
background
-
image
:
var
(
-
-
command
-
responsive
-
image
)
;
}
#
command
-
button
-
scratchpad
:
:
before
{
background
-
image
:
var
(
-
-
command
-
scratchpad
-
image
)
;
}
#
command
-
button
-
pick
:
:
before
{
background
-
image
:
var
(
-
-
command
-
pick
-
image
)
;
}
#
command
-
button
-
splitconsole
:
:
before
{
background
-
image
:
var
(
-
-
command
-
splitconsole
-
image
)
;
}
#
command
-
button
-
noautohide
:
:
before
{
background
-
image
:
var
(
-
-
command
-
noautohide
-
image
)
;
}
#
command
-
button
-
eyedropper
:
:
before
{
background
-
image
:
var
(
-
-
command
-
eyedropper
-
image
)
;
}
#
command
-
button
-
rulers
:
:
before
{
background
-
image
:
var
(
-
-
command
-
rulers
-
image
)
;
}
#
command
-
button
-
measure
:
:
before
{
background
-
image
:
var
(
-
-
command
-
measure
-
image
)
;
}
#
command
-
button
-
frames
:
:
before
{
background
-
image
:
var
(
-
-
command
-
frames
-
image
)
;
}
#
command
-
button
-
frames
{
background
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
dropmarker
.
svg
"
)
no
-
repeat
right
;
background
-
size
:
8px
4px
!
important
;
min
-
width
:
32px
;
}
#
command
-
button
-
frames
:
-
moz
-
dir
(
rtl
)
{
background
-
position
:
left
;
}
