.
notice
-
container
{
margin
-
top
:
-
50vh
;
color
:
var
(
-
-
theme
-
body
-
color
-
alt
)
;
}
#
reload
-
notice
{
font
-
size
:
120
%
;
}
#
waiting
-
notice
{
font
-
size
:
110
%
;
}
svg
{
overflow
:
hidden
;
-
moz
-
box
-
flex
:
1
;
-
-
arrow
-
color
:
var
(
-
-
theme
-
splitter
-
color
)
;
-
-
text
-
color
:
var
(
-
-
theme
-
body
-
color
)
;
}
.
theme
-
dark
svg
{
-
-
arrow
-
color
:
var
(
-
-
theme
-
body
-
color
-
alt
)
;
}
.
edgePath
path
{
stroke
-
width
:
1px
;
stroke
:
var
(
-
-
arrow
-
color
)
;
fill
:
none
;
}
svg
#
arrowhead
{
fill
:
var
(
-
-
arrow
-
color
)
!
important
;
}
g
.
edgePath
.
param
-
connection
path
{
stroke
-
dasharray
:
5
5
;
stroke
:
var
(
-
-
arrow
-
colo
)
;
}
g
.
edgeLabel
rect
{
fill
:
var
(
-
-
theme
-
body
-
background
)
;
}
g
.
edgeLabel
tspan
{
fill
:
var
(
-
-
text
-
color
)
;
}
.
nodes
rect
{
stroke
-
width
:
1px
;
cursor
:
pointer
;
stroke
:
var
(
-
-
theme
-
splitter
-
color
)
;
fill
:
var
(
-
-
theme
-
toolbar
-
background
)
;
}
.
theme
-
light
.
nodes
g
.
bypassed
rect
{
fill
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
filters
.
svg
#
bypass
-
light
)
;
}
.
theme
-
dark
.
nodes
g
.
bypassed
rect
{
fill
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
filters
.
svg
#
bypass
-
dark
)
;
}
.
nodes
g
.
bypassed
.
selected
rect
{
stroke
:
var
(
-
-
theme
-
selection
-
background
)
;
}
.
nodes
g
.
bypassed
text
{
opacity
:
0
.
6
;
}
.
nodes
g
.
selected
rect
{
fill
:
var
(
-
-
theme
-
selection
-
background
)
;
}
g
.
selected
:
not
(
.
bypassed
)
text
{
fill
:
var
(
-
-
theme
-
selection
-
color
)
;
}
text
{
cursor
:
default
;
fill
:
var
(
-
-
text
-
color
)
;
font
-
size
:
1
.
25em
;
direction
:
ltr
;
}
.
nodes
text
{
cursor
:
pointer
;
}
.
variables
-
view
-
scope
>
.
title
{
display
:
none
;
}
#
web
-
audio
-
inspector
-
title
{
margin
:
6px
;
}
.
web
-
audio
-
inspector
.
error
{
background
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
alert
.
svg
)
;
background
-
size
:
12px
12px
;
-
moz
-
context
-
properties
:
fill
;
fill
:
var
(
-
-
yellow
-
60
)
;
-
moz
-
appearance
:
none
;
opacity
:
0
;
transition
:
opacity
.
5s
ease
-
out
0s
;
}
#
inspector
-
pane
-
toggle
{
background
:
none
;
box
-
shadow
:
none
;
border
:
none
;
list
-
style
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
pane
-
collapse
.
svg
)
;
}
#
inspector
-
pane
-
toggle
>
.
toolbarbutton
-
icon
{
width
:
16px
;
height
:
16px
;
}
#
inspector
-
pane
-
toggle
.
pane
-
collapsed
{
list
-
style
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
pane
-
expand
.
svg
)
;
}
#
automation
-
param
-
toolbar
.
automation
-
param
-
button
[
selected
]
{
color
:
var
(
-
-
theme
-
selection
-
color
)
;
background
-
color
:
var
(
-
-
theme
-
selection
-
background
)
;
}
#
automation
-
graph
{
overflow
:
hidden
;
-
moz
-
box
-
flex
:
1
;
}
#
audio
-
node
-
toolbar
.
bypass
{
list
-
style
-
image
:
url
(
images
/
power
.
svg
)
;
}
media
(
max
-
width
:
700px
)
{
#
inspector
-
pane
-
toggle
{
display
:
none
;
}
#
web
-
audio
-
inspector
{
margin
-
left
:
0px
!
important
;
margin
-
right
:
0px
!
important
;
}
}
