#
placesToolbar
{
-
moz
-
appearance
:
menubar
;
}
media
(
-
moz
-
menubar
-
drag
)
{
#
placesToolbar
{
-
moz
-
window
-
dragging
:
drag
;
}
}
#
placesToolbar
>
toolbarbutton
{
color
:
-
moz
-
menubartext
;
}
#
placesToolbar
>
toolbarbutton
:
hover
{
color
:
ButtonText
;
}
#
placesToolbar
>
toolbarbutton
[
disabled
=
true
]
{
color
:
GrayText
;
}
#
back
-
button
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
back
-
ltr
?
size
=
toolbar
"
)
;
}
#
back
-
button
[
disabled
=
"
true
"
]
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
back
-
ltr
?
size
=
toolbar
&
state
=
disabled
"
)
;
}
#
back
-
button
:
-
moz
-
locale
-
dir
(
rtl
)
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
back
-
rtl
?
size
=
toolbar
"
)
;
}
#
back
-
button
[
disabled
=
"
true
"
]
:
-
moz
-
locale
-
dir
(
rtl
)
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
back
-
rtl
?
size
=
toolbar
&
state
=
disabled
"
)
;
}
#
forward
-
button
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
forward
-
ltr
?
size
=
toolbar
"
)
;
}
#
forward
-
button
[
disabled
=
"
true
"
]
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
forward
-
ltr
?
size
=
toolbar
&
state
=
disabled
"
)
;
}
#
forward
-
button
:
-
moz
-
locale
-
dir
(
rtl
)
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
forward
-
rtl
?
size
=
toolbar
"
)
;
}
#
forward
-
button
[
disabled
=
"
true
"
]
:
-
moz
-
locale
-
dir
(
rtl
)
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
forward
-
rtl
?
size
=
toolbar
&
state
=
disabled
"
)
;
}
#
placesMenu
>
menu
{
padding
-
inline
-
start
:
4px
;
-
moz
-
appearance
:
toolbarbutton
;
}
#
placesMenu
>
menu
:
active
#
placesMenu
>
menu
:
hover
#
placesMenu
>
menu
[
open
]
{
color
:
ButtonText
;
}
#
placesMenu
>
menu
:
:
after
{
content
:
"
"
;
display
:
-
moz
-
box
;
-
moz
-
appearance
:
toolbarbutton
-
dropdown
;
width
:
12px
;
height
:
12px
;
}
#
placesView
{
background
-
color
:
Window
;
}
#
detailsDeck
{
padding
:
5px
;
}
#
infoBoxExpanderLabel
{
padding
-
inline
-
start
:
2px
;
}
#
clearDownloadsButton
>
.
toolbarbutton
-
icon
{
display
:
none
;
}
