#
placesToolbar
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
menubar
;
}
media
(
-
moz
-
menubar
-
drag
)
{
#
placesToolbar
{
-
moz
-
window
-
dragging
:
drag
;
}
}
#
placesToolbar
>
toolbarbutton
{
color
:
-
moz
-
menubartext
;
}
#
placesToolbar
>
toolbarbutton
:
hover
{
color
:
ButtonText
;
}
#
placesToolbar
>
toolbarbutton
[
disabled
]
{
color
:
GrayText
;
}
#
back
-
button
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
back
-
ltr
?
size
=
toolbar
"
)
;
}
#
back
-
button
[
disabled
]
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
back
-
ltr
?
size
=
toolbar
&
state
=
disabled
"
)
;
}
#
back
-
button
:
-
moz
-
locale
-
dir
(
rtl
)
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
back
-
rtl
?
size
=
toolbar
"
)
;
}
#
back
-
button
[
disabled
]
:
-
moz
-
locale
-
dir
(
rtl
)
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
back
-
rtl
?
size
=
toolbar
&
state
=
disabled
"
)
;
}
#
forward
-
button
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
forward
-
ltr
?
size
=
toolbar
"
)
;
}
#
forward
-
button
[
disabled
]
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
forward
-
ltr
?
size
=
toolbar
&
state
=
disabled
"
)
;
}
#
forward
-
button
:
-
moz
-
locale
-
dir
(
rtl
)
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
forward
-
rtl
?
size
=
toolbar
"
)
;
}
#
forward
-
button
[
disabled
]
:
-
moz
-
locale
-
dir
(
rtl
)
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
go
-
forward
-
rtl
?
size
=
toolbar
&
state
=
disabled
"
)
;
}
#
placesMenu
>
menu
{
padding
-
inline
-
start
:
4px
;
appearance
:
auto
;
-
moz
-
default
-
appearance
:
toolbarbutton
;
}
#
placesMenu
>
menu
:
hover
{
color
:
ButtonText
;
}
#
placesMenu
>
menu
:
active
#
placesMenu
>
menu
[
open
]
{
color
:
-
moz
-
gtk
-
buttonactivetext
;
}
#
placesMenu
>
menu
:
:
after
{
content
:
"
"
;
display
:
-
moz
-
box
;
width
:
12px
;
height
:
12px
;
content
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
arrow
-
dropdown
-
12
.
svg
"
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
}
#
placesView
{
background
-
color
:
Window
;
}
#
detailsPane
{
padding
:
5px
;
}
#
clearDownloadsButton
>
.
toolbarbutton
-
icon
{
display
:
none
;
}
