.
sidebar
-
placesTree
{
margin
:
0
;
}
.
sidebar
-
placesTreechildren
:
:
-
moz
-
tree
-
cell
(
leaf
)
.
sidebar
-
placesTreechildren
:
:
-
moz
-
tree
-
image
(
leaf
)
{
cursor
:
pointer
;
}
.
sidebar
-
placesTreechildren
:
:
-
moz
-
tree
-
cell
-
text
(
leaf
hover
)
{
cursor
:
pointer
;
text
-
decoration
:
underline
;
}
.
sidebar
-
placesTreechildren
:
:
-
moz
-
tree
-
cell
(
separator
)
{
cursor
:
default
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
)
{
padding
-
right
:
2px
;
margin
:
0px
2px
;
width
:
16px
;
height
:
16px
;
list
-
style
-
image
:
url
(
"
chrome
:
/
/
mozapps
/
skin
/
places
/
defaultFavicon
.
png
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
livemarkItem
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
livemark
-
item
.
png
"
)
;
-
moz
-
image
-
region
:
rect
(
0px
16px
16px
0px
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
livemarkItem
visited
)
{
-
moz
-
image
-
region
:
rect
(
0px
32px
16px
16px
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
separator
)
{
list
-
style
-
image
:
none
;
width
:
0
;
height
:
0
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
container
)
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
directory
?
size
=
menu
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
container
livemark
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
feeds
/
feedIcon16
.
png
"
)
;
-
moz
-
image
-
region
:
auto
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
container
OrganizerQuery_AllBookmarks
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
Toolbar
-
small
.
png
"
)
;
-
moz
-
image
-
region
:
rect
(
0px
48px
16px
32px
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
container
OrganizerQuery_BookmarksToolbar
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
bookmarksToolbar
.
png
"
)
;
-
moz
-
image
-
region
:
auto
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
container
OrganizerQuery_BookmarksMenu
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
bookmarksMenu
.
png
"
)
;
-
moz
-
image
-
region
:
auto
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
container
OrganizerQuery_UnfiledBookmarks
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
unsortedBookmarks
.
png
"
)
;
-
moz
-
image
-
region
:
auto
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
query
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
query
.
png
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
query
OrganizerQuery_Downloads
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
downloads
.
png
"
)
;
-
moz
-
image
-
region
:
auto
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
query
tagContainer
)
treechildren
:
:
-
moz
-
tree
-
image
(
query
OrganizerQuery_Tags
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
tag
.
png
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
query
dayContainer
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
calendar
.
png
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
query
hostContainer
)
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
directory
?
size
=
menu
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
query
hostContainer
open
)
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
directory
?
size
=
menu
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
query
OrganizerQuery_History
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
Toolbar
-
small
.
png
"
)
;
-
moz
-
image
-
region
:
rect
(
0px
32px
16px
16px
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
query
folder
)
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
directory
?
size
=
menu
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
cutting
)
{
opacity
:
0
.
5
;
}
treechildren
:
:
-
moz
-
tree
-
cell
-
text
(
cutting
)
{
opacity
:
0
.
7
;
}
