input
{
-
moz
-
box
-
flex
:
1
;
}
hbox
{
width
:
100
%
;
}
#
engineNameLabel
#
engineUrlLabel
#
engineAliasLabel
{
margin
-
inline
-
start
:
4px
;
}
#
engineUrl
{
direction
:
ltr
;
text
-
align
:
match
-
parent
;
}
