namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
-
moz
-
document
url
(
"
chrome
:
/
/
browser
/
content
/
browser
.
xul
"
)
{
media
(
-
moz
-
windows
-
theme
:
luna
-
silver
)
and
(
max
-
resolution
:
1dppx
)
{
#
loop
-
button
{
list
-
style
-
image
:
url
(
chrome
:
/
/
loop
/
skin
/
toolbar
-
lunaSilver
.
png
)
}
}
media
(
-
moz
-
windows
-
theme
:
luna
-
silver
)
and
(
min
-
resolution
:
1
.
1dppx
)
{
#
loop
-
button
{
list
-
style
-
image
:
url
(
chrome
:
/
/
loop
/
skin
/
toolbar
-
lunaSilver
2x
.
png
)
}
}
}
