%
if
0
%
endif
%
filter
substitution
%
define
identityPopupExpanderWidth
38px
:
-
moz
-
any
(
[
when
-
connection
]
[
when
-
mixedcontent
]
[
when
-
ciphers
]
[
when
-
loginforms
]
)
{
display
:
none
;
}
#
identity
-
popup
.
no
-
shadow
{
-
moz
-
window
-
shadow
:
none
;
}
#
identity
-
popup
[
connection
=
not
-
secure
]
[
when
-
connection
~
=
not
-
secure
]
#
identity
-
popup
[
connection
=
secure
-
cert
-
user
-
overridden
]
[
when
-
connection
~
=
secure
-
cert
-
user
-
overridden
]
#
identity
-
popup
[
connection
=
secure
-
ev
]
[
when
-
connection
~
=
secure
-
ev
]
#
identity
-
popup
[
connection
=
secure
]
[
when
-
connection
~
=
secure
]
#
identity
-
popup
[
connection
=
chrome
]
[
when
-
connection
~
=
chrome
]
#
identity
-
popup
[
connection
=
file
]
[
when
-
connection
~
=
file
]
#
identity
-
popup
[
connection
=
extension
]
[
when
-
connection
~
=
extension
]
#
identity
-
popup
[
loginforms
=
insecure
]
[
when
-
loginforms
=
insecure
]
#
identity
-
popup
[
ciphers
=
weak
]
[
when
-
ciphers
~
=
weak
]
#
identity
-
popup
[
mixedcontent
~
=
active
-
loaded
]
[
when
-
mixedcontent
=
active
-
loaded
]
#
identity
-
popup
[
mixedcontent
~
=
passive
-
loaded
]
:
not
(
[
mixedcontent
~
=
active
-
loaded
]
)
[
when
-
mixedcontent
=
passive
-
loaded
]
#
identity
-
popup
[
mixedcontent
~
=
active
-
blocked
]
:
not
(
[
mixedcontent
~
=
passive
-
loaded
]
)
[
when
-
mixedcontent
=
active
-
blocked
]
#
identity
-
popup
[
mixedcontent
~
=
active
-
blocked
]
[
mixedcontent
~
=
passive
-
loaded
]
[
when
-
mixedcontent
~
=
active
-
blocked
]
[
when
-
mixedcontent
~
=
passive
-
loaded
]
#
identity
-
popup
-
securityView
-
body
[
mixedcontent
~
=
active
-
blocked
]
>
button
[
when
-
mixedcontent
=
active
-
blocked
]
{
display
:
inherit
;
}
#
identity
-
popup
[
loginforms
=
secure
]
[
and
-
when
-
loginforms
=
insecure
]
{
display
:
none
;
}
#
identity
-
popup
[
loginforms
=
insecure
]
[
and
-
when
-
loginforms
=
secure
]
{
display
:
none
;
}
#
identity
-
popup
-
securityView
-
body
:
-
moz
-
any
(
[
mixedcontent
]
[
ciphers
]
)
>
description
[
when
-
connection
=
not
-
secure
]
#
identity
-
popup
-
securityView
-
body
[
mixedcontent
~
=
passive
-
loaded
]
[
mixedcontent
~
=
active
-
blocked
]
>
description
[
when
-
mixedcontent
=
passive
-
loaded
]
{
display
:
none
;
}
#
identity
-
popup
[
hidden
]
{
display
:
none
!
important
;
}
#
identity
-
popup
>
.
panel
-
arrowcontainer
>
.
panel
-
arrowcontent
{
padding
:
0
;
fill
:
currentColor
;
fill
-
opacity
:
.
6
;
}
#
identity
-
popup
-
mainView
{
min
-
width
:
30em
;
max
-
width
:
30em
;
}
.
identity
-
popup
-
section
:
not
(
:
first
-
child
)
{
border
-
top
:
1px
solid
var
(
-
-
panel
-
separator
-
color
)
;
}
.
identity
-
popup
-
security
-
content
#
identity
-
popup
-
permissions
-
content
#
tracking
-
protection
-
content
{
background
-
repeat
:
no
-
repeat
;
background
-
position
:
1em
1em
;
background
-
size
:
24px
auto
;
-
moz
-
context
-
properties
:
fill
fill
-
opacity
;
fill
:
currentColor
;
fill
-
opacity
:
.
6
;
padding
:
0
.
5em
0
1em
;
padding
-
inline
-
start
:
calc
(
2em
+
24px
)
;
padding
-
inline
-
end
:
1em
;
}
.
identity
-
popup
-
security
-
content
:
-
moz
-
locale
-
dir
(
rtl
)
#
identity
-
popup
-
permissions
-
content
:
-
moz
-
locale
-
dir
(
rtl
)
#
tracking
-
protection
-
content
:
-
moz
-
locale
-
dir
(
rtl
)
{
background
-
position
:
calc
(
100
%
-
1em
)
1em
;
}
.
identity
-
popup
-
expander
{
margin
:
0
;
padding
:
4px
0
;
min
-
width
:
auto
;
width
:
identityPopupExpanderWidth
;
border
-
style
:
none
;
-
moz
-
appearance
:
none
;
background
:
url
(
"
chrome
:
/
/
browser
/
skin
/
arrow
-
left
.
svg
"
)
center
no
-
repeat
;
background
-
size
:
16px
auto
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
color
:
inherit
;
}
.
identity
-
popup
-
expander
:
-
moz
-
locale
-
dir
(
ltr
)
{
transform
:
scaleX
(
-
1
)
;
}
.
identity
-
popup
-
expander
>
.
button
-
box
{
border
-
right
:
1px
solid
var
(
-
-
panel
-
separator
-
color
)
;
padding
:
0
;
}
.
identity
-
popup
-
expander
:
hover
{
background
-
color
:
var
(
-
-
arrowpanel
-
dimmed
)
;
}
.
identity
-
popup
-
expander
:
hover
:
active
{
background
-
color
:
var
(
-
-
arrowpanel
-
dimmed
-
further
)
;
box
-
shadow
:
0
1px
0
hsla
(
210
4
%
10
%
.
05
)
inset
;
}
.
identity
-
popup
-
preferences
-
button
{
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
settings
.
svg
)
;
padding
:
5px
8px
!
important
;
margin
-
bottom
:
2px
!
important
;
}
.
identity
-
popup
-
preferences
-
button
>
.
toolbarbutton
-
text
{
display
:
none
;
}
.
identity
-
popup
-
permission
-
label
.
identity
-
popup
-
permission
-
state
-
label
.
identity
-
popup
-
security
-
content
>
description
#
identity
-
popup
-
security
-
descriptions
>
description
#
identity
-
popup
-
securityView
-
body
>
description
#
identity
-
popup
-
permissions
-
content
>
description
#
tracking
-
protection
-
content
>
description
{
font
-
size
:
110
%
;
margin
:
0
;
}
#
identity
-
popup
-
permissions
-
content
>
description
#
tracking
-
protection
-
content
>
description
{
color
:
var
(
-
-
panel
-
disabled
-
color
)
;
}
#
identity
-
popup
-
content
-
supplemental
{
white
-
space
:
pre
-
wrap
;
}
.
identity
-
popup
-
headline
{
margin
:
3px
0
4px
;
font
-
size
:
150
%
;
}
.
identity
-
popup
-
host
{
word
-
wrap
:
break
-
word
;
max
-
width
:
calc
(
30rem
-
3rem
-
24px
-
identityPopupExpanderWidth
)
;
}
.
identity
-
popup
-
warning
-
gray
{
padding
-
inline
-
start
:
24px
;
background
:
url
(
chrome
:
/
/
browser
/
skin
/
controlcenter
/
warning
-
gray
.
svg
)
no
-
repeat
0
50
%
;
}
.
identity
-
popup
-
warning
-
yellow
{
padding
-
inline
-
start
:
24px
;
background
:
url
(
chrome
:
/
/
browser
/
skin
/
controlcenter
/
warning
-
yellow
.
svg
)
no
-
repeat
0
50
%
;
}
.
identity
-
popup
-
warning
-
gray
:
-
moz
-
locale
-
dir
(
rtl
)
.
identity
-
popup
-
warning
-
yellow
:
-
moz
-
locale
-
dir
(
rtl
)
{
background
-
position
:
100
%
50
%
;
}
.
identity
-
popup
-
connection
-
secure
{
color
:
#
058B00
;
}
:
root
[
lwt
-
popup
-
brighttext
]
.
identity
-
popup
-
connection
-
secure
{
color
:
#
30e60b
;
}
.
identity
-
popup
-
connection
-
not
-
secure
{
color
:
#
d74345
;
}
.
identity
-
popup
-
security
-
content
{
background
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
controlcenter
/
conn
-
not
-
secure
.
svg
)
;
}
#
identity
-
popup
[
connection
=
chrome
]
.
identity
-
popup
-
security
-
content
{
background
-
image
:
url
(
chrome
:
/
/
branding
/
content
/
icon48
.
png
)
;
}
#
identity
-
popup
[
connection
^
=
secure
]
.
identity
-
popup
-
security
-
content
{
background
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
controlcenter
/
connection
.
svg
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
#
12BC00
;
}
#
identity
-
popup
[
ciphers
=
weak
]
.
identity
-
popup
-
security
-
content
#
identity
-
popup
[
mixedcontent
~
=
passive
-
loaded
]
[
isbroken
]
.
identity
-
popup
-
security
-
content
{
background
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
controlcenter
/
connection
.
svg
)
;
-
moz
-
context
-
properties
:
fill
fill
-
opacity
;
}
#
identity
-
popup
[
connection
=
secure
-
cert
-
user
-
overridden
]
.
identity
-
popup
-
security
-
content
{
background
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
connection
-
mixed
-
passive
-
loaded
.
svg
)
;
fill
:
unset
;
-
moz
-
context
-
properties
:
fill
fill
-
opacity
;
}
#
identity
-
popup
[
loginforms
=
insecure
]
.
identity
-
popup
-
security
-
content
#
identity
-
popup
[
mixedcontent
~
=
active
-
loaded
]
[
isbroken
]
.
identity
-
popup
-
security
-
content
{
background
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
controlcenter
/
mcb
-
disabled
.
svg
)
;
-
moz
-
context
-
properties
:
fill
fill
-
opacity
;
}
#
identity
-
popup
[
connection
=
extension
]
.
identity
-
popup
-
security
-
content
{
background
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
controlcenter
/
extension
.
svg
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
#
60bf4c
;
}
#
identity
-
popup
-
security
-
descriptions
>
description
{
margin
-
top
:
6px
;
color
:
var
(
-
-
panel
-
disabled
-
color
)
;
}
#
identity
-
popup
-
securityView
-
body
{
margin
-
inline
-
start
:
calc
(
2em
+
24px
)
;
margin
-
inline
-
end
:
1em
;
border
-
top
:
1px
solid
var
(
-
-
panel
-
separator
-
color
)
;
padding
-
inline
-
end
:
1em
;
}
#
identity
-
popup
-
more
-
info
-
footer
{
margin
-
top
:
1em
;
}
.
identity
-
popup
-
footer
{
background
-
color
:
var
(
-
-
arrowpanel
-
dimmed
)
;
}
.
identity
-
popup
-
footer
>
button
{
-
moz
-
appearance
:
none
;
margin
:
0
;
border
:
none
;
border
-
top
:
1px
solid
var
(
-
-
panel
-
separator
-
color
)
;
padding
:
8px
20px
;
color
:
inherit
;
background
-
color
:
transparent
;
}
.
identity
-
popup
-
footer
>
button
:
hover
.
identity
-
popup
-
footer
>
button
:
focus
{
background
-
color
:
var
(
-
-
arrowpanel
-
dimmed
)
;
}
.
identity
-
popup
-
footer
>
button
:
hover
:
active
{
background
-
color
:
var
(
-
-
arrowpanel
-
dimmed
-
further
)
;
}
#
identity
-
popup
-
content
-
verifier
~
description
{
margin
-
top
:
1em
;
color
:
var
(
-
-
panel
-
disabled
-
color
)
;
}
description
#
identity
-
popup
-
content
-
verified
-
by
description
#
identity
-
popup
-
content
-
owner
description
#
identity
-
popup
-
content
-
verifier
#
identity
-
popup
-
securityView
-
body
>
button
{
margin
-
top
:
1em
;
}
#
identity
-
popup
-
securityView
-
body
>
button
{
margin
-
inline
-
start
:
0
;
margin
-
inline
-
end
:
0
;
}
#
tracking
-
protection
-
content
{
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
controlcenter
/
tracking
-
protection
.
svg
"
)
;
}
#
tracking
-
protection
-
content
[
enabled
=
"
false
"
]
#
tracking
-
protection
-
content
[
hasException
]
#
tracking
-
protection
-
content
[
state
=
"
loaded
-
tracking
-
content
"
]
{
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
controlcenter
/
tracking
-
protection
-
disabled
.
svg
"
)
;
}
#
tracking
-
protection
-
label
-
off
#
tracking
-
protection
-
content
[
enabled
=
"
false
"
]
#
tracking
-
protection
-
label
-
on
#
tracking
-
protection
-
content
[
hasException
]
#
tracking
-
protection
-
label
-
on
#
tracking
-
protection
-
content
[
state
=
"
loaded
-
tracking
-
content
"
]
#
tracking
-
protection
-
label
-
on
{
display
:
none
;
}
#
tracking
-
protection
-
label
-
on
#
tracking
-
protection
-
content
[
enabled
=
"
false
"
]
#
tracking
-
protection
-
label
-
off
#
tracking
-
protection
-
content
[
hasException
]
#
tracking
-
protection
-
label
-
off
#
tracking
-
protection
-
content
[
state
=
"
loaded
-
tracking
-
content
"
]
#
tracking
-
protection
-
label
-
off
{
display
:
-
moz
-
box
;
}
#
tracking
-
protection
-
content
>
description
{
display
:
none
;
}
.
tracking
-
protection
-
button
{
margin
:
1em
0
0
;
display
:
none
;
}
#
tracking
-
protection
-
content
:
not
(
[
state
]
)
:
-
moz
-
any
(
[
enabled
=
"
false
"
]
:
not
(
[
hasException
]
)
)
>
#
tracking
-
not
-
detected
#
tracking
-
protection
-
content
:
not
(
[
state
]
)
[
enabled
=
"
true
"
]
[
hasException
]
>
#
tracking
-
not
-
detected
-
exception
#
tracking
-
protection
-
content
[
state
=
"
blocked
-
tracking
-
content
"
]
>
#
tracking
-
blocked
#
main
-
window
:
not
(
[
privatebrowsingmode
]
)
#
tracking
-
protection
-
content
[
state
=
"
blocked
-
tracking
-
content
"
]
>
#
tracking
-
action
-
unblock
#
main
-
window
[
privatebrowsingmode
]
#
tracking
-
protection
-
content
[
state
=
"
blocked
-
tracking
-
content
"
]
>
#
tracking
-
action
-
unblock
-
private
#
tracking
-
protection
-
content
[
enabled
=
"
true
"
]
:
not
(
[
hasException
]
)
[
state
=
"
loaded
-
tracking
-
content
"
]
>
#
tracking
-
reload
-
required
#
tracking
-
protection
-
content
[
enabled
=
"
true
"
]
:
not
(
[
hasException
]
)
[
state
=
"
loaded
-
tracking
-
content
"
]
>
#
tracking
-
action
-
reload
#
tracking
-
protection
-
content
[
state
=
"
loaded
-
tracking
-
content
"
]
[
enabled
=
"
false
"
]
>
#
tracking
-
loaded
#
tracking
-
protection
-
content
[
state
=
"
loaded
-
tracking
-
content
"
]
[
enabled
=
"
true
"
]
[
hasException
]
>
#
tracking
-
loaded
-
exception
#
tracking
-
protection
-
content
[
enabled
=
"
true
"
]
[
hasException
]
>
#
tracking
-
action
-
block
{
display
:
-
moz
-
box
;
}
#
identity
-
popup
-
permissions
-
content
{
background
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
controlcenter
/
permissions
.
svg
)
;
padding
-
bottom
:
1
.
5em
;
}
supports
-
moz
-
bool
-
pref
(
"
layout
.
css
.
emulate
-
moz
-
box
-
with
-
flex
"
)
{
#
identity
-
popup
-
permissions
-
content
{
padding
-
bottom
:
1em
;
}
}
#
identity
-
popup
-
permissions
-
headline
{
min
-
height
:
24px
;
}
#
identity
-
popup
-
permission
-
list
{
margin
-
inline
-
start
:
calc
(
-
1em
-
16px
)
;
}
.
identity
-
popup
-
permission
-
item
{
min
-
height
:
24px
;
}
#
identity
-
popup
-
permission
-
list
:
not
(
:
empty
)
{
margin
-
top
:
5px
;
}
.
identity
-
popup
-
permission
-
icon
{
width
:
16px
;
height
:
16px
;
}
.
identity
-
popup
-
permission
-
icon
.
in
-
use
{
-
moz
-
context
-
properties
:
fill
;
fill
:
rgb
(
224
41
29
)
;
animation
:
1
.
5s
ease
in
-
use
-
blink
infinite
;
}
keyframes
in
-
use
-
blink
{
50
%
{
opacity
:
0
;
}
}
.
identity
-
popup
-
permission
-
label
.
identity
-
popup
-
permission
-
state
-
label
{
margin
-
top
:
-
0
.
1em
;
}
.
identity
-
popup
-
permission
-
label
{
margin
-
inline
-
start
:
1em
;
}
.
identity
-
popup
-
permission
-
state
-
label
{
margin
-
inline
-
end
:
5px
;
text
-
align
:
end
;
color
:
var
(
-
-
panel
-
disabled
-
color
)
;
}
.
identity
-
popup
-
permission
-
remove
-
button
{
-
moz
-
appearance
:
none
;
margin
:
0
;
border
-
width
:
0
;
border
-
radius
:
50
%
;
min
-
width
:
0
;
padding
:
2px
;
background
-
color
:
transparent
;
color
:
inherit
;
opacity
:
0
.
6
;
}
.
identity
-
popup
-
permission
-
remove
-
button
>
.
button
-
box
{
padding
:
0
;
}
.
identity
-
popup
-
permission
-
remove
-
button
>
.
button
-
box
>
.
button
-
icon
{
margin
:
0
;
width
:
16px
;
height
:
16px
;
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
panel
-
icon
-
cancel
.
svg
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
}
.
identity
-
popup
-
permission
-
remove
-
button
>
.
button
-
box
>
.
button
-
text
{
display
:
none
;
}
.
identity
-
popup
-
permission
-
remove
-
button
:
not
(
:
-
moz
-
focusring
)
:
hover
{
background
-
color
:
currentColor
;
}
.
identity
-
popup
-
permission
-
remove
-
button
:
not
(
:
-
moz
-
focusring
)
:
hover
>
.
button
-
box
>
.
button
-
icon
{
fill
:
var
(
-
-
arrowpanel
-
background
)
;
}
.
identity
-
popup
-
permission
-
remove
-
button
:
not
(
:
-
moz
-
focusring
)
:
hover
:
active
{
opacity
:
0
.
8
;
}
