:
root
.
theme
-
light
{
-
-
old
-
tooltip
-
simpletext
-
color
:
black
;
-
-
old
-
tooltip
-
simpletext
-
border
:
#
d9e1e8
;
-
-
old
-
tooltip
-
arrow
-
vertical
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
tooltip
/
arrow
-
vertical
-
light
.
png
"
)
;
-
-
old
-
tooltip
-
arrow
-
horizontal
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
tooltip
/
arrow
-
horizontal
-
light
.
png
"
)
;
-
-
old
-
tooltip
-
arrow
-
vertical
-
2x
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
tooltip
/
arrow
-
vertical
-
light
2x
.
png
"
)
;
-
-
old
-
tooltip
-
arrow
-
horizontal
-
2x
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
tooltip
/
arrow
-
horizontal
-
light
2x
.
png
"
)
;
-
-
old
-
tooltip
-
arrowcontent
-
background
:
rgba
(
255
255
255
.
9
)
;
-
-
old
-
tooltip
-
arrowcontent
-
border
:
#
d9e1e8
;
}
:
root
.
theme
-
dark
{
-
-
old
-
tooltip
-
simpletext
-
color
:
white
;
-
-
old
-
tooltip
-
simpletext
-
border
:
#
434850
;
-
-
old
-
tooltip
-
arrow
-
vertical
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
tooltip
/
arrow
-
vertical
-
dark
.
png
"
)
;
-
-
old
-
tooltip
-
arrow
-
horizontal
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
tooltip
/
arrow
-
horizontal
-
dark
.
png
"
)
;
-
-
old
-
tooltip
-
arrow
-
vertical
-
2x
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
tooltip
/
arrow
-
vertical
-
dark
2x
.
png
"
)
;
-
-
old
-
tooltip
-
arrow
-
horizontal
-
2x
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
tooltip
/
arrow
-
horizontal
-
dark
2x
.
png
"
)
;
-
-
old
-
tooltip
-
arrowcontent
-
background
:
rgba
(
19
28
38
.
9
)
;
-
-
old
-
tooltip
-
arrowcontent
-
border
:
#
434850
;
}
.
devtools
-
tooltip
.
panel
-
arrowcontent
{
padding
:
4px
;
}
.
devtools
-
tooltip
.
panel
-
arrowcontainer
{
transition
:
none
;
transform
:
none
;
}
.
devtools
-
tooltip
[
clamped
-
dimensions
]
{
min
-
height
:
100px
;
max
-
height
:
400px
;
min
-
width
:
100px
;
max
-
width
:
400px
;
}
.
devtools
-
tooltip
[
clamped
-
dimensions
-
no
-
min
-
height
]
{
min
-
height
:
0
;
max
-
height
:
400px
;
min
-
width
:
100px
;
max
-
width
:
400px
;
}
.
devtools
-
tooltip
[
clamped
-
dimensions
-
no
-
max
-
or
-
min
-
height
]
{
min
-
width
:
400px
;
max
-
width
:
400px
;
}
.
devtools
-
tooltip
[
clamped
-
dimensions
]
.
panel
-
arrowcontent
.
devtools
-
tooltip
[
clamped
-
dimensions
-
no
-
min
-
height
]
.
panel
-
arrowcontent
.
devtools
-
tooltip
[
clamped
-
dimensions
-
no
-
max
-
or
-
min
-
height
]
.
panel
-
arrowcontent
{
overflow
:
hidden
;
}
.
devtools
-
tooltip
[
wide
]
{
max
-
width
:
600px
;
}
.
devtools
-
tooltip
-
simple
-
text
{
max
-
width
:
400px
;
margin
:
0
-
4px
;
padding
:
8px
12px
;
white
-
space
:
pre
-
wrap
;
}
.
devtools
-
tooltip
-
simple
-
text
:
first
-
child
{
margin
-
top
:
-
4px
;
}
.
devtools
-
tooltip
-
simple
-
text
:
last
-
child
{
margin
-
bottom
:
-
4px
;
}
.
devtools
-
tooltip
-
variables
-
view
-
box
{
margin
:
-
4px
;
}
.
devtools
-
tooltip
-
variables
-
view
-
box
.
variable
-
or
-
property
>
.
title
{
padding
-
inline
-
end
:
6px
;
}
.
devtools
-
tooltip
-
iframe
{
border
:
none
;
background
:
transparent
;
}
.
theme
-
tooltip
-
panel
.
devtools
-
tooltip
-
simple
-
text
:
last
-
child
{
border
-
bottom
:
0
;
}
.
theme
-
tooltip
-
panel
.
panel
-
arrowcontent
{
padding
:
4px
;
background
:
var
(
-
-
old
-
tooltip
-
arrowcontent
-
background
)
;
border
-
radius
:
5px
;
box
-
shadow
:
none
;
border
:
3px
solid
var
(
-
-
old
-
tooltip
-
arrowcontent
-
border
)
;
}
.
theme
-
tooltip
-
panel
.
panel
-
arrow
{
-
-
arrow
-
margin
:
-
4px
;
}
:
root
[
platform
=
"
win
"
]
.
theme
-
tooltip
-
panel
.
panel
-
arrow
{
-
-
arrow
-
margin
:
-
7px
;
}
.
theme
-
tooltip
-
panel
.
panel
-
arrow
[
side
=
"
top
"
]
.
theme
-
tooltip
-
panel
.
panel
-
arrow
[
side
=
"
bottom
"
]
{
list
-
style
-
image
:
var
(
-
-
old
-
tooltip
-
arrow
-
vertical
)
;
width
:
39px
!
important
;
height
:
16px
!
important
;
}
.
theme
-
tooltip
-
panel
.
panel
-
arrow
[
side
=
"
left
"
]
.
theme
-
tooltip
-
panel
.
panel
-
arrow
[
side
=
"
right
"
]
{
list
-
style
-
image
:
var
(
-
-
old
-
tooltip
-
arrow
-
horizontal
)
;
width
:
16px
!
important
;
height
:
39px
!
important
;
}
.
theme
-
tooltip
-
panel
.
panel
-
arrow
[
side
=
"
top
"
]
{
margin
-
bottom
:
var
(
-
-
arrow
-
margin
)
;
}
.
theme
-
tooltip
-
panel
.
panel
-
arrow
[
side
=
"
bottom
"
]
{
margin
-
top
:
var
(
-
-
arrow
-
margin
)
;
}
.
theme
-
tooltip
-
panel
.
panel
-
arrow
[
side
=
"
left
"
]
{
margin
-
right
:
var
(
-
-
arrow
-
margin
)
;
}
.
theme
-
tooltip
-
panel
.
panel
-
arrow
[
side
=
"
right
"
]
{
margin
-
left
:
var
(
-
-
arrow
-
margin
)
;
}
media
(
min
-
resolution
:
1
.
1dppx
)
{
.
theme
-
tooltip
-
panel
.
panel
-
arrow
[
side
=
"
top
"
]
.
theme
-
tooltip
-
panel
.
panel
-
arrow
[
side
=
"
bottom
"
]
{
list
-
style
-
image
:
var
(
-
-
old
-
tooltip
-
arrow
-
vertical
-
2x
)
;
}
.
theme
-
tooltip
-
panel
.
panel
-
arrow
[
side
=
"
left
"
]
.
theme
-
tooltip
-
panel
.
panel
-
arrow
[
side
=
"
right
"
]
{
list
-
style
-
image
:
var
(
-
-
old
-
tooltip
-
arrow
-
horizontal
-
2x
)
;
}
}
.
theme
-
tooltip
-
panel
.
devtools
-
tooltip
-
simple
-
text
{
color
:
var
(
-
-
old
-
tooltip
-
simpletext
-
color
)
;
border
-
bottom
:
1px
solid
var
(
-
-
old
-
tooltip
-
simpletext
-
border
)
;
}
