namespace
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
.
profile
-
item
-
box
>
.
profile
-
item
-
col
>
.
profile
-
label
{
font
-
size
:
1
.
18em
;
}
.
profile
-
item
-
box
>
.
profile
-
item
-
col
>
.
profile
-
comment
{
font
-
size
:
.
9em
;
}
