namespace
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
.
autofill
-
item
-
box
>
.
profile
-
item
-
col
>
.
profile
-
label
{
font
-
size
:
1
.
09em
;
}
.
autofill
-
item
-
box
>
.
profile
-
item
-
col
>
.
profile
-
comment
{
font
-
size
:
.
9em
;
}
.
autofill
-
footer
>
.
autofill
-
warning
{
font
-
size
:
.
9em
;
}
