body
{
margin
:
0
;
}
media
not
print
{
.
shrinkToFit
{
cursor
:
zoom
-
in
;
}
.
overflowingVertical
.
overflowingHorizontalOnly
{
cursor
:
zoom
-
out
;
}
}
.
isInObjectOrEmbed
{
width
:
100
%
;
height
:
100vh
;
}
img
{
display
:
block
;
}
