media
not
print
{
body
{
margin
:
0
;
}
img
{
text
-
align
:
center
;
position
:
absolute
;
margin
:
auto
;
top
:
0
;
right
:
0
;
bottom
:
0
;
left
:
0
;
}
img
.
overflowingVertical
{
margin
-
top
:
0
;
}
.
completeRotation
{
transition
:
transform
0
.
3s
ease
0s
;
}
}
img
{
image
-
orientation
:
from
-
image
;
}
