body
{
height
:
100
%
;
width
:
100
%
;
margin
:
0
;
padding
:
0
;
-
moz
-
user
-
focus
:
ignore
;
}
video
{
position
:
absolute
;
top
:
0
;
right
:
0
;
bottom
:
0
;
left
:
0
;
margin
:
auto
;
max
-
width
:
100
%
;
max
-
height
:
100
%
;
-
moz
-
user
-
select
:
none
;
-
moz
-
user
-
focus
:
normal
;
}
video
:
focus
{
outline
-
width
:
0
;
}
