media
not
print
{
body
{
color
:
#
eee
;
background
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
media
/
imagedoc
-
darknoise
.
png
"
)
;
}
img
.
transparent
{
color
:
#
222
;
background
:
hsl
(
0
0
%
90
%
)
url
(
"
chrome
:
/
/
global
/
skin
/
media
/
imagedoc
-
lightnoise
.
png
"
)
;
}
img
{
text
-
align
:
center
;
position
:
absolute
;
inset
:
0
;
margin
:
auto
;
}
img
.
overflowingVertical
{
margin
-
top
:
0
;
}
.
completeRotation
{
transition
:
transform
0
.
3s
ease
0s
;
}
}
img
{
image
-
orientation
:
from
-
image
;
}
