import
"
chrome
:
/
/
devtools
/
skin
/
widgets
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
themes
/
light
-
theme
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
shared
/
components
/
splitter
/
SplitBox
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
shared
/
components
/
tree
/
TreeView
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
shared
/
components
/
tabs
/
Tabs
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
shared
/
components
/
tabs
/
TabBar
.
css
"
;
import
"
chrome
:
/
/
devtools
/
skin
/
components
-
frame
.
css
"
;
import
"
chrome
:
/
/
devtools
/
content
/
sourceeditor
/
codemirror
/
lib
/
codemirror
.
css
"
;
import
"
chrome
:
/
/
devtools
/
content
/
sourceeditor
/
codemirror
/
addon
/
dialog
/
dialog
.
css
"
;
import
"
chrome
:
/
/
devtools
/
content
/
sourceeditor
/
codemirror
/
mozilla
.
css
"
;
import
"
chrome
:
/
/
devtools
/
content
/
netmonitor
/
src
/
assets
/
styles
/
variables
.
css
"
;
import
"
chrome
:
/
/
devtools
/
content
/
netmonitor
/
src
/
assets
/
styles
/
MdnLink
.
css
"
;
import
"
chrome
:
/
/
devtools
/
content
/
netmonitor
/
src
/
assets
/
styles
/
NetworkDetailsPanel
.
css
"
;
