.
network
-
monitor
.
learn
-
more
-
link
:
:
before
{
background
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
help
.
svg
)
;
}
.
network
-
monitor
.
tree
-
container
.
treeTable
tr
.
learn
-
more
-
link
{
position
:
absolute
;
top
:
0
;
left
:
0
;
padding
:
0
;
}
.
network
-
monitor
.
tree
-
container
.
treeTable
tr
:
not
(
:
hover
)
.
learn
-
more
-
link
{
opacity
:
0
.
1
;
}
