#
messages
-
view
.
uncontrolled
{
flex
-
direction
:
column
;
}
#
messages
-
view
.
message
-
list
-
scroll
-
anchor
{
min
-
height
:
1px
;
margin
:
0
;
padding
:
0
;
border
:
none
;
}
#
messages
-
view
.
message
-
list
-
empty
-
notice
{
width
:
100
%
;
}
#
messages
-
view
.
message
-
list
-
type
-
icon
{
display
:
inline
-
block
;
vertical
-
align
:
-
4px
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
}
#
messages
-
view
.
message
-
list
-
type
-
icon
-
sent
{
color
:
var
(
-
-
green
-
70
)
;
}
#
messages
-
view
.
theme
-
dark
.
message
-
list
-
type
-
icon
-
sent
{
color
:
var
(
-
-
green
-
50
)
;
}
#
messages
-
view
.
message
-
list
-
type
-
icon
-
received
{
color
:
var
(
-
-
red
-
60
)
;
transform
:
scaleY
(
-
1
)
;
}
#
messages
-
view
.
theme
-
dark
.
message
-
list
-
type
-
icon
-
received
{
color
:
var
(
-
-
red
-
40
)
;
}
#
messages
-
view
.
message
-
list
-
item
.
selected
.
message
-
list
-
type
-
icon
{
color
:
inherit
;
}
#
messages
-
view
.
msg
-
connection
-
closed
-
message
{
text
-
align
:
center
;
}
#
messages
-
view
.
message
-
list
-
time
{
font
-
variant
-
numeric
:
tabular
-
nums
;
}
#
messages
-
view
.
message
-
payload
{
width
:
100
%
;
}
#
messages
-
view
.
message
-
rawData
-
payload
{
display
:
block
;
width
:
100
%
;
overflow
:
auto
;
white
-
space
:
pre
;
padding
:
4px
8px
;
padding
-
inline
-
start
:
20px
;
border
:
none
;
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
font
-
size
:
var
(
-
-
theme
-
code
-
font
-
size
)
;
line
-
height
:
calc
(
15
/
11
)
;
direction
:
ltr
;
text
-
align
:
left
;
resize
:
none
;
color
:
var
(
-
-
theme
-
body
-
color
)
;
background
-
color
:
var
(
-
-
theme
-
sidebar
-
background
)
;
}
#
messages
-
view
.
treeTable
.
objectBox
{
white
-
space
:
normal
;
overflow
-
wrap
:
break
-
word
;
}
.
theme
-
light
#
messages
-
view
.
truncated
-
data
-
message
{
background
:
var
(
-
-
grey
-
20
)
;
}
.
theme
-
dark
#
messages
-
view
.
truncated
-
data
-
message
{
background
:
var
(
-
-
grey
-
70
)
;
}
.
truncated
-
data
-
message
{
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
padding
:
4px
8px
;
font
-
size
:
12px
;
}
.
theme
-
light
#
messages
-
view
.
truncated
-
messages
-
header
{
background
:
var
(
-
-
grey
-
20
)
;
}
.
theme
-
dark
#
messages
-
view
.
truncated
-
messages
-
header
{
background
:
var
(
-
-
grey
-
70
)
;
}
.
theme
-
dark
#
messages
-
view
.
truncated
-
messages
-
warning
-
icon
{
fill
:
var
(
-
-
grey
-
40
)
;
}
#
messages
-
view
.
truncated
-
messages
-
cell
{
padding
:
0
;
}
#
messages
-
view
.
truncated
-
messages
-
header
{
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
padding
:
2px
8px
;
display
:
flex
;
justify
-
content
:
space
-
between
;
align
-
items
:
center
;
}
#
messages
-
view
.
truncated
-
messages
-
container
#
messages
-
view
.
truncated
-
messages
-
checkbox
-
label
{
display
:
flex
;
align
-
items
:
center
;
}
#
messages
-
view
.
truncated
-
messages
-
warning
-
icon
{
width
:
12px
;
height
:
12px
;
margin
-
inline
-
end
:
8px
;
background
-
image
:
url
(
chrome
:
/
/
global
/
skin
/
icons
/
info
.
svg
)
;
background
-
repeat
:
no
-
repeat
;
-
moz
-
context
-
properties
:
fill
;
fill
:
inherit
;
}
#
messages
-
view
.
truncation
-
checkbox
{
margin
-
inline
-
end
:
5px
;
}
#
messages
-
view
.
truncated
-
message
{
font
-
variant
-
numeric
:
tabular
-
nums
;
}
