.
network
-
monitor
.
monitor
-
panel
.
request
-
list
-
container
.
requests
-
list
-
scroll
{
width
:
100
%
!
important
;
}
.
search
-
panel
{
display
:
flex
;
flex
-
direction
:
column
;
overflow
:
hidden
;
}
.
search
-
panel
-
content
{
width
:
100
%
;
overflow
:
auto
;
}
.
search
-
panel
.
treeTable
.
treeLabelCell
:
:
after
{
content
:
"
"
;
}
.
search
-
panel
.
resourceCell
{
color
:
var
(
-
-
theme
-
text
-
color
-
inactive
)
;
}
.
search
-
panel
.
resultCell
{
color
:
var
(
-
-
table
-
text
-
color
)
;
text
-
overflow
:
ellipsis
;
}
.
search
-
panel
.
treeLabel
.
resultLabel
{
color
:
var
(
-
-
theme
-
text
-
color
-
inactive
)
;
}
.
search
-
panel
.
treeTable
tr
{
display
:
block
;
}
.
search
-
panel
.
treeTable
{
width
:
100
%
;
}
#
devtools
-
network
-
search
-
close
:
:
before
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
close
.
svg
"
)
;
}
#
devtools
-
network
-
search
-
close
>
button
{
margin
:
0
!
important
;
border
-
radius
:
0
!
important
;
position
:
relative
;
min
-
width
:
26px
;
}
.
search
-
panel
.
resultCell
.
query
-
match
{
background
-
color
:
var
(
-
-
theme
-
selection
-
background
)
;
color
:
white
;
padding
:
1px
4px
;
margin
:
0
2px
0
2px
;
border
-
radius
:
2px
;
}
