.
status
-
code
{
min
-
width
:
calc
(
3ch
+
4px
)
;
padding
:
0
2px
;
border
-
radius
:
3px
;
text
-
align
:
center
;
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
line
-
height
:
normal
;
}
.
status
-
code
[
data
-
code
^
=
"
1
"
]
{
background
-
color
:
var
(
-
-
status
-
code
-
color
-
1xx
)
;
}
.
status
-
code
[
data
-
code
^
=
"
2
"
]
{
background
-
color
:
var
(
-
-
status
-
code
-
color
-
2xx
)
;
}
.
status
-
code
[
data
-
code
^
=
"
3
"
]
{
background
-
color
:
var
(
-
-
status
-
code
-
color
-
3xx
)
;
}
.
status
-
code
[
data
-
code
^
=
"
4
"
]
{
background
-
color
:
var
(
-
-
status
-
code
-
color
-
4xx
)
;
}
.
status
-
code
[
data
-
code
^
=
"
5
"
]
{
background
-
color
:
var
(
-
-
status
-
code
-
color
-
5xx
)
;
}
.
status
-
code
[
data
-
code
^
=
"
0
"
]
.
status
-
code
[
data
-
code
^
=
"
6
"
]
.
status
-
code
[
data
-
code
^
=
"
7
"
]
.
status
-
code
[
data
-
code
^
=
"
8
"
]
.
status
-
code
[
data
-
code
^
=
"
9
"
]
{
background
-
color
:
var
(
-
-
status
-
code
-
color
-
5xx
)
;
}
.
status
-
code
:
not
(
[
data
-
code
^
=
"
3
"
]
)
:
not
(
.
status
-
code
-
blocked
)
{
color
:
var
(
-
-
theme
-
body
-
background
)
;
}
.
status
-
code
-
blocked
{
color
:
var
(
-
-
theme
-
icon
-
error
-
color
)
;
}
.
status
-
code
-
blocked
img
{
height
:
12px
;
width
:
12px
;
vertical
-
align
:
-
2px
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
}
