.
devtools
-
toolbar
{
display
:
flex
;
align
-
items
:
center
;
}
#
netmonitor
-
toolbar
-
container
>
.
devtools
-
toolbar
{
min
-
height
:
var
(
-
-
primary
-
toolbar
-
height
)
;
}
.
requests
-
list
-
filter
-
buttons
{
white
-
space
:
nowrap
;
margin
:
0
7px
;
}
.
devtools
-
button
.
devtools
-
pause
-
icon
:
:
before
.
devtools
-
button
.
devtools
-
play
-
icon
:
:
before
{
margin
-
bottom
:
1px
;
}
.
devtools
-
button
.
devtools
-
pause
-
icon
:
:
before
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
pause
.
svg
"
)
;
}
.
devtools
-
button
.
devtools
-
play
-
icon
:
:
before
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
content
/
netmonitor
/
src
/
assets
/
icons
/
play
.
svg
"
)
;
}
#
devtools
-
har
-
button
{
margin
-
inline
-
end
:
10px
;
padding
-
left
:
2px
;
padding
-
right
:
10px
;
background
-
position
:
right
center
;
}
#
network
-
throttling
-
menu
{
margin
-
inline
-
start
:
10px
;
}
.
devtools
-
checkbox
{
position
:
relative
;
vertical
-
align
:
middle
;
bottom
:
1px
;
}
.
devtools
-
checkbox
-
label
{
margin
-
inline
-
start
:
2px
;
margin
-
inline
-
end
:
2px
;
white
-
space
:
nowrap
;
}
.
devtools
-
checkbox
-
label
.
devtools
-
persistlog
-
checkbox
{
margin
-
inline
-
start
:
4px
;
}
.
devtools
-
checkbox
-
label
.
devtools
-
cache
-
checkbox
{
margin
-
inline
-
end
:
7px
;
}
media
(
max
-
width
:
590px
)
{
.
network
-
monitor
.
devtools
-
searchbox
.
learn
-
more
-
link
{
display
:
none
;
}
}
