.
devtools
-
toolbar
{
display
:
flex
;
line
-
height
:
23px
;
}
.
monitor
-
panel
.
devtools
-
button
{
background
-
color
:
transparent
;
}
.
theme
-
light
.
monitor
-
panel
.
devtools
-
button
.
checked
{
color
:
var
(
-
-
grey
-
90
)
;
background
-
color
:
var
(
-
-
grey
-
90
-
a10
)
;
}
.
devtools
-
toolbar
-
container
{
height
:
auto
;
flex
-
wrap
:
wrap
;
justify
-
content
:
space
-
between
;
}
.
devtools
-
toolbar
-
group
{
display
:
flex
;
flex
:
0
0
auto
;
flex
-
wrap
:
nowrap
;
align
-
items
:
center
;
}
.
devtools
-
toolbar
-
group
.
devtools
-
separator
{
height
:
24px
;
}
.
devtools
-
toolbar
-
two
-
rows
-
1
.
devtools
-
toolbar
-
two
-
rows
-
2
.
devtools
-
toolbar
-
single
-
row
{
flex
-
grow
:
1
;
min
-
height
:
var
(
-
-
primary
-
toolbar
-
height
)
;
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
}
.
devtools
-
toolbar
-
two
-
rows
-
1
{
width
:
-
moz
-
available
;
}
.
devtools
-
toolbar
-
two
-
rows
-
2
{
justify
-
content
:
space
-
between
;
border
-
top
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
}
.
requests
-
list
-
filter
-
buttons
{
display
:
flex
;
flex
-
wrap
:
wrap
;
margin
:
0
7px
;
}
.
devtools
-
button
.
devtools
-
pause
-
icon
:
:
before
.
devtools
-
button
.
devtools
-
play
-
icon
:
:
before
{
margin
-
bottom
:
1px
;
}
.
devtools
-
button
.
devtools
-
pause
-
icon
:
:
before
{
background
-
image
:
var
(
-
-
pause
-
icon
-
url
)
;
}
.
devtools
-
button
.
devtools
-
play
-
icon
:
:
before
{
background
-
image
:
var
(
-
-
play
-
icon
-
url
)
;
}
.
devtools
-
button
.
devtools
-
har
-
button
{
margin
:
0
0
0
2px
;
padding
:
0
;
}
.
devtools
-
drop
-
down
-
button
{
background
-
image
:
var
(
-
-
drop
-
down
-
icon
-
url
)
!
important
;
background
-
repeat
:
no
-
repeat
!
important
;
margin
-
inline
-
start
:
6px
;
fill
:
var
(
-
-
theme
-
toolbar
-
photon
-
icon
-
color
)
;
-
moz
-
context
-
properties
:
fill
;
}
.
devtools
-
drop
-
down
-
button
.
title
{
padding
-
top
:
0
.
15em
;
text
-
align
:
center
;
overflow
:
hidden
;
display
:
inline
-
block
;
}
#
devtools
-
har
-
button
{
width
:
35px
;
padding
-
right
:
12px
;
background
-
position
:
right
center
;
}
#
devtools
-
har
-
button
.
title
{
width
:
24px
;
}
#
devtools
-
har
-
button
:
not
(
:
hover
)
{
background
-
color
:
transparent
;
}
.
devtools
-
checkbox
{
position
:
relative
;
vertical
-
align
:
middle
;
bottom
:
1px
;
}
.
devtools
-
checkbox
-
label
{
margin
-
inline
-
start
:
2px
;
margin
-
inline
-
end
:
2px
;
white
-
space
:
nowrap
;
}
.
devtools
-
checkbox
-
label
.
devtools
-
persistlog
-
checkbox
{
margin
-
inline
-
start
:
4px
;
}
.
devtools
-
checkbox
-
label
.
devtools
-
cache
-
checkbox
{
margin
-
inline
-
end
:
7px
;
}
#
global
-
network
-
throttling
-
selector
:
not
(
:
hover
)
{
background
-
color
:
transparent
;
}
#
global
-
network
-
throttling
-
selector
{
width
:
92px
;
background
-
position
:
right
4px
center
;
padding
-
left
:
0
;
overflow
:
hidden
;
}
#
global
-
network
-
throttling
-
selector
.
title
{
width
:
85
%
;
}
.
devtools
-
toolbar
-
group
.
devtools
-
filterinput
{
border
:
none
;
box
-
shadow
:
none
;
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
}
.
devtools
-
toolbar
-
group
.
devtools
-
searchbox
{
height
:
29px
;
border
:
1px
solid
transparent
;
}
.
devtools
-
toolbar
-
group
.
devtools
-
searchbox
:
focus
-
within
{
border
:
1px
solid
var
(
-
-
blue
-
50
)
;
margin
-
bottom
:
0
;
margin
-
top
:
0
;
box
-
shadow
:
none
;
}
.
network
-
monitor
.
devtools
-
toolbar
-
group
.
learn
-
more
-
link
:
:
before
{
opacity
:
0
.
6
;
}
media
(
max
-
width
:
590px
)
{
.
network
-
monitor
.
devtools
-
searchbox
:
hover
.
learn
-
more
-
link
{
display
:
none
;
}
}
