#
messages
-
panel
.
ws
-
frame
-
list
-
empty
-
notice
{
width
:
100
%
;
}
#
messages
-
panel
.
ws
-
frames
-
list
-
type
-
icon
{
display
:
inline
-
block
;
vertical
-
align
:
-
4px
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
}
#
messages
-
panel
.
ws
-
frames
-
list
-
type
-
icon
-
sent
{
color
:
var
(
-
-
green
-
70
)
;
}
#
messages
-
panel
.
theme
-
dark
.
ws
-
frames
-
list
-
type
-
icon
-
sent
{
color
:
var
(
-
-
green
-
50
)
;
}
#
messages
-
panel
.
ws
-
frames
-
list
-
type
-
icon
-
received
{
color
:
var
(
-
-
red
-
60
)
;
transform
:
scaleY
(
-
1
)
;
}
#
messages
-
panel
.
theme
-
dark
.
ws
-
frames
-
list
-
type
-
icon
-
received
{
color
:
var
(
-
-
red
-
40
)
;
}
#
messages
-
panel
.
ws
-
frame
-
list
-
item
.
selected
.
ws
-
frames
-
list
-
type
-
icon
{
color
:
inherit
;
}
#
messages
-
panel
.
ws
-
frames
-
list
-
time
{
font
-
variant
-
numeric
:
tabular
-
nums
;
}
#
messages
-
panel
.
ws
-
frame
-
payload
{
width
:
100
%
;
}
#
messages
-
panel
.
ws
-
frame
-
rawData
-
payload
{
white
-
space
:
pre
-
wrap
;
overflow
-
wrap
:
break
-
word
;
padding
:
4px
8px
;
padding
-
inline
-
start
:
20px
;
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
font
-
size
:
var
(
-
-
theme
-
code
-
font
-
size
)
;
line
-
height
:
calc
(
15
/
11
)
;
}
#
messages
-
panel
#
ws
-
frame
-
rawData
-
header
#
messages
-
panel
#
ws
-
frame
-
formattedData
-
header
{
width
:
100
%
}
#
messages
-
panel
.
treeTable
.
objectBox
{
white
-
space
:
normal
;
overflow
-
wrap
:
break
-
word
;
}
