.
netInfoBody
.
netInfoBodiesDiscarded
{
font
-
style
:
italic
;
color
:
gray
;
}
.
netInfoBody
.
netInfoResponseContent
{
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
word
-
wrap
:
break
-
word
;
}
.
netInfoBody
.
responseTabBox
img
{
max
-
width
:
300px
;
max
-
height
:
300px
;
}
