.
netInfoBody
.
netInfoSizeLimit
{
font
-
family
:
var
(
-
-
net
-
font
-
family
)
;
font
-
size
:
var
(
-
-
net
-
font
-
size
)
;
font
-
weight
:
bold
;
padding
-
top
:
10px
;
}
.
netInfoBody
.
netInfoSizeLimit
.
objectLink
{
color
:
var
(
-
-
theme
-
highlight
-
blue
)
;
}
