form
{
justify
-
content
:
center
;
}
form
>
label
form
>
div
{
flex
:
1
0
100
%
;
align
-
self
:
center
;
font
-
size
:
1
.
3em
;
margin
:
0
0
0
.
5em
!
important
;
}
select
{
flex
:
0
0
5em
;
margin
:
0
;
margin
-
inline
-
end
:
0
.
7em
;
}
label
>
span
div
>
span
{
flex
:
0
0
9
.
5em
;
}
