.
editAddressForm
{
display
:
flex
;
flex
-
wrap
:
wrap
;
justify
-
content
:
space
-
between
;
}
:
root
:
not
(
[
subdialog
]
)
.
editAddressForm
{
margin
-
inline
-
start
:
calc
(
var
(
-
-
grid
-
column
-
row
-
gap
)
/
-
2
)
;
margin
-
inline
-
end
:
calc
(
var
(
-
-
grid
-
column
-
row
-
gap
)
/
-
2
)
;
}
.
editAddressForm
.
container
{
margin
-
top
:
var
(
-
-
grid
-
column
-
row
-
gap
)
!
important
;
margin
-
inline
-
start
:
calc
(
var
(
-
-
grid
-
column
-
row
-
gap
)
/
2
)
;
margin
-
inline
-
end
:
calc
(
var
(
-
-
grid
-
column
-
row
-
gap
)
/
2
)
;
flex
-
grow
:
1
;
}
#
country
-
container
{
flex
-
basis
:
calc
(
50
%
-
var
(
-
-
grid
-
column
-
row
-
gap
)
)
;
flex
-
grow
:
0
;
max
-
width
:
calc
(
50
%
-
var
(
-
-
grid
-
column
-
row
-
gap
)
)
;
}
#
name
-
container
input
{
width
:
0
;
}
#
name
-
container
:
focus
-
within
input
{
border
-
color
:
var
(
-
-
in
-
content
-
border
-
focus
)
;
}
#
name
-
container
:
focus
-
within
input
:
-
moz
-
ui
-
invalid
{
border
-
color
:
transparent
;
}
#
given
-
name
-
container
#
additional
-
name
-
container
#
family
-
name
-
container
{
display
:
flex
;
flex
-
grow
:
1
;
margin
-
bottom
:
0
!
important
;
margin
-
left
:
0
;
margin
-
right
:
0
;
}
#
given
-
name
:
dir
(
ltr
)
#
family
-
name
:
dir
(
rtl
)
{
border
-
top
-
right
-
radius
:
0
;
border
-
bottom
-
right
-
radius
:
0
;
border
-
right
-
width
:
0
;
}
#
given
-
name
:
dir
(
rtl
)
#
family
-
name
:
dir
(
ltr
)
{
border
-
top
-
left
-
radius
:
0
;
border
-
bottom
-
left
-
radius
:
0
;
border
-
left
-
width
:
0
;
}
#
additional
-
name
{
border
-
radius
:
0
;
border
-
left
-
color
:
var
(
-
-
in
-
content
-
box
-
border
-
color
)
!
important
;
border
-
right
-
color
:
var
(
-
-
in
-
content
-
box
-
border
-
color
)
!
important
;
}
#
name
-
container
input
:
-
moz
-
ui
-
invalid
#
name
-
container
input
:
-
moz
-
ui
-
invalid
~
.
label
-
text
{
z
-
index
:
1
;
}
#
name
-
container
#
street
-
address
-
container
{
flex
:
0
1
100
%
;
}
#
street
-
address
{
resize
:
vertical
;
}
#
country
-
warning
-
message
{
box
-
sizing
:
border
-
box
;
font
-
size
:
1rem
;
align
-
items
:
center
;
text
-
align
:
start
;
opacity
:
.
5
;
padding
-
inline
-
start
:
1em
;
}
:
root
:
not
(
[
subdialog
]
)
#
country
-
warning
-
message
{
display
:
none
;
}
#
form
textarea
#
form
input
{
margin
:
0
;
}
