.
editCreditCardForm
{
justify
-
content
:
center
;
}
.
editCreditCardForm
>
label
.
editCreditCardForm
>
div
{
flex
:
1
0
100
%
;
align
-
self
:
center
;
margin
:
0
0
0
.
5em
!
important
;
}
.
editCreditCardForm
#
billingAddressGUID
.
editCreditCardForm
input
{
flex
:
1
0
auto
;
}
.
editCreditCardForm
select
{
margin
:
0
;
margin
-
inline
-
end
:
0
.
7em
;
}
.
editCreditCardForm
label
>
span
.
editCreditCardForm
div
>
span
{
flex
:
0
0
9
.
5em
;
}
