.
editCreditCardForm
{
display
:
grid
;
grid
-
template
-
areas
:
"
cc
-
number
cc
-
exp
-
month
cc
-
exp
-
year
"
"
cc
-
name
cc
-
type
cc
-
csc
"
"
billingAddressGUID
billingAddressGUID
billingAddressGUID
"
;
grid
-
row
-
gap
:
var
(
-
-
grid
-
column
-
row
-
gap
)
;
grid
-
column
-
gap
:
var
(
-
-
grid
-
column
-
row
-
gap
)
;
}
.
editCreditCardForm
label
{
margin
-
inline
-
start
:
0
;
margin
-
inline
-
end
:
0
;
}
.
editCreditCardForm
.
container
{
display
:
flex
;
}
#
cc
-
number
-
container
{
grid
-
area
:
cc
-
number
;
}
#
cc
-
exp
-
month
-
container
{
grid
-
area
:
cc
-
exp
-
month
;
}
#
cc
-
exp
-
year
-
container
{
grid
-
area
:
cc
-
exp
-
year
;
}
#
cc
-
name
-
container
{
grid
-
area
:
cc
-
name
;
}
#
cc
-
type
-
container
{
grid
-
area
:
cc
-
type
;
}
#
billingAddressGUID
-
container
{
grid
-
area
:
billingAddressGUID
;
}
