:
root
{
-
-
in
-
field
-
label
-
size
:
.
8em
;
-
-
grid
-
column
-
row
-
gap
:
8px
;
-
-
animation
-
easing
-
function
:
cubic
-
bezier
(
.
07
.
95
0
1
)
;
}
dialog
[
subdialog
]
form
{
padding
:
2px
;
}
form
input
[
type
=
"
email
"
]
form
input
[
type
=
"
tel
"
]
form
input
[
type
=
"
text
"
]
form
textarea
form
select
{
flex
-
grow
:
1
;
padding
-
top
:
calc
(
var
(
-
-
in
-
field
-
label
-
size
)
+
.
4em
)
;
}
form
input
[
type
=
"
tel
"
]
{
text
-
align
:
match
-
parent
;
}
select
{
margin
:
0
;
padding
-
bottom
:
5px
;
}
form
label
[
class
=
"
container
"
]
select
{
min
-
width
:
0
;
}
form
label
form
div
{
position
:
relative
;
display
:
block
;
line
-
height
:
1em
;
}
#
form
textarea
#
form
input
{
margin
:
0
;
}
form
:
is
(
label
div
)
.
label
-
text
{
position
:
absolute
;
opacity
:
.
5
;
pointer
-
events
:
none
;
inset
-
inline
-
start
:
10px
;
top
:
.
2em
;
transition
:
top
.
2s
var
(
-
-
animation
-
easing
-
function
)
font
-
size
.
2s
var
(
-
-
animation
-
easing
-
function
)
;
}
form
:
is
(
label
div
)
:
focus
-
within
.
label
-
text
form
:
is
(
label
div
)
.
label
-
text
[
field
-
populated
]
{
top
:
0
;
font
-
size
:
var
(
-
-
in
-
field
-
label
-
size
)
;
}
form
:
is
(
input
select
textarea
)
:
focus
~
.
label
-
text
{
color
:
var
(
-
-
in
-
content
-
item
-
selected
)
;
opacity
:
1
;
}
form
:
is
(
input
select
textarea
)
:
focus
:
-
moz
-
ui
-
invalid
~
.
label
-
text
{
color
:
var
(
-
-
in
-
content
-
text
-
color
)
;
}
form
div
[
required
]
>
label
.
label
-
text
:
:
after
form
:
is
(
label
div
)
[
required
]
.
label
-
text
:
:
after
{
content
:
attr
(
fieldRequiredSymbol
)
;
}
.
persist
-
checkbox
label
{
display
:
flex
;
flex
-
direction
:
row
;
align
-
items
:
center
;
margin
-
top
:
var
(
-
-
grid
-
column
-
row
-
gap
)
;
margin
-
bottom
:
var
(
-
-
grid
-
column
-
row
-
gap
)
;
}
dialog
[
subdialog
]
form
{
padding
:
4px
4px
0
;
}
#
controls
-
container
{
flex
:
0
1
100
%
;
display
:
flex
;
justify
-
content
:
end
;
margin
:
1em
0
0
;
}
#
billingAddressGUID
-
container
{
display
:
none
;
}
