body
body
.
editor
body
.
body
{
font
:
110
%
"
Times
New
Roman
"
Arial
Verdana
Helvetica
serif
;
background
:
White
;
color
:
Black
;
}
a
a
.
reference
{
text
-
decoration
:
none
;
}
a
[
href
]
:
hover
{
text
-
decoration
:
underline
;
}
img
{
border
:
none
;
vertical
-
align
:
middle
;
}
p
div
.
text
{
text
-
align
:
left
;
line
-
height
:
1
.
5em
;
margin
:
0
.
5em
0em
0em
0em
;
}
p
a
:
active
{
color
:
Red
;
background
-
color
:
transparent
;
}
p
img
{
border
:
0
;
margin
:
0
;
}
img
.
inlinephoto
{
padding
:
0
;
padding
-
right
:
1em
;
padding
-
top
:
0
.
7em
;
float
:
left
;
}
hr
{
clear
:
both
;
height
:
1px
;
color
:
#
8CACBB
;
background
-
color
:
transparent
;
}
ul
{
line
-
height
:
1
.
5em
;
margin
-
left
:
1
.
5em
;
padding
:
0
;
}
ol
{
line
-
height
:
1
.
5em
;
margin
-
left
:
1
.
5em
;
padding
:
0
;
}
ul
a
ol
a
{
text
-
decoration
:
underline
;
}
dl
{
}
dd
{
line
-
height
:
1
.
5em
;
margin
-
bottom
:
1em
;
}
blockquote
{
font
-
family
:
Times
"
Times
New
Roman
"
serif
;
font
-
style
:
italic
;
font
-
size
:
120
%
;
}
code
{
color
:
Black
;
}
pre
{
padding
:
1em
;
border
:
1px
dotted
#
8cacbb
;
color
:
Black
;
overflow
:
auto
;
}
.
netscape4
{
display
:
none
;
}
span
.
menu_selected
{
color
:
black
;
text
-
decoration
:
none
;
padding
-
right
:
0
.
3em
;
background
-
color
:
#
cccccc
;
}
a
.
menu
{
font
:
120
%
Verdana
Helvetica
Arial
sans
-
serif
;
text
-
decoration
:
none
;
padding
-
right
:
0
.
3em
;
}
a
.
menu
[
href
]
:
visited
a
.
menu
[
href
]
:
link
{
text
-
decoration
:
none
;
}
a
.
menu
[
href
]
:
hover
{
}
div
#
pagetitle
{
font
:
160
%
Verdana
Helvetica
Arial
sans
-
serif
;
color
:
#
3ba6ec
;
vertical
-
align
:
middle
;
left
:
80
px
;
padding
-
bottom
:
0
.
3em
;
}
a
.
wikicurrent
{
font
:
100
%
Verdana
Helvetica
Arial
sans
-
serif
;
color
:
#
3ba6ec
;
vertical
-
align
:
middle
;
}
table
.
body
{
border
:
0
;
}
td
.
page
-
header
-
left
{
padding
:
5px
;
}
td
.
page
-
header
-
top
{
padding
:
0
;
}
td
.
sidebar
{
padding
:
1
0
0
1
;
}
td
.
sidebar
p
.
classblock
{
padding
:
0
5
0
5
;
margin
:
1
1
1
1
;
border
:
1px
solid
#
444444
;
background
-
color
:
#
eeeeee
;
}
td
.
sidebar
p
.
userblock
{
padding
:
0
5
0
5
;
margin
:
1
1
1
1
;
border
:
1px
solid
#
444444
;
background
-
color
:
#
eeeeff
;
}
td
.
content
{
padding
:
1
5
1
5
;
vertical
-
align
:
top
;
width
:
100
%
;
}
p
.
ok
-
message
{
background
-
color
:
#
22bb22
;
padding
:
5
5
5
5
;
color
:
white
;
font
-
weight
:
bold
;
}
p
.
error
-
message
{
background
-
color
:
#
bb2222
;
padding
:
5
5
5
5
;
color
:
white
;
font
-
weight
:
bold
;
}
p
:
first
-
child
{
margin
:
0
;
padding
:
0
;
}
table
.
form
{
padding
:
2
;
border
-
spacing
:
0px
;
border
-
collapse
:
separate
;
}
table
.
form
th
{
color
:
#
333388
;
text
-
align
:
right
;
vertical
-
align
:
top
;
font
-
weight
:
normal
;
}
table
.
form
th
.
header
{
font
-
weight
:
bold
;
background
-
color
:
#
eeeeff
;
text
-
align
:
left
;
}
table
.
form
th
.
required
{
font
-
weight
:
bold
;
}
table
.
form
td
{
color
:
#
333333
;
empty
-
cells
:
show
;
vertical
-
align
:
top
;
}
table
.
form
td
.
optional
{
font
-
weight
:
bold
;
font
-
style
:
italic
;
}
table
.
form
td
.
html
{
color
:
#
777777
;
}
table
.
list
{
border
-
spacing
:
0px
;
border
-
collapse
:
separate
;
vertical
-
align
:
top
;
padding
-
top
:
0
;
width
:
100
%
;
}
table
.
list
th
{
padding
:
0
4
0
4
;
color
:
#
404070
;
background
-
color
:
#
eeeeff
;
border
-
right
:
1px
solid
#
404070
;
border
-
top
:
1px
solid
#
404070
;
border
-
bottom
:
1px
solid
#
404070
;
vertical
-
align
:
top
;
empty
-
cells
:
show
;
}
table
.
list
th
a
[
href
]
:
hover
{
color
:
#
404070
}
table
.
list
th
a
[
href
]
:
link
{
color
:
#
404070
}
table
.
list
th
a
[
href
]
{
color
:
#
404070
}
table
.
list
th
.
group
{
background
-
color
:
#
f4f4ff
;
text
-
align
:
center
;
font
-
size
:
120
%
;
}
table
.
list
td
{
padding
:
0
4
0
4
;
border
:
0
2
0
2
;
border
-
right
:
1px
solid
#
404070
;
color
:
#
404070
;
background
-
color
:
white
;
vertical
-
align
:
top
;
empty
-
cells
:
show
;
}
table
.
list
tr
.
normal
td
{
background
-
color
:
white
;
white
-
space
:
nowrap
;
}
table
.
list
tr
.
alt
td
{
background
-
color
:
#
efefef
;
white
-
space
:
nowrap
;
}
table
.
list
td
:
first
-
child
{
border
-
left
:
1px
solid
#
404070
;
border
-
right
:
1px
solid
#
404070
;
}
table
.
list
th
:
first
-
child
{
border
-
left
:
1px
solid
#
404070
;
border
-
right
:
1px
solid
#
404070
;
}
table
.
list
tr
.
navigation
th
{
text
-
align
:
right
;
}
table
.
list
tr
.
navigation
th
:
first
-
child
{
border
-
right
:
none
;
text
-
align
:
left
;
}
table
.
messages
{
border
-
spacing
:
0px
;
border
-
collapse
:
separate
;
width
:
100
%
;
}
table
.
messages
th
.
header
{
padding
-
top
:
10px
;
border
-
bottom
:
1px
solid
gray
;
font
-
weight
:
bold
;
background
-
color
:
white
;
color
:
#
707040
;
}
table
.
messages
th
{
font
-
weight
:
bold
;
color
:
black
;
text
-
align
:
left
;
border
-
bottom
:
1px
solid
#
afafaf
;
}
table
.
messages
td
{
font
-
family
:
monospace
;
background
-
color
:
#
efefef
;
border
-
bottom
:
1px
solid
#
afafaf
;
color
:
black
;
empty
-
cells
:
show
;
border
-
right
:
1px
solid
#
afafaf
;
vertical
-
align
:
top
;
padding
:
2
5
2
5
;
}
table
.
messages
td
:
first
-
child
{
border
-
left
:
1px
solid
#
afafaf
;
border
-
right
:
1px
solid
#
afafaf
;
}
table
.
files
{
border
-
spacing
:
0px
;
border
-
collapse
:
separate
;
width
:
100
%
;
}
table
.
files
th
.
header
{
padding
-
top
:
10px
;
border
-
bottom
:
1px
solid
gray
;
font
-
weight
:
bold
;
background
-
color
:
white
;
color
:
#
707040
;
}
table
.
files
th
{
border
-
bottom
:
1px
solid
#
afafaf
;
font
-
weight
:
bold
;
text
-
align
:
left
;
}
table
.
files
td
{
font
-
family
:
monospace
;
empty
-
cells
:
show
;
}
table
.
history
{
border
-
spacing
:
0px
;
border
-
collapse
:
separate
;
width
:
100
%
;
}
table
.
history
th
.
header
{
padding
-
top
:
10px
;
border
-
bottom
:
1px
solid
gray
;
font
-
weight
:
bold
;
background
-
color
:
white
;
color
:
#
707040
;
font
-
size
:
100
%
;
}
table
.
history
th
{
border
-
bottom
:
1px
solid
#
afafaf
;
font
-
weight
:
bold
;
text
-
align
:
left
;
font
-
size
:
90
%
;
}
table
.
history
td
{
font
-
size
:
90
%
;
vertical
-
align
:
top
;
empty
-
cells
:
show
;
}
table
.
classlist
{
border
-
spacing
:
0px
;
border
-
collapse
:
separate
;
width
:
100
%
;
}
table
.
classlist
th
.
header
{
padding
-
top
:
10px
;
border
-
bottom
:
1px
solid
gray
;
font
-
weight
:
bold
;
background
-
color
:
white
;
color
:
#
707040
;
}
table
.
classlist
th
{
font
-
weight
:
bold
;
text
-
align
:
left
;
}
table
.
classhelp
{
border
-
spacing
:
0px
;
border
-
collapse
:
separate
;
width
:
100
%
;
}
table
.
classhelp
th
{
font
-
weight
:
bold
;
text
-
align
:
left
;
color
:
#
707040
;
}
table
.
classhelp
td
{
padding
:
2
2
2
2
;
border
:
1px
solid
black
;
text
-
align
:
left
;
vertical
-
align
:
top
;
empty
-
cells
:
show
;
}
table
.
otherinfo
{
border
-
spacing
:
0px
;
border
-
collapse
:
separate
;
width
:
100
%
;
}
table
.
otherinfo
th
.
header
{
padding
-
top
:
10px
;
border
-
bottom
:
1px
solid
gray
;
font
-
weight
:
bold
;
background
-
color
:
white
;
color
:
#
707040
;
}
table
.
otherinfo
th
{
border
-
bottom
:
1px
solid
#
afafaf
;
font
-
weight
:
bold
;
text
-
align
:
left
;
}
input
{
border
:
1px
solid
#
8cacbb
;
color
:
Black
;
background
-
color
:
white
;
vertical
-
align
:
middle
;
margin
-
bottom
:
1px
;
padding
:
0
.
1em
;
}
select
{
border
:
1px
solid
#
8cacbb
;
color
:
Black
;
background
-
color
:
white
;
vertical
-
align
:
middle
;
margin
-
bottom
:
1px
;
padding
:
0
.
1em
;
}
a
.
nonexistent
{
color
:
#
FF2222
;
}
a
.
nonexistent
:
visited
{
color
:
#
FF2222
;
}
a
.
external
{
color
:
#
AA6600
;
}
div
.
diffold
{
background
-
color
:
#
FFFF80
;
border
-
style
:
none
;
border
-
width
:
thin
;
width
:
100
%
;
}
div
.
diffnew
{
background
-
color
:
#
80FF80
;
border
-
style
:
none
;
border
-
width
:
thin
;
width
:
100
%
;
}
div
.
message
{
margin
-
top
:
6pt
;
background
-
color
:
#
E8FFE8
;
border
-
style
:
solid
;
border
-
width
:
1pt
;
border
-
color
:
#
999999
;
color
:
#
440000
;
padding
:
5px
;
width
:
100
%
;
}
strong
.
highlight
{
background
-
color
:
#
FFBBBB
;
}
table
.
navibar
{
background
-
color
:
#
C8C8C8
;
border
-
spacing
:
3px
;
}
td
.
navibar
{
background
-
color
:
#
E8E8E8
;
vertical
-
align
:
top
;
text
-
align
:
right
;
padding
:
0px
;
}
a
#
versioninfo
{
color
:
blue
;
}
div
#
pagename
{
font
-
size
:
140
%
;
color
:
blue
;
text
-
align
:
center
;
font
-
weight
:
bold
;
background
-
color
:
white
;
padding
:
0
;
}
a
.
wikiaction
input
.
wikiaction
{
color
:
black
;
text
-
decoration
:
None
;
text
-
align
:
center
;
color
:
black
;
margin
:
4px
;
padding
:
5
;
padding
-
bottom
:
0
;
white
-
space
:
nowrap
;
}
a
.
wikiaction
[
href
]
:
hover
{
color
:
black
;
text
-
decoration
:
none
;
}
div
.
legenditem
{
padding
-
top
:
0
.
5em
;
padding
-
left
:
0
.
3em
;
}
span
.
wikitoken
{
background
-
color
:
#
eeeeee
;
}
div
#
contentspace
h1
:
first
-
child
div
.
heading
:
first
-
child
{
padding
-
top
:
0
;
margin
-
top
:
0
;
}
div
#
contentspace
h2
:
first
-
child
{
padding
-
top
:
0
;
margin
-
top
:
0
;
}
div
.
heading
h1
{
font
-
family
:
Verdana
Helvetica
Arial
sans
-
serif
;
background
-
color
:
#
58b3ef
;
background
-
color
:
#
FFFFFF
;
color
:
black
;
padding
-
top
:
1
.
0em
;
padding
-
bottom
:
0
.
2em
;
text
-
align
:
left
;
margin
-
top
:
0em
;
font
-
weight
:
bold
;
font
-
size
:
115
%
;
border
-
bottom
:
1px
solid
#
8CACBB
;
}
h2
{
border
-
bottom
:
1px
dotted
#
8CACBB
;
}
h1
h2
h3
h4
h5
h6
{
color
:
Black
;
clear
:
left
;
font
:
100
%
Verdana
Helvetica
Arial
sans
-
serif
;
margin
:
0
;
padding
-
left
:
0em
;
padding
-
top
:
1em
;
padding
-
bottom
:
0
.
2em
;
}
h1
{
font
-
size
:
145
%
;
}
h2
{
font
-
size
:
115
%
;
}
h3
{
font
-
size
:
105
%
;
}
h4
{
font
-
size
:
100
%
;
}
h5
{
font
-
size
:
100
%
;
}
h1
a
{
text
-
decoration
:
None
;
}
div
.
exception
{
background
-
color
:
#
bb2222
;
padding
:
5
5
5
5
;
color
:
white
;
font
-
weight
:
bold
;
}
pre
.
exception
{
font
-
size
:
110
%
;
padding
:
1em
;
border
:
1px
solid
#
8cacbb
;
color
:
Black
;
background
-
color
:
#
dee7ec
;
background
-
color
:
#
cccccc
;
}
div
.
direntry
{
padding
-
top
:
0
.
3em
;
padding
-
bottom
:
0
.
3em
;
margin
-
right
:
1em
;
font
-
weight
:
bold
;
background
-
color
:
#
dee7ec
;
font
-
size
:
110
%
;
}
div
.
fileentry
{
font
-
family
:
Verdana
Helvetica
Arial
sans
-
serif
;
padding
-
bottom
:
0
.
3em
;
white
-
space
:
nowrap
;
line
-
height
:
150
%
;
}
a
.
fileentry
{
white
-
space
:
nowrap
;
}
span
.
left
{
text
-
align
:
left
;
}
span
.
right
{
text
-
align
:
right
;
}
div
.
navbar
{
font
-
size
:
80
%
;
font
-
weight
:
bold
;
text
-
align
:
left
;
top
:
100pt
;
left
:
0pt
;
width
:
120pt
;
}
div
.
history
a
{
}
div
.
wikiactiontitle
{
font
-
weight
:
bold
;
}
div
.
document
{
margin
:
0
;
}
h1
.
title
{
margin
:
0
;
margin
-
bottom
:
0
.
5em
;
}
td
.
toplist
{
vertical
-
align
:
top
;
}
img
#
pyimg
{
float
:
left
;
padding
-
bottom
:
1em
;
}
div
#
navspace
{
position
:
absolute
;
font
-
size
:
100
%
;
width
:
150px
;
overflow
:
hidden
;
}
div
#
errorline
{
position
:
relative
;
top
:
5px
;
float
:
right
;
}
div
#
contentspace
{
position
:
absolute
;
font
:
110
%
Verdana
Helvetica
Arial
sans
-
serif
;
left
:
170px
;
margin
-
right
:
5px
;
}
div
#
menubar
{
float
:
left
;
}
div
#
title
{
font
-
size
:
110
%
;
color
:
black
;
}
div
#
docnavlist
{
padding
:
5pt
;
padding
-
bottom
:
2em
;
color
:
black
;
border
-
width
:
1pt
;
}
div
.
listtitle
{
color
:
Black
;
clear
:
left
;
font
:
120
%
Verdana
Helvetica
Arial
sans
-
serif
;
margin
:
0
;
padding
-
left
:
0em
;
padding
-
top
:
0em
;
padding
-
bottom
:
0
.
2em
;
margin
-
right
:
0
.
5em
;
border
-
bottom
:
1px
solid
#
8CACBB
;
}
div
.
actionbox
h3
{
padding
-
top
:
0
;
padding
-
right
:
0
.
5em
;
padding
-
left
:
0
.
5em
;
background
-
color
:
#
fabf00
;
text
-
align
:
center
;
border
:
1px
solid
black
;
}
div
.
actionbox
a
{
display
:
block
;
padding
-
bottom
:
0
.
5em
;
padding
-
top
:
0
.
5em
;
margin
-
left
:
0
.
5em
;
}
div
.
actionbox
a
.
history
{
display
:
block
;
padding
-
bottom
:
0
.
5em
;
padding
-
top
:
0
.
5em
;
margin
-
left
:
0
.
5em
;
font
-
size
:
90
%
;
}
div
.
actionbox
{
margin
-
bottom
:
2em
;
padding
-
bottom
:
1em
;
overflow
:
hidden
;
}
ol
.
simple
ul
.
simple
{
margin
-
bottom
:
1em
}
ol
.
arabic
{
list
-
style
:
decimal
}
ol
.
loweralpha
{
list
-
style
:
lower
-
alpha
}
ol
.
upperalpha
{
list
-
style
:
upper
-
alpha
}
ol
.
lowerroman
{
list
-
style
:
lower
-
roman
}
ol
.
upperroman
{
list
-
style
:
upper
-
roman
}
div
.
section
{
margin
-
top
:
1
.
0em
;
}
