.
manifest
-
page
{
height
:
100vh
;
padding
:
0
2rem
;
display
:
grid
;
-
moz
-
user
-
select
:
none
;
align
-
items
:
center
;
justify
-
content
:
center
;
font
-
size
:
var
(
-
-
title
-
10
-
font
-
size
)
;
color
:
var
(
-
-
theme
-
toolbar
-
color
)
;
}
