.
manifest
-
item__color
{
text
-
transform
:
uppercase
;
}
.
manifest
-
item__color
:
:
before
{
display
:
inline
-
block
;
content
:
'
'
;
background
-
color
:
var
(
-
-
color
-
value
)
;
border
-
radius
:
50
%
;
width
:
calc
(
var
(
-
-
base
-
unit
)
*
3
)
;
height
:
calc
(
var
(
-
-
base
-
unit
)
*
3
)
;
margin
-
block
-
start
:
calc
(
var
(
-
-
base
-
unit
)
*
-
0
.
5
)
;
margin
-
inline
-
end
:
var
(
-
-
base
-
unit
)
;
box
-
shadow
:
0
0
0
1px
var
(
-
-
theme
-
splitter
-
color
)
;
vertical
-
align
:
middle
;
}
