.
error
-
message
{
background
-
color
:
#
FFE8E9
;
color
:
#
E62117
;
margin
:
calc
(
var
(
-
-
base
-
distance
)
*
2
)
0
;
padding
:
var
(
-
-
base
-
distance
)
calc
(
var
(
-
-
base
-
distance
)
*
3
)
;
}
.
error
-
message__header
{
align
-
items
:
center
;
display
:
grid
;
grid
-
template
-
columns
:
calc
(
var
(
-
-
base
-
distance
)
*
6
)
1fr
;
font
-
weight
:
bold
;
}
