.
message
-
-
level
-
error
{
-
-
message
-
color
:
var
(
-
-
white
-
100
)
;
-
-
message
-
background
-
color
:
var
(
-
-
error
-
60
)
;
}
.
message
-
-
level
-
warning
{
-
-
message
-
color
:
var
(
-
-
warning
-
90
)
;
-
-
message
-
background
-
color
:
var
(
-
-
warning
-
50
)
;
}
.
message
{
background
-
color
:
var
(
-
-
message
-
background
-
color
)
;
border
-
radius
:
var
(
-
-
base
-
unit
)
;
color
:
var
(
-
-
message
-
color
)
;
display
:
grid
;
fill
:
var
(
-
-
message
-
color
)
;
grid
-
column
-
gap
:
var
(
-
-
base
-
unit
)
;
grid
-
template
-
columns
:
calc
(
var
(
-
-
base
-
unit
)
*
6
)
1fr
;
margin
:
calc
(
var
(
-
-
base
-
unit
)
*
2
)
0
;
padding
:
var
(
-
-
base
-
unit
)
;
-
moz
-
context
-
properties
:
fill
;
}
.
message__icon
{
margin
:
var
(
-
-
base
-
unit
)
;
}
