%
include
.
.
/
.
.
/
.
.
/
shared
/
incontentprefs
/
preferences
.
inc
.
css
:
root
>
*
{
font
-
size
:
1
.
25em
;
}
.
actionsMenu
>
.
menulist
-
label
-
box
>
.
menulist
-
icon
{
margin
-
inline
-
end
:
9px
;
}
