namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
button
{
-
moz
-
appearance
:
button
;
margin
:
1px
5px
2px
;
min
-
width
:
6
.
3em
;
color
:
ButtonText
;
text
-
shadow
:
none
;
}
.
button
-
box
{
-
moz
-
appearance
:
button
-
focus
;
}
.
button
-
icon
{
margin
-
inline
-
end
:
2px
;
}
.
button
-
text
{
margin
:
0
!
important
;
text
-
align
:
center
;
}
button
:
hover
:
not
(
:
-
moz
-
any
(
:
active
[
disabled
=
"
true
"
]
[
open
=
"
true
"
]
[
checked
=
"
true
"
]
)
)
{
color
:
-
moz
-
buttonhovertext
;
}
button
[
disabled
=
"
true
"
]
{
color
:
GrayText
;
}
button
[
type
=
"
menu
-
button
"
]
{
-
moz
-
appearance
:
dualbutton
;
}
.
button
-
menubutton
-
button
{
margin
:
0
;
}
.
button
-
menu
-
dropmarker
.
button
-
menubutton
-
dropmarker
{
-
moz
-
appearance
:
toolbarbutton
-
dropdown
!
important
;
}
.
button
-
menubutton
-
dropmarker
{
margin
-
inline
-
end
:
3px
;
}
button
.
plain
{
margin
:
0
!
important
;
padding
:
0
!
important
;
}
button
[
type
=
"
disclosure
"
]
{
margin
:
0
;
-
moz
-
appearance
:
none
;
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
tree
/
twisty
-
collapsed
.
svg
"
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
min
-
width
:
0
;
}
button
[
type
=
"
disclosure
"
]
[
open
=
"
true
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
tree
/
twisty
-
expanded
.
svg
"
)
;
}
