namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
checkbox
{
-
moz
-
appearance
:
checkbox
-
container
;
-
moz
-
box
-
align
:
center
;
margin
:
2px
4px
;
}
.
checkbox
-
label
-
box
{
-
moz
-
appearance
:
checkbox
-
label
;
}
.
checkbox
-
icon
[
src
]
{
margin
-
inline
-
end
:
2px
;
}
.
checkbox
-
label
{
margin
:
0
!
important
;
}
checkbox
:
-
moz
-
focusring
>
.
checkbox
-
label
-
box
{
outline
:
1px
dotted
;
}
checkbox
[
disabled
=
"
true
"
]
{
color
:
GrayText
;
}
.
checkbox
-
check
{
-
moz
-
appearance
:
checkbox
;
margin
:
2px
;
}
