#
infoContainer
{
display
:
flex
;
flex
-
direction
:
column
;
justify
-
content
:
center
;
}
#
iconContainer
{
height
:
55px
;
width
:
58px
;
}
#
infoIcon
{
display
:
block
;
max
-
width
:
48px
;
max
-
height
:
48px
;
margin
:
3px
auto
0
;
}
