namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
menupopup
menubar
{
font
:
menu
;
}
menu
menuitem
menucaption
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
menuitem
;
-
moz
-
box
-
align
:
center
;
max
-
width
:
42em
;
list
-
style
-
image
:
none
;
-
moz
-
image
-
region
:
auto
;
background
-
color
:
initial
;
}
menu
[
_moz
-
menuactive
=
"
true
"
]
menuitem
[
_moz
-
menuactive
=
"
true
"
]
{
color
:
-
moz
-
menuhovertext
;
background
-
color
:
-
moz
-
menuhover
;
}
menuitem
[
customoptionstyling
=
"
true
"
]
{
appearance
:
none
;
}
menuitem
[
customoptionstyling
=
"
true
"
]
[
_moz
-
menuactive
=
"
true
"
]
{
color
:
highlighttext
;
background
-
color
:
highlight
;
}
menu
[
disabled
=
"
true
"
]
menuitem
[
disabled
=
"
true
"
]
menucaption
[
disabled
=
"
true
"
]
{
color
:
GrayText
;
}
menubar
>
menu
{
padding
:
0
4px
;
color
:
-
moz
-
menubartext
;
}
menubar
:
-
moz
-
lwtheme
>
menu
{
text
-
shadow
:
none
;
}
menubar
:
-
moz
-
lwtheme
>
menu
:
not
(
[
open
=
"
true
"
]
)
{
color
:
inherit
;
text
-
shadow
:
inherit
;
}
menubar
>
menu
[
_moz
-
menuactive
=
"
true
"
]
:
not
(
[
open
]
[
disabled
=
"
true
"
]
:
-
moz
-
lwtheme
)
{
color
:
-
moz
-
menubartext
;
}
menubar
>
menu
[
open
]
{
color
:
-
moz
-
menubarhovertext
;
background
-
color
:
-
moz
-
menuhover
;
}
menuitem
[
default
=
"
true
"
]
menuitem
.
spell
-
suggestion
menucaption
{
font
-
weight
:
bold
;
}
menulist
>
menupopup
{
font
:
inherit
;
}
menulist
>
menupopup
>
menuitem
menulist
>
menupopup
>
menucaption
menulist
>
menupopup
>
menu
{
padding
:
1px
5px
;
max
-
width
:
none
;
}
.
menu
-
text
.
menu
-
iconic
-
left
.
menu
-
iconic
-
text
{
margin
-
top
:
0
!
important
;
margin
-
bottom
:
0
!
important
;
margin
-
inline
-
start
:
0
!
important
;
margin
-
inline
-
end
:
2px
!
important
;
}
.
menu
-
text
{
margin
-
inline
-
start
:
21px
!
important
;
}
.
menu
-
accel
.
menu
-
iconic
-
accel
{
margin
-
top
:
0
!
important
;
margin
-
bottom
:
0
!
important
;
margin
-
inline
-
start
:
7px
!
important
;
}
.
menu
-
accel
-
container
{
-
moz
-
box
-
pack
:
end
;
}
.
menu
-
iconic
-
left
{
width
:
16px
;
padding
-
inline
-
end
:
3px
!
important
;
}
.
menu
-
iconic
-
icon
{
width
:
16px
;
height
:
16px
;
}
.
menu
-
right
{
margin
-
top
:
0
;
margin
-
bottom
:
0
;
margin
-
inline
-
start
:
6px
;
margin
-
inline
-
end
:
0
;
width
:
1ex
;
height
:
1ex
;
list
-
style
-
image
:
none
;
-
moz
-
image
-
region
:
auto
;
appearance
:
auto
;
-
moz
-
default
-
appearance
:
menuarrow
;
}
.
menubar
-
left
{
margin
-
top
:
0
;
margin
-
bottom
:
0
;
margin
-
inline
-
start
:
0
;
margin
-
inline
-
end
:
2px
;
}
.
menubar
-
text
{
margin
:
0
1px
!
important
;
}
menulist
>
menupopup
>
menuitem
>
.
menu
-
iconic
-
left
menulist
>
menupopup
>
menucaption
>
.
menu
-
iconic
-
left
menulist
>
menupopup
>
menu
>
.
menu
-
iconic
-
left
{
display
:
none
;
}
menuitem
[
checked
=
"
true
"
]
{
appearance
:
auto
!
important
;
-
moz
-
default
-
appearance
:
checkmenuitem
!
important
;
}
menuitem
[
type
=
"
checkbox
"
]
{
appearance
:
auto
!
important
;
-
moz
-
default
-
appearance
:
checkmenuitem
!
important
;
}
menuitem
[
type
=
"
radio
"
]
{
appearance
:
auto
!
important
;
-
moz
-
default
-
appearance
:
radiomenuitem
!
important
;
}
menuseparator
{
appearance
:
auto
!
important
;
-
moz
-
default
-
appearance
:
menuseparator
!
important
;
}
%
include
.
.
/
.
.
/
shared
/
menu
-
scrolling
.
inc
.
css
