namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
:
host
{
-
moz
-
appearance
:
menupopup
;
min
-
width
:
1px
;
color
:
MenuText
;
}
:
host
(
.
in
-
menulist
)
{
padding
:
0
;
min
-
width
:
0
;
}
:
host
(
.
in
-
menulist
)
arrowscrollbox
:
:
part
(
scrollbutton
-
up
)
:
host
(
.
in
-
menulist
)
arrowscrollbox
:
:
part
(
scrollbutton
-
down
)
{
display
:
none
;
}
:
host
(
.
in
-
menulist
)
arrowscrollbox
:
:
part
(
scrollbox
)
{
overflow
:
auto
;
}
:
host
(
[
customoptionstyling
=
"
true
"
]
)
{
-
moz
-
appearance
:
none
;
}
