namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
menupopup
panel
:
not
(
[
type
=
"
arrow
"
]
)
{
-
moz
-
appearance
:
menupopup
;
min
-
width
:
1px
;
color
:
MenuText
;
}
menulist
>
menupopup
{
padding
:
0
;
min
-
width
:
0
;
}
menupopup
[
customoptionstyling
=
"
true
"
]
{
-
moz
-
appearance
:
none
;
}
