.
navigate
-
button
{
min
-
width
:
1
.
9em
;
}
.
navigate
-
button
>
.
toolbarbutton
-
icon
{
display
:
none
;
}
.
toolbar
-
portrait
-
page
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
orientation
-
portrait
?
size
=
button
"
)
;
}
.
toolbar
-
landscape
-
page
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
orientation
-
landscape
?
size
=
button
"
)
;
}
#
pageNumber
{
width
:
calc
(
18px
+
3ch
)
;
}
