namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
tabs
{
position
:
relative
;
z
-
index
:
0
;
}
tabpanels
{
-
moz
-
appearance
:
tabpanels
;
padding
:
8px
;
color
:
-
moz
-
DialogText
;
}
tab
{
position
:
relative
;
-
moz
-
appearance
:
tab
;
margin
-
top
:
2px
;
padding
:
3px
4px
;
color
:
-
moz
-
DialogText
;
}
tab
[
visuallyselected
=
"
true
"
]
{
z
-
index
:
1
;
margin
-
top
:
0
;
margin
-
bottom
:
-
2px
;
padding
-
top
:
4px
;
padding
-
bottom
:
6px
;
}
tab
+
tab
{
margin
-
inline
-
start
:
-
2px
;
}
.
tab
-
text
{
margin
:
0
!
important
;
}
