namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
tooltip
{
-
moz
-
appearance
:
tooltip
;
margin
-
top
:
21px
;
max
-
width
:
40em
;
color
:
InfoText
;
font
:
message
-
box
;
}
