body
{
color
:
black
;
}
#
profileRefreshForm
{
position
:
fixed
;
height
:
100
%
;
margin
-
left
:
30px
;
width
:
40
%
;
display
:
table
;
}
#
profileRefreshContainer
{
display
:
table
-
cell
;
vertical
-
align
:
middle
;
}
#
refreshCheckboxContainer
#
refreshButtonContainer
{
margin
-
top
:
20px
;
}
#
header
{
font
-
size
:
25px
;
font
-
weight
:
600
;
}
#
refreshCheckboxContainer
{
position
:
relative
;
}
#
refreshCheckbox
{
position
:
absolute
;
top
:
1px
;
}
#
checkboxLabel
{
font
-
size
:
14px
;
display
:
block
;
}
.
checkboxLabel
-
ltr
{
margin
-
left
:
25px
;
}
.
checkboxLabel
-
rtl
{
margin
-
right
:
25px
;
}
#
refreshButton
{
padding
:
8px
70px
;
font
-
size
:
16px
;
border
:
none
;
background
:
#
005ccc
;
color
:
white
;
}
#
footer
{
visibility
:
hidden
;
}
