.
horizontalContainer
{
display
:
-
moz
-
box
;
overflow
:
hidden
;
width
:
-
moz
-
available
;
}
.
horizontalOuterDiv
{
display
:
-
moz
-
box
;
}
.
horizontalInnerDiv
{
display
:
table
;
border
-
spacing
:
0
;
}
.
verticalContainer
{
overflow
:
hidden
;
width
:
-
moz
-
available
;
}
:
host
(
:
-
moz
-
read
-
write
)
.
horizontalOuterDiv
:
host
(
:
-
moz
-
read
-
write
)
.
verticalInnerDiv
{
margin
:
0
!
important
;
padding
:
0
!
important
;
}
media
print
{
.
horizontalOuterDiv
.
verticalInnerDiv
{
margin
:
0
!
important
;
padding
:
0
!
important
;
}
}
