namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
namespace
html
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
.
scrubber
.
volumeControl
{
-
moz
-
binding
:
url
(
"
chrome
:
/
/
global
/
content
/
bindings
/
videocontrols
.
xml
#
suppressChangeEvent
"
)
;
}
.
playButton
.
muteButton
.
scrubber
.
scale
-
slider
.
volumeControl
.
scale
-
slider
{
-
moz
-
user
-
focus
:
none
;
}
.
controlBar
[
fullscreen
-
unavailable
]
>
.
fullscreenButton
{
display
:
none
;
}
.
mediaControlsFrame
{
direction
:
ltr
;
text
-
align
:
left
;
list
-
style
-
image
:
none
!
important
;
font
:
normal
normal
normal
100
%
/
normal
sans
-
serif
!
important
;
text
-
decoration
:
none
!
important
;
}
.
controlsSpacer
[
hideCursor
]
{
cursor
:
none
;
}
.
controlsOverlay
[
scaled
]
{
-
moz
-
box
-
align
:
center
;
}
.
controlBar
:
not
(
[
immediate
]
)
{
transition
-
property
:
opacity
;
transition
-
duration
:
1ms
;
}
.
controlBar
[
fadeout
]
{
opacity
:
0
;
}
.
volumeStack
:
not
(
[
immediate
]
)
{
transition
-
property
:
opacity
margin
-
top
;
transition
-
duration
:
1ms
1ms
;
}
.
volumeStack
[
fadeout
]
{
opacity
:
0
;
margin
-
top
:
0
;
}
.
statusOverlay
:
not
(
[
immediate
]
)
{
transition
-
property
:
opacity
;
transition
-
duration
:
1ms
;
transition
-
delay
:
750ms
;
}
.
statusOverlay
[
fadeout
]
{
opacity
:
0
;
}
.
errorLabel
{
display
:
none
;
}
[
error
=
"
errorAborted
"
]
>
[
anonid
=
"
errorAborted
"
]
[
error
=
"
errorNetwork
"
]
>
[
anonid
=
"
errorNetwork
"
]
[
error
=
"
errorDecode
"
]
>
[
anonid
=
"
errorDecode
"
]
[
error
=
"
errorSrcNotSupported
"
]
>
[
anonid
=
"
errorSrcNotSupported
"
]
[
error
=
"
errorNoSource
"
]
>
[
anonid
=
"
errorNoSource
"
]
[
error
=
"
errorGeneric
"
]
>
[
anonid
=
"
errorGeneric
"
]
{
display
:
inline
;
}
