<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
title
>
CSS
Reference
<
/
title
>
<
style
>
div
{
border
:
1px
solid
black
;
width
:
30px
;
height
:
50px
;
margin
:
1px
;
float
:
left
;
}
br
{
clear
:
both
;
}
<
/
style
>
<
/
head
>
<
body
>
<
div
>
<
/
div
>
<
div
style
=
"
background
:
linear
-
gradient
(
to
right
pink
purple
)
"
>
<
/
div
>
<
br
>
<
div
style
=
"
background
:
blue
"
>
<
/
div
>
<
div
style
=
"
background
:
blue
"
>
<
/
div
>
<
div
style
=
"
background
:
blue
"
>
<
/
div
>
<
div
style
=
"
background
:
blue
"
>
<
/
div
>
<
br
>
<
div
style
=
"
background
:
linear
-
gradient
(
to
right
blue
0
%
yellow
0
%
)
"
>
<
/
div
>
<
div
style
=
"
background
:
blue
"
>
<
/
div
>
<
div
style
=
"
background
:
linear
-
gradient
(
to
right
blue
30
%
yellow
30
%
)
"
>
<
/
div
>
<
div
style
=
"
background
:
yellow
"
>
<
/
div
>
<
div
style
=
"
background
:
blue
"
>
<
/
div
>
<
br
>
<
div
style
=
"
background
:
linear
-
gradient
(
to
right
blue
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
linear
-
gradient
(
to
right
salmon
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
linear
-
gradient
(
to
right
blue
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
linear
-
gradient
(
to
right
blue
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
linear
-
gradient
(
to
right
yellow
salmon
80
%
blue
)
"
>
<
/
div
>
<
/
body
>
<
/
html
>
