<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
title
>
CSS
Reference
<
/
title
>
<
style
>
div
{
border
:
1px
solid
black
;
width
:
50px
;
height
:
30px
;
margin
:
1px
;
float
:
left
;
}
br
{
clear
:
both
;
}
<
/
style
>
<
/
head
>
<
body
>
<
div
style
=
"
background
:
linear
-
gradient
(
to
right
blue
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
linear
-
gradient
(
to
right
blue
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
linear
-
gradient
(
to
right
blue
yellow
)
"
>
<
/
div
>
<
br
>
<
div
style
=
"
background
:
-
moz
-
linear
-
gradient
(
center
center
blue
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
-
moz
-
linear
-
gradient
(
left
top
blue
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
-
moz
-
linear
-
gradient
(
10px
15px
blue
yellow
)
"
>
<
/
div
>
<
br
>
<
div
style
=
"
background
:
-
moz
-
linear
-
gradient
(
-
10px
-
15px
blue
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
-
moz
-
linear
-
gradient
(
-
100px
10px
blue
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
-
moz
-
linear
-
gradient
(
10px
-
100px
blue
yellow
)
"
>
<
/
div
>
<
br
>
<
div
style
=
"
background
:
-
moz
-
linear
-
gradient
(
center
top
blue
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
-
moz
-
linear
-
gradient
(
left
center
blue
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
-
moz
-
linear
-
gradient
(
right
center
blue
yellow
)
"
>
<
/
div
>
<
br
>
<
div
style
=
"
background
:
-
moz
-
linear
-
gradient
(
right
top
blue
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
-
moz
-
linear
-
gradient
(
left
top
blue
yellow
)
"
>
<
/
div
>
<
div
style
=
"
background
:
-
moz
-
linear
-
gradient
(
left
bottom
blue
yellow
)
"
>
<
/
div
>
<
br
>
<
/
body
>
<
/
html
>
