tree
[
is
=
"
places
-
tree
"
]
>
treechildren
:
:
-
moz
-
tree
-
cell
{
unicode
-
bidi
:
plaintext
;
}
#
bhtTitleText
{
unicode
-
bidi
:
plaintext
;
}
.
toolbar
-
drop
-
indicator
{
position
:
relative
;
z
-
index
:
1
;
}
menupopup
[
placespopup
=
"
true
"
]
{
-
moz
-
binding
:
none
;
}
media
(
resolution
:
2dppx
)
{
#
bookmarksChildren
.
sidebar
-
placesTreechildren
.
placesTree
>
treechildren
{
image
-
rendering
:
-
moz
-
crisp
-
edges
;
}
}
#
searchFilter
{
max
-
width
:
23em
;
}
