import
url
(
"
chrome
:
/
/
global
/
skin
/
global
.
css
"
)
;
namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
box
#
managebuttons
>
button
{
min
-
width
:
8em
;
}
#
managebuttons
{
padding
-
top
:
1em
;
}
#
profiles
{
height
:
12em
;
}
