.
connect
-
page__network
{
max
-
width
:
600px
;
}
.
connect
-
page__network__separator
{
margin
-
block
-
start
:
20px
;
margin
-
block
-
end
:
20px
;
}
.
connect
-
page__network
-
location
{
display
:
grid
;
grid
-
template
-
columns
:
auto
max
-
content
;
line
-
height
:
36px
;
margin
-
block
-
start
:
4px
;
margin
-
block
-
end
:
4px
;
}
.
connect
-
page__network
-
form
{
display
:
grid
;
grid
-
column
-
gap
:
10px
;
grid
-
template
-
columns
:
100px
auto
max
-
content
;
line
-
height
:
36px
;
}
.
connect
-
page__network
-
form__input
{
box
-
sizing
:
border
-
box
;
}
