.
connect
-
page__section__title
{
display
:
flex
;
}
.
connect
-
page__section__icon
{
fill
:
currentColor
;
height
:
32px
;
margin
-
inline
-
end
:
5px
;
width
:
32px
;
-
moz
-
context
-
properties
:
fill
;
}
