.
connect
-
page__steps
{
line
-
height
:
1
.
5em
;
list
-
style
-
type
:
decimal
;
margin
-
block
-
end
:
20px
;
margin
-
inline
-
start
:
40px
;
}
.
connect
-
page__step
{
padding
-
inline
-
start
:
20px
;
}
