.
connect
-
page__network
-
form
{
display
:
grid
;
grid
-
column
-
gap
:
10px
;
grid
-
template
-
columns
:
100px
auto
max
-
content
;
line
-
height
:
36px
;
}
.
connect
-
page__network
-
form__input
{
box
-
sizing
:
border
-
box
;
}
