%
include
.
.
/
.
.
/
.
.
/
shared
/
alert
.
inc
.
css
#
alertNotification
{
-
moz
-
appearance
:
none
;
background
:
transparent
;
padding
:
10px
;
}
#
alertBox
{
border
:
1px
solid
ThreeDShadow
;
border
-
radius
:
1px
;
background
-
color
:
-
moz
-
Dialog
;
color
:
-
moz
-
DialogText
;
box
-
shadow
:
0
2px
10px
rgba
(
0
0
0
0
.
59
)
;
}
media
(
-
moz
-
windows
-
default
-
theme
)
{
#
alertBox
{
border
-
color
:
rgba
(
107
107
107
.
3
)
;
background
-
color
:
rgba
(
255
255
255
.
9
)
;
color
:
rgba
(
0
0
0
.
9
)
;
}
}
