<
!
DOCTYPE
HTML
>
<
html
>
<
head
>
<
meta
charset
=
"
utf
-
8
"
>
<
link
rel
=
"
stylesheet
"
media
=
"
screen
projection
"
type
=
"
text
/
css
"
href
=
"
chrome
:
/
/
global
/
skin
/
in
-
content
/
common
.
css
"
/
>
<
link
rel
=
"
stylesheet
"
type
=
"
text
/
css
"
href
=
"
chrome
:
/
/
browser
/
content
/
aboutconfig
/
aboutconfig
.
css
"
/
>
<
script
type
=
"
application
/
javascript
"
src
=
"
chrome
:
/
/
browser
/
content
/
aboutconfig
/
aboutconfig
.
js
"
>
<
/
script
>
<
title
>
about
:
config
<
/
title
>
<
/
head
>
<
body
>
<
/
body
>
<
/
html
>
