#
prefs
{
background
-
color
:
var
(
-
-
in
-
content
-
box
-
background
)
;
color
:
var
(
-
-
in
-
content
-
text
-
color
)
;
margin
:
10px
;
min
-
width
:
644px
;
border
:
1px
solid
var
(
-
-
in
-
content
-
box
-
border
-
color
)
;
border
-
radius
:
2px
;
border
-
spacing
:
0
;
}
#
prefs
>
tr
:
nth
-
child
(
odd
)
{
background
-
color
:
var
(
-
-
in
-
content
-
box
-
background
-
odd
)
;
}
#
prefs
>
tr
:
hover
{
background
-
color
:
var
(
-
-
in
-
content
-
box
-
background
-
hover
)
;
}
#
prefs
>
tr
.
has
-
user
-
value
{
font
-
weight
:
bold
;
}
#
prefs
>
tr
>
td
{
padding
:
4px
;
width
:
50
%
;
}
.
cell
-
value
{
word
-
break
:
break
-
all
;
}
