%
if
0
%
endif
#
manage
-
share
-
providers
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
settings
.
svg
"
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
color
:
inherit
;
}
.
social
-
panel
>
.
panel
-
arrowcontainer
>
.
panel
-
arrowcontent
{
padding
:
0
;
}
.
social
-
panel
>
.
social
-
panel
-
frame
{
border
-
radius
:
inherit
;
}
