.
img
{
display
:
inline
-
block
;
width
:
16px
;
height
:
16px
;
vertical
-
align
:
middle
;
background
-
color
:
var
(
-
-
theme
-
icon
-
color
)
;
mask
-
size
:
contain
;
mask
-
repeat
:
no
-
repeat
;
mask
-
position
:
center
;
background
-
position
:
center
;
background
-
repeat
:
no
-
repeat
;
background
-
size
:
contain
;
flex
-
shrink
:
0
;
}
.
img
.
arrow
{
width
:
10px
;
height
:
10px
;
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
arrow
.
svg
)
;
mask
-
size
:
10px
10px
;
background
-
color
:
var
(
-
-
theme
-
icon
-
dimmed
-
color
)
;
transform
:
rotate
(
-
90deg
)
;
transition
:
transform
180ms
var
(
-
-
animation
-
curve
)
;
}
html
[
dir
=
"
rtl
"
]
.
img
.
arrow
{
transform
:
rotate
(
90deg
)
;
}
.
img
.
arrow
.
expanded
{
transform
:
none
!
important
;
}
.
img
.
arrow
-
down
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
arrow
-
down
.
svg
)
;
}
.
img
.
arrow
-
up
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
arrow
-
up
.
svg
)
;
}
.
img
.
blackBox
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
blackBox
.
svg
)
;
}
.
img
.
breadcrumb
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
breadcrumbs
-
divider
.
svg
)
;
}
.
img
.
case
-
match
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
case
-
match
.
svg
)
;
}
.
img
.
close
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
close
.
svg
)
;
}
.
img
.
disable
-
pausing
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
disable
-
pausing
.
svg
)
;
}
.
img
.
globe
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
globe
.
svg
)
;
}
.
img
.
globe
-
small
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
globe
-
small
.
svg
)
;
mask
-
size
:
12px
12px
;
}
.
img
.
window
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
window
.
svg
)
;
}
.
img
.
file
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
file
-
small
.
svg
)
;
mask
-
size
:
12px
12px
;
}
.
img
.
folder
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
folder
.
svg
)
;
}
.
img
.
home
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
home
.
svg
)
;
}
.
img
.
info
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
info
.
svg
)
;
}
.
img
.
loader
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
loader
.
svg
)
;
}
.
img
.
more
-
tabs
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
command
-
chevron
.
svg
)
;
}
html
[
dir
=
"
rtl
"
]
.
img
.
more
-
tabs
{
transform
:
scaleX
(
-
1
)
;
}
.
img
.
next
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
next
.
svg
)
;
}
.
img
.
next
-
circle
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
next
-
circle
.
svg
)
;
}
.
img
.
pane
-
collapse
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
pane
-
collapse
.
svg
)
;
}
.
img
.
pane
-
expand
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
pane
-
expand
.
svg
)
;
}
.
img
.
pause
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
pause
.
svg
)
;
}
.
img
.
plus
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
plus
.
svg
)
;
}
.
img
.
prettyPrint
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
prettyPrint
.
svg
)
;
}
.
img
.
refresh
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
reload
.
svg
)
;
}
.
img
.
regex
-
match
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
regex
-
match
.
svg
)
;
}
.
img
.
resume
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
resume
.
svg
)
;
}
.
img
.
reverseStepOver
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
stepOver
.
svg
)
;
transform
:
scaleX
(
-
1
)
;
}
.
img
.
rewind
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
rewind
.
svg
)
;
}
.
img
.
search
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
search
.
svg
)
;
}
.
img
.
shortcuts
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
help
.
svg
)
;
}
.
img
.
spin
{
animation
:
spin
0
.
5s
linear
infinite
;
}
.
img
.
stepIn
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
stepIn
.
svg
)
;
}
.
img
.
stepOut
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
stepOut
.
svg
)
;
}
.
img
.
stepOver
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
stepOver
.
svg
)
;
}
.
img
.
tab
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
tab
.
svg
)
;
}
.
img
.
whole
-
word
-
match
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
whole
-
word
-
match
.
svg
)
;
}
.
img
.
worker
{
mask
-
image
:
url
(
resource
:
/
/
devtools
/
client
/
debugger
/
images
/
worker
.
svg
)
;
}
