.
popover
{
position
:
fixed
;
z
-
index
:
100
;
}
.
popover
{
position
:
fixed
;
z
-
index
:
100
;
}
.
popover
.
orientation
-
right
{
display
:
flex
;
flex
-
direction
:
row
;
}
.
popover
.
orientation
-
right
.
gap
{
padding
-
left
:
5px
;
}
.
popover
:
not
(
.
orientation
-
right
)
.
gap
{
height
:
5px
;
padding
-
top
:
5px
;
}
.
popover
:
not
(
.
orientation
-
right
)
.
preview
-
popup
{
margin
-
left
:
-
55px
;
}
.
popover
.
add
-
to
-
expression
-
bar
{
margin
-
left
:
-
55px
;
}
