.
sidebar
-
item
{
display
:
grid
;
grid
-
template
-
columns
:
auto
1fr
;
grid
-
gap
:
var
(
-
-
base
-
unit
)
;
padding
:
calc
(
var
(
-
-
base
-
unit
)
)
calc
(
var
(
-
-
base
-
unit
)
*
6
)
;
}
.
sidebar
-
item
:
hover
{
background
-
color
:
var
(
-
-
highlight
-
color
)
;
}
.
sidebar
-
item__icon
{
height
:
calc
(
var
(
-
-
base
-
unit
)
*
4
)
;
width
:
calc
(
var
(
-
-
base
-
unit
)
*
4
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
}
