%
include
.
.
/
.
.
/
shared
/
downloads
/
allDownloadsView
.
inc
.
css
:
root
{
-
-
downloads
-
item
-
height
:
6em
;
}
.
downloadProgress
:
:
-
moz
-
progress
-
bar
{
background
-
color
:
#
3c9af8
;
}
.
downloadProgress
[
paused
]
:
:
-
moz
-
progress
-
bar
{
background
-
color
:
#
a6a6a6
;
}
