%
include
.
.
/
.
.
/
shared
/
downloads
/
downloads
.
inc
.
css
keyfocus
#
downloadsSummary
:
focus
keyfocus
.
downloadsPanelFooterButton
:
focus
{
outline
:
2px
-
moz
-
mac
-
focusring
solid
;
outline
-
offset
:
-
2px
;
}
:
root
{
-
-
downloads
-
item
-
height
:
6em
;
-
-
downloads
-
item
-
font
-
size
-
factor
:
0
.
95
;
-
-
downloads
-
item
-
details
-
opacity
:
0
.
7
;
}
.
downloadButton
:
focus
>
.
button
-
box
{
outline
:
2px
-
moz
-
mac
-
focusring
solid
;
outline
-
offset
:
-
2px
;
}
item
[
verdict
=
"
Malware
"
]
:
not
(
:
hover
)
{
color
:
#
aa1b08
;
}
:
root
[
lwt
-
popup
-
brighttext
]
item
[
verdict
=
"
Malware
"
]
:
not
(
:
hover
)
{
color
:
#
ff0039
;
}
.
downloadProgress
>
.
progress
-
bar
{
background
-
color
:
#
3c9af8
;
}
.
downloadProgress
[
paused
=
"
true
"
]
>
.
progress
-
bar
{
background
-
color
:
#
a6a6a6
;
}
keyfocus
itemFocused
{
outline
:
2px
-
moz
-
mac
-
focusring
solid
;
outline
-
offset
:
-
2px
;
}
