%
include
.
.
/
.
.
/
shared
/
downloads
/
downloads
.
inc
.
css
#
downloadsPanel
{
margin
-
top
:
-
1px
;
}
keyfocus
#
downloadsSummary
:
focus
keyfocus
.
downloadsPanelFooterButton
:
focus
{
outline
:
2px
-
moz
-
mac
-
focusring
solid
;
outline
-
offset
:
-
2px
;
}
:
root
{
-
-
downloads
-
item
-
height
:
7em
;
-
-
downloads
-
item
-
font
-
size
-
factor
:
0
.
95
;
-
-
downloads
-
item
-
target
-
margin
-
bottom
:
6px
;
-
-
downloads
-
item
-
details
-
margin
-
top
:
0
;
-
-
downloads
-
item
-
details
-
opacity
:
0
.
7
;
}
.
downloadButton
:
focus
>
.
button
-
box
{
outline
:
2px
-
moz
-
mac
-
focusring
solid
;
outline
-
offset
:
-
2px
;
}
item
[
verdict
=
"
Malware
"
]
{
color
:
#
aa1b08
;
}
keyfocus
itemFocused
{
outline
:
2px
-
moz
-
mac
-
focusring
solid
;
outline
-
offset
:
-
2px
;
}
