#
sanitizeDurationChoice
{
margin
-
inline
-
end
:
0
;
}
#
sanitizeDurationLabel
{
margin
-
inline
-
start
:
3px
;
}
#
sanitizeEverythingWarningIcon
{
list
-
style
-
image
:
url
(
"
moz
-
icon
:
/
/
stock
/
gtk
-
dialog
-
warning
?
size
=
dialog
"
)
;
}
