:
root
{
-
moz
-
user
-
select
:
none
;
}
#
options
-
panel
-
container
{
overflow
:
auto
;
}
#
options
-
panel
{
display
:
block
;
}
.
options
-
vertical
-
pane
{
display
:
inline
;
float
:
left
;
}
.
options
-
vertical
-
pane
:
dir
(
rtl
)
{
float
:
right
;
}
.
options
-
vertical
-
pane
{
margin
:
5px
;
width
:
calc
(
100
%
/
3
-
10px
)
;
min
-
width
:
320px
;
padding
-
inline
-
start
:
5px
;
box
-
sizing
:
border
-
box
;
}
media
(
max
-
width
:
1000px
)
{
.
options
-
vertical
-
pane
{
width
:
calc
(
100
%
/
2
-
10px
)
;
}
}
.
options
-
vertical
-
pane
fieldset
{
border
:
none
;
}
.
options
-
vertical
-
pane
fieldset
legend
{
font
-
size
:
1
.
4rem
;
margin
-
inline
-
start
:
-
15px
;
margin
-
bottom
:
3px
;
cursor
:
default
;
}
.
options
-
vertical
-
pane
fieldset
+
fieldset
{
margin
-
top
:
1rem
;
}
.
options
-
groupbox
{
margin
-
inline
-
start
:
15px
;
padding
:
2px
;
}
.
options
-
groupbox
label
{
display
:
flex
;
padding
:
4px
0
;
align
-
items
:
center
;
}
.
options
-
groupbox
label
span
:
first
-
child
{
padding
-
inline
-
start
:
5px
;
}
.
options
-
groupbox
label
span
+
select
{
margin
-
inline
-
start
:
4px
;
}
.
options
-
groupbox
.
horizontal
-
options
-
groupbox
label
{
display
:
inline
-
flex
;
align
-
items
:
flex
-
end
;
}
.
options
-
groupbox
.
horizontal
-
options
-
groupbox
label
+
label
{
margin
-
inline
-
start
:
4px
;
}
.
options
-
groupbox
>
*
{
padding
:
2px
;
}
.
options
-
citation
-
label
{
display
:
inline
-
block
;
font
-
size
:
1rem
;
font
-
style
:
italic
;
padding
:
4px
0
0
;
padding
-
inline
-
end
:
4px
;
}
#
devtools
-
sourceeditor
-
keybinding
-
select
{
min
-
width
:
130px
;
}
#
devtools
-
sourceeditor
-
tabsize
-
select
{
min
-
width
:
80px
;
}
#
screenshot
-
options
legend
:
:
after
{
content
:
"
"
;
display
:
inline
-
block
;
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
command
-
screenshot
.
svg
"
)
;
width
:
16px
;
height
:
16px
;
vertical
-
align
:
sub
;
margin
-
inline
-
start
:
5px
;
-
moz
-
context
-
properties
:
fill
;
fill
:
var
(
-
-
theme
-
toolbar
-
color
)
;
opacity
:
0
.
6
;
}
