:
root
{
min
-
width
:
29em
;
}
#
dialogGrid
{
display
:
grid
;
grid
-
template
-
columns
:
auto
1fr
;
align
-
items
:
center
;
}
.
dialogRow
:
not
(
[
hidden
]
)
{
display
:
contents
;
}
#
iconContainer
{
align
-
self
:
start
;
}
#
infoContainer
{
max
-
width
:
45em
;
}
#
infoBody
{
-
moz
-
user
-
focus
:
normal
;
-
moz
-
user
-
select
:
text
;
cursor
:
text
!
important
;
white
-
space
:
pre
-
wrap
;
unicode
-
bidi
:
plaintext
;
}
#
loginLabel
#
password1Label
{
text
-
align
:
end
;
}
