.
tabModalBackground
{
-
moz
-
box
-
pack
:
center
;
-
moz
-
box
-
orient
:
vertical
;
}
.
tabModalBackground
tabmodalprompt
{
width
:
100
%
;
height
:
100
%
;
}
tabmodalprompt
{
-
-
tabmodalprompt
-
padding
:
20px
;
overflow
:
hidden
;
text
-
shadow
:
none
;
}
tabmodalprompt
:
not
(
[
hidden
]
)
{
display
:
grid
;
grid
-
template
-
rows
:
1fr
[
dialog
-
start
]
auto
[
dialog
-
end
]
2fr
;
justify
-
items
:
center
;
}
tabmodalprompt
.
tab
-
prompt
{
overflow
:
visible
;
z
-
index
:
1
;
grid
-
template
-
rows
:
[
dialog
-
start
]
auto
[
dialog
-
end
]
1fr
;
}
tabmodalprompt
.
tab
-
prompt
.
tabmodalprompt
-
mainContainer
{
margin
-
top
:
-
5px
;
}
.
tabmodalprompt
-
mainContainer
{
min
-
width
:
20em
;
min
-
height
:
12em
;
max
-
width
:
calc
(
60
%
+
calc
(
var
(
-
-
tabmodalprompt
-
padding
)
*
2
)
)
;
-
moz
-
user
-
focus
:
normal
;
grid
-
row
:
dialog
;
display
:
flex
;
flex
-
direction
:
column
;
}
.
tabmodalprompt
-
topContainer
{
flex
-
grow
:
1
;
padding
:
var
(
-
-
tabmodalprompt
-
padding
)
;
display
:
grid
;
grid
-
template
-
columns
:
auto
1fr
;
align
-
items
:
baseline
;
max
-
width
:
100
%
;
min
-
height
:
0
;
max
-
height
:
60vh
;
box
-
sizing
:
border
-
box
;
}
.
tabmodalprompt
-
topContainer
>
div
:
not
(
.
tabmodalprompt
-
infoContainer
)
:
not
(
[
hidden
]
)
{
display
:
contents
;
}
.
tabmodalprompt
-
infoContainer
{
grid
-
column
:
span
2
;
display
:
block
;
margin
-
block
:
auto
;
max
-
width
:
100
%
;
height
:
100
%
;
min
-
height
:
3em
;
text
-
align
:
center
;
}
.
tabmodalprompt
-
topContainer
>
div
>
*
:
nth
-
child
(
2
)
{
grid
-
column
:
2
;
}
.
infoTitle
{
margin
-
bottom
:
1em
!
important
;
font
-
weight
:
bold
;
}
.
infoBody
{
margin
:
0
!
important
;
-
moz
-
user
-
focus
:
normal
;
user
-
select
:
text
;
cursor
:
text
!
important
;
white
-
space
:
pre
-
wrap
;
unicode
-
bidi
:
plaintext
;
overflow
:
auto
;
max
-
width
:
100
%
;
max
-
height
:
100
%
;
}
tabmodalprompt
label
[
value
=
"
"
]
{
display
:
none
;
}
.
tabmodalprompt
-
buttonContainer
{
display
:
flex
;
padding
:
12px
var
(
-
-
tabmodalprompt
-
padding
)
15px
;
}
.
tabmodalprompt
-
buttonSpacer
{
flex
-
grow
:
1
;
}
.
paymentDialogContainer
:
not
(
[
hidden
]
)
{
display
:
flex
;
flex
-
direction
:
column
;
position
:
absolute
;
z
-
index
:
1
;
width
:
100
%
;
}
.
paymentDialogContainer
>
div
{
align
-
self
:
center
;
box
-
sizing
:
border
-
box
;
height
:
600px
;
inset
-
inline
:
auto
;
max
-
height
:
75vh
;
max
-
width
:
calc
(
100vw
-
16px
-
16px
)
;
position
:
absolute
;
top
:
-
3px
;
width
:
600px
;
}
.
paymentDialogContainerFrame
{
box
-
sizing
:
border
-
box
;
height
:
100
%
;
width
:
100
%
;
}
