.
tabModalBackground
tabmodalprompt
{
width
:
100
%
;
height
:
100
%
;
-
moz
-
box
-
pack
:
center
;
-
moz
-
box
-
orient
:
vertical
;
}
.
tabmodalprompt
-
mainContainer
{
min
-
width
:
20em
;
min
-
height
:
12em
;
-
moz
-
user
-
focus
:
normal
;
}
tabmodalprompt
.
tab
-
prompt
{
overflow
:
visible
;
z
-
index
:
1
;
}
tabmodalprompt
.
tab
-
prompt
.
spacer
-
top
{
display
:
none
;
}
tabmodalprompt
.
tab
-
prompt
*
.
tabmodalprompt
-
mainContainer
{
margin
-
top
:
-
5px
;
}
.
infoTitle
{
margin
-
bottom
:
1em
!
important
;
font
-
weight
:
bold
;
}
.
infoBody
{
margin
:
0
!
important
;
-
moz
-
user
-
focus
:
normal
;
user
-
select
:
text
;
cursor
:
text
!
important
;
white
-
space
:
pre
-
wrap
;
unicode
-
bidi
:
plaintext
;
}
tabmodalprompt
label
[
value
=
"
"
]
{
visibility
:
collapse
;
}
.
paymentDialogContainer
:
not
(
[
hidden
]
)
{
display
:
flex
;
flex
-
direction
:
column
;
position
:
absolute
;
z
-
index
:
1
;
width
:
100
%
;
}
.
paymentDialogContainer
>
div
{
align
-
self
:
center
;
box
-
sizing
:
border
-
box
;
height
:
600px
;
inset
-
inline
:
auto
;
max
-
height
:
75vh
;
max
-
width
:
calc
(
100vw
-
16px
-
16px
)
;
position
:
absolute
;
top
:
-
3px
;
width
:
600px
;
}
.
paymentDialogContainerFrame
{
box
-
sizing
:
border
-
box
;
height
:
100
%
;
width
:
100
%
;
}
.
printPreviewBrowser
{
width
:
500px
;
height
:
600px
;
}
