#
viewGroup
>
radio
>
.
radio
-
label
-
box
{
-
moz
-
box
-
orient
:
vertical
;
-
moz
-
box
-
align
:
center
;
}
#
viewGroup
>
radio
>
.
radio
-
check
{
display
:
none
;
}
#
thepreviewimage
{
display
:
block
;
min
-
width
:
1px
;
}
table
{
border
-
spacing
:
0
;
}
.
tableSeparator
{
height
:
6px
;
}
th
td
{
padding
:
0
;
}
th
{
font
:
inherit
;
text
-
align
:
start
;
padding
-
inline
-
end
:
.
5em
;
}
table
:
not
(
#
securityTable
)
th
{
width
:
0
;
}
th
>
label
td
>
input
.
table
-
split
-
column
{
width
:
100
%
;
margin
-
block
:
1px
4px
;
}
.
table
-
split
-
column
{
display
:
flex
;
align
-
items
:
center
;
}
.
table
-
split
-
column
>
label
.
table
-
split
-
column
>
input
{
flex
-
grow
:
1
;
}
.
table
-
split
-
column
>
button
{
flex
-
shrink
:
0
;
}
