#
viewGroup
>
radio
>
.
radio
-
label
-
box
{
-
moz
-
box
-
orient
:
vertical
;
-
moz
-
box
-
align
:
center
;
}
#
viewGroup
>
radio
>
.
radio
-
check
{
display
:
none
;
}
#
thepreviewimage
{
display
:
block
;
min
-
width
:
1px
;
}
#
hostText
#
security
-
identity
-
verifier
-
value
{
-
moz
-
box
-
flex
:
1
;
}
