#
viewGroup
>
radio
>
.
radio
-
label
-
box
{
-
moz
-
box
-
orient
:
vertical
;
-
moz
-
box
-
align
:
center
;
}
#
viewGroup
>
radio
>
.
radio
-
check
{
display
:
none
;
}
#
feedListbox
richlistitem
{
-
moz
-
box
-
orient
:
vertical
;
}
#
feedListbox
richlistitem
:
not
(
[
selected
=
"
true
"
]
)
.
feed
-
subscribe
{
display
:
none
;
}
groupbox
[
closed
=
"
true
"
]
>
.
groupbox
-
body
{
visibility
:
collapse
;
}
#
thepreviewimage
{
display
:
block
;
min
-
width
:
1px
;
}
