.
connect
-
page__step
-
list
{
list
-
style
-
type
:
decimal
;
list
-
style
-
position
:
outside
;
margin
-
inline
-
start
:
calc
(
var
(
-
-
base
-
unit
)
*
4
)
;
}
.
connect
-
page__step
{
padding
-
inline
-
start
:
var
(
-
-
base
-
unit
)
;
}
