.
network
-
location
{
display
:
grid
;
grid
-
template
-
columns
:
auto
max
-
content
;
align
-
items
:
center
;
padding
-
block
:
calc
(
var
(
-
-
base
-
unit
)
*
2
)
;
padding
-
inline
:
calc
(
var
(
-
-
base
-
unit
)
*
6
)
;
border
-
bottom
:
1px
solid
var
(
-
-
card
-
separator
-
color
)
;
}
