#
country
-
warning
-
message
{
display
:
none
;
}
address
-
form
[
address
-
fields
]
:
not
(
[
address
-
fields
~
=
'
name
'
]
)
#
name
-
container
address
-
form
[
address
-
fields
]
#
organization
-
container
address
-
form
[
address
-
fields
]
#
street
-
address
-
container
address
-
form
[
address
-
fields
]
#
address
-
level2
-
container
address
-
form
[
address
-
fields
]
#
address
-
level1
-
container
address
-
form
[
address
-
fields
]
#
postal
-
code
-
container
address
-
form
[
address
-
fields
]
#
country
-
container
address
-
form
[
address
-
fields
]
:
not
(
[
address
-
fields
~
=
'
email
'
]
)
#
email
-
container
address
-
form
[
address
-
fields
]
:
not
(
[
address
-
fields
~
=
'
tel
'
]
)
#
tel
-
container
{
display
:
none
!
important
;
}
address
-
form
.
error
input
address
-
form
.
error
select
address
-
form
.
error
textarea
{
border
:
1px
solid
#
ce001a
;
}
label
[
required
]
>
span
:
:
after
{
content
:
"
*
"
;
}
.
error
-
text
:
not
(
:
empty
)
{
border
-
radius
:
2px
;
background
-
color
:
#
ce001a
;
color
:
#
f9e6e9
;
padding
:
.
1em
.
5em
;
margin
-
inline
-
start
:
.
1em
;
}
