.
error
-
text
{
color
:
#
fff
;
background
-
color
:
#
d70022
;
border
-
radius
:
2px
;
margin
:
5px
3px
0
3px
;
padding
:
5px
12px
;
position
:
absolute
;
z
-
index
:
1
;
pointer
-
events
:
none
;
top
:
100
%
;
visibility
:
hidden
;
}
:
is
(
input
textarea
select
)
~
.
error
-
text
:
:
before
{
background
-
color
:
#
d70022
;
top
:
-
7px
;
content
:
'
.
'
;
height
:
16px
;
position
:
absolute
;
text
-
indent
:
-
999px
;
transform
:
rotate
(
45deg
)
;
white
-
space
:
nowrap
;
width
:
16px
;
z
-
index
:
-
1
}
.
error
-
text
:
dir
(
ltr
)
:
:
before
{
left
:
12px
}
.
error
-
text
:
dir
(
rtl
)
:
:
before
{
right
:
12px
}
:
is
(
input
textarea
select
)
:
-
moz
-
ui
-
invalid
:
focus
~
.
error
-
text
{
visibility
:
visible
;
}
address
-
form
>
footer
>
.
cancel
-
button
{
margin
-
right
:
auto
;
}
address
-
form
>
footer
>
.
back
-
button
{
margin
-
right
:
auto
;
}
