basic
-
card
-
form
.
editCreditCardForm
{
grid
-
template
-
areas
:
"
cc
-
number
cc
-
exp
-
month
cc
-
exp
-
year
"
"
cc
-
name
cc
-
type
cc
-
csc
"
"
accepted
accepted
accepted
"
"
persist
-
checkbox
persist
-
checkbox
persist
-
checkbox
"
"
billingAddressGUID
billingAddressGUID
billingAddressGUID
"
;
}
basic
-
card
-
form
csc
-
input
{
display
:
flex
;
flex
-
grow
:
1
;
}
basic
-
card
-
form
.
editCreditCardForm
>
accepted
-
cards
{
grid
-
area
:
accepted
;
margin
:
0
;
}
basic
-
card
-
form
.
editCreditCardForm
.
persist
-
checkbox
{
display
:
flex
;
grid
-
area
:
persist
-
checkbox
;
}
#
billingAddressGUID
-
container
{
display
:
grid
;
}
basic
-
card
-
form
>
footer
>
.
cancel
-
button
{
margin
-
right
:
auto
;
}
basic
-
card
-
form
>
footer
>
.
cancel
-
button
[
hidden
]
~
.
back
-
button
{
margin
-
right
:
auto
;
}
