import
"
resource
:
/
/
devtools
/
client
/
themes
/
variables
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
App
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
RuntimeInfo
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
RuntimePage
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
Sidebar
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
SidebarItem
.
css
"
;
html
body
{
margin
:
0
;
padding
:
0
;
}
ul
{
list
-
style
:
none
;
margin
:
0
;
padding
:
0
;
}
