import
"
chrome
:
/
/
global
/
skin
/
in
-
content
/
common
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
themes
/
variables
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
App
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
RuntimeInfo
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
connect
/
ConnectSteps
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
connect
/
NetworkLocationsForm
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
connect
/
NetworkLocationsList
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
debugtarget
/
DebugTargetItem
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
debugtarget
/
DebugTargetList
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
debugtarget
/
DebugTargetPane
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
debugtarget
/
ExtensionDetail
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
debugtarget
/
WorkerDetail
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
sidebar
/
DeviceSidebarItemAction
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
sidebar
/
Sidebar
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
sidebar
/
SidebarFixedItem
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
sidebar
/
SidebarItem
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
aboutdebugging
-
new
/
src
/
components
/
sidebar
/
SidebarRuntimeItem
.
css
"
;
:
root
{
-
-
text
-
color
:
var
(
-
-
in
-
content
-
page
-
color
)
;
-
-
page
-
width
:
664px
;
-
-
base
-
distance
:
4px
;
-
-
base
-
font
-
size
:
15px
;
-
-
base
-
line
-
height
:
1
.
8
;
-
-
button
-
form
-
width
:
150px
;
-
-
input
-
hpadding
:
5px
;
}
html
body
{
margin
:
0
;
padding
:
0
;
color
:
var
(
-
-
text
-
color
)
;
}
dd
{
margin
:
0
;
padding
:
0
;
}
ul
{
list
-
style
:
none
;
margin
:
0
;
padding
:
0
;
}
.
ellipsis
-
text
{
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
white
-
space
:
nowrap
;
}
.
separator
{
margin
:
calc
(
var
(
-
-
base
-
distance
)
*
4
)
0
;
}
.
std
-
button
{
box
-
sizing
:
border
-
box
;
margin
:
0
;
min
-
width
:
var
(
-
-
button
-
form
-
width
)
;
}
.
std
-
input
.
std
-
input
[
type
=
text
]
{
box
-
sizing
:
border
-
box
;
line
-
height
:
unset
;
padding
:
0
var
(
-
-
input
-
hpadding
)
;
height
:
100
%
;
}
.
aboutdebugging
-
button
{
height
:
36px
;
margin
-
block
-
start
:
0
;
margin
-
block
-
end
:
0
;
margin
-
inline
-
start
:
4px
;
margin
-
inline
-
end
:
4px
;
min
-
width
:
100px
;
padding
-
inline
-
start
:
20px
;
padding
-
inline
-
end
:
20px
;
}
