body
{
display
:
flex
;
align
-
items
:
center
;
justify
-
content
:
center
;
min
-
height
:
100vh
;
border
:
1em
solid
#
ffe900
;
}
button
{
padding
-
block
:
0
.
5em
;
}
.
title
{
background
-
image
:
url
(
"
chrome
:
/
/
global
/
content
/
httpsonlyerror
/
cert
-
error
.
svg
"
)
;
}
em
{
font
-
style
:
normal
;
font
-
weight
:
600
;
}
.
learn
-
more
-
container
{
margin
-
block
-
start
:
2rem
;
}
.
button
-
container
{
display
:
flex
;
flex
-
flow
:
row
wrap
;
justify
-
content
:
end
;
}
media
only
screen
and
(
max
-
width
:
480px
)
{
.
button
-
container
button
{
width
:
100
%
;
margin
:
0
.
66em
0
0
;
}
}
