namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
namespace
html
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
:
host
(
[
animating
]
)
{
pointer
-
events
:
none
;
}
.
panel
-
arrowcontent
{
padding
:
var
(
-
-
arrowpanel
-
padding
)
;
color
:
var
(
-
-
arrowpanel
-
color
)
;
background
:
var
(
-
-
arrowpanel
-
background
)
;
}
:
host
(
.
panel
-
no
-
padding
)
.
panel
-
arrowcontent
{
padding
:
0
;
overflow
:
hidden
;
}
:
host
(
[
orient
=
"
vertical
"
]
)
.
panel
-
arrowcontent
{
-
moz
-
box
-
orient
:
vertical
;
}
.
panel
-
arrowcontent
>
html
|
slot
{
border
-
radius
:
inherit
;
}
.
panel
-
arrow
{
-
moz
-
context
-
properties
:
fill
stroke
;
fill
:
var
(
-
-
arrowpanel
-
background
)
;
stroke
:
var
(
-
-
arrowpanel
-
border
-
color
)
;
position
:
relative
;
}
:
host
(
[
side
=
"
top
"
]
)
.
panel
-
arrow
:
host
(
[
side
=
"
bottom
"
]
)
.
panel
-
arrow
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
arrow
/
panelarrow
-
vertical
.
svg
"
)
;
}
:
host
(
[
side
=
"
left
"
]
)
.
panel
-
arrow
:
host
(
[
side
=
"
right
"
]
)
.
panel
-
arrow
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
arrow
/
panelarrow
-
horizontal
.
svg
"
)
;
}
:
host
(
[
side
=
"
bottom
"
]
)
.
panel
-
arrow
{
transform
:
scaleY
(
-
1
)
;
}
:
host
(
[
side
=
"
right
"
]
)
.
panel
-
arrow
{
transform
:
scaleX
(
-
1
)
;
}
