.
close
-
icon
{
-
moz
-
appearance
:
none
;
-
moz
-
context
-
properties
:
fill
fill
-
opacity
;
list
-
style
-
image
:
url
(
chrome
:
/
/
global
/
skin
/
icons
/
close
.
svg
)
;
color
:
inherit
;
fill
:
currentColor
;
fill
-
opacity
:
0
;
}
.
close
-
icon
:
hover
{
fill
-
opacity
:
0
.
1
;
}
.
close
-
icon
:
hover
:
active
{
fill
-
opacity
:
0
.
2
;
}
.
close
-
icon
>
.
button
-
icon
.
close
-
icon
>
.
button
-
box
>
.
button
-
icon
.
close
-
icon
>
.
toolbarbutton
-
icon
{
width
:
20px
;
height
:
20px
;
}
