%
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
%
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
%
file
You
can
obtain
one
at
http
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
.
menupopup
-
arrowscrollbox
[
scrolledtostart
=
"
true
"
]
:
:
part
(
scrollbutton
-
up
)
.
menupopup
-
arrowscrollbox
[
scrolledtoend
=
"
true
"
]
:
:
part
(
scrollbutton
-
down
)
{
visibility
:
collapse
;
}
.
menupopup
-
arrowscrollbox
:
not
(
[
scrolledtostart
=
"
true
"
]
)
:
:
part
(
scrollbox
)
{
margin
-
top
:
-
16px
;
}
.
menupopup
-
arrowscrollbox
:
not
(
[
scrolledtoend
=
"
true
"
]
)
:
:
part
(
scrollbox
)
{
margin
-
bottom
:
-
16px
;
}
.
menupopup
-
arrowscrollbox
:
:
part
(
scrollbox
-
clip
)
{
overflow
:
hidden
;
}
