.
popup
-
notification
-
panel
:
:
part
(
arrowcontent
)
{
display
:
flex
;
flex
-
direction
:
column
;
}
.
popup
-
notification
-
panel
>
popupnotification
:
not
(
[
hidden
]
)
{
display
:
block
;
}
