namespace
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
input
[
type
=
"
number
"
]
{
text
-
align
:
right
;
}
input
[
type
=
"
number
"
]
[
hidespinbuttons
=
"
true
"
]
{
-
moz
-
appearance
:
textfield
!
important
;
}
