namespace
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
input
[
type
=
"
number
"
]
{
text
-
align
:
right
;
}
input
[
type
=
"
number
"
]
[
hidespinbuttons
=
"
true
"
]
{
-
moz
-
appearance
:
textfield
!
important
;
}
.
input
-
number
-
mozbox
.
input
-
number
-
mozbox
:
:
-
moz
-
number
-
wrapper
{
display
:
-
moz
-
box
;
-
moz
-
box
-
align
:
center
;
}
.
input
-
number
-
mozbox
:
:
-
moz
-
number
-
wrapper
.
input
-
number
-
mozbox
:
:
-
moz
-
number
-
text
{
-
moz
-
box
-
flex
:
1
;
}
.
input
-
number
-
mozbox
:
:
-
moz
-
number
-
wrapper
{
width
:
100
%
;
}
