namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
.
contentPane
{
margin
:
9px
8px
5px
8px
;
}
.
actionButtons
{
margin
:
0px
3px
6px
3px
!
important
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
siteCol
)
{
list
-
style
-
image
:
url
(
chrome
:
/
/
mozapps
/
skin
/
places
/
defaultFavicon
.
svg
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
width
:
16px
;
height
:
16px
;
margin
-
inline
-
end
:
5px
;
}
