namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
:
host
(
[
scrolledtostart
=
true
]
)
:
:
part
(
overflow
-
start
-
indicator
)
:
host
(
[
scrolledtoend
=
true
]
)
:
:
part
(
overflow
-
end
-
indicator
)
:
host
(
:
not
(
[
overflowing
=
true
]
)
)
>
toolbarbutton
{
visibility
:
collapse
;
}
toolbarbutton
{
color
:
inherit
!
important
;
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
arrow
-
dropdown
-
12
.
svg
"
)
;
-
moz
-
context
-
properties
:
fill
fill
-
opacity
;
fill
:
currentColor
;
fill
-
opacity
:
1
;
padding
:
2px
;
}
toolbarbutton
[
disabled
=
"
true
"
]
{
fill
-
opacity
:
0
.
4
;
}
:
host
(
[
orient
=
"
horizontal
"
]
)
>
toolbarbutton
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
arrow
-
left
.
svg
"
)
;
}
#
scrollbutton
-
up
>
.
toolbarbutton
-
icon
{
transform
:
scaleY
(
-
1
)
;
}
:
host
(
[
orient
=
"
horizontal
"
]
)
>
#
scrollbutton
-
down
:
-
moz
-
locale
-
dir
(
ltr
)
>
.
toolbarbutton
-
icon
:
host
(
[
orient
=
"
horizontal
"
]
)
>
#
scrollbutton
-
up
:
-
moz
-
locale
-
dir
(
rtl
)
>
.
toolbarbutton
-
icon
{
transform
:
scaleX
(
-
1
)
;
}
toolbarbutton
>
.
toolbarbutton
-
text
{
display
:
none
;
}
%
ifndef
XP_MACOSX
:
host
(
:
not
(
[
clicktoscroll
=
"
true
"
]
)
)
>
toolbarbutton
{
-
moz
-
appearance
:
none
;
}
%
endif
