namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
namespace
html
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
tree
{
margin
:
0
4px
;
background
-
color
:
-
moz
-
Field
;
color
:
-
moz
-
FieldText
;
-
moz
-
appearance
:
listbox
;
}
treechildren
:
:
-
moz
-
tree
-
row
{
border
:
1px
solid
transparent
;
min
-
height
:
24px
;
height
:
1
.
3em
;
}
treechildren
:
:
-
moz
-
tree
-
row
(
multicol
odd
)
{
background
-
color
:
-
moz
-
oddtreerow
;
}
%
ifdef
XP_WIN
media
(
-
moz
-
windows
-
default
-
theme
)
{
treechildren
:
:
-
moz
-
tree
-
row
(
hover
)
{
background
-
color
:
hsla
(
0
0
%
50
%
.
15
)
;
}
}
%
endif
treechildren
:
:
-
moz
-
tree
-
row
(
selected
)
{
background
-
color
:
-
moz
-
cellhighlight
;
}
treechildren
:
:
-
moz
-
tree
-
row
(
selected
focus
)
{
background
-
color
:
Highlight
;
}
treechildren
:
:
-
moz
-
tree
-
cell
{
padding
:
0
2px
;
}
treechildren
:
:
-
moz
-
tree
-
cell
-
text
{
color
:
inherit
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
selected
)
treechildren
:
:
-
moz
-
tree
-
twisty
(
selected
)
treechildren
:
:
-
moz
-
tree
-
cell
-
text
(
selected
)
{
color
:
-
moz
-
cellhighlighttext
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
selected
focus
)
treechildren
:
:
-
moz
-
tree
-
twisty
(
selected
focus
)
treechildren
:
:
-
moz
-
tree
-
cell
-
text
(
selected
focus
)
{
color
:
HighlightText
;
}
treechildren
:
:
-
moz
-
tree
-
line
{
border
:
1px
dotted
ThreeDShadow
;
}
treechildren
:
:
-
moz
-
tree
-
line
(
selected
focus
)
{
border
:
1px
dotted
HighlightText
;
}
treechildren
:
:
-
moz
-
tree
-
separator
{
border
-
top
:
1px
solid
ThreeDShadow
;
border
-
bottom
:
1px
solid
ThreeDHighlight
;
}
treechildren
:
:
-
moz
-
tree
-
cell
-
text
(
primary
dropOn
)
{
background
-
color
:
Highlight
;
color
:
HighlightText
;
}
treechildren
:
:
-
moz
-
tree
-
drop
-
feedback
{
background
-
color
:
Highlight
;
width
:
50px
;
height
:
2px
;
margin
-
inline
-
start
:
5px
;
}
treecol
treecolpicker
{
-
moz
-
appearance
:
treeheadercell
;
-
moz
-
box
-
align
:
center
;
-
moz
-
box
-
pack
:
center
;
color
:
-
moz
-
DialogText
;
padding
:
0
4px
;
}
.
treecol
-
image
{
padding
:
0
1px
;
}
.
treecol
-
text
{
margin
:
0
!
important
;
}
treecol
[
hideheader
=
"
true
"
]
{
-
moz
-
appearance
:
none
;
}
treecol
[
dragging
=
"
true
"
]
{
color
:
Graytext
;
}
treechildren
:
:
-
moz
-
tree
-
column
(
insertbefore
)
{
border
-
inline
-
start
:
1px
solid
ThreeDShadow
;
}
treechildren
:
:
-
moz
-
tree
-
column
(
insertafter
)
{
border
-
inline
-
end
:
1px
solid
ThreeDShadow
;
}
.
tree
-
columnpicker
-
icon
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
columnpicker
.
svg
"
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
}
treechildren
:
:
-
moz
-
tree
-
image
{
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
}
treechildren
:
:
-
moz
-
tree
-
twisty
{
padding
-
inline
-
end
:
4px
;
padding
-
inline
-
start
:
4px
;
padding
-
top
:
1px
;
width
:
8px
;
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
twisty
-
collapsed
.
svg
"
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
}
treechildren
:
-
moz
-
locale
-
dir
(
rtl
)
:
:
-
moz
-
tree
-
twisty
(
closed
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
twisty
-
collapsed
-
rtl
.
svg
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
twisty
(
open
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
twisty
-
expanded
.
svg
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
indentation
{
width
:
16px
;
}
treechildren
:
:
-
moz
-
tree
-
row
(
selected
editing
)
{
background
-
color
:
transparent
;
border
:
none
;
}
treechildren
:
:
-
moz
-
tree
-
cell
-
text
(
selected
editing
)
{
color
:
inherit
;
}
html
|
input
.
tree
-
input
{
position
:
absolute
;
top
:
0
;
left
:
0
;
-
moz
-
appearance
:
none
;
-
moz
-
box
-
flex
:
1
;
border
:
1px
solid
Highlight
;
margin
:
0
;
margin
-
inline
-
start
:
-
4px
;
padding
:
1px
;
font
:
inherit
;
}
.
scrollbar
-
topmost
{
position
:
relative
;
z
-
index
:
2147483647
;
}
