#
flyweb
-
panel
{
width
:
20em
;
}
#
flyweb
-
items
-
empty
{
box
-
sizing
:
border
-
box
;
color
:
GrayText
;
padding
:
10px
20px
;
text
-
align
:
center
;
}
#
flyweb
-
button
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
flyweb
-
shared
/
skin
/
icon
.
svg
"
)
;
}
