namespace
url
(
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
)
;
*
|
*
:
:
-
moz
-
fieldset
-
content
{
display
:
block
;
unicode
-
bidi
:
inherit
;
text
-
overflow
:
inherit
;
overflow
:
inherit
;
overflow
-
clip
-
box
:
inherit
;
border
-
radius
:
inherit
;
padding
:
inherit
;
box
-
decoration
-
break
:
inherit
;
block
-
size
:
100
%
;
column
-
count
:
inherit
;
column
-
width
:
inherit
;
column
-
gap
:
inherit
;
column
-
rule
:
inherit
;
column
-
fill
:
inherit
;
flex
-
direction
:
inherit
;
flex
-
wrap
:
inherit
;
-
moz
-
box
-
orient
:
inherit
;
-
moz
-
box
-
direction
:
inherit
;
-
moz
-
box
-
pack
:
inherit
;
-
moz
-
box
-
align
:
inherit
;
grid
-
auto
-
columns
:
inherit
;
grid
-
auto
-
rows
:
inherit
;
grid
-
auto
-
flow
:
inherit
;
grid
-
column
-
gap
:
inherit
;
grid
-
row
-
gap
:
inherit
;
grid
-
template
-
areas
:
inherit
;
grid
-
template
-
columns
:
inherit
;
grid
-
template
-
rows
:
inherit
;
align
-
content
:
inherit
;
align
-
items
:
inherit
;
justify
-
content
:
inherit
;
justify
-
items
:
inherit
;
}
fieldset
>
legend
{
inline
-
size
:
-
moz
-
fit
-
content
;
}
legend
{
display
:
block
;
padding
-
inline
:
2px
;
}
fieldset
{
display
:
block
;
margin
-
inline
:
2px
;
padding
-
block
:
0
.
35em
0
.
625em
;
padding
-
inline
:
0
.
75em
;
border
:
2px
groove
ThreeDFace
;
min
-
inline
-
size
:
min
-
content
;
}
label
{
cursor
:
default
;
}
input
{
display
:
inline
-
block
;
appearance
:
auto
;
-
moz
-
default
-
appearance
:
textfield
;
-
moz
-
button
-
appearance
:
disallow
;
padding
:
1px
;
border
:
2px
inset
ThreeDLightShadow
;
background
-
color
:
-
moz
-
Field
;
color
:
-
moz
-
FieldText
;
font
:
-
moz
-
field
;
text
-
rendering
:
optimizeLegibility
;
cursor
:
text
;
overflow
-
clip
-
box
:
padding
-
box
content
-
box
;
}
input
:
:
-
moz
-
text
-
control
-
editing
-
root
input
:
:
placeholder
{
word
-
wrap
:
normal
;
line
-
height
:
-
moz
-
block
-
height
;
}
textarea
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
textarea
;
-
moz
-
button
-
appearance
:
disallow
;
margin
-
block
:
1px
;
border
:
2px
inset
ThreeDLightShadow
;
padding
-
inline
:
1px
;
background
-
color
:
-
moz
-
Field
;
color
:
-
moz
-
FieldText
;
font
:
medium
-
moz
-
fixed
;
text
-
rendering
:
optimizeLegibility
;
vertical
-
align
:
text
-
bottom
;
cursor
:
text
;
resize
:
both
;
white
-
space
:
pre
-
wrap
;
word
-
wrap
:
break
-
word
;
overflow
-
clip
-
box
:
content
-
box
;
}
input
textarea
select
button
:
:
file
-
selector
-
button
{
text
-
align
:
initial
;
text
-
indent
:
initial
;
text
-
shadow
:
initial
;
text
-
transform
:
initial
;
word
-
spacing
:
initial
;
letter
-
spacing
:
initial
;
}
textarea
>
scrollbar
{
cursor
:
default
;
}
:
:
placeholder
:
:
-
moz
-
text
-
control
-
editing
-
root
:
:
-
moz
-
text
-
control
-
preview
{
overflow
:
auto
;
border
:
0
;
padding
:
inherit
;
margin
:
0
;
text
-
decoration
:
inherit
;
display
:
inline
-
block
;
ime
-
mode
:
inherit
;
resize
:
inherit
;
scrollbar
-
width
:
inherit
;
-
moz
-
control
-
character
-
visibility
:
visible
;
overflow
-
clip
-
box
:
inherit
;
}
input
:
:
-
moz
-
text
-
control
-
editing
-
root
input
:
:
placeholder
input
:
:
-
moz
-
text
-
control
-
preview
{
white
-
space
:
pre
;
}
input
[
type
=
password
]
:
:
-
moz
-
text
-
control
-
editing
-
root
input
[
type
=
password
]
:
:
-
moz
-
text
-
control
-
preview
{
unicode
-
bidi
:
bidi
-
override
;
}
textarea
:
:
-
moz
-
text
-
control
-
editing
-
root
{
scroll
-
behavior
:
inherit
;
overscroll
-
behavior
:
inherit
;
overflow
:
inherit
;
}
:
:
placeholder
:
:
-
moz
-
text
-
control
-
preview
{
display
:
inline
-
block
;
resize
:
none
;
overflow
:
hidden
;
pointer
-
events
:
none
;
}
:
:
placeholder
{
opacity
:
0
.
54
;
}
textarea
:
:
placeholder
textarea
:
:
-
moz
-
text
-
control
-
preview
{
white
-
space
:
pre
-
wrap
!
important
;
}
input
:
read
-
write
textarea
:
read
-
write
{
-
moz
-
user
-
modify
:
read
-
write
!
important
;
}
select
{
margin
:
0
;
border
-
color
:
ThreeDLightShadow
;
font
:
-
moz
-
list
;
white
-
space
:
nowrap
!
important
;
word
-
wrap
:
normal
!
important
;
cursor
:
default
;
box
-
sizing
:
border
-
box
;
user
-
select
:
none
;
border
-
width
:
2px
;
border
-
style
:
inset
;
overflow
:
clip
;
display
:
inline
-
block
;
page
-
break
-
inside
:
avoid
;
overflow
-
clip
-
box
:
padding
-
box
!
important
;
background
-
color
:
-
moz
-
Combobox
;
color
:
-
moz
-
ComboboxText
;
vertical
-
align
:
baseline
;
padding
-
block
:
0
;
appearance
:
auto
;
-
moz
-
default
-
appearance
:
menulist
;
-
moz
-
button
-
appearance
:
allow
;
}
select
:
-
moz
-
select
-
list
-
box
{
overflow
:
auto
;
background
-
color
:
-
moz
-
Field
;
color
:
-
moz
-
FieldText
;
vertical
-
align
:
text
-
bottom
;
padding
-
block
:
1px
;
appearance
:
auto
;
-
moz
-
default
-
appearance
:
listbox
;
-
moz
-
button
-
appearance
:
disallow
;
}
select
>
button
{
inline
-
size
:
12px
;
white
-
space
:
nowrap
;
position
:
static
!
important
;
background
-
image
:
url
(
"
arrow
.
gif
"
)
!
important
;
background
-
repeat
:
no
-
repeat
!
important
;
background
-
position
:
center
!
important
;
appearance
:
auto
;
-
moz
-
default
-
appearance
:
-
moz
-
menulist
-
arrow
-
button
;
block
-
size
:
100
%
!
important
;
box
-
sizing
:
border
-
box
!
important
;
vertical
-
align
:
top
!
important
;
}
select
>
button
:
active
{
background
-
image
:
url
(
"
arrowd
.
gif
"
)
!
important
;
}
select
>
button
[
orientation
=
"
left
"
]
{
background
-
image
:
url
(
"
arrow
-
left
.
gif
"
)
!
important
;
}
select
>
button
[
orientation
=
"
right
"
]
{
background
-
image
:
url
(
"
arrow
-
right
.
gif
"
)
!
important
;
}
select
>
button
[
orientation
=
"
left
"
]
:
active
{
background
-
image
:
url
(
"
arrowd
-
left
.
gif
"
)
!
important
;
}
select
>
button
[
orientation
=
"
right
"
]
:
active
{
background
-
image
:
url
(
"
arrowd
-
right
.
gif
"
)
!
important
;
}
*
|
*
:
:
-
moz
-
display
-
comboboxcontrol
-
frame
{
overflow
:
clip
;
padding
-
block
:
1px
;
padding
-
inline
:
4px
;
color
:
unset
;
white
-
space
:
nowrap
;
text
-
align
:
unset
;
user
-
select
:
none
;
block
-
size
:
100
%
;
min
-
inline
-
size
:
max
-
content
;
box
-
sizing
:
border
-
box
;
line
-
height
:
-
moz
-
block
-
height
;
}
option
[
label
]
:
:
before
{
content
:
attr
(
label
)
;
}
option
{
display
:
block
;
float
:
none
!
important
;
position
:
static
!
important
;
min
-
block
-
size
:
1em
;
line
-
height
:
normal
!
important
;
user
-
select
:
none
;
text
-
indent
:
0
;
white
-
space
:
nowrap
!
important
;
word
-
wrap
:
normal
!
important
;
text
-
align
:
match
-
parent
;
}
select
>
option
{
padding
-
block
:
0
;
padding
-
inline
:
3px
5px
;
}
option
:
checked
{
background
-
color
:
-
moz
-
html
-
cellhighlight
!
important
;
color
:
-
moz
-
html
-
cellhighlighttext
!
important
;
}
select
:
focus
>
option
:
checked
select
:
focus
>
optgroup
>
option
:
checked
{
background
-
color
:
Highlight
!
important
;
color
:
HighlightText
!
important
;
}
optgroup
{
display
:
block
;
float
:
none
!
important
;
position
:
static
!
important
;
font
:
-
moz
-
list
;
line
-
height
:
normal
!
important
;
font
-
style
:
italic
;
font
-
weight
:
bold
;
font
-
size
:
unset
;
user
-
select
:
none
;
text
-
indent
:
0
;
white
-
space
:
nowrap
!
important
;
word
-
wrap
:
normal
!
important
;
}
optgroup
>
option
{
padding
-
inline
-
start
:
20px
;
font
-
style
:
normal
;
font
-
weight
:
normal
;
}
optgroup
:
before
{
display
:
block
;
content
:
attr
(
label
)
;
}
%
ifdef
ANDROID
select
option
select
optgroup
{
pointer
-
events
:
none
;
}
%
endif
*
|
*
:
:
-
moz
-
dropdown
-
list
{
z
-
index
:
2147483647
;
background
-
color
:
inherit
;
user
-
select
:
none
;
position
:
static
!
important
;
float
:
none
!
important
;
border
:
1px
outset
black
!
important
;
border
-
inline
-
start
-
width
:
2px
!
important
;
}
input
:
disabled
textarea
:
disabled
option
:
disabled
optgroup
:
disabled
select
:
disabled
{
color
:
GrayText
;
background
-
color
:
ThreeDLightShadow
;
cursor
:
unset
;
}
input
:
disabled
textarea
:
disabled
{
cursor
:
default
;
}
option
:
disabled
optgroup
:
disabled
{
background
-
color
:
transparent
;
}
input
[
type
=
"
hidden
"
]
{
appearance
:
none
;
-
moz
-
default
-
appearance
:
none
;
display
:
none
!
important
;
padding
:
unset
;
border
:
0
;
cursor
:
auto
;
-
moz
-
user
-
focus
:
ignore
;
}
input
[
type
=
"
image
"
]
{
appearance
:
none
;
-
moz
-
default
-
appearance
:
none
;
padding
:
unset
;
border
:
none
;
background
-
color
:
transparent
;
font
-
family
:
sans
-
serif
;
font
-
size
:
small
;
cursor
:
pointer
;
}
input
[
type
=
"
image
"
]
:
disabled
{
cursor
:
unset
;
}
:
:
-
moz
-
color
-
swatch
{
width
:
100
%
;
height
:
100
%
;
min
-
width
:
3px
;
min
-
height
:
3px
;
margin
-
inline
:
auto
;
box
-
sizing
:
border
-
box
;
border
:
1px
solid
grey
;
display
:
block
;
}
input
[
type
=
"
radio
"
]
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
radio
;
margin
-
block
:
3px
0
;
margin
-
inline
:
5px
3px
;
}
input
[
type
=
"
checkbox
"
]
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
checkbox
;
margin
-
block
:
3px
;
margin
-
inline
:
4px
3px
;
}
input
[
type
=
"
radio
"
]
input
[
type
=
"
checkbox
"
]
{
box
-
sizing
:
border
-
box
;
cursor
:
default
;
padding
:
unset
;
border
:
unset
;
background
-
color
:
unset
;
color
:
unset
;
}
input
:
is
(
[
type
=
"
radio
"
]
[
type
=
"
checkbox
"
]
)
:
is
(
:
disabled
:
disabled
:
active
:
disabled
:
hover
:
active
)
{
cursor
:
unset
;
}
input
:
not
(
[
type
=
"
file
"
]
)
:
not
(
[
type
=
"
image
"
]
)
:
-
moz
-
focusring
select
:
-
moz
-
focusring
button
:
-
moz
-
focusring
textarea
:
-
moz
-
focusring
{
outline
-
style
:
auto
;
}
input
[
type
=
"
search
"
]
{
box
-
sizing
:
border
-
box
;
}
button
:
:
file
-
selector
-
button
input
:
is
(
[
type
=
"
color
"
]
[
type
=
"
reset
"
]
[
type
=
"
button
"
]
[
type
=
"
submit
"
]
)
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
button
;
padding
-
block
:
0
;
padding
-
inline
:
8px
;
border
:
2px
outset
ThreeDLightShadow
;
background
-
color
:
ButtonFace
;
cursor
:
default
;
box
-
sizing
:
border
-
box
;
user
-
select
:
none
;
}
button
:
:
file
-
selector
-
button
input
:
is
(
[
type
=
"
reset
"
]
[
type
=
"
button
"
]
[
type
=
"
submit
"
]
)
{
color
:
ButtonText
;
font
:
-
moz
-
button
;
white
-
space
:
pre
;
text
-
align
:
center
;
overflow
-
clip
-
box
:
padding
-
box
;
}
input
[
type
=
"
color
"
]
{
inline
-
size
:
64px
;
block
-
size
:
23px
;
}
button
:
:
file
-
selector
-
button
{
white
-
space
:
unset
;
text
-
indent
:
0
;
display
:
inline
-
block
;
}
*
|
*
:
:
-
moz
-
button
-
content
{
display
:
block
;
column
-
count
:
inherit
;
column
-
width
:
inherit
;
column
-
gap
:
inherit
;
column
-
rule
:
inherit
;
column
-
fill
:
inherit
;
flex
-
direction
:
inherit
;
flex
-
wrap
:
inherit
;
-
moz
-
box
-
orient
:
inherit
;
-
moz
-
box
-
direction
:
inherit
;
-
moz
-
box
-
pack
:
inherit
;
-
moz
-
box
-
align
:
inherit
;
grid
-
auto
-
columns
:
inherit
;
grid
-
auto
-
rows
:
inherit
;
grid
-
auto
-
flow
:
inherit
;
grid
-
column
-
gap
:
inherit
;
grid
-
row
-
gap
:
inherit
;
grid
-
template
-
areas
:
inherit
;
grid
-
template
-
columns
:
inherit
;
grid
-
template
-
rows
:
inherit
;
align
-
content
:
inherit
;
align
-
items
:
inherit
;
justify
-
content
:
inherit
;
justify
-
items
:
inherit
;
}
:
:
file
-
selector
-
button
:
hover
button
:
hover
input
:
is
(
[
type
=
"
reset
"
]
[
type
=
"
button
"
]
[
type
=
"
submit
"
]
[
type
=
"
color
"
]
)
:
hover
{
background
-
color
:
-
moz
-
buttonhoverface
;
}
:
:
file
-
selector
-
button
:
hover
button
:
hover
input
:
is
(
[
type
=
"
reset
"
]
[
type
=
"
button
"
]
[
type
=
"
submit
"
]
)
:
hover
{
color
:
-
moz
-
buttonhovertext
;
}
:
:
file
-
selector
-
button
:
active
:
hover
button
:
active
:
hover
input
:
is
(
[
type
=
"
reset
"
]
[
type
=
"
button
"
]
[
type
=
"
submit
"
]
[
type
=
"
color
"
]
)
:
active
:
hover
{
%
ifndef
XP_MACOSX
padding
-
block
:
0
;
padding
-
inline
:
9px
7px
;
%
endif
border
-
style
:
inset
;
background
-
color
:
ButtonFace
;
}
:
:
file
-
selector
-
button
:
active
:
hover
button
:
active
:
hover
input
:
is
(
[
type
=
"
reset
"
]
[
type
=
"
button
"
]
[
type
=
"
submit
"
]
)
:
active
:
hover
{
%
ifdef
MOZ_WIDGET_GTK
color
:
-
moz
-
gtk
-
buttonactivetext
;
%
else
color
:
ButtonText
;
%
endif
}
:
:
-
moz
-
focus
-
inner
{
padding
-
block
:
0
;
padding
-
inline
:
2px
;
border
:
1px
dotted
transparent
;
}
:
-
moz
-
focusring
:
:
-
moz
-
focus
-
inner
{
border
-
color
:
currentColor
;
}
:
is
(
:
disabled
:
disabled
:
active
)
:
:
file
-
selector
-
button
button
:
is
(
:
disabled
:
disabled
:
active
)
input
:
is
(
[
type
=
"
reset
"
]
[
type
=
"
button
"
]
[
type
=
"
submit
"
]
[
type
=
"
color
"
]
)
:
is
(
:
disabled
:
disabled
:
active
)
select
:
is
(
:
disabled
:
disabled
:
active
)
>
button
{
padding
-
block
:
0
;
padding
-
inline
:
8px
;
border
:
2px
outset
ThreeDLightShadow
;
cursor
:
unset
;
}
:
is
(
:
disabled
:
disabled
:
active
)
:
:
file
-
selector
-
button
button
:
is
(
:
disabled
:
disabled
:
active
)
input
:
is
(
[
type
=
"
reset
"
]
[
type
=
"
button
"
]
[
type
=
"
submit
"
]
)
:
is
(
:
disabled
:
disabled
:
active
)
select
:
is
(
:
disabled
:
disabled
:
active
)
>
button
{
color
:
GrayText
;
}
input
[
type
=
"
file
"
]
{
white
-
space
:
nowrap
!
important
;
overflow
:
hidden
!
important
;
overflow
-
clip
-
box
:
padding
-
box
;
color
:
unset
;
appearance
:
none
;
-
moz
-
default
-
appearance
:
none
;
cursor
:
default
;
border
:
none
;
background
-
color
:
transparent
;
padding
:
unset
;
}
input
[
type
=
"
file
"
]
>
label
{
display
:
inline
-
block
;
min
-
inline
-
size
:
12em
;
padding
-
inline
-
start
:
5px
;
text
-
align
:
match
-
parent
;
color
:
unset
;
font
-
size
:
unset
;
letter
-
spacing
:
unset
;
user
-
select
:
none
;
unicode
-
bidi
:
plaintext
;
}
:
:
file
-
selector
-
button
{
font
-
size
:
unset
;
letter
-
spacing
:
unset
;
cursor
:
unset
;
}
:
:
placeholder
:
:
-
moz
-
text
-
control
-
editing
-
root
*
|
*
:
:
-
moz
-
button
-
content
*
|
*
:
:
-
moz
-
display
-
comboboxcontrol
-
frame
optgroup
:
before
{
unicode
-
bidi
:
inherit
;
text
-
overflow
:
inherit
;
}
:
-
moz
-
ui
-
invalid
{
box
-
shadow
:
0
0
1
.
5px
1px
red
;
}
:
-
moz
-
ui
-
invalid
:
-
moz
-
focusring
{
box
-
shadow
:
0
0
2px
2px
rgba
(
255
0
0
0
.
4
)
;
}
output
:
-
moz
-
ui
-
invalid
{
box
-
shadow
:
initial
;
color
:
red
;
}
media
print
{
input
textarea
select
button
{
-
moz
-
user
-
input
:
none
!
important
;
}
input
[
type
=
"
file
"
]
{
height
:
2em
;
}
}
progress
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
progress
-
bar
;
-
moz
-
button
-
appearance
:
disallow
;
display
:
inline
-
block
;
vertical
-
align
:
-
0
.
2em
;
border
:
1px
solid
ThreeDShadow
;
border
-
right
-
color
:
ThreeDHighlight
;
border
-
bottom
-
color
:
ThreeDHighlight
;
background
-
color
:
#
e6e6e6
;
}
:
:
-
moz
-
progress
-
bar
{
display
:
inline
-
block
;
box
-
sizing
:
border
-
box
!
important
;
appearance
:
auto
;
-
moz
-
default
-
appearance
:
progresschunk
;
height
:
100
%
;
width
:
100
%
;
background
-
color
:
#
0064b4
;
}
meter
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
meter
;
-
moz
-
button
-
appearance
:
disallow
;
display
:
inline
-
block
;
vertical
-
align
:
-
0
.
2em
;
background
:
linear
-
gradient
(
#
e6e6e6
#
e6e6e6
#
eeeeee
20
%
#
cccccc
45
%
#
cccccc
55
%
)
;
}
:
:
-
moz
-
meter
-
bar
{
display
:
inline
-
block
;
appearance
:
auto
;
-
moz
-
default
-
appearance
:
meterchunk
;
height
:
100
%
;
width
:
100
%
;
}
:
-
moz
-
meter
-
optimum
:
:
-
moz
-
meter
-
bar
{
background
:
linear
-
gradient
(
#
ad7
#
ad7
#
cea
20
%
#
7a3
45
%
#
7a3
55
%
)
;
}
:
-
moz
-
meter
-
sub
-
optimum
:
:
-
moz
-
meter
-
bar
{
background
:
linear
-
gradient
(
#
fe7
#
fe7
#
ffc
20
%
#
db3
45
%
#
db3
55
%
)
;
}
:
-
moz
-
meter
-
sub
-
sub
-
optimum
:
:
-
moz
-
meter
-
bar
{
background
:
linear
-
gradient
(
#
f77
#
f77
#
fcc
20
%
#
d44
45
%
#
d44
55
%
)
;
}
input
[
type
=
range
]
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
range
;
margin
:
2px
;
cursor
:
default
;
padding
:
unset
;
border
:
unset
;
user
-
select
:
none
!
important
;
}
input
[
type
=
range
]
:
:
-
moz
-
range
-
track
{
display
:
block
;
block
-
size
:
0
.
2em
;
user
-
select
:
none
!
important
;
}
input
[
type
=
range
]
[
orient
=
vertical
]
:
:
-
moz
-
range
-
track
{
inline
-
size
:
0
.
2em
;
block
-
size
:
100
%
;
}
input
[
type
=
range
]
:
:
-
moz
-
range
-
progress
{
display
:
block
;
width
:
0
.
2em
;
height
:
0
.
2em
;
user
-
select
:
none
!
important
;
}
input
[
type
=
range
]
:
:
-
moz
-
range
-
thumb
{
appearance
:
auto
!
important
;
-
moz
-
default
-
appearance
:
range
-
thumb
!
important
;
display
:
block
;
width
:
1em
;
height
:
1em
;
border
:
0
.
1em
solid
#
999
;
border
-
radius
:
0
.
5em
;
background
-
color
:
#
F0F0F0
;
user
-
select
:
none
!
important
;
}
input
[
type
=
"
number
"
]
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
number
-
input
;
}
input
:
is
(
[
type
=
number
]
[
type
=
search
]
)
:
:
-
moz
-
complex
-
control
-
wrapper
{
display
:
flex
;
block
-
size
:
100
%
;
overflow
:
clip
;
}
input
:
is
(
[
type
=
number
]
[
type
=
search
]
)
:
:
-
moz
-
text
-
control
-
editing
-
root
{
display
:
block
;
flex
:
1
;
min
-
inline
-
size
:
0
;
align
-
self
:
center
;
padding
:
0
;
}
input
[
type
=
number
]
:
:
-
moz
-
number
-
spin
-
box
{
writing
-
mode
:
horizontal
-
tb
;
display
:
flex
;
flex
-
direction
:
column
;
%
ifdef
XP_WIN
width
:
16px
;
%
endif
height
:
1em
;
max
-
height
:
1em
;
align
-
self
:
center
;
justify
-
content
:
center
;
}
input
[
type
=
number
]
:
:
-
moz
-
number
-
spin
-
up
{
writing
-
mode
:
horizontal
-
tb
;
appearance
:
auto
;
-
moz
-
default
-
appearance
:
spinner
-
upbutton
;
display
:
block
;
flex
-
grow
:
1
;
cursor
:
default
;
background
-
image
:
url
(
'
data
:
image
/
svg
+
xml
<
svg
xmlns
=
"
http
:
/
/
www
.
w3
.
org
/
2000
/
svg
"
width
=
"
6
"
height
=
"
5
"
>
<
path
d
=
"
M1
4
L3
0
5
4
"
fill
=
"
dimgrey
"
/
>
<
/
svg
>
'
)
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
center
bottom
;
border
:
1px
solid
darkgray
;
border
-
bottom
:
none
;
border
-
top
-
left
-
radius
:
4px
;
border
-
top
-
right
-
radius
:
4px
;
}
input
[
type
=
number
]
:
:
-
moz
-
number
-
spin
-
down
{
writing
-
mode
:
horizontal
-
tb
;
appearance
:
auto
;
-
moz
-
default
-
appearance
:
spinner
-
downbutton
;
display
:
block
;
flex
-
grow
:
1
;
cursor
:
default
;
background
-
image
:
url
(
'
data
:
image
/
svg
+
xml
<
svg
xmlns
=
"
http
:
/
/
www
.
w3
.
org
/
2000
/
svg
"
width
=
"
6
"
height
=
"
5
"
>
<
path
d
=
"
M1
1
L3
5
5
1
"
fill
=
"
dimgrey
"
/
>
<
/
svg
>
'
)
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
center
top
;
border
:
1px
solid
darkgray
;
border
-
top
:
none
;
border
-
bottom
-
left
-
radius
:
4px
;
border
-
bottom
-
right
-
radius
:
4px
;
}
input
[
type
=
"
number
"
]
>
div
>
div
>
div
:
hover
{
background
-
color
:
lightblue
;
}
input
[
type
=
search
]
:
:
-
moz
-
search
-
clear
-
button
{
display
:
block
;
cursor
:
default
;
width
:
1em
;
height
:
1em
;
max
-
height
:
1em
;
margin
-
inline
-
start
:
1px
;
align
-
self
:
center
;
background
-
image
:
url
(
chrome
:
/
/
global
/
skin
/
icons
/
searchfield
-
cancel
.
svg
)
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
center
;
background
-
size
:
contain
;
}
input
[
type
=
"
date
"
]
input
[
type
=
"
time
"
]
{
overflow
:
hidden
!
important
;
font
-
family
:
-
moz
-
fixed
;
cursor
:
default
;
}
input
:
is
(
[
type
=
"
date
"
]
[
type
=
"
time
"
]
)
:
is
(
:
disabled
:
read
-
only
)
{
color
:
GrayText
;
}
input
:
-
moz
-
autofill
input
:
-
moz
-
autofill
-
preview
{
filter
:
grayscale
(
21
%
)
brightness
(
88
%
)
contrast
(
161
%
)
invert
(
10
%
)
sepia
(
40
%
)
saturate
(
206
%
)
;
}
input
:
-
moz
-
autofill
-
preview
{
color
:
GrayText
;
}
