namespace
url
(
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
)
;
namespace
xul
url
(
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
)
;
:
-
moz
-
has
-
dir
-
attr
{
unicode
-
bidi
:
isolate
;
}
:
-
moz
-
dir
-
attr
-
rtl
{
direction
:
rtl
;
}
:
-
moz
-
dir
-
attr
-
ltr
{
direction
:
ltr
;
}
:
-
moz
-
dir
-
attr
-
like
-
auto
:
dir
(
ltr
)
{
direction
:
ltr
;
}
:
-
moz
-
dir
-
attr
-
like
-
auto
:
dir
(
rtl
)
{
direction
:
rtl
;
}
address
article
aside
blockquote
body
caption
center
col
colgroup
dd
dir
div
dl
dt
fieldset
figcaption
figure
footer
form
h1
h2
h3
h4
h5
h6
header
hgroup
hr
html
legend
li
listing
main
marquee
menu
nav
noframes
ol
p
plaintext
pre
section
summary
table
tbody
td
tfoot
th
thead
tr
ul
xmp
{
unicode
-
bidi
:
isolate
;
}
bdi
output
{
unicode
-
bidi
:
isolate
;
}
bdo
bdo
:
-
moz
-
has
-
dir
-
attr
{
unicode
-
bidi
:
isolate
-
override
;
}
textarea
:
-
moz
-
dir
-
attr
-
like
-
auto
pre
:
-
moz
-
dir
-
attr
-
like
-
auto
{
unicode
-
bidi
:
plaintext
;
}
article
aside
details
div
dt
figcaption
footer
form
header
hgroup
html
main
nav
section
summary
{
display
:
block
;
}
body
{
display
:
block
;
margin
:
8px
;
}
p
dl
multicol
{
display
:
block
;
margin
-
block
-
start
:
1em
;
margin
-
block
-
end
:
1em
;
}
dd
{
display
:
block
;
margin
-
inline
-
start
:
40px
;
}
blockquote
figure
{
display
:
block
;
margin
-
block
-
start
:
1em
;
margin
-
block
-
end
:
1em
;
margin
-
inline
-
start
:
40px
;
margin
-
inline
-
end
:
40px
;
}
address
{
display
:
block
;
font
-
style
:
italic
;
}
center
{
display
:
block
;
text
-
align
:
-
moz
-
center
;
}
blockquote
[
type
=
cite
]
{
display
:
block
;
margin
-
block
-
start
:
1em
;
margin
-
block
-
end
:
1em
;
margin
-
inline
-
start
:
0
;
margin
-
inline
-
end
:
0
;
padding
-
inline
-
start
:
1em
;
border
-
inline
-
start
:
solid
;
border
-
color
:
blue
;
border
-
width
:
thin
;
}
span
[
_moz_quote
=
true
]
{
color
:
blue
;
}
pre
[
_moz_quote
=
true
]
{
color
:
blue
;
}
h1
{
display
:
block
;
font
-
size
:
2em
;
font
-
weight
:
bold
;
margin
-
block
-
start
:
.
67em
;
margin
-
block
-
end
:
.
67em
;
}
h2
:
-
moz
-
any
(
article
aside
nav
section
)
h1
{
display
:
block
;
font
-
size
:
1
.
5em
;
font
-
weight
:
bold
;
margin
-
block
-
start
:
.
83em
;
margin
-
block
-
end
:
.
83em
;
}
h3
:
-
moz
-
any
(
article
aside
nav
section
)
:
-
moz
-
any
(
article
aside
nav
section
)
h1
{
display
:
block
;
font
-
size
:
1
.
17em
;
font
-
weight
:
bold
;
margin
-
block
-
start
:
1em
;
margin
-
block
-
end
:
1em
;
}
h4
:
-
moz
-
any
(
article
aside
nav
section
)
:
-
moz
-
any
(
article
aside
nav
section
)
:
-
moz
-
any
(
article
aside
nav
section
)
h1
{
display
:
block
;
font
-
size
:
1
.
00em
;
font
-
weight
:
bold
;
margin
-
block
-
start
:
1
.
33em
;
margin
-
block
-
end
:
1
.
33em
;
}
h5
:
-
moz
-
any
(
article
aside
nav
section
)
:
-
moz
-
any
(
article
aside
nav
section
)
:
-
moz
-
any
(
article
aside
nav
section
)
:
-
moz
-
any
(
article
aside
nav
section
)
h1
{
display
:
block
;
font
-
size
:
0
.
83em
;
font
-
weight
:
bold
;
margin
-
block
-
start
:
1
.
67em
;
margin
-
block
-
end
:
1
.
67em
;
}
h6
:
-
moz
-
any
(
article
aside
nav
section
)
:
-
moz
-
any
(
article
aside
nav
section
)
:
-
moz
-
any
(
article
aside
nav
section
)
:
-
moz
-
any
(
article
aside
nav
section
)
:
-
moz
-
any
(
article
aside
nav
section
)
h1
{
display
:
block
;
font
-
size
:
0
.
67em
;
font
-
weight
:
bold
;
margin
-
block
-
start
:
2
.
33em
;
margin
-
block
-
end
:
2
.
33em
;
}
listing
{
display
:
block
;
font
-
family
:
-
moz
-
fixed
;
font
-
size
:
medium
;
white
-
space
:
pre
;
margin
-
block
-
start
:
1em
;
margin
-
block
-
end
:
1em
;
}
xmp
pre
plaintext
{
display
:
block
;
font
-
family
:
-
moz
-
fixed
;
white
-
space
:
pre
;
margin
-
block
-
start
:
1em
;
margin
-
block
-
end
:
1em
;
}
table
{
display
:
table
;
border
-
spacing
:
2px
;
border
-
collapse
:
separate
;
box
-
sizing
:
border
-
box
;
text
-
indent
:
0
;
}
table
[
align
=
"
left
"
]
{
float
:
left
;
}
table
[
align
=
"
right
"
]
{
float
:
right
;
text
-
align
:
start
;
}
table
[
rules
]
{
border
-
width
:
thin
;
border
-
style
:
hidden
;
}
table
:
-
moz
-
table
-
border
-
nonzero
{
border
-
width
:
thin
;
border
-
style
:
outset
;
}
table
[
frame
]
{
border
:
thin
hidden
;
}
table
[
frame
=
"
void
"
]
{
border
-
style
:
hidden
;
}
table
[
frame
=
"
above
"
]
{
border
-
style
:
outset
hidden
hidden
hidden
;
}
table
[
frame
=
"
below
"
]
{
border
-
style
:
hidden
hidden
outset
hidden
;
}
table
[
frame
=
"
lhs
"
]
{
border
-
style
:
hidden
hidden
hidden
outset
;
}
table
[
frame
=
"
rhs
"
]
{
border
-
style
:
hidden
outset
hidden
hidden
;
}
table
[
frame
=
"
hsides
"
]
{
border
-
style
:
outset
hidden
;
}
table
[
frame
=
"
vsides
"
]
{
border
-
style
:
hidden
outset
;
}
table
[
frame
=
"
box
"
]
table
[
frame
=
"
border
"
]
{
border
-
style
:
outset
;
}
table
:
-
moz
-
table
-
border
-
nonzero
>
*
>
tr
>
td
table
:
-
moz
-
table
-
border
-
nonzero
>
*
>
tr
>
th
table
:
-
moz
-
table
-
border
-
nonzero
>
*
>
td
table
:
-
moz
-
table
-
border
-
nonzero
>
*
>
th
table
:
-
moz
-
table
-
border
-
nonzero
>
td
table
:
-
moz
-
table
-
border
-
nonzero
>
th
{
border
-
width
:
thin
;
border
-
style
:
inset
;
}
table
[
rules
]
:
not
(
[
rules
=
"
none
"
]
)
:
not
(
[
rules
=
"
"
]
)
{
border
-
collapse
:
collapse
;
}
table
[
rules
]
:
not
(
[
rules
=
"
"
]
)
>
tr
>
td
table
[
rules
]
:
not
(
[
rules
=
"
"
]
)
>
*
>
tr
>
td
table
[
rules
]
:
not
(
[
rules
=
"
"
]
)
>
tr
>
th
table
[
rules
]
:
not
(
[
rules
=
"
"
]
)
>
*
>
tr
>
th
table
[
rules
]
:
not
(
[
rules
=
"
"
]
)
>
td
table
[
rules
]
:
not
(
[
rules
=
"
"
]
)
>
th
{
border
-
width
:
thin
;
border
-
style
:
none
;
}
table
[
rules
]
[
rules
=
"
none
"
]
>
tr
>
td
table
[
rules
]
[
rules
=
"
none
"
]
>
*
>
tr
>
td
table
[
rules
]
[
rules
=
"
none
"
]
>
tr
>
th
table
[
rules
]
[
rules
=
"
none
"
]
>
*
>
tr
>
th
table
[
rules
]
[
rules
=
"
none
"
]
>
td
table
[
rules
]
[
rules
=
"
none
"
]
>
th
{
border
-
width
:
thin
;
border
-
style
:
none
;
}
table
[
rules
]
[
rules
=
"
all
"
]
>
tr
>
td
table
[
rules
]
[
rules
=
"
all
"
]
>
*
>
tr
>
td
table
[
rules
]
[
rules
=
"
all
"
]
>
tr
>
th
table
[
rules
]
[
rules
=
"
all
"
]
>
*
>
tr
>
th
table
[
rules
]
[
rules
=
"
all
"
]
>
td
table
[
rules
]
[
rules
=
"
all
"
]
>
th
{
border
-
width
:
thin
;
border
-
style
:
solid
;
}
table
[
rules
]
[
rules
=
"
rows
"
]
>
tr
table
[
rules
]
[
rules
=
"
rows
"
]
>
*
>
tr
{
border
-
block
-
start
-
width
:
thin
;
border
-
block
-
end
-
width
:
thin
;
border
-
block
-
start
-
style
:
solid
;
border
-
block
-
end
-
style
:
solid
;
}
table
[
rules
]
[
rules
=
"
cols
"
]
>
tr
>
td
table
[
rules
]
[
rules
=
"
cols
"
]
>
*
>
tr
>
td
table
[
rules
]
[
rules
=
"
cols
"
]
>
tr
>
th
table
[
rules
]
[
rules
=
"
cols
"
]
>
*
>
tr
>
th
{
border
-
inline
-
start
-
width
:
thin
;
border
-
inline
-
end
-
width
:
thin
;
border
-
inline
-
start
-
style
:
solid
;
border
-
inline
-
end
-
style
:
solid
;
}
table
[
rules
]
[
rules
=
"
groups
"
]
>
colgroup
{
border
-
inline
-
start
-
width
:
thin
;
border
-
inline
-
end
-
width
:
thin
;
border
-
inline
-
start
-
style
:
solid
;
border
-
inline
-
end
-
style
:
solid
;
}
table
[
rules
]
[
rules
=
"
groups
"
]
>
tfoot
table
[
rules
]
[
rules
=
"
groups
"
]
>
thead
table
[
rules
]
[
rules
=
"
groups
"
]
>
tbody
{
border
-
block
-
start
-
width
:
thin
;
border
-
block
-
end
-
width
:
thin
;
border
-
block
-
start
-
style
:
solid
;
border
-
block
-
start
-
style
:
solid
;
}
caption
{
display
:
table
-
caption
;
text
-
align
:
center
;
}
table
[
align
=
"
center
"
]
>
caption
{
margin
-
inline
-
start
:
auto
;
margin
-
inline
-
end
:
auto
;
}
table
[
align
=
"
center
"
]
>
caption
[
align
=
"
left
"
]
:
dir
(
ltr
)
{
margin
-
inline
-
end
:
0
;
}
table
[
align
=
"
center
"
]
>
caption
[
align
=
"
left
"
]
:
dir
(
rtl
)
{
margin
-
inline
-
start
:
0
;
}
table
[
align
=
"
center
"
]
>
caption
[
align
=
"
right
"
]
:
dir
(
ltr
)
{
margin
-
inline
-
start
:
0
;
}
table
[
align
=
"
center
"
]
>
caption
[
align
=
"
right
"
]
:
dir
(
rtl
)
{
margin
-
inline
-
end
:
0
;
}
tr
{
display
:
table
-
row
;
vertical
-
align
:
inherit
;
}
col
{
display
:
table
-
column
;
}
colgroup
{
display
:
table
-
column
-
group
;
}
tbody
{
display
:
table
-
row
-
group
;
vertical
-
align
:
middle
;
}
thead
{
display
:
table
-
header
-
group
;
vertical
-
align
:
middle
;
}
tfoot
{
display
:
table
-
footer
-
group
;
vertical
-
align
:
middle
;
}
table
>
tr
{
vertical
-
align
:
middle
;
}
td
{
display
:
table
-
cell
;
vertical
-
align
:
inherit
;
text
-
align
:
unset
;
padding
:
1px
;
}
th
{
display
:
table
-
cell
;
vertical
-
align
:
inherit
;
font
-
weight
:
bold
;
padding
:
1px
;
}
tr
>
form
:
-
moz
-
is
-
html
tbody
>
form
:
-
moz
-
is
-
html
thead
>
form
:
-
moz
-
is
-
html
tfoot
>
form
:
-
moz
-
is
-
html
table
>
form
:
-
moz
-
is
-
html
{
display
:
none
!
important
;
}
table
[
bordercolor
]
>
tbody
table
[
bordercolor
]
>
thead
table
[
bordercolor
]
>
tfoot
table
[
bordercolor
]
>
col
table
[
bordercolor
]
>
colgroup
table
[
bordercolor
]
>
tr
table
[
bordercolor
]
>
*
>
tr
table
[
bordercolor
]
>
tr
>
td
table
[
bordercolor
]
>
*
>
tr
>
td
table
[
bordercolor
]
>
tr
>
th
table
[
bordercolor
]
>
*
>
tr
>
th
{
border
-
color
:
inherit
;
}
q
:
before
{
content
:
open
-
quote
;
}
q
:
after
{
content
:
close
-
quote
;
}
b
strong
{
font
-
weight
:
bolder
;
}
i
cite
em
var
dfn
{
font
-
style
:
italic
;
}
tt
code
kbd
samp
{
font
-
family
:
-
moz
-
fixed
;
}
u
ins
{
text
-
decoration
:
underline
;
}
s
strike
del
{
text
-
decoration
:
line
-
through
;
}
big
{
font
-
size
:
larger
;
}
small
{
font
-
size
:
smaller
;
}
sub
{
vertical
-
align
:
sub
;
font
-
size
:
smaller
;
}
sup
{
vertical
-
align
:
super
;
font
-
size
:
smaller
;
}
nobr
{
white
-
space
:
nowrap
;
}
mark
{
background
:
yellow
;
color
:
black
;
}
abbr
[
title
]
acronym
[
title
]
{
text
-
decoration
:
dotted
underline
;
}
ul
menu
dir
{
display
:
block
;
list
-
style
-
type
:
disc
;
margin
-
block
-
start
:
1em
;
margin
-
block
-
end
:
1em
;
padding
-
inline
-
start
:
40px
;
}
menu
[
type
=
"
context
"
]
{
display
:
none
!
important
;
}
ol
{
display
:
block
;
list
-
style
-
type
:
decimal
;
margin
-
block
-
start
:
1em
;
margin
-
block
-
end
:
1em
;
padding
-
inline
-
start
:
40px
;
}
li
{
display
:
list
-
item
;
text
-
align
:
match
-
parent
;
}
:
-
moz
-
any
(
ul
ol
dir
menu
dl
)
ul
:
-
moz
-
any
(
ul
ol
dir
menu
dl
)
ol
:
-
moz
-
any
(
ul
ol
dir
menu
dl
)
dir
:
-
moz
-
any
(
ul
ol
dir
menu
dl
)
menu
:
-
moz
-
any
(
ul
ol
dir
menu
dl
)
dl
{
margin
-
block
-
start
:
0
;
margin
-
block
-
end
:
0
;
}
:
-
moz
-
any
(
ol
ul
menu
dir
)
ul
:
-
moz
-
any
(
ol
ul
menu
dir
)
menu
:
-
moz
-
any
(
ol
ul
menu
dir
)
dir
{
list
-
style
-
type
:
circle
;
}
:
-
moz
-
any
(
ol
ul
menu
dir
)
:
-
moz
-
any
(
ol
ul
menu
dir
)
ul
:
-
moz
-
any
(
ol
ul
menu
dir
)
:
-
moz
-
any
(
ol
ul
menu
dir
)
menu
:
-
moz
-
any
(
ol
ul
menu
dir
)
:
-
moz
-
any
(
ol
ul
menu
dir
)
dir
{
list
-
style
-
type
:
square
;
}
hr
{
display
:
block
;
border
:
1px
inset
;
margin
-
block
-
start
:
0
.
5em
;
margin
-
block
-
end
:
0
.
5em
;
margin
-
inline
-
start
:
auto
;
margin
-
inline
-
end
:
auto
;
color
:
gray
;
-
moz
-
float
-
edge
:
margin
-
box
;
box
-
sizing
:
content
-
box
;
}
hr
[
size
=
"
1
"
]
{
border
-
style
:
solid
none
none
none
;
}
img
:
-
moz
-
broken
:
:
before
input
:
-
moz
-
broken
:
:
before
img
:
-
moz
-
user
-
disabled
:
:
before
input
:
-
moz
-
user
-
disabled
:
:
before
img
:
-
moz
-
loading
:
:
before
input
:
-
moz
-
loading
:
:
before
{
content
:
-
moz
-
alt
-
content
!
important
;
unicode
-
bidi
:
isolate
;
}
object
:
-
moz
-
any
(
:
-
moz
-
broken
:
-
moz
-
user
-
disabled
)
>
*
|
*
{
vertical
-
align
:
inherit
;
}
img
:
-
moz
-
suppressed
input
:
-
moz
-
suppressed
object
:
-
moz
-
suppressed
embed
:
-
moz
-
suppressed
{
display
:
none
!
important
;
visibility
:
hidden
!
important
;
}
img
[
usemap
]
object
[
usemap
]
{
color
:
blue
;
}
frameset
{
display
:
block
!
important
;
overflow
:
-
moz
-
hidden
-
unscrollable
;
position
:
static
!
important
;
float
:
none
!
important
;
border
:
none
!
important
;
}
link
{
display
:
none
;
}
frame
{
border
-
radius
:
0
!
important
;
}
iframe
{
border
:
2px
inset
;
}
noframes
{
display
:
none
;
}
spacer
{
position
:
static
!
important
;
float
:
none
!
important
;
}
canvas
{
-
moz
-
user
-
select
:
none
;
}
:
-
moz
-
focusring
:
not
(
input
)
:
not
(
button
)
:
not
(
select
)
:
not
(
textarea
)
:
not
(
iframe
)
:
not
(
frame
)
:
not
(
body
)
:
not
(
html
)
{
outline
:
1px
dotted
;
}
base
basefont
datalist
head
meta
script
style
title
noembed
param
template
{
display
:
none
;
}
area
{
display
:
none
!
important
;
}
iframe
:
fullscreen
{
border
:
none
!
important
;
padding
:
unset
!
important
;
}
video
{
object
-
fit
:
contain
;
}
video
>
img
:
-
moz
-
native
-
anonymous
{
object
-
fit
:
inherit
!
important
;
object
-
position
:
inherit
!
important
;
}
audio
:
not
(
[
controls
]
)
{
display
:
none
;
}
audio
[
controls
]
{
writing
-
mode
:
horizontal
-
tb
!
important
;
}
*
|
*
:
:
-
moz
-
html
-
canvas
-
content
{
display
:
block
!
important
;
transform
:
translate
(
0
)
!
important
;
}
video
>
.
caption
-
box
{
width
:
100
%
;
height
:
100
%
;
position
:
relative
;
}
:
:
cue
{
color
:
rgba
(
255
255
255
1
)
;
white
-
space
:
pre
-
line
;
background
-
color
:
rgba
(
0
0
0
0
.
8
)
;
font
:
var
(
-
-
cue
-
font
-
size
)
sans
-
serif
;
}
details
>
summary
:
first
-
of
-
type
details
>
summary
:
-
moz
-
native
-
anonymous
{
display
:
list
-
item
;
list
-
style
:
disclosure
-
closed
inside
;
}
details
[
open
]
>
summary
:
first
-
of
-
type
details
[
open
]
>
summary
:
-
moz
-
native
-
anonymous
{
list
-
style
-
type
:
disclosure
-
open
;
}
details
>
summary
:
first
-
of
-
type
>
*
|
*
{
list
-
style
-
position
:
initial
;
}
dialog
{
position
:
absolute
;
inset
-
inline
-
start
:
0
;
inset
-
inline
-
end
:
0
;
color
:
black
;
margin
:
auto
;
border
-
width
:
initial
;
border
-
style
:
solid
;
border
-
color
:
initial
;
border
-
image
:
initial
;
padding
:
1em
;
background
:
white
;
width
:
-
moz
-
fit
-
content
;
}
dialog
:
not
(
[
open
]
)
{
display
:
none
;
}
marquee
{
inline
-
size
:
-
moz
-
available
;
display
:
inline
-
block
;
vertical
-
align
:
text
-
bottom
;
text
-
align
:
start
;
}
marquee
[
direction
=
"
up
"
]
marquee
[
direction
=
"
down
"
]
{
block
-
size
:
200px
;
}
media
print
{
marquee
{
-
moz
-
binding
:
none
;
}
}
ruby
{
display
:
ruby
;
}
rb
{
display
:
ruby
-
base
;
white
-
space
:
nowrap
;
}
rp
{
display
:
none
;
}
rt
{
display
:
ruby
-
text
;
}
rtc
{
display
:
ruby
-
text
-
container
;
}
rtc
rt
{
white
-
space
:
nowrap
;
font
-
size
:
50
%
;
-
moz
-
min
-
font
-
size
-
ratio
:
50
%
;
line
-
height
:
1
;
%
ifndef
XP_WIN
font
-
variant
-
east
-
asian
:
ruby
;
%
endif
}
rtc
rt
{
text
-
emphasis
:
none
;
}
rtc
:
lang
(
zh
)
rt
:
lang
(
zh
)
{
ruby
-
align
:
center
;
}
rtc
:
lang
(
zh
-
TW
)
rt
:
lang
(
zh
-
TW
)
{
font
-
size
:
30
%
;
-
moz
-
min
-
font
-
size
-
ratio
:
30
%
;
}
rtc
>
rt
{
font
-
size
:
unset
;
}
ruby
rb
rt
rtc
{
unicode
-
bidi
:
isolate
;
}
slot
{
display
:
contents
;
}
