namespace
url
(
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
)
;
embed
:
-
moz
-
handler
-
noplugins
object
:
-
moz
-
handler
-
noplugins
{
display
:
inline
-
block
;
overflow
:
hidden
;
opacity
:
0
!
important
;
}
