namespace
parsererror
url
(
http
:
/
/
www
.
mozilla
.
org
/
newlayout
/
xml
/
parsererror
.
xml
)
;
namespace
xul
url
(
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
)
;
*
|
*
:
:
-
moz
-
table
{
display
:
table
;
box
-
sizing
:
border
-
box
;
}
*
|
*
:
:
-
moz
-
inline
-
table
{
display
:
inline
-
table
;
box
-
sizing
:
border
-
box
;
}
*
|
*
:
:
-
moz
-
table
-
wrapper
{
display
:
inherit
;
-
moz
-
top
-
layer
:
inherit
;
margin
:
inherit
;
float
:
inherit
;
clear
:
inherit
;
position
:
inherit
;
top
:
inherit
;
right
:
inherit
;
bottom
:
inherit
;
left
:
inherit
;
z
-
index
:
inherit
;
page
-
break
-
before
:
inherit
;
page
-
break
-
after
:
inherit
;
page
-
break
-
inside
:
inherit
;
vertical
-
align
:
inherit
;
line
-
height
:
inherit
;
transform
:
inherit
;
transform
-
origin
:
inherit
;
backface
-
visibility
:
inherit
;
clip
:
inherit
;
rotate
:
inherit
;
scale
:
inherit
;
translate
:
inherit
;
align
-
self
:
inherit
;
justify
-
self
:
inherit
;
grid
-
column
-
start
:
inherit
;
grid
-
column
-
end
:
inherit
;
grid
-
row
-
start
:
inherit
;
grid
-
row
-
end
:
inherit
;
order
:
inherit
;
outline
:
inherit
;
column
-
span
:
inherit
;
contain
:
inherit
;
}
*
|
*
:
:
-
moz
-
table
-
row
{
display
:
table
-
row
;
}
*
|
*
:
:
-
moz
-
table
-
column
{
display
:
table
-
column
;
visibility
:
hidden
;
}
*
|
*
:
:
-
moz
-
table
-
column
-
group
{
display
:
table
-
column
-
group
;
visibility
:
hidden
;
}
*
|
*
:
:
-
moz
-
table
-
row
-
group
{
display
:
table
-
row
-
group
;
}
*
|
*
:
:
-
moz
-
table
-
cell
{
display
:
table
-
cell
;
white
-
space
:
inherit
;
}
*
|
*
:
:
-
moz
-
ruby
{
display
:
ruby
;
unicode
-
bidi
:
isolate
;
}
*
|
*
:
:
-
moz
-
ruby
-
base
{
display
:
ruby
-
base
;
unicode
-
bidi
:
isolate
;
}
*
|
*
:
:
-
moz
-
ruby
-
text
{
display
:
ruby
-
text
;
unicode
-
bidi
:
isolate
;
}
*
|
*
:
:
-
moz
-
ruby
-
base
-
container
{
display
:
ruby
-
base
-
container
;
unicode
-
bidi
:
isolate
;
}
*
|
*
:
:
-
moz
-
ruby
-
text
-
container
{
display
:
ruby
-
text
-
container
;
unicode
-
bidi
:
isolate
;
}
*
|
*
:
:
marker
{
text
-
align
:
end
;
unicode
-
bidi
:
isolate
;
font
-
variant
-
numeric
:
tabular
-
nums
;
}
*
|
*
:
any
-
link
{
cursor
:
pointer
;
}
*
|
*
:
any
-
link
:
-
moz
-
focusring
{
outline
:
1px
dotted
;
}
*
|
*
:
:
-
moz
-
cell
-
content
{
display
:
block
;
unicode
-
bidi
:
inherit
;
text
-
overflow
:
inherit
;
overflow
-
clip
-
box
:
inherit
;
}
*
|
*
:
:
-
moz
-
block
-
inside
-
inline
-
wrapper
{
display
:
block
;
position
:
inherit
;
outline
:
inherit
;
outline
-
offset
:
inherit
;
clip
-
path
:
inherit
;
filter
:
inherit
;
mask
:
inherit
;
opacity
:
inherit
;
text
-
decoration
:
inherit
;
-
moz
-
box
-
ordinal
-
group
:
inherit
;
overflow
-
clip
-
box
:
inherit
;
unicode
-
bidi
:
inherit
;
text
-
overflow
:
inherit
;
top
:
inherit
;
left
:
inherit
;
bottom
:
inherit
;
right
:
inherit
;
z
-
index
:
inherit
;
}
*
|
*
:
:
-
moz
-
xul
-
anonymous
-
block
{
display
:
block
;
-
moz
-
box
-
ordinal
-
group
:
inherit
;
text
-
overflow
:
inherit
;
overflow
-
clip
-
box
:
inherit
;
}
*
|
*
:
:
-
moz
-
scrolled
-
content
*
|
*
:
:
-
moz
-
scrolled
-
canvas
*
|
*
:
:
-
moz
-
scrolled
-
page
-
sequence
{
padding
:
inherit
;
display
:
block
;
unicode
-
bidi
:
inherit
;
text
-
overflow
:
inherit
;
column
-
count
:
inherit
;
column
-
width
:
inherit
;
column
-
gap
:
inherit
;
column
-
rule
:
inherit
;
column
-
fill
:
inherit
;
flex
-
direction
:
inherit
;
flex
-
wrap
:
inherit
;
-
moz
-
box
-
orient
:
inherit
;
-
moz
-
box
-
direction
:
inherit
;
-
moz
-
box
-
pack
:
inherit
;
-
moz
-
box
-
align
:
inherit
;
-
webkit
-
line
-
clamp
:
inherit
;
grid
-
auto
-
columns
:
inherit
;
grid
-
auto
-
rows
:
inherit
;
grid
-
auto
-
flow
:
inherit
;
grid
-
column
-
gap
:
inherit
;
grid
-
row
-
gap
:
inherit
;
grid
-
template
-
areas
:
inherit
;
grid
-
template
-
columns
:
inherit
;
grid
-
template
-
rows
:
inherit
;
align
-
content
:
inherit
;
align
-
items
:
inherit
;
justify
-
content
:
inherit
;
justify
-
items
:
inherit
;
overflow
-
clip
-
box
:
inherit
;
}
*
|
*
:
:
-
moz
-
viewport
*
|
*
:
:
-
moz
-
viewport
-
scroll
*
|
*
:
:
-
moz
-
canvas
*
|
*
:
:
-
moz
-
scrolled
-
canvas
{
display
:
block
;
background
-
color
:
inherit
;
}
*
|
*
:
:
-
moz
-
viewport
-
scroll
{
overflow
:
auto
;
%
ifdef
XP_WIN
resize
:
both
;
%
endif
}
*
|
*
:
:
-
moz
-
column
-
set
*
|
*
:
:
-
moz
-
column
-
content
{
unicode
-
bidi
:
inherit
;
text
-
overflow
:
inherit
;
display
:
block
;
max
-
block
-
size
:
100
%
;
}
*
|
*
:
:
-
moz
-
column
-
set
{
columns
:
inherit
;
column
-
gap
:
inherit
;
column
-
rule
:
inherit
;
column
-
fill
:
inherit
;
}
*
|
*
:
:
-
moz
-
column
-
span
-
wrapper
{
display
:
block
;
column
-
span
:
all
;
}
*
|
*
:
:
-
moz
-
anonymous
-
flex
-
item
*
|
*
:
:
-
moz
-
anonymous
-
grid
-
item
{
display
:
block
;
}
*
|
*
:
:
-
moz
-
page
-
sequence
*
|
*
:
:
-
moz
-
scrolled
-
page
-
sequence
{
display
:
block
;
background
:
linear
-
gradient
(
#
606060
#
8a8a8a
)
fixed
;
height
:
100
%
;
}
*
|
*
:
:
-
moz
-
page
{
display
:
block
;
background
:
white
;
box
-
shadow
:
5px
5px
8px
#
202020
;
box
-
decoration
-
break
:
clone
;
margin
:
0
.
125in
0
.
25in
;
}
*
|
*
:
:
-
moz
-
pagecontent
{
display
:
block
;
margin
:
auto
;
}
*
|
*
:
:
-
moz
-
pagebreak
{
display
:
block
;
}
media
print
{
*
{
cursor
:
default
!
important
;
}
}
*
|
*
:
fullscreen
:
not
(
:
root
)
{
position
:
fixed
!
important
;
top
:
0
!
important
;
left
:
0
!
important
;
right
:
0
!
important
;
bottom
:
0
!
important
;
width
:
100
%
!
important
;
height
:
100
%
!
important
;
margin
:
0
!
important
;
min
-
width
:
0
!
important
;
max
-
width
:
none
!
important
;
min
-
height
:
0
!
important
;
max
-
height
:
none
!
important
;
box
-
sizing
:
border
-
box
!
important
;
object
-
fit
:
contain
;
transform
:
none
!
important
;
}
xul
|
*
:
fullscreen
:
not
(
:
root
)
:
not
(
[
hidden
=
"
true
"
]
)
{
display
:
block
;
}
*
|
*
:
fullscreen
:
not
(
:
root
)
:
not
(
:
-
moz
-
browser
-
frame
)
{
-
moz
-
top
-
layer
:
top
!
important
;
}
*
|
*
:
:
backdrop
{
-
moz
-
top
-
layer
:
top
!
important
;
display
:
block
;
position
:
fixed
;
top
:
0
;
left
:
0
;
right
:
0
;
bottom
:
0
;
}
*
|
*
:
-
moz
-
full
-
screen
:
not
(
:
root
)
:
:
backdrop
{
background
:
black
;
}
parsererror
|
parsererror
{
display
:
block
;
font
-
family
:
sans
-
serif
;
font
-
weight
:
bold
;
white
-
space
:
pre
;
margin
:
1em
;
padding
:
1em
;
border
-
width
:
thin
;
border
-
style
:
inset
;
border
-
color
:
red
;
font
-
size
:
14pt
;
background
-
color
:
lightyellow
;
color
:
black
;
}
parsererror
|
sourcetext
{
display
:
block
;
white
-
space
:
pre
;
font
-
family
:
-
moz
-
fixed
;
margin
-
top
:
2em
;
margin
-
bottom
:
1em
;
color
:
red
;
font
-
weight
:
bold
;
font
-
size
:
12pt
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
{
transition
-
duration
:
250ms
;
transition
-
property
:
width
height
margin
-
left
;
position
:
absolute
;
z
-
index
:
2147483647
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
>
#
text
-
overlay
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
>
#
image
{
width
:
100
%
;
pointer
-
events
:
auto
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
>
#
image
{
background
-
position
:
center
top
;
background
-
size
:
100
%
;
background
-
repeat
:
no
-
repeat
;
background
-
origin
:
content
-
box
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
normal
>
#
image
{
background
-
image
:
url
(
"
resource
:
/
/
gre
-
resources
/
accessiblecaret
-
normal
1x
.
png
"
)
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
left
>
#
text
-
overlay
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
left
>
#
image
{
margin
-
left
:
-
39
%
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
left
>
#
image
{
background
-
image
:
url
(
"
resource
:
/
/
gre
-
resources
/
accessiblecaret
-
tilt
-
left
1x
.
png
"
)
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
right
>
#
text
-
overlay
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
right
>
#
image
{
margin
-
left
:
41
%
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
right
>
#
image
{
background
-
image
:
url
(
"
resource
:
/
/
gre
-
resources
/
accessiblecaret
-
tilt
-
right
1x
.
png
"
)
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
none
{
display
:
none
;
}
media
(
min
-
resolution
:
1
.
5dppx
)
{
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
normal
>
#
image
{
background
-
image
:
url
(
"
resource
:
/
/
gre
-
resources
/
accessiblecaret
-
normal
1
.
5x
.
png
"
)
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
left
>
#
image
{
background
-
image
:
url
(
"
resource
:
/
/
gre
-
resources
/
accessiblecaret
-
tilt
-
left
1
.
5x
.
png
"
)
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
right
>
#
image
{
background
-
image
:
url
(
"
resource
:
/
/
gre
-
resources
/
accessiblecaret
-
tilt
-
right
1
.
5x
.
png
"
)
;
}
}
media
(
min
-
resolution
:
2dppx
)
{
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
normal
>
#
image
{
background
-
image
:
url
(
"
resource
:
/
/
gre
-
resources
/
accessiblecaret
-
normal
2x
.
png
"
)
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
left
>
#
image
{
background
-
image
:
url
(
"
resource
:
/
/
gre
-
resources
/
accessiblecaret
-
tilt
-
left
2x
.
png
"
)
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
right
>
#
image
{
background
-
image
:
url
(
"
resource
:
/
/
gre
-
resources
/
accessiblecaret
-
tilt
-
right
2x
.
png
"
)
;
}
}
media
(
min
-
resolution
:
2
.
25dppx
)
{
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
normal
>
#
image
{
background
-
image
:
url
(
"
resource
:
/
/
gre
-
resources
/
accessiblecaret
-
normal
2
.
25x
.
png
"
)
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
left
>
#
image
{
background
-
image
:
url
(
"
resource
:
/
/
gre
-
resources
/
accessiblecaret
-
tilt
-
left
2
.
25x
.
png
"
)
;
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
accessiblecaret
.
right
>
#
image
{
background
-
image
:
url
(
"
resource
:
/
/
gre
-
resources
/
accessiblecaret
-
tilt
-
right
2
.
25x
.
png
"
)
;
}
}
div
:
-
moz
-
native
-
anonymous
.
moz
-
custom
-
content
-
container
{
pointer
-
events
:
none
;
-
moz
-
top
-
layer
:
top
;
position
:
absolute
;
top
:
0
;
left
:
0
;
width
:
100
%
;
height
:
100
%
;
}
