body
{
-
-
grey
-
subtitle
:
grey
-
60
;
}
.
welcome
-
container
{
background
:
var
(
-
-
trailhead
-
cards
-
background
-
color
)
;
}
.
trailheadCardGrid
{
margin
-
top
:
32px
;
}
.
trailheadCards
.
welcome
-
title
{
margin
-
bottom
:
5px
;
line
-
height
:
52px
;
}
.
trailheadCards
.
welcome
-
subtitle
{
font
-
size
:
28px
;
font
-
weight
:
200
;
margin
:
6px
0
0
;
color
:
var
(
-
-
grey
-
subtitle
)
;
line
-
height
:
42px
;
}
