.
frames
-
group
.
group
.
frames
-
group
.
group
.
location
{
font
-
weight
:
500
;
cursor
:
default
;
direction
:
ltr
;
}
.
frames
-
group
.
expanded
.
group
.
frames
-
group
.
expanded
.
group
.
location
{
color
:
var
(
-
-
theme
-
highlight
-
blue
)
;
}
.
frames
-
group
.
frames
-
list
[
role
=
"
listitem
"
]
{
padding
-
inline
-
start
:
30px
;
}
.
frames
-
group
.
frames
-
list
{
border
-
top
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
}
.
frames
-
group
.
expanded
.
badge
{
color
:
var
(
-
-
theme
-
highlight
-
blue
)
;
}
.
frames
-
group
.
img
.
arrow
{
margin
-
inline
-
start
:
-
1px
;
margin
-
inline
-
end
:
4px
;
}
