%
include
.
.
/
.
.
/
.
.
/
shared
/
incontentprefs
/
preferences
.
inc
.
css
.
actionsMenu
>
.
menulist
-
label
-
box
>
.
menulist
-
icon
{
margin
-
top
:
2px
;
margin
-
inline
-
start
:
2px
;
margin
-
inline
-
end
:
8px
!
important
;
}
#
downloadFolder
>
.
fileFieldContentBox
{
padding
-
inline
-
start
:
3px
;
}
filefield
+
button
{
margin
-
inline
-
start
:
-
8px
;
margin
-
top
:
4px
;
margin
-
bottom
:
4px
;
}
#
popupPolicyRow
{
margin
-
bottom
:
0
!
important
;
padding
-
bottom
:
0
!
important
;
border
-
bottom
:
none
;
}
