:
host
(
:
not
(
[
width
]
)
)
:
host
(
[
width
=
"
"
]
)
{
width
:
240px
;
}
:
host
(
:
not
(
[
width
]
)
)
:
host
(
[
width
=
"
"
]
)
{
height
:
200px
;
}
.
mainBox
{
width
:
inherit
;
height
:
inherit
;
overflow
:
hidden
;
cursor
:
inherit
;
visibility
:
hidden
;
}
