namespace
url
(
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
)
;
embed
:
-
moz
-
handler
-
blocked
embed
:
-
moz
-
handler
-
crashed
embed
:
-
moz
-
handler
-
clicktoplay
embed
:
-
moz
-
handler
-
vulnerable
-
updatable
embed
:
-
moz
-
handler
-
vulnerable
-
no
-
update
applet
:
-
moz
-
handler
-
blocked
applet
:
-
moz
-
handler
-
crashed
applet
:
-
moz
-
handler
-
clicktoplay
applet
:
-
moz
-
handler
-
vulnerable
-
updatable
applet
:
-
moz
-
handler
-
vulnerable
-
no
-
update
object
:
-
moz
-
handler
-
blocked
object
:
-
moz
-
handler
-
crashed
object
:
-
moz
-
handler
-
clicktoplay
object
:
-
moz
-
handler
-
vulnerable
-
updatable
object
:
-
moz
-
handler
-
vulnerable
-
no
-
update
{
display
:
inline
-
block
;
overflow
:
hidden
;
opacity
:
1
!
important
;
-
moz
-
binding
:
url
(
'
chrome
:
/
/
pluginproblem
/
content
/
pluginProblem
.
xml
#
pluginProblem
'
)
!
important
;
}
