import
"
resource
:
/
/
devtools
/
client
/
application
/
src
/
base
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
application
/
src
/
components
/
App
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
application
/
src
/
components
/
Worker
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
application
/
src
/
components
/
WorkerList
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
application
/
src
/
components
/
WorkerListEmpty
.
css
"
;
import
"
resource
:
/
/
devtools
/
client
/
application
/
src
/
components
/
ui
/
UIButton
.
css
"
;
html
body
#
mount
{
height
:
100vh
;
}
