.
tree
:
focus
{
outline
:
none
;
}
.
tree
.
inline
{
display
:
inline
-
block
;
}
.
tree
.
nowrap
{
white
-
space
:
nowrap
;
}
.
tree
.
noselect
{
-
webkit
-
user
-
select
:
none
;
-
moz
-
user
-
select
:
none
;
-
ms
-
user
-
select
:
none
;
-
o
-
user
-
select
:
none
;
user
-
select
:
none
;
}
.
tree
.
tree
-
node
{
display
:
flex
;
}
.
tree
.
tree
-
node
:
not
(
.
focused
)
:
hover
{
background
-
color
:
var
(
-
-
theme
-
selection
-
background
-
hover
)
;
}
.
tree
-
indent
{
display
:
inline
-
block
;
width
:
12px
;
margin
-
inline
-
start
:
5px
;
border
-
inline
-
start
:
1px
solid
#
A2D1FF
;
flex
-
shrink
:
0
;
}
.
tree
-
node
[
data
-
expandable
=
"
false
"
]
.
tree
-
indent
:
last
-
of
-
type
{
margin
-
inline
-
end
:
15px
;
}
.
tree
-
node
[
data
-
expandable
=
"
false
"
]
[
aria
-
level
=
"
1
"
]
{
padding
-
inline
-
start
:
15px
}
.
tree
.
tree
-
node
[
data
-
expandable
=
"
true
"
]
{
cursor
:
default
;
}
.
tree
-
node
button
.
arrow
{
mask
:
url
(
/
images
/
arrow
.
svg
)
no
-
repeat
center
;
mask
-
size
:
10px
;
vertical
-
align
:
-
1px
;
width
:
10px
;
height
:
10px
;
border
:
0
;
padding
:
0
;
margin
-
inline
-
start
:
1px
;
margin
-
inline
-
end
:
4px
;
transform
-
origin
:
center
center
;
transition
:
transform
125ms
var
(
-
-
animation
-
curve
)
;
background
-
color
:
var
(
-
-
theme
-
icon
-
dimmed
-
color
)
;
}
.
tree
-
node
button
.
arrow
:
not
(
.
expanded
)
{
transform
:
rotate
(
-
90deg
)
;
}
html
[
dir
=
"
rtl
"
]
.
tree
-
node
button
:
not
(
.
expanded
)
{
transform
:
rotate
(
90deg
)
;
}
.
tree
.
tree
-
node
.
focused
{
color
:
white
;
background
-
color
:
var
(
-
-
theme
-
selection
-
background
#
0a84ff
)
;
}
.
tree
-
node
.
focused
button
.
arrow
{
background
-
color
:
currentColor
;
}
