:
root
{
-
-
accordion
-
header
-
background
:
var
(
-
-
theme
-
toolbar
-
background
)
;
}
:
root
.
theme
-
dark
{
-
-
accordion
-
header
-
background
:
#
222225
;
}
.
accordion
{
background
-
color
:
var
(
-
-
theme
-
sidebar
-
background
)
;
width
:
100
%
;
}
.
accordion
.
_header
{
background
-
color
:
var
(
-
-
accordion
-
header
-
background
)
;
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
color
:
var
(
-
-
theme
-
toolbar
-
color
)
;
cursor
:
pointer
;
font
-
size
:
12px
;
padding
:
4px
;
transition
:
all
0
.
25s
ease
;
width
:
100
%
;
align
-
items
:
center
;
display
:
flex
;
-
moz
-
user
-
select
:
none
;
}
.
accordion
.
_header
:
hover
{
background
-
color
:
var
(
-
-
theme
-
toolbar
-
hover
)
;
}
.
accordion
.
_header
:
hover
svg
{
fill
:
var
(
-
-
theme
-
comment
-
alt
)
;
}
.
accordion
.
_content
{
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
font
-
size
:
11px
;
padding
:
4px
;
}
.
accordion
div
:
last
-
child
.
_content
{
border
-
bottom
:
none
;
}
.
arrow
{
vertical
-
align
:
middle
;
display
:
inline
-
block
;
padding
-
inline
-
start
:
2px
;
padding
-
inline
-
end
:
1px
;
}
