namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
button
{
margin
:
5px
6px
3px
;
min
-
width
:
79px
;
color
:
ButtonText
;
text
-
shadow
:
none
;
}
button
:
not
(
[
disabled
=
"
true
"
]
)
:
hover
:
active
{
color
:
-
moz
-
mac
-
buttonactivetext
;
}
button
[
default
=
"
true
"
]
:
not
(
[
disabled
=
"
true
"
]
)
:
not
(
:
-
moz
-
window
-
inactive
)
{
color
:
-
moz
-
mac
-
defaultbuttontext
;
}
button
[
default
=
"
true
"
]
:
not
(
:
hover
)
:
active
{
color
:
ButtonText
;
}
.
button
-
text
{
margin
-
block
:
1px
;
margin
-
inline
:
3px
2px
;
text
-
align
:
center
;
}
button
[
type
=
"
default
"
]
{
font
:
menu
;
}
button
[
disabled
=
"
true
"
]
{
color
:
GrayText
;
}
.
button
-
menu
-
dropmarker
{
display
:
none
;
appearance
:
none
;
}
button
.
plain
{
margin
:
0
!
important
;
padding
:
0
!
important
;
}
button
[
dlgtype
=
"
help
"
]
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
-
moz
-
mac
-
help
-
button
;
width
:
20px
;
}
