#
commonDialog
{
line
-
height
:
13px
;
}
#
filler
{
margin
:
0px
-
14px
;
}
#
infoContainer
{
max
-
width
:
33em
;
}
#
loginContainer
{
padding
-
top
:
10px
;
}
#
infoIcon
{
margin
-
inline
-
end
:
14px
;
}
#
infoTitle
#
infoHeader
#
infoBody
{
font
:
menu
;
line
-
height
:
16px
;
margin
-
bottom
:
6px
;
}
#
infoTitle
{
font
-
weight
:
bold
;
}
