namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
#
commonDialog
>
image
{
margin
-
inline
-
end
:
14px
!
important
;
}
#
commonDialog
>
.
dialog
-
button
-
box
{
margin
-
inline
-
start
:
80px
;
}
dialog
{
-
moz
-
appearance
:
dialog
;
padding
:
14px
;
}
.
dialog
-
button
{
font
:
menu
;
}
#
findDialog
#
findDialog
>
menu
#
findDialog
>
groupbox
{
font
:
menu
!
important
;
}
#
dialog
\
.
caseSensitive
{
margin
-
top
:
8px
;
}
