namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
namespace
html
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
scrollbar
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
scrollbar
-
horizontal
;
cursor
:
default
;
background
-
color
:
white
;
}
scrollbar
[
root
=
"
true
"
]
{
position
:
relative
;
z
-
index
:
2147483647
;
}
html
|
select
[
size
]
:
not
(
[
size
=
"
0
"
]
[
size
=
"
1
"
]
)
html
|
select
[
multiple
]
{
scrollbar
-
width
:
thin
;
}
media
all
and
(
-
moz
-
overlay
-
scrollbars
)
{
scrollbar
:
not
(
[
active
=
"
true
"
]
)
scrollbar
[
disabled
=
"
true
"
]
{
visibility
:
hidden
;
}
}
scrollbar
[
orient
=
"
vertical
"
]
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
scrollbar
-
vertical
;
}
slider
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
scrollbartrack
-
horizontal
;
}
slider
[
orient
=
"
vertical
"
]
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
scrollbartrack
-
vertical
;
}
thumb
[
orient
=
"
vertical
"
]
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
scrollbarthumb
-
vertical
;
}
thumb
[
orient
=
"
horizontal
"
]
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
scrollbarthumb
-
horizontal
;
}
scrollbarbutton
[
type
=
"
increment
"
]
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
scrollbarbutton
-
right
;
}
scrollbar
[
orient
=
"
vertical
"
]
>
scrollbarbutton
[
type
=
"
increment
"
]
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
scrollbarbutton
-
down
;
}
scrollbarbutton
[
type
=
"
decrement
"
]
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
scrollbarbutton
-
left
;
}
scrollbar
[
orient
=
"
vertical
"
]
>
scrollbarbutton
[
type
=
"
decrement
"
]
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
scrollbarbutton
-
up
;
}
scrollcorner
{
appearance
:
auto
;
-
moz
-
default
-
appearance
:
scrollcorner
;
width
:
16px
;
cursor
:
default
;
background
-
color
:
white
;
}
