namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
namespace
html
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
textbox
[
type
=
"
number
"
]
{
-
moz
-
appearance
:
none
;
-
moz
-
box
-
align
:
center
;
padding
:
0
!
important
;
border
:
none
;
background
-
color
:
transparent
;
cursor
:
default
;
}
html
|
*
.
numberbox
-
input
{
text
-
align
:
right
;
padding
:
0
1px
!
important
;
}
.
numberbox
-
input
-
box
{
-
moz
-
appearance
:
textfield
;
margin
-
right
:
4px
;
}
