namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
namespace
html
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
html
|
*
.
numberbox
-
input
{
text
-
align
:
right
;
padding
:
0
1px
!
important
;
}
textbox
[
type
=
"
number
"
]
[
hidespinbuttons
=
"
true
"
]
html
|
*
.
numberbox
-
input
{
-
moz
-
appearance
:
textfield
!
important
;
}
