%
if
0
%
endif
%
include
.
.
/
.
.
/
shared
/
popupnotification
.
inc
.
css
.
popup
-
notification
-
secondary
-
button
:
not
(
[
hidden
=
"
true
"
]
)
~
.
popup
-
notification
-
primary
-
button
:
not
(
[
default
]
)
{
border
-
inline
-
start
:
1px
solid
var
(
-
-
panel
-
separator
-
color
)
;
}
