namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
.
radio
-
label
radiogroup
{
margin
:
1px
0
;
}
radio
{
-
moz
-
appearance
:
radio
-
container
;
-
moz
-
box
-
align
:
center
;
margin
:
4px
2px
;
-
moz
-
user
-
focus
:
ignore
;
}
.
radio
-
icon
{
margin
-
inline
-
end
:
2px
;
}
radio
[
disabled
=
"
true
"
]
{
color
:
GrayText
;
}
.
radio
-
check
{
-
moz
-
appearance
:
radio
;
margin
:
0
1px
1px
;
vertical
-
align
:
bottom
;
width
:
1
.
3em
;
height
:
1
.
3em
;
}
