namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
richlistbox
{
-
moz
-
appearance
:
listbox
;
margin
:
2px
4px
;
background
-
color
:
-
moz
-
Field
;
color
:
-
moz
-
FieldText
;
}
richlistbox
[
disabled
=
"
true
"
]
{
color
:
GrayText
;
}
richlistitem
[
selected
=
"
true
"
]
{
background
-
color
:
-
moz
-
Dialog
;
color
:
-
moz
-
DialogText
;
}
richlistbox
:
focus
>
richlistitem
[
selected
=
"
true
"
]
{
background
-
color
:
Highlight
;
color
:
HighlightText
;
}
richlistbox
.
theme
-
listbox
>
richlistitem
{
border
:
1px
solid
transparent
;
}
richlistbox
.
theme
-
listbox
:
not
(
:
focus
)
>
richlistitem
[
selected
=
"
true
"
]
{
background
-
color
:
-
moz
-
mac
-
secondaryhighlight
;
}
richlistbox
.
theme
-
listbox
>
richlistitem
>
label
{
margin
:
0px
;
padding
-
bottom
:
1px
;
padding
-
inline
-
start
:
4px
;
white
-
space
:
nowrap
;
}
listheader
{
color
:
-
moz
-
DialogText
;
}
