namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
.
scrollbutton
-
up
[
orient
=
"
horizontal
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
arrow
/
arrow
-
lft
-
sharp
.
gif
"
)
;
-
moz
-
image
-
region
:
auto
;
}
.
scrollbutton
-
down
[
orient
=
"
horizontal
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
arrow
/
arrow
-
rit
-
sharp
.
gif
"
)
;
-
moz
-
image
-
region
:
auto
;
}
.
scrollbutton
-
up
[
orient
=
"
horizontal
"
]
[
disabled
=
"
true
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
arrow
/
arrow
-
lft
-
dis
.
gif
"
)
;
-
moz
-
image
-
region
:
auto
;
}
.
scrollbutton
-
down
[
orient
=
"
horizontal
"
]
[
disabled
=
"
true
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
arrow
/
arrow
-
rit
-
dis
.
gif
"
)
;
-
moz
-
image
-
region
:
auto
;
}
.
scrollbutton
-
up
:
not
(
[
orient
=
"
horizontal
"
]
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
arrow
/
arrow
-
up
-
sharp
.
gif
"
)
;
-
moz
-
image
-
region
:
auto
;
}
.
scrollbutton
-
down
:
not
(
[
orient
=
"
horizontal
"
]
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
arrow
/
arrow
-
dn
-
sharp
.
gif
"
)
;
-
moz
-
image
-
region
:
auto
;
}
.
scrollbutton
-
up
[
disabled
=
"
true
"
]
:
not
(
[
orient
=
"
horizontal
"
]
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
arrow
/
arrow
-
up
-
dis
.
gif
"
)
;
-
moz
-
image
-
region
:
auto
;
}
.
scrollbutton
-
down
[
disabled
=
"
true
"
]
:
not
(
[
orient
=
"
horizontal
"
]
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
arrow
/
arrow
-
dn
-
dis
.
gif
"
)
;
-
moz
-
image
-
region
:
auto
;
}
.
scrollbutton
-
up
>
.
toolbarbutton
-
text
.
scrollbutton
-
down
>
.
toolbarbutton
-
text
{
display
:
none
;
}
