namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
namespace
html
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
:
host
{
-
moz
-
appearance
:
searchfield
;
font
-
size
:
12px
;
cursor
:
text
;
margin
:
4px
;
padding
:
1px
;
background
-
color
:
-
moz
-
Field
;
color
:
-
moz
-
FieldText
;
}
html
|
input
{
border
:
none
;
padding
:
0
1px
;
background
-
color
:
transparent
;
color
:
inherit
;
font
:
inherit
;
text
-
shadow
:
inherit
;
box
-
sizing
:
border
-
box
;
-
moz
-
box
-
flex
:
1
;
text
-
align
:
inherit
;
}
:
host
(
[
readonly
=
"
true
"
]
)
{
background
-
color
:
-
moz
-
Dialog
;
color
:
-
moz
-
DialogText
;
}
:
host
(
[
disabled
=
"
true
"
]
)
{
cursor
:
default
;
background
-
color
:
-
moz
-
Dialog
;
color
:
GrayText
;
}
.
textbox
-
search
-
clear
{
list
-
style
-
image
:
url
(
chrome
:
/
/
global
/
skin
/
icons
/
searchfield
-
cancel
.
svg
)
;
margin
-
bottom
:
1px
;
}
.
textbox
-
search
-
clear
:
not
(
[
disabled
]
)
{
cursor
:
default
;
}
.
textbox
-
search
-
icons
:
not
(
[
selectedIndex
=
"
1
"
]
)
{
display
:
none
;
}
