namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
tabbox
{
margin
:
0
5px
;
}
tabpanels
{
-
moz
-
appearance
:
tabpanels
;
padding
:
33px
15px
15px
;
}
tabs
{
-
moz
-
box
-
align
:
center
;
font
:
menu
;
}
tabbox
>
tabs
{
padding
:
0
10px
;
margin
-
bottom
:
-
12px
;
position
:
relative
;
}
tab
{
-
moz
-
appearance
:
tab
;
padding
-
top
:
1px
;
}
tab
:
-
moz
-
focusring
{
position
:
relative
;
}
tab
:
first
-
of
-
type
{
padding
-
inline
-
start
:
2px
;
}
tab
:
last
-
of
-
type
{
padding
-
inline
-
end
:
2px
;
}
tab
[
visuallyselected
=
"
true
"
]
:
not
(
:
-
moz
-
window
-
inactive
)
{
color
:
#
FFF
;
}
media
(
-
moz
-
mac
-
yosemite
-
theme
:
0
)
{
tab
[
visuallyselected
=
"
true
"
]
{
color
:
#
FFF
;
text
-
shadow
:
rgba
(
0
0
0
0
.
4
)
0
1px
;
}
}
.
tab
-
middle
{
padding
:
1px
6px
2px
;
}
.
tabs
-
left
.
tabs
-
right
{
-
moz
-
box
-
flex
:
1
;
}
