namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
tooltip
{
-
moz
-
appearance
:
tooltip
;
-
moz
-
font
-
smoothing
-
background
-
color
:
-
moz
-
mac
-
tooltip
;
margin
-
top
:
18px
;
padding
:
2px
3px
;
max
-
width
:
40em
;
color
:
InfoText
;
font
:
message
-
box
;
cursor
:
default
;
}
