namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
toolbox
{
-
moz
-
appearance
:
toolbox
;
}
toolbar
{
min
-
width
:
1px
;
min
-
height
:
20px
;
-
moz
-
appearance
:
toolbar
;
}
toolbar
:
-
moz
-
lwtheme
{
-
moz
-
appearance
:
none
;
background
:
none
;
border
-
color
:
transparent
;
}
toolbarseparator
{
-
moz
-
appearance
:
separator
;
margin
:
3px
4px
;
}
toolbarpaletteitem
{
cursor
:
grab
;
}
toolbarspacer
{
min
-
width
:
24px
!
important
;
}
toolbarpaletteitem
[
place
=
"
toolbar
"
]
{
margin
-
left
:
-
2px
;
margin
-
right
:
-
2px
;
border
-
left
:
2px
solid
transparent
;
border
-
right
:
2px
solid
transparent
;
}
toolbarpaletteitem
[
dragover
=
"
left
"
]
{
border
-
left
-
color
:
#
000000
;
}
toolbarpaletteitem
[
dragover
=
"
right
"
]
{
border
-
right
-
color
:
#
000000
;
}
