%
include
.
.
/
.
.
/
shared
/
tree
.
inc
.
css
.
focusring
>
.
tree
-
stack
>
.
tree
-
rows
>
.
tree
-
bodybox
{
border
:
1px
solid
transparent
;
}
.
focusring
:
focus
>
.
tree
-
stack
>
.
tree
-
rows
>
.
tree
-
bodybox
{
border
:
1px
solid
-
moz
-
mac
-
focusring
;
}
.
tree
-
input
{
-
moz
-
appearance
:
none
;
border
-
width
:
0
;
box
-
shadow
:
var
(
-
-
focus
-
ring
-
box
-
shadow
)
;
}
