%
include
shared
.
inc
namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
tree
{
margin
:
0px
4px
;
color
:
-
moz
-
DialogText
;
background
-
color
:
#
FFFFFF
;
-
moz
-
appearance
:
listbox
;
}
.
focusring
>
.
tree
-
stack
>
.
tree
-
rows
>
.
tree
-
bodybox
{
border
:
1px
solid
transparent
;
}
.
focusring
:
focus
>
.
tree
-
stack
>
.
tree
-
rows
>
.
tree
-
bodybox
{
border
:
1px
solid
-
moz
-
mac
-
focusring
;
}
treechildren
:
:
-
moz
-
tree
-
row
{
border
-
top
:
1px
solid
transparent
;
height
:
18px
;
background
-
color
:
-
moz
-
field
;
}
treechildren
:
:
-
moz
-
tree
-
row
(
multicol
odd
)
{
background
-
color
:
-
moz
-
oddtreerow
;
}
treechildren
:
:
-
moz
-
tree
-
row
(
selected
)
{
background
-
color
:
-
moz
-
mac
-
secondaryhighlight
;
}
treechildren
:
:
-
moz
-
tree
-
row
(
selected
focus
)
{
background
-
color
:
Highlight
;
color
:
HighlightText
;
}
treechildren
:
:
-
moz
-
tree
-
cell
{
padding
:
0px
2px
0px
2px
;
}
treechildren
:
:
-
moz
-
tree
-
cell
-
text
{
color
:
inherit
;
}
treechildren
:
:
-
moz
-
tree
-
cell
-
text
(
selected
)
{
color
:
-
moz
-
DialogText
;
}
treechildren
:
:
-
moz
-
tree
-
cell
-
text
(
selected
focus
)
{
color
:
HighlightText
;
}
treechildren
:
:
-
moz
-
tree
-
line
{
visibility
:
hidden
;
border
:
1px
dotted
grey
;
}
treechildren
:
:
-
moz
-
tree
-
separator
{
border
-
top
:
1px
dashed
#
C7C7C7
;
margin
:
0
2px
;
}
treechildren
:
:
-
moz
-
tree
-
cell
(
primary
dropOn
)
{
background
-
color
:
#
A1A1A1
!
important
;
color
:
#
FFF
!
important
;
background
-
image
:
none
;
}
treechildren
:
:
-
moz
-
tree
-
cell
-
text
(
primary
dropOn
)
{
color
:
#
FFF
!
important
;
}
treechildren
:
:
-
moz
-
tree
-
drop
-
feedback
{
background
-
color
:
#
A1A1A1
;
width
:
50px
;
height
:
2px
;
margin
-
inline
-
start
:
5px
;
}
treecol
treecolpicker
{
-
moz
-
appearance
:
treeheadercell
;
-
moz
-
box
-
align
:
center
;
-
moz
-
box
-
pack
:
center
;
color
:
-
moz
-
DialogText
;
padding
:
0
4px
;
}
.
treecol
-
image
{
padding
:
0
1px
;
}
.
treecol
-
text
{
margin
:
0
!
important
;
}
treecol
[
hideheader
=
"
true
"
]
{
-
moz
-
appearance
:
none
;
border
:
none
;
padding
:
0
;
max
-
height
:
0
;
}
treecol
[
dragging
=
"
true
"
]
{
color
:
GrayText
;
}
treechildren
:
:
-
moz
-
tree
-
column
(
insertbefore
)
{
border
-
inline
-
start
:
1px
solid
ThreeDShadow
;
}
treechildren
:
:
-
moz
-
tree
-
column
(
insertafter
)
{
border
-
inline
-
end
:
1px
solid
ThreeDShadow
;
}
.
tree
-
columnpicker
-
icon
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
tree
/
columnpicker
.
gif
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
twisty
{
-
moz
-
appearance
:
treetwisty
;
padding
-
inline
-
end
:
2px
;
}
treechildren
:
:
-
moz
-
tree
-
twisty
(
open
)
{
-
moz
-
appearance
:
treetwistyopen
;
}
treechildren
:
:
-
moz
-
tree
-
twisty
(
Name
separator
)
{
-
moz
-
appearance
:
none
;
}
treechildren
:
:
-
moz
-
tree
-
indentation
{
width
:
16px
;
}
.
tree
-
input
{
-
moz
-
appearance
:
none
;
border
-
width
:
0
;
box
-
shadow
:
var
(
-
-
focus
-
ring
-
box
-
shadow
)
;
margin
:
0
;
margin
-
inline
-
start
:
-
2px
;
padding
:
2px
1px
1px
;
}
treechildren
:
:
-
moz
-
tree
-
cell
(
active
selected
focus
editing
)
{
background
-
color
:
transparent
;
border
:
none
;
}
treechildren
:
:
-
moz
-
tree
-
cell
-
text
(
active
selected
editing
)
{
opacity
:
0
;
}
