:
root
{
-
-
bg
-
color
:
#
f9f9fa
;
-
-
text
-
color
:
#
0c0c0d
;
-
-
border
-
color
:
#
d7d7db
;
-
-
box
-
background
:
#
fff
;
-
-
box
-
border
-
color
:
#
d7d7db
;
-
-
category
-
background
-
hover
:
rgba
(
12
12
13
0
.
1
)
;
-
-
category
-
text
:
rgba
(
12
12
13
)
;
-
-
category
-
text
-
selected
:
#
0a84ff
;
-
-
category
-
height
:
48px
;
-
-
category
-
padding
:
10px
;
-
-
category
-
transition
-
duration
:
150ms
;
-
-
link
-
color
:
#
0a8dff
;
-
-
link
-
color
-
active
:
#
003eaa
;
-
-
link
-
color
-
hover
:
#
0060df
;
-
-
success
-
background
:
#
30e60b
;
-
-
warning
-
background
:
#
fffbd6
;
-
-
warning
-
border
:
rgba
(
164
127
0
0
.
27
)
;
-
-
warning
-
icon
:
var
(
-
-
yellow
-
65
)
;
-
-
warning
-
text
:
var
(
-
-
yellow
-
80
)
;
-
-
error
-
background
:
#
fdf2f5
;
-
-
error
-
border
:
rgba
(
90
0
2
0
.
16
)
;
-
-
error
-
icon
:
var
(
-
-
red
-
60
)
;
-
-
error
-
text
:
var
(
-
-
red
-
70
)
;
-
-
highlight
-
50
:
#
0a84ff
;
-
-
grey
-
20
:
#
ededf0
;
-
-
grey
-
30
:
#
d7d7db
;
-
-
grey
-
50
:
#
737373
;
-
-
grey
-
90
:
#
0c0c0d
;
-
-
grey
-
90
-
a10
:
rgba
(
12
12
13
0
.
1
)
;
-
-
grey
-
90
-
a20
:
rgba
(
12
12
13
0
.
2
)
;
-
-
grey
-
90
-
a30
:
rgba
(
12
12
13
0
.
3
)
;
-
-
grey
-
90
-
a60
:
rgba
(
12
12
13
0
.
6
)
;
-
-
grey
-
90
-
a80
:
rgba
(
12
12
13
0
.
8
)
;
-
-
red
-
70
:
#
a4000f
;
-
-
white
-
100
:
#
fff
;
-
-
yellow
-
60
:
#
d7b600
;
-
-
yellow
-
70
:
#
a47f00
;
-
-
body
-
10
-
font
-
size
:
13px
;
-
-
body
-
10
-
font
-
weight
:
400
;
-
-
body
-
20
-
font
-
size
:
15px
;
-
-
body
-
20
-
font
-
weight
:
400
;
-
-
body
-
20
-
font
-
weight
-
bold
:
700
;
-
-
caption
-
10
-
font
-
size
:
11px
;
-
-
caption
-
10
-
font
-
weight
:
400
;
-
-
caption
-
20
-
font
-
size
:
13px
;
-
-
caption
-
20
-
font
-
weight
:
400
;
-
-
caption
-
20
-
color
:
var
(
-
-
grey
-
50
)
;
-
-
display
-
10
-
font
-
size
:
28px
;
-
-
display
-
10
-
font
-
weight
:
200
;
-
-
title
-
20
-
font
-
size
:
17px
;
-
-
title
-
20
-
font
-
weight
:
600
;
-
-
title
-
30
-
font
-
size
:
22px
;
-
-
title
-
30
-
font
-
weight
:
300
;
-
-
page
-
width
:
664px
;
-
-
base
-
unit
:
4px
;
-
-
base
-
font
-
style
:
message
-
box
;
-
-
base
-
font
-
size
:
var
(
-
-
body
-
10
-
font
-
size
)
;
-
-
base
-
font
-
weight
:
var
(
-
-
body
-
10
-
font
-
weight
)
;
-
-
base
-
line
-
height
:
1
.
8
;
-
-
icon
-
label
-
font
-
size
:
var
(
-
-
body
-
10
-
font
-
size
)
;
-
-
message
-
font
-
size
:
var
(
-
-
body
-
10
-
font
-
size
)
;
-
-
button
-
font
-
size
:
var
(
-
-
base
-
font
-
size
)
;
-
-
micro
-
font
-
size
:
11px
;
-
-
monospace
-
font
-
family
:
monospace
;
-
-
card
-
separator
-
color
:
var
(
-
-
grey
-
20
)
;
-
-
card
-
shadow
-
blur
-
radius
:
var
(
-
-
base
-
unit
)
;
-
-
alt
-
heading
-
icon
-
size
:
calc
(
var
(
-
-
base
-
unit
)
*
6
)
;
-
-
alt
-
heading
-
icon
-
gap
:
var
(
-
-
base
-
unit
)
;
-
-
main
-
heading
-
icon
-
size
:
calc
(
var
(
-
-
base
-
unit
)
*
17
)
;
-
-
main
-
heading
-
icon
-
gap
:
calc
(
var
(
-
-
base
-
unit
)
*
3
)
;
-
-
main
-
subheading
-
icon
-
size
:
calc
(
var
(
-
-
base
-
unit
)
*
4
)
;
-
-
main
-
subheading
-
heading
-
icon
-
gap
:
calc
(
var
(
-
-
base
-
unit
)
*
2
)
;
}
html
{
font
:
var
(
-
-
base
-
font
-
style
)
;
}
body
{
margin
:
0
;
padding
:
0
;
color
:
var
(
-
-
text
-
color
)
;
font
-
size
:
var
(
-
-
base
-
font
-
size
)
;
font
-
weight
:
var
(
-
-
base
-
font
-
weight
)
;
line
-
height
:
var
(
-
-
base
-
line
-
height
)
;
background
:
var
(
-
-
bg
-
color
)
;
}
dd
{
margin
:
0
;
padding
:
0
;
}
ul
{
list
-
style
:
none
;
margin
:
0
;
padding
:
0
;
}
a
{
color
:
var
(
-
-
link
-
color
)
;
text
-
decoration
:
none
;
}
a
:
hover
{
color
:
var
(
-
-
link
-
color
-
hover
)
;
}
a
:
active
{
color
:
var
(
-
-
link
-
color
-
active
)
;
}
p
h1
{
margin
:
0
;
}
.
ellipsis
-
text
{
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
white
-
space
:
nowrap
;
}
.
technical
-
text
{
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
}
.
undecorated
-
link
.
undecorated
-
link
:
hover
{
text
-
decoration
:
none
;
color
:
currentColor
;
}
.
word
-
wrap
-
anywhere
{
word
-
wrap
:
anywhere
;
}
.
main
-
heading
{
font
-
size
:
var
(
-
-
display
-
10
-
font
-
size
)
;
font
-
weight
:
var
(
-
-
display
-
10
-
font
-
weight
)
;
line
-
height
:
1
.
2
;
}
.
main
-
heading__icon
{
width
:
100
%
;
}
.
main
-
heading
-
subtitle
{
font
-
size
:
var
(
-
-
title
-
30
-
font
-
size
)
;
font
-
weight
:
var
(
-
-
title
-
30
-
font
-
weight
)
;
}
.
main
-
subheading
{
margin
-
block
:
calc
(
var
(
-
-
base
-
unit
)
*
4
)
0
;
font
-
size
:
var
(
-
-
title
-
20
-
font
-
size
)
;
font
-
weight
:
var
(
-
-
title
-
20
-
font
-
weight
)
;
display
:
grid
;
grid
-
template
-
columns
:
var
(
-
-
main
-
subheading
-
icon
-
size
)
1fr
;
grid
-
column
-
gap
:
var
(
-
-
main
-
subheading
-
heading
-
icon
-
gap
)
;
align
-
items
:
center
;
}
.
main
-
subheading__icon
{
width
:
100
%
;
fill
:
currentColor
;
-
moz
-
context
-
properties
:
fill
;
}
.
alt
-
heading
{
font
-
weight
:
var
(
-
-
title
-
20
-
font
-
weight
)
;
font
-
size
:
var
(
-
-
title
-
20
-
font
-
size
)
;
margin
-
block
-
start
:
0
;
margin
-
block
-
end
:
calc
(
var
(
-
-
base
-
unit
)
*
4
)
;
}
.
alt
-
heading
-
-
larger
{
font
-
size
:
var
(
-
-
title
-
30
-
font
-
size
)
;
font
-
weight
:
var
(
-
-
title
-
30
-
font
-
weight
)
;
}
.
alt
-
subheading
{
margin
-
block
-
start
:
calc
(
var
(
-
-
base
-
unit
)
*
4
)
;
font
-
weight
:
600
;
font
-
size
:
1
.
14em
;
line
-
height
:
1
.
4em
;
display
:
grid
;
grid
-
template
-
columns
:
var
(
-
-
alt
-
heading
-
icon
-
size
)
1fr
;
grid
-
column
-
gap
:
var
(
-
-
alt
-
heading
-
icon
-
gap
)
;
align
-
items
:
center
;
}
.
alt
-
subheading__icon
{
width
:
100
%
;
fill
:
currentColor
;
-
moz
-
context
-
properties
:
fill
;
}
.
separator
{
border
-
style
:
solid
none
none
none
;
border
-
color
:
var
(
-
-
border
-
color
)
;
}
.
separator
-
-
breathe
{
margin
:
calc
(
var
(
-
-
base
-
unit
)
*
5
)
0
;
}
.
toolbar
{
display
:
flex
;
column
-
gap
:
calc
(
var
(
-
-
base
-
unit
)
*
3
)
;
}
.
toolbar
-
-
right
-
align
{
justify
-
content
:
end
;
}
.
default
-
button
.
default
-
input
{
box
-
sizing
:
border
-
box
;
font
-
size
:
1em
;
}
.
default
-
button
.
primary
-
button
{
appearance
:
none
;
margin
:
0
;
height
:
calc
(
var
(
-
-
base
-
unit
)
*
8
)
;
padding
-
inline
-
start
:
calc
(
var
(
-
-
base
-
unit
)
*
5
)
;
padding
-
inline
-
end
:
calc
(
var
(
-
-
base
-
unit
)
*
5
)
;
border
:
none
;
border
-
radius
:
calc
(
var
(
-
-
base
-
unit
)
/
2
)
;
font
-
size
:
var
(
-
-
button
-
font
-
size
)
;
}
.
default
-
button
:
disabled
.
primary
-
button
:
disabled
{
opacity
:
0
.
4
;
}
.
default
-
button
-
-
micro
.
primary
-
button
-
-
micro
{
padding
-
inline
-
start
:
calc
(
2
*
var
(
-
-
base
-
unit
)
)
;
padding
-
inline
-
end
:
calc
(
2
*
var
(
-
-
base
-
unit
)
)
;
font
-
size
:
var
(
-
-
micro
-
font
-
size
)
;
height
:
calc
(
var
(
-
-
base
-
unit
)
*
6
)
;
}
.
primary
-
button
{
color
:
var
(
-
-
white
-
100
)
;
background
-
color
:
var
(
-
-
blue
-
60
)
;
}
.
primary
-
button
:
enabled
:
hover
{
background
-
color
:
var
(
-
-
blue
-
70
)
;
}
.
primary
-
button
:
enabled
:
active
{
background
-
color
:
var
(
-
-
blue
-
80
)
;
}
.
default
-
button
{
color
:
var
(
-
-
grey
-
90
)
;
background
-
color
:
var
(
-
-
grey
-
90
-
a10
)
;
}
.
default
-
button
:
enabled
:
hover
{
background
:
var
(
-
-
grey
-
90
-
a20
)
;
}
.
default
-
button
:
enabled
:
active
{
background
:
var
(
-
-
grey
-
90
-
a30
)
;
}
.
ghost
-
button
{
background
:
transparent
;
border
:
none
;
border
-
radius
:
calc
(
var
(
-
-
base
-
unit
)
/
2
)
;
fill
:
var
(
-
-
grey
-
90
-
a80
)
;
height
:
calc
(
var
(
-
-
base
-
unit
)
*
6
)
;
padding
:
calc
(
var
(
-
-
base
-
unit
)
)
;
width
:
calc
(
var
(
-
-
base
-
unit
)
*
6
)
;
-
moz
-
context
-
properties
:
fill
;
}
.
ghost
-
button
:
hover
{
background
-
color
:
var
(
-
-
grey
-
30
)
;
}
.
ghost
-
button
:
active
{
background
-
color
:
var
(
-
-
grey
-
40
)
;
}
.
default
-
input
{
line
-
height
:
unset
;
padding
:
0
calc
(
var
(
-
-
base
-
unit
)
*
2
)
;
height
:
100
%
;
border
:
1px
solid
var
(
-
-
box
-
border
-
color
)
;
border
-
radius
:
2px
;
color
:
var
(
-
-
text
-
color
)
;
background
-
color
:
var
(
-
-
box
-
background
)
;
}
.
badge
{
background
:
var
(
-
-
grey
-
30
)
;
border
-
radius
:
calc
(
var
(
-
-
base
-
unit
)
/
2
)
;
font
-
size
:
var
(
-
-
micro
-
font
-
size
)
;
padding
:
var
(
-
-
base
-
unit
)
calc
(
2
*
var
(
-
-
base
-
unit
)
)
;
}
.
badge
-
-
info
{
background
:
var
(
-
-
highlight
-
50
)
;
}
.
badge
-
-
success
{
background
:
var
(
-
-
success
-
background
)
;
}
.
badge
-
-
warning
{
background
:
var
(
-
-
warning
-
background
)
;
}
.
badge
-
-
error
{
background
:
var
(
-
-
error
-
background
)
;
}
.
card
{
background
-
color
:
var
(
-
-
white
-
100
)
;
border
-
radius
:
var
(
-
-
card
-
shadow
-
blur
-
radius
)
;
box
-
shadow
:
0
1px
4px
var
(
-
-
grey
-
90
-
a10
)
;
box
-
sizing
:
border
-
box
;
min
-
width
:
min
-
content
;
padding
-
block
:
calc
(
var
(
-
-
base
-
unit
)
*
5
)
;
}
.
card__heading
{
font
-
size
:
var
(
-
-
title
-
20
-
font
-
size
)
;
font
-
weight
:
var
(
-
-
title
-
20
-
font
-
weight
)
;
}
