import
url
(
"
chrome
:
/
/
browser
/
skin
/
error
-
pages
.
css
"
)
;
body
{
background
-
image
:
linear
-
gradient
(
-
45deg
#
eeeeee
#
eeeeee
33
%
#
fbfbfb
33
%
#
fbfbfb
66
%
#
eeeeee
66
%
#
eeeeee
)
;
}
body
.
certerror
{
background
-
image
:
linear
-
gradient
(
-
45deg
#
f0d000
#
f0d000
33
%
#
fedc00
33
%
#
fedc00
66
%
#
f0d000
66
%
#
f0d000
)
;
}
body
.
certerror
.
title
{
background
-
image
:
url
(
"
cert
-
error
.
svg
"
)
;
}
#
errorContainer
{
display
:
none
;
}
button
:
disabled
{
cursor
:
pointer
;
}
#
prefChangeContainer
{
display
:
none
;
}
#
learnMoreContainer
{
display
:
none
;
}
#
certErrorButtonContainer
{
display
:
none
;
}
body
.
certerror
#
certErrorButtonContainer
{
display
:
flex
;
}
body
.
certerror
#
netErrorButtonContainer
{
display
:
none
;
}
#
errorTryAgain
{
margin
-
top
:
1
.
2em
;
min
-
width
:
150px
;
}
#
returnButton
{
min
-
width
:
250px
;
}
#
advancedButton
{
display
:
none
;
}
body
.
certerror
#
advancedButton
{
display
:
block
;
}
#
certificateErrorReporting
{
display
:
none
;
}
.
container
{
position
:
relative
;
}
#
advancedPanelContainer
{
position
:
absolute
;
padding
:
24px
0
;
}
.
advanced
-
panel
{
display
:
none
;
background
-
color
:
white
;
border
:
1px
lightgray
solid
;
padding
:
0
12px
12px
12px
;
box
-
shadow
:
0
0
4px
#
ddd
;
font
-
size
:
0
.
9em
;
}
#
overrideWeakCryptoPanel
{
display
:
none
;
flex
-
direction
:
row
;
flex
-
wrap
:
wrap
;
justify
-
content
:
space
-
between
;
align
-
content
:
space
-
between
;
align
-
items
:
flex
-
start
;
margin
-
top
:
1em
;
}
span
#
hostname
{
font
-
weight
:
bold
;
}
#
automaticallyReportInFuture
{
cursor
:
pointer
;
}
#
errorCode
:
not
(
[
href
]
)
{
color
:
var
(
-
-
in
-
content
-
page
-
color
)
;
cursor
:
text
;
text
-
decoration
:
none
;
}
#
errorCode
[
href
]
{
white
-
space
:
nowrap
;
}
#
badCertTechnicalInfo
{
overflow
:
auto
;
white
-
space
:
pre
-
wrap
;
}
#
certificateErrorReporting
{
display
:
none
;
}
#
certificateErrorDebugInformation
{
display
:
none
;
background
-
color
:
var
(
-
-
in
-
content
-
box
-
background
-
hover
)
!
important
;
border
-
top
:
1px
solid
var
(
-
-
in
-
content
-
border
-
color
)
;
position
:
absolute
;
left
:
0
%
;
top
:
100
%
;
width
:
65
%
;
padding
:
1em
17
.
5
%
;
}
#
certificateErrorText
{
font
-
family
:
monospace
;
white
-
space
:
pre
-
wrap
;
padding
:
1em
0
;
}
