.
title
{
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
welcome
-
back
.
svg
"
)
;
}
.
radioRestoreContainer
:
not
(
:
last
-
child
)
{
margin
-
bottom
:
0
.
2em
;
}
.
tree
-
container
:
not
(
[
available
]
)
{
display
:
none
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
icon
)
treechildren
:
:
-
moz
-
tree
-
image
(
noicon
)
{
padding
-
right
:
2px
;
margin
:
0
2px
;
width
:
16px
;
height
:
16px
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
noicon
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
mozapps
/
skin
/
places
/
defaultFavicon
.
svg
"
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
container
noicon
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
aboutSessionRestore
-
window
-
icon
.
png
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
checked
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
in
-
content
/
check
.
svg
"
)
;
-
moz
-
context
-
properties
:
fill
stroke
;
fill
:
#
2292d0
;
stroke
:
none
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
checked
selected
)
{
fill
:
white
;
stroke
:
#
0095dd
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
partial
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
in
-
content
/
check
-
partial
.
svg
"
)
;
-
moz
-
context
-
properties
:
fill
stroke
;
fill
:
#
2292d0
;
stroke
:
none
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
partial
selected
)
{
fill
:
white
;
stroke
:
#
0095dd
;
}
