%
if
0
%
endif
#
PopupAutoComplete
>
richlistbox
>
richlistitem
{
height
:
20px
;
min
-
height
:
20px
;
border
:
0
;
border
-
radius
:
0
;
padding
:
0px
1px
0px
1px
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
>
.
ac
-
title
{
font
:
icon
;
margin
-
inline
-
start
:
6px
;
}
#
PopupAutoComplete
>
richlistbox
{
padding
:
0
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
insecureWarning
"
]
{
background
-
color
:
#
F6F6F6
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
insecureWarning
"
]
>
.
ac
-
site
-
icon
{
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
connection
-
mixed
-
active
-
loaded
.
svg
#
icon
)
;
}
