%
if
0
%
endif
#
PopupAutoComplete
>
richlistbox
>
richlistitem
{
min
-
height
:
20px
;
border
:
0
;
border
-
radius
:
0
;
padding
:
0px
1px
0px
1px
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
>
.
ac
-
site
-
icon
{
margin
-
inline
-
start
:
4px
;
margin
-
inline
-
end
:
0
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
>
.
ac
-
title
{
font
:
icon
;
margin
-
inline
-
start
:
4px
;
}
#
PopupAutoComplete
>
richlistbox
{
padding
:
0
;
}
.
autocomplete
-
richlistitem
:
hover
{
background
-
color
:
var
(
-
-
arrowpanel
-
dimmed
)
;
}
.
autocomplete
-
richlistitem
[
selected
]
{
background
-
color
:
Highlight
;
color
:
HighlightText
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
>
.
two
-
line
-
wrapper
{
box
-
sizing
:
border
-
box
;
display
:
flex
;
flex
-
direction
:
row
;
margin
:
0
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
>
.
two
-
line
-
wrapper
>
.
ac
-
site
-
icon
{
display
:
block
;
margin
-
inline
-
start
:
auto
;
margin
-
inline
-
end
:
4px
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
>
.
two
-
line
-
wrapper
>
.
labels
-
wrapper
{
flex
:
1
;
min
-
width
:
0
;
width
:
0
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
>
.
two
-
line
-
wrapper
>
.
labels
-
wrapper
>
.
label
-
row
{
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
white
-
space
:
nowrap
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
generatedPassword
"
]
>
.
two
-
line
-
wrapper
>
.
labels
-
wrapper
>
.
generated
-
password
-
autosave
#
PopupAutoComplete
>
richlistbox
>
richlistitem
>
.
two
-
line
-
wrapper
>
.
labels
-
wrapper
>
.
line2
-
label
{
padding
-
top
:
2px
!
important
;
opacity
:
.
6
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
generatedPassword
"
]
>
.
two
-
line
-
wrapper
>
.
ac
-
site
-
icon
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
loginWithOrigin
"
]
>
.
two
-
line
-
wrapper
>
.
ac
-
site
-
icon
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
login
"
]
>
.
ac
-
site
-
icon
{
display
:
initial
;
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
login
.
svg
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
GrayText
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
generatedPassword
"
]
[
selected
]
>
.
two
-
line
-
wrapper
>
.
ac
-
site
-
icon
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
loginWithOrigin
"
]
[
selected
]
>
.
two
-
line
-
wrapper
>
.
ac
-
site
-
icon
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
login
"
]
>
.
ac
-
site
-
icon
[
selected
]
{
fill
:
HighlightText
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
generatedPassword
"
]
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
loginWithOrigin
"
]
{
padding
:
4px
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
generatedPassword
"
]
>
.
two
-
line
-
wrapper
>
.
labels
-
wrapper
>
.
line2
-
label
{
font
-
family
:
monospace
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
generatedPassword
"
]
>
.
two
-
line
-
wrapper
>
.
labels
-
wrapper
>
.
generated
-
password
-
autosave
{
font
-
style
:
italic
;
font
-
size
:
0
.
85em
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
login
"
]
+
richlistitem
[
originaltype
=
"
generatedPassword
"
]
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
loginWithOrigin
"
]
+
richlistitem
[
originaltype
=
"
generatedPassword
"
]
{
border
-
top
:
1px
solid
hsla
(
210
4
%
10
%
.
14
)
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
insecureWarning
"
]
{
background
-
color
:
var
(
-
-
arrowpanel
-
dimmed
)
;
border
-
bottom
:
1px
solid
var
(
-
-
panel
-
separator
-
color
)
;
padding
-
bottom
:
4px
;
padding
-
top
:
4px
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
insecureWarning
"
]
[
selected
]
{
background
-
color
:
var
(
-
-
arrowpanel
-
dimmed
-
further
)
;
color
:
-
moz
-
DialogText
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
insecureWarning
"
]
>
.
ac
-
title
{
color
:
GrayText
;
font
-
size
:
1em
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
insecureWarning
"
]
[
selected
]
>
.
ac
-
title
{
color
:
inherit
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
[
originaltype
=
"
insecureWarning
"
]
>
.
ac
-
site
-
icon
{
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
connection
-
mixed
-
active
-
loaded
.
svg
)
;
-
moz
-
context
-
properties
:
fill
;
fill
:
GrayText
;
}
