%
if
0
%
endif
#
PopupAutoComplete
>
richlistbox
>
richlistitem
{
height
:
20px
;
min
-
height
:
20px
;
border
-
radius
:
0
;
}
#
PopupAutoComplete
>
richlistbox
>
richlistitem
>
.
ac
-
title
{
font
:
icon
;
margin
-
inline
-
start
:
6px
;
}
#
PopupAutoComplete
>
richlistbox
{
padding
:
0
;
}
