import
url
(
"
chrome
:
/
/
browser
/
skin
/
error
-
pages
.
css
"
)
;
body
{
background
-
image
:
linear
-
gradient
(
-
45deg
#
9b2e2e
#
9b2e2e
33
%
#
a83232
33
%
#
a83232
66
%
#
9b2e2e
66
%
#
9b2e2e
)
;
background
-
color
:
#
b14646
;
color
:
white
;
}
.
title
{
background
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
blocked
.
svg
"
)
;
}
.
title
-
text
{
color
:
white
;
}
.
button
-
container
button
:
not
(
.
primary
)
{
background
-
color
:
transparent
;
color
:
white
;
border
:
1px
solid
#
9b2e2e
;
margin
-
inline
-
end
:
0
;
}
.
button
-
container
button
:
not
(
.
primary
)
:
hover
{
background
-
color
:
#
a83232
;
}
.
button
-
container
button
:
not
(
.
primary
)
:
active
{
background
-
color
:
#
9b2e2e
;
}
.
button
-
container
button
{
margin
-
top
:
1
.
2em
;
}
#
ignoreWarningButton
{
-
moz
-
appearance
:
none
;
background
:
transparent
;
border
:
none
;
color
:
white
;
text
-
decoration
:
underline
;
margin
:
4px
0
0
0
;
padding
:
0
;
font
-
size
:
smaller
;
min
-
width
:
0
;
}
#
ignoreWarningButton
:
hover
{
cursor
:
pointer
;
}
#
ignoreWarning
{
margin
-
top
:
1
.
2em
;
text
-
align
:
end
;
}
#
advisory_provider
{
color
:
white
;
text
-
decoration
:
underline
;
}
