%
include
downloads
/
indicator
.
inc
.
css
%
include
addons
/
extension
-
controlled
.
inc
.
css
%
filter
substitution
%
define
navbarTabsShadowSize
1px
%
define
themeTransition
background
-
color
0
.
1s
cubic
-
bezier
(
.
17
.
67
.
83
.
67
)
%
define
lwtPopupBrighttextLinkColor
#
45a1ff
:
root
{
-
-
space
-
above
-
tabbar
:
0px
;
}
:
root
[
extradragspace
]
[
tabsintitlebar
]
:
not
(
[
inFullscreen
]
)
{
-
-
space
-
above
-
tabbar
:
8px
;
}
:
root
[
sessionrestored
]
:
-
moz
-
lwtheme
{
transition
:
themeTransition
;
}
:
root
[
lwt
-
popup
-
brighttext
]
panel
.
text
-
link
{
color
:
lwtPopupBrighttextLinkColor
;
}
#
navigator
-
toolbox
:
:
after
{
content
:
"
"
;
display
:
-
moz
-
box
;
border
-
bottom
:
1px
solid
var
(
-
-
toolbox
-
border
-
bottom
-
color
)
;
}
:
root
[
customizing
]
#
navigator
-
toolbox
:
:
after
{
border
-
bottom
-
style
:
none
;
}
:
root
[
sessionrestored
]
#
nav
-
bar
:
-
moz
-
lwtheme
{
transition
:
themeTransition
;
}
#
navigator
-
toolbox
>
toolbar
:
not
(
#
toolbar
-
menubar
)
:
not
(
#
TabsToolbar
)
:
not
(
#
nav
-
bar
)
{
overflow
:
-
moz
-
hidden
-
unscrollable
;
max
-
height
:
4em
;
padding
:
0
6px
2px
;
}
:
root
[
sessionrestored
]
#
navigator
-
toolbox
>
toolbar
:
not
(
#
toolbar
-
menubar
)
:
not
(
#
TabsToolbar
)
:
not
(
#
nav
-
bar
)
{
transition
:
min
-
height
170ms
ease
-
out
max
-
height
170ms
ease
-
out
themeTransition
;
}
#
navigator
-
toolbox
>
toolbar
:
not
(
#
toolbar
-
menubar
)
:
not
(
#
TabsToolbar
)
:
not
(
#
nav
-
bar
)
[
collapsed
=
true
]
{
min
-
height
:
0
.
1px
;
max
-
height
:
0
;
}
:
root
[
sessionrestored
]
#
navigator
-
toolbox
>
toolbar
:
not
(
#
toolbar
-
menubar
)
:
not
(
#
TabsToolbar
)
:
not
(
#
nav
-
bar
)
[
collapsed
=
true
]
{
transition
:
min
-
height
170ms
ease
-
out
max
-
height
170ms
ease
-
out
visibility
170ms
linear
;
}
#
navigator
-
toolbox
>
toolbar
[
customizing
]
:
not
(
#
toolbar
-
menubar
)
:
not
(
#
TabsToolbar
)
:
not
(
#
nav
-
bar
)
{
outline
:
1px
dashed
;
outline
-
offset
:
-
3px
;
-
moz
-
outline
-
radius
:
2px
;
}
#
navigator
-
toolbox
>
toolbar
[
customizing
]
:
not
(
#
toolbar
-
menubar
)
:
not
(
#
TabsToolbar
)
:
not
(
#
nav
-
bar
)
:
empty
{
min
-
height
:
22px
;
}
#
navigator
-
toolbox
{
position
:
relative
;
}
#
library
-
animatable
-
box
{
display
:
none
;
}
#
library
-
animatable
-
box
[
animate
]
{
display
:
-
moz
-
box
;
}
.
unified
-
nav
-
back
.
unified
-
nav
-
forward
{
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
}
.
unified
-
nav
-
back
[
_moz
-
menuactive
]
:
-
moz
-
locale
-
dir
(
ltr
)
.
unified
-
nav
-
forward
[
_moz
-
menuactive
]
:
-
moz
-
locale
-
dir
(
rtl
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
back
.
svg
"
)
!
important
;
}
.
unified
-
nav
-
forward
[
_moz
-
menuactive
]
:
-
moz
-
locale
-
dir
(
ltr
)
.
unified
-
nav
-
back
[
_moz
-
menuactive
]
:
-
moz
-
locale
-
dir
(
rtl
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
forward
.
svg
"
)
!
important
;
}
.
accessibility
-
indicator
.
private
-
browsing
-
indicator
{
background
-
repeat
:
no
-
repeat
;
background
-
size
:
100
%
auto
;
background
-
position
:
center
;
width
:
24px
;
height
:
24px
;
margin
-
left
:
7px
;
margin
-
right
:
7px
;
position
:
relative
;
z
-
index
:
1
;
}
.
accessibility
-
indicator
{
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
accessibility
.
svg
"
)
;
-
moz
-
user
-
focus
:
normal
;
-
moz
-
appearance
:
none
;
margin
-
top
:
unset
;
margin
-
bottom
:
unset
;
min
-
width
:
unset
;
color
:
unset
;
text
-
shadow
:
unset
;
}
.
accessibility
-
indicator
:
-
moz
-
any
(
:
hover
:
active
:
focus
:
-
moz
-
focusring
)
{
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
accessibility
-
active
.
svg
"
)
;
outline
:
0
;
}
.
private
-
browsing
-
indicator
{
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
private
-
browsing
.
svg
"
)
;
}
:
root
:
not
(
[
accessibilitymode
]
)
.
accessibility
-
indicator
:
root
:
not
(
[
privatebrowsingmode
=
temporary
]
)
.
private
-
browsing
-
indicator
{
display
:
none
;
}
#
DateTimePickerPanel
[
active
=
"
true
"
]
{
-
-
arrowpanel
-
background
:
var
(
-
-
default
-
arrowpanel
-
background
)
;
-
-
arrowpanel
-
color
:
var
(
-
-
default
-
arrowpanel
-
color
)
;
-
-
arrowpanel
-
border
-
color
:
var
(
-
-
default
-
arrowpanel
-
border
-
color
)
;
}
#
widget
-
overflow
.
webextension
-
popup
-
browser
{
background
:
#
fff
;
}
