%
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
%
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
%
file
You
can
obtain
one
at
http
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
:
root
{
-
-
tab
-
toolbar
-
navbar
-
overlap
:
0px
;
-
-
navbar
-
tab
-
toolbar
-
highlight
-
overlap
:
0px
;
%
ifndef
MOZ_PHOTON_THEME
-
-
space
-
above
-
tabbar
:
0px
;
%
endif
-
-
toolbarbutton
-
text
-
shadow
:
none
;
-
-
backbutton
-
urlbar
-
overlap
:
0px
;
-
-
forwardbutton
-
width
:
29px
;
}
:
root
:
-
moz
-
lwtheme
-
brighttext
{
%
ifndef
MOZ_PHOTON_THEME
-
-
chrome
-
background
-
color
:
#
272b35
;
-
-
chrome
-
color
:
#
F5F7FA
;
-
-
chrome
-
secondary
-
background
-
color
:
#
393F4C
;
-
-
chrome
-
navigator
-
toolbox
-
separator
-
color
:
rgba
(
0
0
0
.
2
)
;
-
-
chrome
-
nav
-
bar
-
separator
-
color
:
rgba
(
0
0
0
.
2
)
;
-
-
chrome
-
nav
-
buttons
-
background
:
#
252C33
;
-
-
chrome
-
nav
-
buttons
-
hover
-
background
:
#
1B2127
;
-
-
chrome
-
nav
-
bar
-
controls
-
border
-
color
:
#
1D2328
;
-
-
chrome
-
selection
-
color
:
#
fff
;
-
-
chrome
-
selection
-
background
-
color
:
#
5675B9
;
-
-
tab
-
background
-
color
:
#
272b35
;
-
-
tab
-
hover
-
background
-
color
:
#
07090a
;
-
-
tab
-
selection
-
color
:
#
f5f7fa
;
-
-
tab
-
selection
-
background
-
color
:
#
5675B9
;
-
-
tab
-
selection
-
box
-
shadow
:
none
;
-
-
pinned
-
tab
-
glow
:
radial
-
gradient
(
22px
at
center
calc
(
100
%
-
2px
)
rgba
(
76
158
217
0
.
9
)
13
%
rgba
(
0
0
0
0
.
4
)
16
%
transparent
70
%
)
;
%
else
-
-
chrome
-
background
-
color
:
hsl
(
240
5
%
5
%
)
;
-
-
chrome
-
color
:
#
F5F7FA
;
-
-
chrome
-
secondary
-
background
-
color
:
hsl
(
240
1
%
20
%
)
;
-
-
chrome
-
navigator
-
toolbox
-
separator
-
color
:
hsla
(
240
5
%
5
%
.
1
)
;
-
-
chrome
-
nav
-
bar
-
separator
-
color
:
rgba
(
0
0
0
.
2
)
;
-
-
chrome
-
nav
-
buttons
-
background
:
hsla
(
240
5
%
5
%
.
1
)
;
-
-
chrome
-
nav
-
buttons
-
hover
-
background
:
hsla
(
240
5
%
5
%
.
15
)
;
-
-
chrome
-
nav
-
bar
-
controls
-
border
-
color
:
hsla
(
240
5
%
5
%
.
3
)
;
-
-
chrome
-
selection
-
color
:
#
fff
;
-
-
chrome
-
selection
-
background
-
color
:
#
5675B9
;
-
-
tab
-
hover
-
background
-
color
:
hsla
(
240
9
%
98
%
.
1
)
;
-
-
tab
-
selection
-
color
:
#
f5f7fa
;
-
-
tab
-
selection
-
background
-
color
:
hsl
(
240
1
%
20
%
)
;
-
-
tab
-
selection
-
box
-
shadow
:
none
;
-
-
toolbarbutton
-
icon
-
fill
-
inverted
:
rgba
(
249
249
250
.
7
)
;
%
endif
%
ifndef
MOZ_PHOTON_THEME
-
-
url
-
and
-
searchbar
-
background
-
color
:
#
171B1F
;
%
else
-
-
url
-
and
-
searchbar
-
background
-
color
:
hsla
(
0
0
%
100
%
.
1
)
;
%
endif
-
-
urlbar
-
separator
-
color
:
#
5F6670
;
-
-
urlbar
-
dropmarker
-
url
:
url
(
"
chrome
:
/
/
browser
/
skin
/
compacttheme
/
urlbar
-
history
-
dropmarker
.
svg
"
)
;
-
-
urlbar
-
dropmarker
-
region
:
rect
(
0px
11px
14px
0px
)
;
-
-
urlbar
-
dropmarker
-
hover
-
region
:
rect
(
0
22px
14px
11px
)
;
-
-
urlbar
-
dropmarker
-
active
-
region
:
rect
(
0px
33px
14px
22px
)
;
-
-
urlbar
-
dropmarker
-
2x
-
url
:
url
(
"
chrome
:
/
/
browser
/
skin
/
compacttheme
/
urlbar
-
history
-
dropmarker
.
svg
"
)
;
-
-
urlbar
-
dropmarker
-
2x
-
region
:
rect
(
0px
11px
14px
0px
)
;
-
-
urlbar
-
dropmarker
-
hover
-
2x
-
region
:
rect
(
0
22px
14px
11px
)
;
-
-
urlbar
-
dropmarker
-
active
-
2x
-
region
:
rect
(
0px
33px
14px
22px
)
;
}
%
ifndef
MOZ_PHOTON_THEME
:
root
:
-
moz
-
lwtheme
-
brighttext
toolbar
:
-
moz
-
lwtheme
-
brighttext
{
-
-
toolbarbutton
-
hover
-
background
:
rgba
(
25
33
38
.
6
)
linear
-
gradient
(
rgba
(
25
33
38
.
6
)
rgba
(
25
33
38
.
6
)
)
padding
-
box
;
-
-
toolbarbutton
-
hover
-
boxshadow
:
none
;
-
-
toolbarbutton
-
hover
-
bordercolor
:
rgba
(
25
33
38
.
6
)
;
-
-
toolbarbutton
-
active
-
background
:
rgba
(
25
33
38
1
)
linear
-
gradient
(
rgba
(
25
33
38
1
)
rgba
(
25
33
38
1
)
)
border
-
box
;
-
-
toolbarbutton
-
active
-
boxshadow
:
none
;
-
-
toolbarbutton
-
active
-
bordercolor
:
rgba
(
25
33
38
.
8
)
;
-
-
toolbarbutton
-
checkedhover
-
backgroundcolor
:
#
3C5283
;
}
%
endif
:
root
:
-
moz
-
lwtheme
-
darktext
{
-
-
url
-
and
-
searchbar
-
background
-
color
:
#
fff
;
-
-
chrome
-
background
-
color
:
#
E3E4E6
;
-
-
chrome
-
color
:
#
18191a
;
-
-
chrome
-
secondary
-
background
-
color
:
#
f5f6f7
;
-
-
chrome
-
navigator
-
toolbox
-
separator
-
color
:
#
cccccc
;
-
-
chrome
-
nav
-
bar
-
separator
-
color
:
#
B6B6B8
;
-
-
chrome
-
nav
-
buttons
-
background
:
#
ffffff
;
-
-
chrome
-
nav
-
buttons
-
hover
-
background
:
#
DADBDB
;
-
-
chrome
-
nav
-
bar
-
controls
-
border
-
color
:
#
ccc
;
-
-
chrome
-
selection
-
color
:
#
f5f7fa
;
-
-
chrome
-
selection
-
background
-
color
:
#
4c9ed9
;
-
-
tab
-
background
-
color
:
#
E3E4E6
;
-
-
tab
-
hover
-
background
-
color
:
#
D7D8DA
;
-
-
tab
-
selection
-
color
:
#
f5f7fa
;
-
-
tab
-
selection
-
background
-
color
:
#
4c9ed9
;
-
-
tab
-
selection
-
box
-
shadow
:
none
;
%
ifndef
MOZ_PHOTON_THEME
-
-
pinned
-
tab
-
glow
:
radial
-
gradient
(
22px
at
center
calc
(
100
%
-
2px
)
rgba
(
76
158
217
0
.
9
)
13
%
transparent
16
%
)
;
%
endif
}
%
ifndef
MOZ_PHOTON_THEME
:
root
:
-
moz
-
lwtheme
-
darktext
toolbar
:
-
moz
-
lwtheme
-
darktext
{
-
-
toolbarbutton
-
hover
-
background
:
#
eaeaea
;
-
-
toolbarbutton
-
hover
-
boxshadow
:
none
;
-
-
toolbarbutton
-
hover
-
bordercolor
:
rgba
(
0
0
0
0
.
1
)
;
-
-
toolbarbutton
-
active
-
background
:
#
d7d7d8
border
-
box
;
-
-
toolbarbutton
-
active
-
boxshadow
:
none
;
-
-
toolbarbutton
-
active
-
bordercolor
:
rgba
(
0
0
0
0
.
15
)
;
-
-
toolbarbutton
-
checkedhover
-
backgroundcolor
:
#
d7d7d8
;
}
#
main
-
window
[
tabsintitlebar
]
[
customizing
]
{
-
-
space
-
above
-
tabbar
:
9px
;
}
%
endif
.
tab
-
background
-
middle
{
border
-
left
-
width
:
0
;
border
-
right
-
width
:
0
;
margin
:
0
;
}
.
tab
-
background
.
tabs
-
newtab
-
button
{
margin
-
inline
-
end
:
0
;
margin
-
inline
-
start
:
0
;
}
.
tabbrowser
-
arrowscrollbox
>
.
arrowscrollbox
-
scrollbox
{
padding
-
inline
-
end
:
0
;
padding
-
inline
-
start
:
0
;
}
.
tab
-
background
-
start
[
selected
=
true
]
:
:
after
.
tab
-
background
-
start
[
selected
=
true
]
:
:
before
.
tab
-
background
-
start
.
tab
-
background
-
end
.
tab
-
background
-
end
[
selected
=
true
]
:
:
after
.
tab
-
background
-
end
[
selected
=
true
]
:
:
before
{
width
:
0
;
}
.
tab
-
background
-
start
[
selected
=
true
]
:
:
after
.
tab
-
background
-
end
[
selected
=
true
]
:
:
after
{
margin
-
inline
-
start
:
0
;
}
#
urlbar
:
:
-
moz
-
selection
#
navigator
-
toolbox
.
searchbar
-
textbox
:
:
-
moz
-
selection
.
browserContainer
>
findbar
:
:
-
moz
-
selection
{
background
-
color
:
var
(
-
-
chrome
-
selection
-
background
-
color
)
;
color
:
var
(
-
-
chrome
-
selection
-
color
)
;
}
#
tabbrowser
-
tabs
#
TabsToolbar
#
browser
-
panel
{
background
:
var
(
-
-
chrome
-
background
-
color
)
;
color
:
var
(
-
-
chrome
-
color
)
;
}
#
navigator
-
toolbox
:
-
moz
-
lwtheme
:
:
after
{
border
-
bottom
-
color
:
var
(
-
-
chrome
-
navigator
-
toolbox
-
separator
-
color
)
;
}
#
navigator
-
toolbox
>
toolbar
:
not
(
#
TabsToolbar
)
:
not
(
#
toolbar
-
menubar
)
.
browserContainer
>
findbar
#
browser
-
bottombox
{
background
-
color
:
var
(
-
-
chrome
-
secondary
-
background
-
color
)
!
important
;
background
-
image
:
none
!
important
;
color
:
var
(
-
-
chrome
-
color
)
;
}
.
browserContainer
>
findbar
.
findbar
-
find
-
status
.
browserContainer
>
findbar
.
found
-
matches
{
color
:
inherit
;
}
#
navigator
-
toolbox
.
toolbarbutton
-
1
.
browserContainer
>
findbar
.
findbar
-
button
#
PlacesToolbar
toolbarbutton
.
bookmark
-
item
{
color
:
var
(
-
-
chrome
-
color
)
;
text
-
shadow
:
var
(
-
-
toolbarbutton
-
text
-
shadow
)
;
}
#
TabsToolbar
{
text
-
shadow
:
none
!
important
;
}
%
ifndef
MOZ_PHOTON_THEME
#
back
-
button
>
.
toolbarbutton
-
icon
#
forward
-
button
>
.
toolbarbutton
-
icon
{
background
:
var
(
-
-
chrome
-
nav
-
buttons
-
background
)
!
important
;
border
-
radius
:
0
!
important
;
padding
:
var
(
-
-
toolbarbutton
-
inner
-
padding
)
5px
!
important
;
margin
:
0
!
important
;
border
:
1px
solid
var
(
-
-
chrome
-
nav
-
bar
-
controls
-
border
-
color
)
!
important
;
box
-
shadow
:
none
!
important
;
height
:
auto
!
important
;
}
#
back
-
button
[
open
=
"
true
"
]
>
.
toolbarbutton
-
icon
{
box
-
shadow
:
none
!
important
;
}
#
forward
-
button
>
.
toolbarbutton
-
icon
{
border
-
inline
-
start
:
none
!
important
;
}
#
main
-
window
:
not
(
[
customizing
]
)
#
back
-
button
[
disabled
]
>
.
toolbarbutton
-
icon
{
box
-
shadow
:
none
!
important
;
}
#
main
-
window
#
back
-
button
:
hover
:
not
(
[
disabled
=
"
true
"
]
)
>
.
toolbarbutton
-
icon
#
main
-
window
#
forward
-
button
:
hover
:
not
(
[
disabled
=
"
true
"
]
)
>
.
toolbarbutton
-
icon
{
background
:
var
(
-
-
chrome
-
nav
-
buttons
-
hover
-
background
)
!
important
;
box
-
shadow
:
none
!
important
;
}
#
back
-
button
>
.
toolbarbutton
-
icon
{
border
-
radius
:
2px
0
0
2px
!
important
;
}
#
nav
-
bar
.
toolbarbutton
-
1
:
not
(
[
type
=
menu
-
button
]
)
#
nav
-
bar
.
toolbarbutton
-
1
>
.
toolbarbutton
-
menubutton
-
button
#
nav
-
bar
.
toolbarbutton
-
1
>
.
toolbarbutton
-
menubutton
-
dropmarker
{
padding
-
top
:
2px
;
padding
-
bottom
:
2px
;
}
%
endif
#
urlbar
#
navigator
-
toolbox
.
searchbar
-
textbox
{
background
-
color
:
var
(
-
-
url
-
and
-
searchbar
-
background
-
color
)
!
important
;
background
-
image
:
none
!
important
;
color
:
inherit
!
important
;
border
:
1px
solid
var
(
-
-
chrome
-
nav
-
bar
-
controls
-
border
-
color
)
!
important
;
box
-
shadow
:
none
!
important
;
}
#
identity
-
icon
:
-
moz
-
lwtheme
-
brighttext
#
tracking
-
protection
-
icon
:
-
moz
-
lwtheme
-
brighttext
#
connection
-
icon
:
-
moz
-
lwtheme
-
brighttext
.
notification
-
anchor
-
icon
:
-
moz
-
lwtheme
-
brighttext
#
blocked
-
permissions
-
container
>
.
blocked
-
permission
-
icon
:
-
moz
-
lwtheme
-
brighttext
#
extension
-
icon
:
-
moz
-
lwtheme
-
brighttext
{
fill
:
rgba
(
255
255
255
.
7
)
;
}
%
ifndef
MOZ_PHOTON_THEME
#
urlbar
{
border
-
inline
-
start
:
none
!
important
;
opacity
:
1
!
important
;
}
window
:
not
(
[
chromehidden
~
=
"
toolbar
"
]
)
#
urlbar
-
wrapper
{
overflow
:
-
moz
-
hidden
-
unscrollable
;
clip
-
path
:
none
;
margin
-
inline
-
start
:
0
;
}
window
:
not
(
[
chromehidden
~
=
"
toolbar
"
]
)
#
urlbar
-
wrapper
:
-
moz
-
locale
-
dir
(
rtl
)
window
:
not
(
[
chromehidden
~
=
"
toolbar
"
]
)
#
urlbar
-
wrapper
>
#
urlbar
:
-
moz
-
locale
-
dir
(
rtl
)
{
transform
:
none
;
margin
-
inline
-
start
:
0
;
}
%
endif
#
urlbar
-
zoom
-
button
:
-
moz
-
lwtheme
-
brighttext
:
hover
{
background
-
color
:
rgba
(
255
255
255
.
2
)
;
}
#
urlbar
-
zoom
-
button
:
-
moz
-
lwtheme
-
brighttext
:
hover
:
active
{
background
-
color
:
rgba
(
255
255
255
.
3
)
;
}
#
nav
-
bar
{
margin
-
top
:
0
!
important
;
border
-
top
:
none
!
important
;
border
-
bottom
:
none
!
important
;
border
-
radius
:
0
!
important
;
box
-
shadow
:
0
-
1px
var
(
-
-
chrome
-
nav
-
bar
-
separator
-
color
)
!
important
;
}
#
nav
-
bar
{
padding
-
top
:
0
;
padding
-
bottom
:
0
;
}
#
back
-
button
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
back
.
svg
"
)
;
}
.
tab
-
background
{
visibility
:
hidden
;
}
.
tabbrowser
-
tab
:
:
after
.
tabbrowser
-
tab
:
:
before
{
background
:
currentColor
;
opacity
:
0
.
2
!
important
;
}
.
tabbrowser
-
arrowscrollbox
>
.
scrollbutton
-
down
.
tabbrowser
-
arrowscrollbox
>
.
scrollbutton
-
up
{
background
-
color
:
var
(
-
-
tab
-
background
-
color
)
;
border
-
color
:
transparent
;
}
.
tabbrowser
-
tab
{
pointer
-
events
:
auto
;
}
.
tabbrowser
-
tab
:
-
moz
-
any
(
[
image
]
[
pinned
]
)
>
.
tab
-
stack
>
.
tab
-
content
[
attention
]
:
not
(
[
selected
=
"
true
"
]
)
.
tabbrowser
-
tab
>
.
tab
-
stack
>
.
tab
-
content
[
pinned
]
[
titlechanged
]
:
not
(
[
selected
=
"
true
"
]
)
{
%
ifdef
MOZ_PHOTON_THEME
background
-
position
:
center
bottom
-
4px
;
%
else
background
-
image
:
var
(
-
-
pinned
-
tab
-
glow
)
;
background
-
position
:
center
;
background
-
size
:
100
%
;
%
endif
}
.
tabbrowser
-
tab
[
image
]
>
.
tab
-
stack
>
.
tab
-
content
[
attention
]
:
not
(
[
pinned
]
)
:
not
(
[
selected
=
"
true
"
]
)
{
background
-
position
:
left
bottom
var
(
-
-
tab
-
toolbar
-
navbar
-
overlap
)
;
background
-
size
:
34px
100
%
;
}
.
tabbrowser
-
arrowscrollbox
>
.
scrollbutton
-
down
:
not
(
[
disabled
]
)
:
hover
.
tabbrowser
-
arrowscrollbox
>
.
scrollbutton
-
up
:
not
(
[
disabled
]
)
:
hover
.
tabbrowser
-
tab
:
hover
{
background
-
color
:
var
(
-
-
tab
-
hover
-
background
-
color
)
;
}
.
tabbrowser
-
tab
[
visuallyselected
]
{
color
:
var
(
-
-
tab
-
selection
-
color
)
!
important
;
background
-
color
:
var
(
-
-
tab
-
selection
-
background
-
color
)
;
}
.
tab
-
throbber
[
selected
]
[
progress
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
compacttheme
/
loading
-
inverted
.
png
"
)
;
}
media
(
min
-
resolution
:
1
.
1dppx
)
{
.
tab
-
throbber
[
selected
]
[
progress
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
compacttheme
/
loading
-
inverted
2x
.
png
"
)
;
}
}
.
tab
-
icon
-
sound
[
soundplaying
]
.
tab
-
icon
-
sound
[
muted
]
{
filter
:
none
!
important
;
}
.
tabs
-
newtab
-
button
{
width
:
36px
;
}
.
tabs
-
newtab
-
button
:
hover
{
background
-
color
:
var
(
-
-
tab
-
hover
-
background
-
color
)
!
important
;
background
-
image
:
none
;
}
