%
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
%
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
%
file
You
can
obtain
one
at
http
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
:
root
{
-
-
tab
-
toolbar
-
navbar
-
overlap
:
0px
;
-
-
navbar
-
tab
-
toolbar
-
highlight
-
overlap
:
0px
;
-
-
space
-
above
-
tabbar
:
0px
;
-
-
toolbarbutton
-
text
-
shadow
:
none
;
-
-
backbutton
-
urlbar
-
overlap
:
0px
;
}
:
root
[
devtoolstheme
=
"
dark
"
]
{
-
-
chrome
-
background
-
color
:
#
1C2126
;
-
-
chrome
-
color
:
#
F5F7FA
;
-
-
chrome
-
secondary
-
background
-
color
:
#
39424D
;
-
-
chrome
-
navigator
-
toolbox
-
separator
-
color
:
rgba
(
0
0
0
.
2
)
;
-
-
chrome
-
nav
-
bar
-
separator
-
color
:
rgba
(
0
0
0
.
2
)
;
-
-
chrome
-
nav
-
buttons
-
background
:
#
252C33
;
-
-
chrome
-
nav
-
buttons
-
hover
-
background
:
#
1B2127
;
-
-
chrome
-
nav
-
bar
-
controls
-
border
-
color
:
#
1D2328
;
-
-
chrome
-
selection
-
color
:
#
fff
;
-
-
chrome
-
selection
-
background
-
color
:
#
074D75
;
-
-
tabs
-
toolbar
-
color
:
#
F5F7FA
;
-
-
tab
-
background
-
color
:
#
1C2126
;
-
-
tab
-
hover
-
background
-
color
:
#
07090a
;
-
-
tab
-
selection
-
color
:
#
f5f7fa
;
-
-
tab
-
selection
-
background
-
color
:
#
1a4666
;
-
-
tab
-
selection
-
box
-
shadow
:
0
2px
0
#
D7F1FF
inset
0
-
2px
0
rgba
(
0
0
0
.
05
)
inset
0
-
1px
0
rgba
(
0
0
0
.
3
)
inset
;
-
-
pinned
-
tab
-
glow
:
radial
-
gradient
(
22px
at
center
calc
(
100
%
-
2px
)
rgba
(
76
158
217
0
.
9
)
13
%
rgba
(
0
0
0
0
.
4
)
16
%
transparent
70
%
)
;
-
-
toolbarbutton
-
hover
-
background
:
rgba
(
25
33
38
.
6
)
linear
-
gradient
(
rgba
(
25
33
38
.
6
)
rgba
(
25
33
38
.
6
)
)
padding
-
box
;
-
-
toolbarbutton
-
hover
-
boxshadow
:
none
;
-
-
toolbarbutton
-
hover
-
bordercolor
:
rgba
(
25
33
38
.
6
)
;
-
-
toolbarbutton
-
active
-
background
:
rgba
(
25
33
38
1
)
linear
-
gradient
(
rgba
(
25
33
38
1
)
rgba
(
25
33
38
1
)
)
border
-
box
;
-
-
toolbarbutton
-
active
-
boxshadow
:
none
;
-
-
toolbarbutton
-
active
-
bordercolor
:
rgba
(
25
33
38
.
8
)
;
-
-
toolbarbutton
-
checkedhover
-
backgroundcolor
:
#
1D4F73
;
-
-
url
-
and
-
searchbar
-
background
-
color
:
#
171B1F
;
-
-
urlbar
-
separator
-
color
:
#
5F6670
;
-
-
urlbar
-
dropmarker
-
url
:
url
(
"
chrome
:
/
/
browser
/
skin
/
devedition
/
urlbar
-
history
-
dropmarker
.
svg
"
)
;
-
-
urlbar
-
dropmarker
-
region
:
rect
(
0px
11px
14px
0px
)
;
-
-
urlbar
-
dropmarker
-
hover
-
region
:
rect
(
0
22px
14px
11px
)
;
-
-
urlbar
-
dropmarker
-
active
-
region
:
rect
(
0px
33px
14px
22px
)
;
-
-
urlbar
-
dropmarker
-
2x
-
url
:
url
(
"
chrome
:
/
/
browser
/
skin
/
devedition
/
urlbar
-
history
-
dropmarker
.
svg
"
)
;
-
-
urlbar
-
dropmarker
-
2x
-
region
:
rect
(
0px
11px
14px
0px
)
;
-
-
urlbar
-
dropmarker
-
hover
-
2x
-
region
:
rect
(
0
22px
14px
11px
)
;
-
-
urlbar
-
dropmarker
-
active
-
2x
-
region
:
rect
(
0px
33px
14px
22px
)
;
}
:
root
[
devtoolstheme
=
"
dark
"
]
#
identity
-
box
{
-
-
identity
-
box
-
chrome
-
color
:
#
46afe3
;
-
-
identity
-
box
-
verified
-
background
-
color
:
transparent
;
-
-
identity
-
box
-
hover
-
background
-
color
:
rgba
(
231
230
230
.
2
)
;
-
-
identity
-
box
-
selected
-
background
-
color
:
rgba
(
211
210
210
.
2
)
;
}
:
root
[
devtoolstheme
=
"
light
"
]
{
-
-
url
-
and
-
searchbar
-
background
-
color
:
#
fff
;
-
-
chrome
-
background
-
color
:
#
E3E4E6
;
-
-
chrome
-
color
:
#
18191a
;
-
-
chrome
-
secondary
-
background
-
color
:
#
f5f6f7
;
-
-
chrome
-
navigator
-
toolbox
-
separator
-
color
:
#
cccccc
;
-
-
chrome
-
nav
-
bar
-
separator
-
color
:
#
B6B6B8
;
-
-
chrome
-
nav
-
buttons
-
background
:
#
ffffff
;
-
-
chrome
-
nav
-
buttons
-
hover
-
background
:
#
DADBDB
;
-
-
chrome
-
nav
-
bar
-
controls
-
border
-
color
:
#
ccc
;
-
-
chrome
-
selection
-
color
:
#
f5f7fa
;
-
-
chrome
-
selection
-
background
-
color
:
#
4c9ed9
;
-
-
tab
-
background
-
color
:
#
E3E4E6
;
-
-
tab
-
hover
-
background
-
color
:
#
D7D8DA
;
-
-
tab
-
selection
-
color
:
#
f5f7fa
;
-
-
tab
-
selection
-
background
-
color
:
#
4c9ed9
;
-
-
tab
-
selection
-
box
-
shadow
:
none
;
-
-
pinned
-
tab
-
glow
:
radial
-
gradient
(
22px
at
center
calc
(
100
%
-
2px
)
rgba
(
76
158
217
0
.
9
)
13
%
transparent
16
%
)
;
-
-
toolbarbutton
-
hover
-
background
:
#
eaeaea
;
-
-
toolbarbutton
-
hover
-
boxshadow
:
none
;
-
-
toolbarbutton
-
hover
-
bordercolor
:
rgba
(
0
0
0
0
.
1
)
;
-
-
toolbarbutton
-
active
-
background
:
#
d7d7d8
border
-
box
;
-
-
toolbarbutton
-
active
-
boxshadow
:
none
;
-
-
toolbarbutton
-
active
-
bordercolor
:
rgba
(
0
0
0
0
.
15
)
;
-
-
toolbarbutton
-
checkedhover
-
backgroundcolor
:
#
d7d7d8
;
}
#
main
-
window
[
tabsintitlebar
]
[
customizing
]
{
-
-
space
-
above
-
tabbar
:
9px
;
}
.
tab
-
background
-
middle
{
border
-
left
-
width
:
0
;
border
-
right
-
width
:
0
;
margin
:
0
;
}
.
tab
-
background
.
tabs
-
newtab
-
button
{
-
moz
-
margin
-
end
:
0
;
-
moz
-
margin
-
start
:
0
;
}
.
tabbrowser
-
arrowscrollbox
>
.
arrowscrollbox
-
scrollbox
{
-
moz
-
padding
-
end
:
0
;
-
moz
-
padding
-
start
:
0
;
}
.
tab
-
background
-
start
[
visuallyselected
=
true
]
:
:
after
.
tab
-
background
-
start
[
visuallyselected
=
true
]
:
:
before
.
tab
-
background
-
start
.
tab
-
background
-
end
.
tab
-
background
-
end
[
visuallyselected
=
true
]
:
:
after
.
tab
-
background
-
end
[
visuallyselected
=
true
]
:
:
before
{
width
:
0
;
}
.
tab
-
background
-
start
[
visuallyselected
=
true
]
:
:
after
.
tab
-
background
-
end
[
visuallyselected
=
true
]
:
:
after
{
-
moz
-
margin
-
start
:
0
;
}
#
urlbar
:
:
-
moz
-
selection
#
navigator
-
toolbox
.
searchbar
-
textbox
:
:
-
moz
-
selection
.
browserContainer
>
findbar
:
:
-
moz
-
selection
{
background
-
color
:
var
(
-
-
chrome
-
selection
-
background
-
color
)
;
color
:
var
(
-
-
chrome
-
selection
-
color
)
;
}
#
tabbrowser
-
tabs
#
TabsToolbar
#
browser
-
panel
{
background
:
var
(
-
-
chrome
-
background
-
color
)
;
color
:
var
(
-
-
chrome
-
color
)
;
}
#
navigator
-
toolbox
:
:
after
{
background
:
var
(
-
-
chrome
-
navigator
-
toolbox
-
separator
-
color
)
;
}
#
navigator
-
toolbox
>
toolbar
:
not
(
#
TabsToolbar
)
:
not
(
#
toolbar
-
menubar
)
.
browserContainer
>
findbar
#
browser
-
bottombox
{
background
-
color
:
var
(
-
-
chrome
-
secondary
-
background
-
color
)
!
important
;
background
-
image
:
none
!
important
;
color
:
var
(
-
-
chrome
-
color
)
;
}
.
browserContainer
>
findbar
.
findbar
-
find
-
status
.
browserContainer
>
findbar
.
found
-
matches
{
color
:
inherit
;
}
#
navigator
-
toolbox
.
toolbarbutton
-
1
.
browserContainer
>
findbar
.
findbar
-
button
#
PlacesToolbar
toolbarbutton
.
bookmark
-
item
{
color
:
var
(
-
-
chrome
-
color
)
;
text
-
shadow
:
var
(
-
-
toolbarbutton
-
text
-
shadow
)
;
}
toolbar
[
brighttext
]
#
downloads
-
indicator
-
counter
{
text
-
shadow
:
var
(
-
-
toolbarbutton
-
text
-
shadow
)
;
color
:
var
(
-
-
chrome
-
color
)
;
}
#
TabsToolbar
{
text
-
shadow
:
none
!
important
;
color
:
var
(
-
-
chrome
-
color
)
!
important
;
}
#
urlbar
#
navigator
-
toolbox
.
searchbar
-
textbox
{
background
-
color
:
var
(
-
-
url
-
and
-
searchbar
-
background
-
color
)
!
important
;
background
-
image
:
none
!
important
;
color
:
inherit
!
important
;
border
:
1px
solid
var
(
-
-
chrome
-
nav
-
bar
-
controls
-
border
-
color
)
!
important
;
box
-
shadow
:
none
!
important
;
}
#
urlbar
{
-
moz
-
border
-
start
:
none
!
important
;
opacity
:
1
!
important
;
}
window
:
not
(
[
chromehidden
~
=
"
toolbar
"
]
)
#
urlbar
-
wrapper
{
overflow
:
-
moz
-
hidden
-
unscrollable
;
clip
-
path
:
none
;
-
moz
-
margin
-
start
:
0
;
}
:
root
[
devtoolstheme
=
"
dark
"
]
#
notification
-
popup
-
box
{
border
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
devedition
/
urlbar
-
arrow
.
png
"
)
0
8
0
0
fill
;
}
media
(
min
-
resolution
:
1
.
1dppx
)
{
:
root
[
devtoolstheme
=
"
dark
"
]
#
notification
-
popup
-
box
{
border
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
devedition
/
urlbar
-
arrow
2x
.
png
"
)
0
16
0
0
fill
;
}
}
#
notification
-
popup
-
box
{
border
-
radius
:
0
;
background
-
color
:
var
(
-
-
url
-
and
-
searchbar
-
background
-
color
)
;
}
#
nav
-
bar
{
margin
-
top
:
0
!
important
;
border
-
top
:
none
!
important
;
border
-
bottom
:
none
!
important
;
border
-
radius
:
0
!
important
;
box
-
shadow
:
0
-
1px
var
(
-
-
chrome
-
nav
-
bar
-
separator
-
color
)
!
important
;
}
#
nav
-
bar
-
customization
-
target
#
nav
-
bar
{
padding
-
top
:
0
;
padding
-
bottom
:
0
;
}
#
back
-
button
{
-
moz
-
image
-
region
:
rect
(
0
54px
18px
36px
)
;
}
.
tab
-
background
{
visibility
:
hidden
;
}
.
tabbrowser
-
tab
:
:
after
.
tabbrowser
-
tab
:
:
before
{
background
:
currentColor
;
opacity
:
0
.
2
!
important
;
}
.
tabbrowser
-
arrowscrollbox
>
.
scrollbutton
-
down
.
tabbrowser
-
arrowscrollbox
>
.
scrollbutton
-
up
{
background
-
color
:
var
(
-
-
tab
-
background
-
color
)
;
border
-
color
:
transparent
;
}
.
tabbrowser
-
tab
{
pointer
-
events
:
auto
;
}
.
tabbrowser
-
tab
:
-
moz
-
any
(
[
image
]
[
pinned
]
)
>
.
tab
-
stack
>
.
tab
-
content
[
attention
]
:
not
(
[
visuallyselected
=
"
true
"
]
)
.
tabbrowser
-
tab
>
.
tab
-
stack
>
.
tab
-
content
[
pinned
]
[
titlechanged
]
:
not
(
[
visuallyselected
=
"
true
"
]
)
{
background
-
image
:
var
(
-
-
pinned
-
tab
-
glow
)
;
background
-
position
:
center
;
background
-
size
:
100
%
;
}
.
tabbrowser
-
tab
[
image
]
>
.
tab
-
stack
>
.
tab
-
content
[
attention
]
:
not
(
[
pinned
]
)
:
not
(
[
visuallyselected
=
"
true
"
]
)
{
background
-
position
:
left
bottom
var
(
-
-
tab
-
toolbar
-
navbar
-
overlap
)
;
background
-
size
:
34px
100
%
;
}
.
tabbrowser
-
arrowscrollbox
>
.
scrollbutton
-
down
:
not
(
[
disabled
]
)
:
hover
.
tabbrowser
-
arrowscrollbox
>
.
scrollbutton
-
up
:
not
(
[
disabled
]
)
:
hover
.
tabbrowser
-
tab
:
hover
{
background
-
color
:
var
(
-
-
tab
-
hover
-
background
-
color
)
;
}
.
tabbrowser
-
tab
[
visuallyselected
]
{
color
:
var
(
-
-
tab
-
selection
-
color
)
!
important
;
background
-
color
:
var
(
-
-
tab
-
selection
-
background
-
color
)
;
box
-
shadow
:
var
(
-
-
tab
-
selection
-
box
-
shadow
)
;
}
.
tabs
-
newtab
-
button
{
width
:
36px
;
}
.
tabs
-
newtab
-
button
:
hover
{
background
-
color
:
var
(
-
-
tab
-
hover
-
background
-
color
)
!
important
;
background
-
image
:
none
;
}
