import
url
(
"
chrome
:
/
/
global
/
skin
/
in
-
content
/
info
-
pages
.
css
"
)
;
body
{
background
-
size
:
64px
32px
;
background
-
repeat
:
repeat
-
x
;
padding
:
75px
0
;
}
.
button
-
container
{
display
:
flex
;
flex
-
flow
:
row
wrap
;
}
.
button
-
spacer
{
flex
:
1
;
}
media
only
screen
and
(
max
-
width
:
959px
)
{
body
{
padding
:
75px
48px
;
}
.
title
{
background
-
image
:
none
!
important
;
padding
-
inline
-
start
:
0
;
margin
-
inline
-
start
:
0
;
}
.
title
-
text
{
padding
-
top
:
0
;
}
}
media
only
screen
and
(
max
-
width
:
640px
)
{
body
{
justify
-
content
:
unset
;
padding
:
75px
20px
0
;
}
.
title
-
text
{
padding
-
bottom
:
0
;
border
-
bottom
:
none
;
}
}
media
only
screen
and
(
max
-
width
:
480px
)
{
.
button
-
container
button
{
display
:
block
;
width
:
100
%
;
margin
:
0
.
66em
0
0
;
}
}
media
only
screen
and
(
max
-
height
:
480px
)
{
body
{
background
-
position
:
10px
-
10px
;
padding
-
top
:
38px
;
padding
-
bottom
:
38px
;
}
}
