import
url
(
"
chrome
:
/
/
global
/
skin
/
in
-
content
/
info
-
pages
.
css
"
)
;
:
root
{
font
-
size
:
1
.
14em
;
line
-
height
:
1
.
6
;
}
#
offlineSupportContainer
{
width
:
700px
;
padding
-
block
:
40px
60px
;
}
#
offlineSupportContainer
h1
{
font
-
size
:
2rem
;
font
-
weight
:
lighter
;
margin
-
block
:
60px
30px
;
}
#
offlineSupportContainer
h2
{
font
-
weight
:
700
;
line
-
height
:
1
.
2rem
;
margin
-
top
:
30px
;
}
#
toc
.
tocnumber
{
display
:
none
;
}
