body
{
align
-
items
:
center
;
}
.
title
{
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
icon
-
search
-
64
.
svg
"
)
;
}
#
defaultEngine
{
padding
-
inline
-
start
:
26px
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
5px
center
;
background
-
size
:
16px
16px
;
}
#
defaultEngine
:
-
moz
-
dir
(
rtl
)
{
background
-
position
:
calc
(
100
%
-
5px
)
center
;
}
