namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
namespace
html
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
html
|
canvas
#
screen
{
border
-
style
:
solid
;
border
-
width
:
12px
11px
;
border
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
monitor
-
border
.
png
"
)
12
11
stretch
;
}
#
monitor
-
base
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
monitor
-
base
.
png
"
)
;
}
