%
if
0
%
endif
#
treecolAutoCompleteImage
{
max
-
width
:
36px
;
}
#
PopupAutoCompleteRichResult
.
autocomplete
-
richlistbox
{
padding
:
4px
3px
;
}
#
PopupAutoCompleteRichResult
.
autocomplete
-
richlistitem
{
min
-
height
:
30px
;
font
:
message
-
box
;
border
-
radius
:
2px
;
padding
-
inline
-
start
:
var
(
-
-
item
-
padding
-
start
)
;
border
-
inline
-
end
:
var
(
-
-
item
-
padding
-
end
)
solid
transparent
;
}
:
root
[
uidensity
=
touch
]
#
PopupAutoCompleteRichResult
.
autocomplete
-
richlistitem
{
min
-
height
:
40px
;
}
