%
if
0
%
endif
:
root
{
-
-
urlbar
-
popup
-
background
:
-
moz
-
field
;
-
-
urlbar
-
popup
-
color
:
-
moz
-
fieldtext
;
-
-
urlbar
-
popup
-
highlight
-
background
:
Highlight
;
-
-
urlbar
-
popup
-
highlight
-
color
:
HighlightText
;
}
#
treecolAutoCompleteImage
{
max
-
width
:
36px
;
}
#
PopupAutoCompleteRichResult
{
background
:
var
(
-
-
urlbar
-
popup
-
background
)
;
color
:
var
(
-
-
urlbar
-
popup
-
color
)
;
}
#
PopupAutoCompleteRichResult
.
autocomplete
-
richlistbox
{
padding
:
4px
3px
;
background
:
transparent
;
color
:
inherit
;
}
#
PopupAutoCompleteRichResult
.
autocomplete
-
richlistitem
{
min
-
height
:
30px
;
font
:
message
-
box
;
border
-
radius
:
2px
;
padding
-
inline
-
start
:
var
(
-
-
item
-
padding
-
start
)
;
border
-
inline
-
end
:
var
(
-
-
item
-
padding
-
end
)
solid
transparent
;
}
#
PopupAutoCompleteRichResult
.
autocomplete
-
richlistitem
[
selected
]
{
background
:
var
(
-
-
urlbar
-
popup
-
highlight
-
background
)
;
color
:
var
(
-
-
urlbar
-
popup
-
highlight
-
color
)
;
}
:
root
[
uidensity
=
touch
]
#
PopupAutoCompleteRichResult
.
autocomplete
-
richlistitem
{
min
-
height
:
40px
;
}
#
PopupAutoCompleteRichResult
.
search
-
panel
-
input
-
value
{
color
:
var
(
-
-
urlbar
-
popup
-
color
)
;
}
