import
url
(
"
chrome
:
/
/
global
/
skin
/
alerts
/
alert
-
common
.
css
"
)
;
namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
.
alertBox
{
border
:
1px
solid
threedshadow
;
background
-
color
:
-
moz
-
Dialog
;
}
.
alertCloseButton
{
-
moz
-
appearance
:
none
;
height
:
16px
;
padding
:
4px
2px
;
width
:
16px
;
}
