.
netInfoBody
.
netInfoParamName
{
padding
:
0
10px
0
0
;
font
-
weight
:
bold
;
vertical
-
align
:
top
;
text
-
align
:
right
;
white
-
space
:
nowrap
;
}
.
netInfoBody
.
netInfoParamValue
{
width
:
100
%
;
word
-
wrap
:
break
-
word
;
}
.
netInfoBody
.
netInfoParamValue
>
code
{
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
}
