<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
style
>
code
{
display
:
block
;
hyphens
:
auto
;
border
:
1px
solid
black
;
}
<
/
style
>
<
/
head
>
<
body
lang
=
"
en
-
us
"
>
<
code
style
=
"
width
:
4ch
;
"
>
fragilistic
&
shy
;
expiali
<
/
code
>
<
br
/
>
<
code
style
=
"
width
:
5ch
;
"
>
fragilistic
&
shy
;
expiali
<
/
code
>
<
br
/
>
<
code
style
=
"
width
:
9ch
;
"
>
fragilistic
&
shy
;
expiali
<
/
code
>
<
br
/
>
<
code
style
=
"
width
:
12ch
;
"
>
fragilistic
&
shy
;
expiali
<
/
code
>
<
br
/
>
<
code
style
=
"
width
:
14ch
;
"
>
fragilistic
&
shy
;
expiali
<
/
code
>
<
br
/
>
<
code
style
=
"
width
:
16ch
;
"
>
fragilistic
&
shy
;
expiali
<
/
code
>
<
/
body
>
<
/
html
>
