%
include
.
.
/
.
.
/
shared
/
customizableui
/
panelUI
.
inc
.
css
#
BMB_bookmarksPopup
menupopup
[
placespopup
=
true
]
{
-
moz
-
appearance
:
none
;
background
:
transparent
;
border
:
none
;
padding
:
0
;
padding
-
top
:
4px
;
padding
-
inline
-
start
:
3px
;
}
#
BMB_bookmarksPopup
menupopup
[
placespopup
=
true
]
>
hbox
{
box
-
shadow
:
0
0
4px
rgba
(
0
0
0
0
.
2
)
;
background
:
var
(
-
-
arrowpanel
-
background
)
;
color
:
var
(
-
-
arrowpanel
-
color
)
;
border
:
1px
solid
var
(
-
-
arrowpanel
-
border
-
color
)
;
margin
-
top
:
-
4px
;
}
media
(
-
moz
-
os
-
version
:
windows
-
win7
)
{
#
BMB_bookmarksPopup
menupopup
[
placespopup
=
true
]
>
hbox
{
border
-
radius
:
3
.
5px
;
}
}
#
BMB_bookmarksPopup
menupopup
[
placespopup
=
true
]
>
hbox
>
.
popup
-
internal
-
box
>
.
arrowscrollbox
-
scrollbox
{
padding
-
top
:
4px
;
}
#
BMB_bookmarksPopup
menuseparator
{
padding
-
top
:
0
;
padding
-
bottom
:
0
;
}
menuitem
.
subviewbutton
[
disabled
]
:
not
(
.
menuitem
-
iconic
)
{
min
-
height
:
22px
;
}
#
toolbar
-
menubar
#
BMB_bookmarksPopup
{
margin
-
top
:
-
6px
;
}
