namespace
html
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
;
#
aboutDialog
{
width
:
620px
;
line
-
height
:
1
.
5
;
}
#
rightBox
{
background
-
image
:
url
(
"
chrome
:
/
/
branding
/
content
/
about
-
wordmark
.
svg
"
)
;
background
-
repeat
:
no
-
repeat
;
background
-
size
:
288px
auto
;
padding
-
top
:
38px
;
margin
-
top
:
20px
;
}
#
rightBox
:
-
moz
-
locale
-
dir
(
rtl
)
{
background
-
position
:
100
%
0
;
}
#
bottomBox
{
padding
:
15px
10px
0
;
}
#
release
{
font
-
weight
:
bold
;
font
-
size
:
125
%
;
margin
-
top
:
10px
;
margin
-
inline
-
start
:
0
;
}
#
version
{
font
-
weight
:
bold
;
margin
-
top
:
10px
;
margin
-
inline
-
start
:
0
;
-
moz
-
user
-
select
:
text
;
-
moz
-
user
-
focus
:
normal
;
cursor
:
text
;
}
#
releasenotes
{
margin
-
top
:
10px
;
}
#
distribution
#
distributionId
{
display
:
none
;
margin
-
block
:
0
;
}
.
text
-
blurb
{
margin
-
bottom
:
10px
;
margin
-
inline
-
start
:
0
;
padding
-
inline
-
start
:
0
;
}
#
updateButton
#
updateDeck
>
hbox
>
label
{
margin
-
inline
-
start
:
0
;
padding
-
inline
-
start
:
0
;
}
.
update
-
throbber
{
width
:
16px
;
min
-
height
:
16px
;
margin
-
inline
-
end
:
3px
;
}
html
|
img
.
update
-
throbber
{
vertical
-
align
:
middle
;
}
image
.
update
-
throbber
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
loading
.
png
"
)
;
}
media
(
min
-
resolution
:
1
.
1dppx
)
{
.
update
-
throbber
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
loading
2x
.
png
"
)
;
}
}
description
>
.
text
-
link
description
>
.
text
-
link
:
focus
{
margin
:
0
;
padding
:
0
;
}
.
bottom
-
link
.
bottom
-
link
:
focus
{
text
-
align
:
center
;
margin
:
0
40px
;
}
#
currentChannel
{
margin
:
0
;
padding
:
0
;
font
-
weight
:
bold
;
}
