html
:
not
(
.
crashDumpSubmitted
)
#
reportSent
html
:
not
(
.
crashDumpAvailable
)
#
reportBox
.
container
[
multiple
=
"
true
"
]
>
.
offers
>
#
offerHelpMessageSingle
.
container
[
multiple
=
"
false
"
]
>
.
offers
>
#
offerHelpMessageMultiple
.
container
[
multiple
=
"
false
"
]
>
.
button
-
container
>
#
restoreAll
{
display
:
none
;
}
