import
url
(
"
chrome
:
/
/
global
/
skin
/
"
)
;
import
url
(
"
chrome
:
/
/
browser
/
content
/
browser
.
css
"
)
;
import
url
(
"
chrome
:
/
/
browser
/
content
/
tabbrowser
.
css
"
)
;
import
url
(
"
chrome
:
/
/
browser
/
content
/
downloads
/
downloads
.
css
"
)
;
import
url
(
"
chrome
:
/
/
browser
/
content
/
places
/
places
.
css
"
)
;
import
url
(
"
chrome
:
/
/
browser
/
content
/
usercontext
/
usercontext
.
css
"
)
;
import
url
(
"
chrome
:
/
/
browser
/
skin
/
"
)
;
import
url
(
"
chrome
:
/
/
browser
/
skin
/
controlcenter
/
panel
.
css
"
)
;
import
url
(
"
chrome
:
/
/
browser
/
skin
/
customizableui
/
panelUI
.
css
"
)
;
import
url
(
"
chrome
:
/
/
browser
/
skin
/
downloads
/
downloads
.
css
"
)
;
import
url
(
"
chrome
:
/
/
browser
/
skin
/
searchbar
.
css
"
)
;
import
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
places
.
css
"
)
;
import
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
editBookmark
.
css
"
)
;
