#
sanitizeEverythingWarning
#
sanitizeEverythingUndoWarning
{
white
-
space
:
pre
-
wrap
;
}
#
sanitizeDurationSuffixLabel
[
value
=
"
"
]
{
display
:
none
;
}
#
sanitizeEverythingWarningBox
{
background
-
color
:
var
(
-
-
in
-
content
-
box
-
background
Window
)
;
border
:
1px
solid
var
(
-
-
in
-
content
-
box
-
border
-
color
ThreeDDarkShadow
)
;
border
-
radius
:
5px
;
padding
:
16px
;
}
#
sanitizeEverythingWarningIcon
{
padding
:
0
;
margin
:
0
;
}
#
sanitizeEverythingWarningDescBox
{
padding
:
0
16px
;
margin
:
0
;
}
