.
tabbrowser
-
tabbox
{
-
moz
-
binding
:
url
(
"
chrome
:
/
/
browser
/
content
/
tabbrowser
.
xml
#
tabbrowser
-
tabbox
"
)
;
}
.
tabbrowser
-
tabpanels
{
-
moz
-
binding
:
url
(
"
chrome
:
/
/
browser
/
content
/
tabbrowser
.
xml
#
tabbrowser
-
tabpanels
"
)
;
}
.
tabbrowser
-
arrowscrollbox
{
-
moz
-
binding
:
url
(
"
chrome
:
/
/
browser
/
content
/
tabbrowser
.
xml
#
tabbrowser
-
arrowscrollbox
"
)
;
}
.
tab
-
close
-
button
{
-
moz
-
binding
:
url
(
"
chrome
:
/
/
browser
/
content
/
tabbrowser
.
xml
#
tabbrowser
-
close
-
tab
-
button
"
)
;
}
.
tab
-
close
-
button
[
pinned
]
.
tabbrowser
-
tabs
[
closebuttons
=
"
activetab
"
]
>
*
>
*
>
*
>
.
tab
-
close
-
button
:
not
(
[
visuallyselected
=
"
true
"
]
)
.
tab
-
icon
-
image
:
not
(
[
src
]
)
:
not
(
[
pinned
]
)
:
not
(
[
crashed
]
)
[
selected
]
.
tab
-
icon
-
image
:
not
(
[
src
]
)
:
not
(
[
pinned
]
)
:
not
(
[
crashed
]
)
:
not
(
[
sharing
]
)
.
tab
-
icon
-
image
[
busy
]
.
tab
-
throbber
:
not
(
[
busy
]
)
.
tab
-
icon
-
sound
:
not
(
[
soundplaying
]
)
:
not
(
[
muted
]
)
.
tab
-
icon
-
sound
[
pinned
]
.
tab
-
sharing
-
icon
-
overlay
.
tab
-
icon
-
overlay
{
display
:
none
;
}
.
tab
-
sharing
-
icon
-
overlay
[
sharing
]
:
not
(
[
selected
]
)
.
tab
-
icon
-
overlay
[
soundplaying
]
[
pinned
]
.
tab
-
icon
-
overlay
[
muted
]
[
pinned
]
.
tab
-
icon
-
overlay
[
crashed
]
{
display
:
-
moz
-
box
;
}
.
tab
-
label
[
pinned
]
{
width
:
0
;
margin
-
left
:
0
!
important
;
margin
-
right
:
0
!
important
;
padding
-
left
:
0
!
important
;
padding
-
right
:
0
!
important
;
}
.
tab
-
stack
{
vertical
-
align
:
top
;
}
tabpanels
{
background
-
color
:
transparent
;
}
.
tab
-
drop
-
indicator
{
position
:
relative
;
z
-
index
:
2
;
}
media
(
resolution
:
2dppx
)
{
.
tab
-
icon
-
image
{
image
-
rendering
:
-
moz
-
crisp
-
edges
;
}
}
.
closing
-
tabs
-
spacer
{
pointer
-
events
:
none
;
}
.
tabbrowser
-
tabs
:
not
(
:
hover
)
>
.
tabbrowser
-
arrowscrollbox
>
.
closing
-
tabs
-
spacer
{
transition
:
width
.
15s
ease
-
out
;
}
browser
[
pending
]
{
display
:
none
;
}
browser
[
pendingpaint
]
{
opacity
:
0
;
}
tabbrowser
[
pendingpaint
]
{
background
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
tabbrowser
/
pendingpaint
.
png
)
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
center
center
;
background
-
color
:
#
f9f9f9
!
important
;
background
-
size
:
30px
;
}
