.
secondary
-
panes
{
overflow
-
x
:
hidden
;
overflow
-
y
:
auto
;
display
:
flex
;
flex
-
direction
:
column
;
flex
:
1
;
white
-
space
:
nowrap
;
background
-
color
:
var
(
-
-
theme
-
sidebar
-
background
)
;
-
-
breakpoint
-
expression
-
right
-
clear
-
space
:
36px
;
}
.
secondary
-
panes
-
wrapper
{
height
:
100
%
;
width
:
100
%
;
display
:
flex
;
flex
-
direction
:
column
;
}
.
secondary
-
panes
.
accordion
{
flex
:
1
0
auto
;
margin
-
bottom
:
0
;
}
.
secondary
-
panes
-
wrapper
.
accordion
li
:
last
-
child
.
_content
{
border
-
bottom
:
0
;
}
.
pane
{
color
:
var
(
-
-
theme
-
body
-
color
)
;
}
.
pane
.
pane
-
info
{
font
-
style
:
italic
;
text
-
align
:
center
;
padding
:
0
.
5em
;
-
moz
-
user
-
select
:
none
;
user
-
select
:
none
;
cursor
:
default
;
}
.
secondary
-
panes
.
breakpoints
-
buttons
{
display
:
flex
;
}
.
dropdown
{
width
:
20em
;
overflow
:
auto
;
}
.
secondary
-
panes
input
[
type
=
"
checkbox
"
]
{
margin
:
0
;
margin
-
inline
-
end
:
4px
;
}
.
secondary
-
panes
-
wrapper
.
command
-
bar
.
bottom
{
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
}
