.
recording
{
margin
:
15px
0
;
padding
:
10px
;
border
-
radius
:
5px
;
}
.
recording
:
hover
{
cursor
:
pointer
;
background
:
#
404043
;
}
.
container
.
is
-
recording
#
start
-
recording
{
display
:
none
;
}
#
save
-
recording
{
display
:
none
;
}
.
container
.
is
-
recording
#
save
-
recording
{
display
:
block
;
}
