namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
namespace
html
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
media
(
resolution
:
2dppx
)
{
.
ac
-
site
-
icon
{
image
-
rendering
:
-
moz
-
crisp
-
edges
;
}
}
.
autocomplete
-
richlistbox
>
richlistitem
{
-
moz
-
box
-
orient
:
horizontal
;
overflow
:
hidden
;
}
.
ac
-
title
-
text
.
ac
-
tags
-
text
.
ac
-
url
-
text
.
ac
-
action
-
text
{
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
white
-
space
:
nowrap
;
}
