.
throbber
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
loading
.
png
"
)
;
width
:
16px
;
height
:
16px
;
margin
-
top
:
5px
;
margin
-
bottom
:
5px
;
margin
-
inline
-
start
:
5px
;
margin
-
inline
-
end
:
2px
;
}
media
(
min
-
resolution
:
1
.
1dppx
)
{
.
throbber
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
loading
2x
.
png
"
)
;
}
}
.
alertBox
{
background
-
color
:
InfoBackground
;
color
:
InfoText
;
border
:
1px
outset
InfoBackground
;
margin
-
left
:
3px
;
margin
-
right
:
3px
;
padding
:
5px
;
}
