#
toolbar
-
labels
{
overflow
:
hidden
;
}
#
details
-
pane
.
pane
-
collapsed
{
visibility
:
hidden
;
}
#
details
-
pane
-
toggle
[
disabled
]
{
display
:
none
;
}
#
custom
-
pane
{
overflow
:
auto
;
}
#
response
-
content
-
image
-
box
{
overflow
:
auto
;
}
#
timings
-
summary
-
blocked
{
display
:
none
;
}
#
network
-
statistics
-
charts
{
overflow
:
auto
;
}
.
cropped
-
textbox
.
textbox
-
input
{
text
-
overflow
:
ellipsis
;
}
media
(
max
-
width
:
700px
)
{
#
toolbar
-
spacer
#
details
-
pane
-
toggle
.
requests
-
menu
-
waterfall
#
requests
-
menu
-
network
-
summary
-
button
>
.
toolbarbutton
-
text
{
display
:
none
;
}
}
