html
{
background
:
-
moz
-
Dialog
;
color
:
-
moz
-
DialogText
;
font
:
message
-
box
;
}
body
{
padding
:
0
2em
;
margin
:
0
;
min
-
width
:
45em
;
margin
:
auto
;
}
div
.
ancillary
{
margin
:
0
.
5em
0
;
-
moz
-
user
-
select
:
none
;
}
div
.
section
{
padding
:
2em
;
margin
:
1em
0em
;
border
:
1px
solid
ThreeDShadow
;
border
-
radius
:
10px
;
background
:
-
moz
-
Field
;
color
:
-
moz
-
FieldText
;
}
div
.
opsRow
{
padding
:
0
.
5em
;
margin
-
right
:
0
.
5em
;
margin
-
top
:
0
.
5em
;
border
:
1px
solid
ThreeDShadow
;
border
-
radius
:
10px
;
background
:
-
moz
-
Field
;
color
:
-
moz
-
FieldText
;
display
:
inline
-
block
;
}
div
.
opsRowLabel
{
display
:
block
;
margin
-
bottom
:
0
.
2em
;
font
-
weight
:
bold
;
}
.
opsRowLabel
label
{
margin
-
left
:
1em
;
font
-
weight
:
normal
;
}
div
.
non
-
verbose
pre
.
entries
{
overflow
-
x
:
auto
;
text
-
overflow
:
ellipsis
;
}
h1
{
padding
:
0
;
margin
:
0
;
}
h2
{
padding
-
left
:
.
1em
;
}
.
accuracyWarning
.
badInputWarning
.
invalid
{
color
:
-
moz
-
activehyperlinktext
;
}
.
accuracyWarning
{
}
.
badInputWarning
{
}
.
treeline
{
color
:
-
moz
-
FieldText
;
opacity
:
0
.
5
;
}
.
mrValue
.
mrName
.
mrNote
{
}
.
mrValue
{
font
-
weight
:
bold
;
}
.
mrPerc
{
}
.
mrSep
{
}
.
hasKids
{
cursor
:
pointer
;
}
.
hasKids
:
hover
{
text
-
decoration
:
underline
;
}
.
noselect
{
-
moz
-
user
-
select
:
none
;
}
.
option
{
font
-
size
:
80
%
;
-
moz
-
user
-
select
:
none
;
}
.
legend
{
font
-
size
:
80
%
;
-
moz
-
user
-
select
:
none
;
}
.
debug
{
font
-
size
:
80
%
;
}
.
hidden
{
display
:
none
;
}
button
{
margin
:
1
%
;
padding
:
2
%
;
}
.
hiddenOnMobile
{
display
:
none
;
}
