namespace
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
namespace
xul
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
html
xul
|
scrollbar
{
display
:
block
;
}
