%
filter
substitution
%
define
item
richlistitem
.
download
%
define
itemFocused
item
[
selected
]
#
downloadsRichListBox
{
-
moz
-
appearance
:
none
;
margin
:
0
;
}
#
downloadsRichListBox
>
richlistitem
.
download
{
height
:
var
(
-
-
downloads
-
item
-
height
)
;
}
.
downloadTypeIcon
{
margin
:
8px
13px
;
width
:
32px
;
height
:
32px
;
}
.
downloadBlockedBadge
{
margin
:
0
5px
;
background
:
url
(
"
chrome
:
/
/
browser
/
skin
/
downloads
/
download
-
blocked
.
svg
"
)
top
right
/
16px
no
-
repeat
;
}
.
downloadBlockedBadge
:
-
moz
-
locale
-
dir
(
rtl
)
{
background
-
position
-
x
:
left
;
}
item
[
verdict
=
"
PotentiallyUnwanted
"
]
.
downloadBlockedBadge
{
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
warning
.
svg
"
)
;
}
item
[
verdict
=
"
Uncommon
"
]
.
downloadBlockedBadge
{
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
info
.
svg
"
)
;
}
item
>
toolbarseparator
{
display
:
none
;
}
.
downloadTarget
{
margin
:
0
;
}
.
downloadDetails
{
opacity
:
0
.
7
;
font
-
size
:
95
%
;
margin
:
4px
0
calc
(
1em
/
0
.
95
-
1em
)
;
}
.
downloadDetailsNormal
.
downloadDetailsHover
{
display
:
none
;
}
.
downloadButton
{
-
moz
-
appearance
:
none
;
-
moz
-
box
-
align
:
center
;
background
:
transparent
;
min
-
width
:
0
;
min
-
height
:
0
;
margin
:
0
;
border
:
none
;
color
:
inherit
;
padding
:
0
18px
;
}
.
downloadButton
>
.
button
-
box
{
-
moz
-
appearance
:
none
;
padding
:
2px
!
important
;
border
-
radius
:
50
%
;
}
.
downloadButton
>
.
button
-
box
>
.
button
-
icon
{
width
:
16px
;
height
:
16px
;
margin
:
0
;
filter
:
url
(
"
chrome
:
/
/
global
/
skin
/
filters
.
svg
#
fill
"
)
;
fill
:
currentColor
;
}
.
downloadButton
>
.
button
-
box
>
.
button
-
text
{
display
:
none
;
}
.
downloadButton
:
hover
>
.
button
-
box
{
background
-
color
:
graytext
;
color
:
-
moz
-
field
;
}
.
downloadButton
:
hover
:
active
>
.
button
-
box
{
background
-
color
:
-
moz
-
fieldtext
;
}
itemFocused
>
.
downloadButtonArea
>
.
downloadButton
:
hover
>
.
button
-
box
{
background
-
color
:
HighlightText
;
color
:
Highlight
;
}
itemFocused
>
.
downloadButtonArea
>
.
downloadButton
:
hover
:
active
>
.
button
-
box
{
background
-
color
:
-
moz
-
field
;
color
:
-
moz
-
fieldtext
;
}
.
downloadIconCancel
>
.
button
-
box
>
.
button
-
icon
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
panel
-
icons
.
svg
#
cancel
"
)
;
}
.
downloadIconShow
>
.
button
-
box
>
.
button
-
icon
{
%
ifdef
XP_MACOSX
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
panel
-
icons
.
svg
#
magnifier
"
)
;
%
else
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
panel
-
icons
.
svg
#
folder
"
)
;
%
endif
}
.
downloadIconRetry
>
.
button
-
box
>
.
button
-
icon
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
panel
-
icons
.
svg
#
retry
"
)
;
}
%
include
progressmeter
.
inc
.
css
