:
host
{
display
:
block
;
padding
:
10px
;
border
-
bottom
:
1px
solid
var
(
-
-
in
-
content
-
box
-
border
-
color
)
;
border
-
inline
-
start
:
4px
solid
transparent
;
}
:
host
(
[
hidden
]
)
{
display
:
none
;
}
:
host
(
:
hover
)
{
background
-
color
:
var
(
-
-
in
-
content
-
box
-
background
-
hover
)
;
}
:
host
(
:
hover
:
active
)
{
background
-
color
:
var
(
-
-
in
-
content
-
box
-
background
-
active
)
;
}
:
host
(
.
selected
)
{
border
-
inline
-
start
-
color
:
var
(
-
-
in
-
content
-
border
-
highlight
)
;
background
-
color
:
var
(
-
-
in
-
content
-
box
-
background
-
hover
)
;
}
.
origin
{
font
-
weight
:
bold
;
}
.
origin
.
username
{
display
:
block
;
max
-
width
:
50ch
;
text
-
overflow
:
ellipsis
;
overflow
:
hidden
;
}
