:
host
{
display
:
flex
;
}
.
filter
[
type
=
"
text
"
]
{
-
moz
-
context
-
properties
:
fill
fill
-
opacity
;
fill
:
currentColor
;
fill
-
opacity
:
0
.
4
;
background
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
search
.
svg
"
)
;
background
-
position
:
4px
50
%
;
background
-
repeat
:
no
-
repeat
;
background
-
size
:
16px
;
flex
:
auto
;
margin
:
0
;
padding
:
4px
0
;
padding
-
inline
-
start
:
28px
;
}
.
filter
:
focus
-
within
{
fill
-
opacity
:
0
.
9
;
}
