:
host
{
border
-
inline
-
end
:
1px
solid
var
(
-
-
in
-
content
-
box
-
border
-
color
)
;
background
-
color
:
var
(
-
-
in
-
content
-
box
-
background
)
;
}
.
meta
{
display
:
flex
;
padding
:
10px
;
border
-
bottom
:
1px
solid
var
(
-
-
in
-
content
-
box
-
border
-
color
)
;
background
-
color
:
var
(
-
-
in
-
content
-
box
-
info
-
background
)
;
position
:
sticky
;
top
:
0
;
}
.
count
{
flex
:
auto
;
text
-
align
:
end
;
font
-
size
:
smaller
;
}
ol
{
margin
-
top
:
0
;
margin
-
bottom
:
0
;
padding
-
inline
-
start
:
0
;
}
