.
filter
[
type
=
"
text
"
]
{
-
moz
-
context
-
properties
:
fill
fill
-
opacity
;
fill
:
currentColor
;
fill
-
opacity
:
0
.
4
;
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
search
-
glass
.
svg
"
)
;
background
-
position
:
8px
center
;
background
-
repeat
:
no
-
repeat
;
background
-
size
:
16px
;
text
-
align
:
match
-
parent
;
width
:
100
%
;
margin
:
0
;
box
-
sizing
:
border
-
box
;
padding
-
block
:
6px
;
}
:
host
(
:
dir
(
ltr
)
)
.
filter
{
padding
-
left
:
32px
;
}
:
host
(
:
dir
(
rtl
)
)
.
filter
{
background
-
position
-
x
:
right
8px
;
padding
-
right
:
32px
;
}
.
filter
:
focus
{
fill
-
opacity
:
0
.
8
;
}
