:
host
{
position
:
relative
;
}
.
menu
-
button
{
background
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
more
.
svg
"
)
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
center
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
width
:
30px
;
min
-
width
:
30px
;
margin
-
inline
-
start
:
0
;
margin
-
inline
-
end
:
0
;
}
.
menu
{
position
:
absolute
;
top
:
30px
;
inset
-
inline
-
end
:
0
;
margin
:
0
;
padding
:
5px
0
;
background
-
color
:
var
(
-
-
in
-
content
-
box
-
background
)
;
border
:
1px
solid
var
(
-
-
in
-
content
-
box
-
border
-
color
)
;
border
-
radius
:
5px
;
box
-
shadow
:
var
(
-
-
shadow
-
30
)
;
min
-
width
:
max
-
content
;
list
-
style
-
type
:
none
;
display
:
flex
;
flex
-
direction
:
column
;
z
-
index
:
1
;
}
.
menuitem
-
button
{
padding
:
2px
8px
;
padding
-
inline
-
start
:
32px
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
left
8px
center
;
background
-
size
:
16px
;
-
moz
-
context
-
properties
:
fill
;
fill
:
currentColor
;
margin
:
0
;
border
-
radius
:
0
;
text
-
align
:
start
;
min
-
height
:
initial
;
}
.
menuitem
-
button
:
dir
(
rtl
)
{
background
-
position
:
right
8px
center
;
}
.
menuitem
-
separator
{
border
-
top
-
width
:
2px
;
margin
-
block
:
5px
;
width
:
100
%
;
}
.
menuitem
-
help
{
background
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
help
.
svg
"
)
;
}
.
menuitem
-
import
{
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
save
.
svg
"
)
;
}
.
menuitem
-
preferences
{
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
settings
.
svg
"
)
;
}
.
menuitem
-
mobile
{
background
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
device
-
phone
.
svg
"
)
;
}
