%
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
%
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
%
file
You
can
obtain
one
at
http
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
%
include
.
.
/
shared
/
compacttheme
.
inc
.
css
:
root
{
-
-
chrome
-
nav
-
bar
-
separator
-
color
:
rgba
(
10
31
51
0
.
35
)
;
}
media
(
-
moz
-
windows
-
compositor
:
0
)
{
#
main
-
window
[
tabsintitlebar
]
#
titlebar
:
-
moz
-
lwtheme
{
visibility
:
visible
;
}
}
media
(
-
moz
-
windows
-
compositor
)
{
#
main
-
window
{
background
:
transparent
!
important
;
}
}
#
toolbar
-
menubar
{
text
-
shadow
:
none
!
important
;
}
media
(
-
moz
-
windows
-
glass
)
{
#
TabsToolbar
{
color
:
hsl
(
240
9
%
98
%
)
;
}
.
tabbrowser
-
tab
{
color
:
var
(
-
-
chrome
-
color
)
!
important
;
}
#
toolbar
-
menubar
{
text
-
shadow
:
0
0
.
5em
white
0
0
.
5em
white
0
1px
0
rgba
(
255
255
255
.
4
)
;
}
#
main
-
menubar
:
not
(
:
-
moz
-
window
-
inactive
)
{
background
-
color
:
rgba
(
255
255
255
.
5
)
;
color
:
black
;
border
-
radius
:
4px
;
}
}
media
(
-
moz
-
os
-
version
:
windows
-
win7
)
{
.
tabbrowser
-
tab
:
:
before
{
border
-
image
:
none
!
important
;
}
.
tab
-
background
:
not
(
[
selected
=
true
]
)
{
background
-
color
:
var
(
-
-
chrome
-
background
-
color
)
!
important
;
}
.
tab
-
background
{
border
-
top
:
1px
solid
var
(
-
-
tabs
-
border
)
;
}
}
media
(
-
moz
-
os
-
version
:
windows
-
win7
)
(
-
moz
-
os
-
version
:
windows
-
win8
)
{
#
tabbrowser
-
tabs
#
TabsToolbar
#
browser
-
panel
#
titlebar
-
content
{
background
:
transparent
;
}
media
(
-
moz
-
windows
-
compositor
:
0
)
(
-
moz
-
windows
-
default
-
theme
:
0
)
{
:
root
[
tabsintitlebar
]
:
not
(
[
inFullscreen
]
)
{
-
-
titlebar
-
text
-
color
:
CaptionText
;
}
:
root
[
tabsintitlebar
]
:
not
(
[
inFullscreen
]
)
:
-
moz
-
window
-
inactive
{
-
-
titlebar
-
text
-
color
:
InactiveCaptionText
;
}
#
main
-
window
[
tabsintitlebar
]
#
main
-
menubar
>
menu
{
color
:
inherit
;
}
}
}
#
browser
-
panel
{
background
-
image
:
none
!
important
;
border
-
top
:
none
!
important
;
}
#
navigator
-
toolbox
{
border
-
left
:
none
!
important
;
border
-
right
:
none
!
important
;
}
#
main
-
window
[
tabsintitlebar
]
#
navigator
-
toolbox
>
toolbar
:
not
(
#
toolbar
-
menubar
)
:
not
(
#
TabsToolbar
)
:
-
moz
-
lwtheme
{
-
moz
-
window
-
dragging
:
no
-
drag
;
}
media
(
-
moz
-
os
-
version
:
windows
-
win10
)
{
.
titlebar
-
button
:
-
moz
-
lwtheme
{
-
moz
-
context
-
properties
:
stroke
;
stroke
:
currentColor
;
}
#
titlebar
-
min
:
-
moz
-
lwtheme
{
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
window
-
controls
/
minimize
.
svg
)
;
}
#
titlebar
-
max
:
-
moz
-
lwtheme
{
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
window
-
controls
/
maximize
.
svg
)
;
}
:
root
[
sizemode
=
"
maximized
"
]
#
titlebar
-
max
:
-
moz
-
lwtheme
{
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
window
-
controls
/
restore
.
svg
)
;
}
#
titlebar
-
close
:
-
moz
-
lwtheme
{
list
-
style
-
image
:
url
(
chrome
:
/
/
browser
/
skin
/
window
-
controls
/
close
.
svg
)
;
}
}
