%
This
Source
Code
Form
is
subject
to
the
terms
of
the
Mozilla
Public
%
License
v
.
2
.
0
.
If
a
copy
of
the
MPL
was
not
distributed
with
this
%
file
You
can
obtain
one
at
http
:
/
/
mozilla
.
org
/
MPL
/
2
.
0
/
.
%
include
.
.
/
shared
/
compacttheme
.
inc
.
css
media
(
-
moz
-
windows
-
default
-
theme
)
and
(
-
moz
-
windows
-
accent
-
color
-
in
-
titlebar
)
{
:
root
[
tabsintitlebar
]
:
not
(
:
-
moz
-
window
-
inactive
)
{
background
-
color
:
-
moz
-
win
-
accentcolor
;
color
:
-
moz
-
win
-
accentcolortext
;
}
:
root
[
tabsintitlebar
]
#
titlebar
{
-
-
lwt
-
toolbarbutton
-
icon
-
fill
:
currentColor
;
-
-
toolbarbutton
-
icon
-
fill
-
opacity
:
.
7
;
}
}
media
(
-
moz
-
windows
-
compositor
:
0
)
{
:
root
[
tabsintitlebar
]
:
not
(
[
inDOMFullscreen
]
)
>
#
navigator
-
toolbox
>
#
titlebar
:
-
moz
-
lwtheme
{
visibility
:
visible
;
}
media
(
-
moz
-
windows
-
default
-
theme
)
{
#
main
-
window
{
background
-
color
:
rgb
(
185
209
234
)
!
important
;
}
#
main
-
window
:
-
moz
-
window
-
inactive
{
background
-
color
:
rgb
(
215
228
242
)
!
important
;
}
}
}
media
(
-
moz
-
os
-
version
:
windows
-
win7
)
{
media
(
-
moz
-
windows
-
default
-
theme
)
{
#
TabsToolbar
{
color
:
hsl
(
240
9
%
98
%
)
;
}
.
tabbrowser
-
tab
{
color
:
var
(
-
-
lwt
-
text
-
color
)
!
important
;
}
.
tabbrowser
-
tab
:
hover
>
.
tab
-
stack
>
.
tab
-
background
:
not
(
[
selected
=
true
]
)
:
not
(
[
multiselected
]
)
:
-
moz
-
lwtheme
-
darktext
{
background
-
color
:
rgba
(
0
0
0
.
1
)
!
important
;
}
.
tabbrowser
-
tab
:
hover
>
.
tab
-
stack
>
.
tab
-
background
>
.
tab
-
line
:
not
(
[
selected
=
true
]
)
:
not
(
[
multiselected
]
)
:
-
moz
-
lwtheme
-
darktext
{
background
-
color
:
rgba
(
0
0
0
.
2
)
!
important
;
}
}
}
media
(
-
moz
-
windows
-
glass
)
{
#
TabsToolbar
{
-
-
lwt
-
toolbarbutton
-
icon
-
fill
:
white
;
}
#
toolbar
-
menubar
{
text
-
shadow
:
0
0
.
5em
white
0
0
.
5em
white
0
1px
0
rgba
(
255
255
255
.
4
)
;
}
#
main
-
menubar
:
not
(
:
-
moz
-
window
-
inactive
)
{
background
-
color
:
rgba
(
255
255
255
.
5
)
;
color
:
black
;
border
-
radius
:
4px
;
}
}
media
(
-
moz
-
os
-
version
:
windows
-
win7
)
(
-
moz
-
os
-
version
:
windows
-
win8
)
{
media
(
-
moz
-
windows
-
compositor
)
{
#
main
-
window
{
background
:
transparent
!
important
;
}
#
toolbar
-
menubar
#
TabsToolbar
{
border
-
left
-
style
:
none
!
important
;
border
-
right
-
style
:
none
!
important
;
}
}
.
tabbrowser
-
tab
:
:
before
.
tabbrowser
-
tab
:
:
after
{
border
-
image
:
none
!
important
;
}
.
tabbrowser
-
tab
{
background
-
color
:
var
(
-
-
lwt
-
accent
-
color
)
!
important
;
border
-
top
:
1px
solid
var
(
-
-
tabs
-
border
-
color
)
;
background
-
clip
:
padding
-
box
;
}
.
tab
-
background
{
border
-
top
-
style
:
none
!
important
;
}
.
tabbrowser
-
tab
[
last
-
visible
-
tab
]
{
border
-
inline
-
end
:
1px
solid
var
(
-
-
tabs
-
border
-
color
)
;
}
.
tabbrowser
-
tab
[
last
-
visible
-
tab
]
:
:
after
{
display
:
none
!
important
;
}
media
(
-
moz
-
windows
-
compositor
:
0
)
(
-
moz
-
windows
-
default
-
theme
:
0
)
{
:
root
[
tabsintitlebar
]
:
not
(
[
inFullscreen
]
)
{
color
:
CaptionText
;
}
:
root
[
tabsintitlebar
]
:
not
(
[
inFullscreen
]
)
:
-
moz
-
window
-
inactive
{
color
:
InactiveCaptionText
;
}
#
main
-
window
[
tabsintitlebar
]
#
main
-
menubar
>
menu
{
color
:
inherit
;
}
}
}
#
navigator
-
toolbox
{
background
-
image
:
none
!
important
;
border
-
top
:
none
!
important
;
box
-
shadow
:
none
!
important
;
padding
-
top
:
0
!
important
;
}
