import
"
chrome
:
/
/
global
/
skin
/
"
;
namespace
html
url
(
"
http
:
/
/
www
.
w3
.
org
/
1999
/
xhtml
"
)
;
#
topBar
{
-
moz
-
window
-
dragging
:
drag
;
border
-
bottom
:
1px
solid
ThreeDLightShadow
;
padding
-
inline
-
start
:
10px
;
background
-
color
:
-
moz
-
Field
;
color
:
-
moz
-
FieldText
;
}
#
viewGroup
{
padding
-
inline
-
start
:
10px
;
}
#
viewGroup
>
radio
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
pageInfo
.
png
"
)
;
-
moz
-
appearance
:
none
;
min
-
width
:
4
.
5em
;
margin
:
0
;
padding
:
3px
;
}
#
viewGroup
>
radio
:
hover
{
background
-
color
:
#
E0E8F6
;
color
:
black
;
}
#
viewGroup
>
radio
[
selected
=
"
true
"
]
{
background
-
color
:
#
C1D2EE
;
color
:
black
;
}
#
viewGroup
>
radio
>
.
radio
-
label
-
box
{
margin
:
0
;
padding
:
0
6px
;
}
#
generalTab
{
-
moz
-
image
-
region
:
rect
(
0px
32px
32px
0px
)
}
#
generalTab
:
hover
#
generalTab
[
selected
=
"
true
"
]
{
-
moz
-
image
-
region
:
rect
(
32px
32px
64px
0px
)
}
#
mediaTab
{
-
moz
-
image
-
region
:
rect
(
0px
64px
32px
32px
)
}
#
mediaTab
:
hover
#
mediaTab
[
selected
=
"
true
"
]
{
-
moz
-
image
-
region
:
rect
(
32px
64px
64px
32px
)
}
#
permTab
{
-
moz
-
image
-
region
:
rect
(
0px
128px
32px
96px
)
}
#
permTab
:
hover
#
permTab
[
selected
=
"
true
"
]
{
-
moz
-
image
-
region
:
rect
(
32px
128px
64px
96px
)
}
#
securityTab
{
-
moz
-
image
-
region
:
rect
(
0px
160px
32px
128px
)
}
#
securityTab
:
hover
#
securityTab
[
selected
=
"
true
"
]
{
-
moz
-
image
-
region
:
rect
(
32px
160px
64px
128px
)
}
#
mainDeck
{
padding
:
10px
;
}
tree
{
margin
:
.
5em
;
}
html
|
input
{
background
:
transparent
;
border
:
none
;
padding
:
0
;
}
html
|
input
.
header
{
margin
-
inline
-
start
:
0
;
}
#
imagecontainerbox
{
margin
:
.
5em
;
background
:
white
;
overflow
:
auto
;
border
:
1px
solid
ThreeDLightShadow
;
}
html
|
input
:
disabled
{
font
-
style
:
italic
;
}
#
securityBox
description
{
margin
-
inline
-
start
:
10px
;
}
#
general
-
security
-
identity
{
white
-
space
:
pre
-
wrap
;
line
-
height
:
2em
;
}
#
imagetree
{
min
-
height
:
10em
;
margin
-
bottom
:
0
;
}
#
mediaSplitter
{
border
-
style
:
none
;
background
:
none
;
height
:
.
8em
;
}
#
mediaTable
{
margin
-
bottom
:
2em
;
}
#
mediaLabelColumn
{
min
-
width
:
10em
;
}
#
thepreviewimage
{
margin
:
1em
;
}
treechildren
:
:
-
moz
-
tree
-
cell
-
text
(
broken
)
{
font
-
style
:
italic
;
color
:
graytext
;
}
#
permList
{
margin
:
.
5em
;
overflow
:
auto
;
-
moz
-
appearance
:
listbox
;
color
:
-
moz
-
fieldtext
;
}
.
permission
{
padding
:
6px
7px
;
min
-
height
:
25px
;
border
-
bottom
:
1px
dotted
ThreeDShadow
;
}
.
permissionLabel
{
font
-
weight
:
bold
;
}
.
permission
:
hover
{
background
-
color
:
-
moz
-
dialog
;
color
:
-
moz
-
dialogText
;
}
#
securityPanel
table
{
margin
-
bottom
:
1em
;
}
