#
sanitizeDurationChoice
{
margin
-
inline
-
end
:
0
;
}
#
sanitizeDurationLabel
{
margin
-
inline
-
start
:
3px
;
}
#
sanitizeEverythingWarningIcon
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
warning
-
large
.
png
"
)
;
}
