keyframes
pulse
-
onshow
{
0
%
{
opacity
:
0
;
transform
:
scale
(
1
)
;
}
25
%
{
opacity
:
1
;
transform
:
scale
(
1
.
1
)
;
}
50
%
{
transform
:
scale
(
1
)
;
}
75
%
{
transform
:
scale
(
1
.
1
)
;
}
100
%
{
transform
:
scale
(
1
)
;
}
}
keyframes
pulse
-
twice
{
0
%
{
transform
:
scale
(
1
.
1
)
;
}
50
%
{
transform
:
scale
(
0
.
8
)
;
}
100
%
{
transform
:
scale
(
1
)
;
}
}
.
messageImage
.
heartbeat
{
margin
-
inline
:
8px
;
}
.
messageImage
.
heartbeat
.
pulse
-
onshow
{
animation
-
duration
:
1
.
5s
;
animation
-
iteration
-
count
:
1
;
animation
-
name
:
pulse
-
onshow
;
animation
-
timing
-
function
:
cubic
-
bezier
(
0
.
7
1
.
8
0
.
9
1
.
1
)
;
}
.
messageImage
.
heartbeat
.
pulse
-
twice
{
animation
-
duration
:
1s
;
animation
-
iteration
-
count
:
2
;
animation
-
name
:
pulse
-
twice
;
animation
-
timing
-
function
:
linear
;
}
.
heartbeat
>
hbox
>
.
text
-
link
{
margin
-
inline
-
start
:
0
!
important
;
}
.
heartbeat
>
hbox
>
.
text
-
link
:
hover
{
text
-
decoration
:
none
!
important
;
}
#
star
-
rating
-
container
{
display
:
-
moz
-
box
;
margin
-
bottom
:
4px
;
}
#
star
-
rating
-
container
>
#
star5
{
-
moz
-
box
-
ordinal
-
group
:
5
;
}
#
star
-
rating
-
container
>
#
star4
{
-
moz
-
box
-
ordinal
-
group
:
4
;
}
#
star
-
rating
-
container
>
#
star3
{
-
moz
-
box
-
ordinal
-
group
:
3
;
}
#
star
-
rating
-
container
>
#
star2
{
-
moz
-
box
-
ordinal
-
group
:
2
;
}
#
star
-
rating
-
container
>
.
star
-
x
{
background
:
url
(
"
resource
:
/
/
normandy
/
skin
/
shared
/
heartbeat
-
star
-
off
.
svg
"
)
;
cursor
:
pointer
;
height
:
16px
;
margin
-
inline
-
end
:
4px
!
important
;
width
:
16px
;
}
#
star
-
rating
-
container
>
.
star
-
x
:
hover
#
star
-
rating
-
container
>
.
star
-
x
:
hover
~
.
star
-
x
{
background
:
url
(
"
resource
:
/
/
normandy
/
skin
/
shared
/
heartbeat
-
star
-
lit
.
svg
"
)
;
}
