.
tabs
.
tabs
-
navigation
{
line
-
height
:
15px
;
}
.
tabs
.
tabs
-
navigation
{
height
:
23px
;
}
.
tabs
.
tabs
-
menu
-
item
:
first
-
child
{
border
-
inline
-
start
-
width
:
0
;
}
.
tabs
.
tabs
-
navigation
.
tabs
-
menu
-
item
:
focus
{
outline
:
var
(
-
-
theme
-
focus
-
outline
)
;
outline
-
offset
:
-
2px
;
}
.
tabs
.
tabs
-
menu
-
item
.
is
-
active
{
height
:
23px
;
}
.
theme
-
firebug
.
tabs
.
tabs
-
navigation
{
height
:
24px
;
}
.
tabs
.
tabs
-
menu
-
item
a
{
cursor
:
default
;
}
.
tabs
.
tabs
-
navigation
.
tabs
-
menu
{
overflow
:
hidden
;
display
:
flex
;
}
.
tabs
.
tabs
-
navigation
.
tabs
-
menu
-
item
{
flex
-
grow
:
1
;
}
.
tabs
.
tabs
-
navigation
.
tabs
-
menu
-
item
a
{
text
-
align
:
center
;
}
.
theme
-
firebug
.
tabs
.
tabs
-
navigation
.
tabs
-
menu
-
item
{
flex
-
grow
:
0
;
}
