div
[
hidetabs
=
true
]
.
tabs
.
tabs
-
navigation
{
display
:
none
;
}
.
tabs
.
tabs
-
navigation
{
display
:
flex
;
line
-
height
:
15px
;
height
:
24px
;
}
.
tabs
.
tabs
-
menu
-
item
:
first
-
child
{
border
-
inline
-
start
-
width
:
0
;
}
.
tabs
.
tabs
-
navigation
.
tabs
-
menu
-
item
>
a
:
-
moz
-
focusring
{
outline
:
none
;
}
.
tabs
.
tabs
-
menu
-
item
.
is
-
active
{
height
:
23px
;
}
.
tabs
.
tabs
-
navigation
.
tabs
-
menu
{
overflow
:
hidden
;
display
:
flex
;
}
.
tabs
.
tabs
-
navigation
.
tabs
-
menu
-
item
{
flex
-
grow
:
1
;
}
.
tabs
.
tabs
-
navigation
.
tabs
-
menu
-
item
a
{
text
-
align
:
center
;
}
