.
debug
-
target
-
pane__icon
{
transition
:
transform
150ms
cubic
-
bezier
(
.
07
.
95
0
1
)
;
}
.
debug
-
target
-
pane__icon
-
-
collapsed
{
transform
:
rotate
(
-
90deg
)
;
}
.
debug
-
target
-
pane__title
{
cursor
:
pointer
;
}
