.
debug
-
target
-
item
{
display
:
grid
;
grid
-
template
-
columns
:
54px
auto
max
-
content
;
grid
-
template
-
rows
:
auto
auto
;
grid
-
row
-
gap
:
20px
;
}
.
debug
-
target
-
item__icon
{
height
:
36px
;
width
:
36px
;
}
.
debug
-
target
-
item__info
{
min
-
width
:
0
;
}
.
debug
-
target
-
item__info__name
{
font
-
size
:
20px
;
margin
-
block
-
end
:
2px
;
}
