address
-
option
.
rich
-
option
{
grid
-
row
-
gap
:
5px
;
}
address
-
option
>
.
line
{
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
white
-
space
:
nowrap
;
}
address
-
option
>
.
line
:
empty
{
display
:
none
;
}
address
-
option
>
.
line
>
span
{
white
-
space
:
nowrap
;
}
address
-
option
>
.
line
>
span
:
empty
:
:
before
{
color
:
GrayText
;
content
:
attr
(
data
-
missing
-
string
)
;
}
