basic
-
card
-
option
{
grid
-
column
-
gap
:
1em
;
grid
-
template
-
areas
:
"
cc
-
type
cc
-
number
cc
-
exp
cc
-
name
"
;
grid
-
template
-
columns
:
minmax
(
1em
auto
)
;
justify
-
content
:
start
;
}
basic
-
card
-
option
>
.
cc
-
number
basic
-
card
-
option
>
.
cc
-
name
basic
-
card
-
option
>
.
cc
-
exp
basic
-
card
-
option
>
.
cc
-
type
{
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
white
-
space
:
nowrap
;
}
basic
-
card
-
option
>
.
cc
-
number
{
grid
-
area
:
cc
-
number
;
overflow
:
visible
;
}
basic
-
card
-
option
>
.
cc
-
name
{
grid
-
area
:
cc
-
name
;
}
basic
-
card
-
option
>
.
cc
-
exp
{
grid
-
area
:
cc
-
exp
;
}
basic
-
card
-
option
>
.
cc
-
type
{
grid
-
area
:
cc
-
type
;
height
:
100
%
;
text
-
transform
:
capitalize
;
}
