rich
-
select
{
box
-
sizing
:
border
-
box
;
display
:
block
;
margin
:
10px
0
;
padding
-
inline
-
end
:
24px
;
position
:
relative
;
max
-
width
:
100
%
;
}
rich
-
select
:
focus
-
within
>
select
{
outline
:
1px
dotted
var
(
-
-
in
-
content
-
text
-
color
)
;
}
rich
-
select
>
select
{
color
:
transparent
!
important
;
position
:
absolute
;
top
:
0
;
left
:
0
;
width
:
100
%
;
height
:
100
%
;
margin
:
0
;
}
rich
-
select
>
select
>
option
{
color
:
var
(
-
-
in
-
content
-
text
-
color
)
;
}
.
rich
-
option
{
display
:
grid
;
padding
:
8px
;
}
.
rich
-
select
-
selected
-
option
{
pointer
-
events
:
none
;
position
:
relative
;
}
