shipping
-
option
.
rich
-
option
{
display
:
block
;
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
white
-
space
:
nowrap
;
}
shipping
-
option
>
.
label
shipping
-
option
>
.
amount
{
white
-
space
:
nowrap
;
}
