.
actionsMenu
{
margin
-
block
:
0
;
margin
-
inline
:
-
2px
0
;
}
.
typeIcon
.
actionIcon
{
margin
-
inline
:
3px
;
}
#
handlersView
>
richlistitem
label
{
margin
-
inline
-
start
:
1px
;
margin
-
top
:
2px
;
}
#
handlersView
>
richlistitem
{
min
-
height
:
22px
;
}
richlistitem
[
appHandlerIcon
=
"
handleInternally
"
]
menuitem
[
appHandlerIcon
=
"
handleInternally
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
branding
/
content
/
icon32
.
png
"
)
;
}
richlistitem
[
appHandlerIcon
=
"
ask
"
]
menuitem
[
appHandlerIcon
=
"
ask
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
preferences
/
alwaysAsk
.
png
"
)
;
}
richlistitem
[
appHandlerIcon
=
"
save
"
]
menuitem
[
appHandlerIcon
=
"
save
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
preferences
/
saveFile
.
png
"
)
;
}
richlistitem
[
appHandlerIcon
=
"
plugin
"
]
menuitem
[
appHandlerIcon
=
"
plugin
"
]
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
plugins
/
plugin
.
svg
"
)
;
}
.
actionsMenu
:
:
part
(
icon
)
{
margin
-
inline
-
end
:
9px
;
height
:
16px
;
width
:
16px
;
}
.
actionsMenu
>
menupopup
>
menuitem
>
.
menu
-
iconic
-
left
{
padding
-
inline
:
0
2px
;
}
.
actionsMenu
>
menupopup
>
menuitem
{
padding
-
inline
-
start
:
4px
;
}
#
appList
{
min
-
height
:
212px
;
}
#
appList
>
richlistitem
{
-
moz
-
box
-
align
:
center
;
}
#
appList
>
richlistitem
>
image
{
margin
:
5px
;
width
:
32px
;
height
:
32px
;
}
#
appList
>
richlistitem
>
label
{
margin
:
0px
;
padding
:
5px
;
white
-
space
:
nowrap
;
}
