.
prefwindow
{
padding
:
0px
;
}
.
prefwindow
[
type
=
"
child
"
]
{
padding
-
top
:
8px
;
padding
-
bottom
:
10px
;
padding
-
inline
-
start
:
8px
;
padding
-
inline
-
end
:
10px
;
}
.
prefpane
{
padding
-
top
:
8px
;
padding
-
bottom
:
10px
;
padding
-
inline
-
start
:
8px
;
padding
-
inline
-
end
:
10px
;
}
.
prefwindow
[
type
=
"
child
"
]
>
.
prefpane
{
padding
:
0px
;
}
#
useFirefoxSync
#
getStarted
{
font
-
size
:
90
%
;
}
#
isNotDefaultLabel
{
font
-
weight
:
bold
;
}
#
translationAttributionImage
{
width
:
70px
;
cursor
:
pointer
;
}
.
windowDialog
{
padding
:
0
;
}
.
contentPane
{
margin
:
9px
8px
5px
;
}
.
actionButtons
{
margin
:
0
3px
6px
!
important
;
}
.
bottomBox
{
padding
-
bottom
:
4px
;
}
#
noFxaAccount
{
line
-
height
:
1
.
2em
;
}
#
noFxaAccount
>
label
:
first
-
child
{
margin
-
bottom
:
0
.
6em
;
}
