#
useFirefoxSync
#
getStarted
{
font
-
size
:
90
%
;
}
#
isNotDefaultLabel
{
font
-
weight
:
bold
;
}
#
translationAttributionImage
{
width
:
70px
;
cursor
:
pointer
;
}
.
windowDialog
.
windowDialog
prefpane
{
padding
:
0
;
}
.
contentPane
{
margin
:
9px
8px
5px
;
}
.
actionButtons
{
margin
:
0
3px
6px
!
important
;
}
#
cookiesChildren
:
:
-
moz
-
tree
-
image
(
domainCol
)
{
width
:
16px
;
height
:
16px
;
margin
:
0
2px
;
list
-
style
-
image
:
url
(
"
chrome
:
/
/
mozapps
/
skin
/
places
/
defaultFavicon
.
png
"
)
!
important
;
}
#
cookiesChildren
:
:
-
moz
-
tree
-
image
(
domainCol
container
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
folder
-
item
.
png
"
)
!
important
;
-
moz
-
image
-
region
:
rect
(
0
32px
16px
16px
)
;
}
#
cookiesChildren
:
:
-
moz
-
tree
-
image
(
domainCol
container
open
)
{
-
moz
-
image
-
region
:
rect
(
16px
32px
32px
16px
)
;
}
#
cookieInfoBox
{
border
:
1px
solid
ThreeDShadow
;
border
-
radius
:
0
;
margin
:
4px
;
padding
:
0
;
}
.
bottomBox
{
padding
-
bottom
:
4px
;
}
#
noFxaAccount
{
line
-
height
:
1
.
2em
;
}
#
noFxaAccount
>
label
:
first
-
child
{
margin
-
bottom
:
0
.
6em
;
}
