html
{
background
:
-
moz
-
dialog
;
}
#
total
{
border
:
1px
solid
black
;
margin
:
5px
;
text
-
align
:
center
;
}
#
total
.
label
{
font
-
size
:
15px
;
font
-
weight
:
bold
;
}
#
cancel
{
position
:
absolute
;
bottom
:
10px
;
left
:
10px
;
}
