html
{
background
:
-
moz
-
dialog
;
}
#
debugging
-
console
{
float
:
right
;
}
#
total
{
border
:
1px
solid
black
;
margin
:
5px
;
text
-
align
:
center
;
}
#
total
.
label
{
font
-
size
:
15px
;
font
-
weight
:
bold
;
}
