:
root
{
max
-
width
:
40em
;
}
#
warningSupplemental
{
font
-
weight
:
bold
;
}
.
description
{
font
-
weight
:
bold
;
}
.
longDescription
{
width
:
calc
(
40em
-
18px
)
;
padding
-
bottom
:
1em
;
}
#
warningText
#
warningSupplemental
#
headerDescription
.
longDescription
{
white
-
space
:
pre
-
wrap
;
}
.
description
:
empty
.
longDescription
:
empty
{
display
:
none
;
}
#
locationTextBox
{
-
moz
-
box
-
flex
:
1
;
margin
-
inline
:
6px
5px
;
}
