:
root
[
platform
=
"
linux
"
]
:
root
[
platform
=
"
linux
"
]
button
{
font
-
size
:
11px
;
}
h1
{
font
-
size
:
22px
;
font
-
weight
:
normal
;
}
a
{
margin
:
0
10px
;
}
a
a
:
hover
a
:
visited
{
color
:
var
(
-
-
theme
-
highlight
-
blue
)
!
important
;
cursor
:
pointer
;
}
a
.
disabled
a
.
disabled
:
hover
a
.
disabled
:
visited
{
opacity
:
0
.
5
!
important
;
cursor
:
default
;
}
.
application
{
height
:
100vh
;
padding
:
0
2rem
;
display
:
grid
;
-
moz
-
user
-
select
:
none
;
}
.
application
-
-
empty
{
align
-
items
:
center
;
justify
-
content
:
center
;
}
.
application
:
not
(
.
application
-
-
empty
)
{
grid
-
template
-
rows
:
1fr
auto
;
}
