a
.
disabled
-
link
a
.
disabled
-
link
:
hover
a
.
disabled
-
link
:
visited
{
opacity
:
0
.
5
;
cursor
:
not
-
allowed
;
}
.
application
{
height
:
100vh
;
padding
:
0
2rem
;
display
:
grid
;
-
moz
-
user
-
select
:
none
;
}
.
application
-
-
empty
{
align
-
items
:
center
;
justify
-
content
:
center
;
}
.
application
:
not
(
.
application
-
-
empty
)
{
grid
-
template
-
rows
:
1fr
auto
;
}
