.
worker
-
list
-
empty
{
width
:
700px
;
line
-
height
:
24px
;
left
:
50
%
;
top
:
50
%
;
margin
-
top
:
-
100px
;
margin
-
left
:
-
350px
;
position
:
absolute
;
font
-
size
:
13px
;
}
.
worker
-
list
-
empty__list
{
list
-
style
:
unset
;
padding
:
0
40px
;
}
