.
worker
{
display
:
grid
;
grid
-
template
-
rows
:
auto
auto
auto
;
grid
-
template
-
columns
:
auto
1fr
;
width
:
100
%
;
grid
-
column
-
gap
:
0
;
padding
:
1rem
0
;
line
-
height
:
1
.
5
;
font
-
size
:
var
(
-
-
body
-
10
-
font
-
size
)
;
}
.
worker
:
first
-
child
{
padding
-
top
:
0
;
}
.
worker
:
not
(
:
last
-
child
)
{
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
text
-
color
-
alt
)
;
}
.
worker__header
{
grid
-
column
:
1
/
3
;
display
:
grid
;
grid
-
template
-
columns
:
1fr
auto
;
grid
-
column
-
gap
:
2rem
;
align
-
items
:
center
;
}
.
worker__scope
{
font
-
weight
:
bold
;
text
-
overflow
:
ellipsis
;
overflow
:
hidden
;
white
-
space
:
nowrap
;
}
.
worker__scope
.
worker__source
-
url
{
-
moz
-
user
-
select
:
text
;
}
.
worker__meta
-
name
{
color
:
var
(
-
-
grey
-
50
)
;
padding
-
inline
-
start
:
4
.
5rem
;
}
.
worker__data
{
display
:
grid
;
grid
-
template
-
columns
:
auto
1fr
;
grid
-
column
-
gap
:
1rem
;
}
.
worker__data
>
*
{
margin
:
0
;
}
.
worker__data__updated
{
color
:
var
(
-
-
theme
-
text
-
color
-
alt
)
;
}
.
worker__link
-
start
.
worker__link
-
debug
{
margin
:
0
calc
(
var
(
-
-
base
-
unit
)
*
2
)
;
}
