.
eager
-
evaluation
-
result
{
flex
:
none
;
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
font
-
size
:
var
(
-
-
theme
-
code
-
font
-
size
)
;
line
-
height
:
var
(
-
-
console
-
output
-
line
-
height
)
;
color
:
var
(
-
-
theme
-
text
-
color
-
alt
)
;
}
.
theme
-
light
.
eager
-
evaluation
-
result
{
-
-
log
-
icon
-
color
:
var
(
-
-
grey
-
35
)
;
-
-
object
-
color
:
var
(
-
-
grey
-
50
)
;
-
-
number
-
color
:
var
(
-
-
grey
-
50
)
;
-
-
string
-
color
:
var
(
-
-
grey
-
50
)
;
-
-
node
-
color
:
var
(
-
-
grey
-
50
)
;
-
-
reference
-
color
:
var
(
-
-
grey
-
50
)
;
-
-
location
-
color
:
var
(
-
-
grey
-
43
)
;
-
-
source
-
link
-
color
:
var
(
-
-
grey
-
43
)
;
-
-
null
-
color
:
var
(
-
-
grey
-
43
)
;
}
.
theme
-
dark
.
eager
-
evaluation
-
result
{
-
-
log
-
icon
-
color
:
var
(
-
-
grey
-
55
)
;
-
-
object
-
color
:
var
(
-
-
grey
-
43
)
;
-
-
number
-
color
:
var
(
-
-
grey
-
43
)
;
-
-
string
-
color
:
var
(
-
-
grey
-
43
)
;
-
-
node
-
color
:
var
(
-
-
grey
-
43
)
;
-
-
reference
-
color
:
var
(
-
-
grey
-
43
)
;
-
-
location
-
color
:
var
(
-
-
grey
-
50
)
;
-
-
source
-
link
-
color
:
var
(
-
-
grey
-
50
)
;
-
-
null
-
color
:
var
(
-
-
grey
-
50
)
;
}
.
eager
-
evaluation
-
result__row
{
direction
:
ltr
;
display
:
flex
;
align
-
items
:
center
;
overflow
-
y
:
hidden
;
height
:
var
(
-
-
console
-
row
-
height
)
;
padding
:
0
2px
;
}
.
eager
-
evaluation
-
result__icon
{
flex
:
none
;
width
:
14px
;
height
:
14px
;
margin
:
0
8px
;
background
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
webconsole
/
return
.
svg
)
no
-
repeat
center
;
background
-
size
:
12px
;
-
moz
-
context
-
properties
:
fill
;
fill
:
var
(
-
-
log
-
icon
-
color
)
;
}
.
eager
-
evaluation
-
result__text
{
flex
:
1
1
auto
;
height
:
14px
;
overflow
:
hidden
;
white
-
space
:
pre
;
}
.
eager
-
evaluation
-
result__text
>
*
{
display
:
block
;
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
}
.
eager
-
evaluation
-
result__text
*
{
white
-
space
:
inherit
!
important
;
}
.
eager
-
evaluation
-
result__text
.
objectBox
-
function
.
param
{
color
:
var
(
-
-
null
-
color
)
;
}
.
eager
-
evaluation
-
result__text
.
nodeName
{
color
:
var
(
-
-
object
-
color
)
;
}
.
webconsole
-
app
:
not
(
.
jsterm
-
editor
)
.
eager
-
evaluation
-
result
{
flex
-
grow
:
1
;
background
-
color
:
var
(
-
-
console
-
input
-
background
)
;
min
-
height
:
calc
(
var
(
-
-
console
-
row
-
height
)
+
var
(
-
-
console
-
input
-
extra
-
padding
)
)
;
}
.
webconsole
-
app
.
jsterm
-
editor
.
eager
-
evaluation
-
result
{
border
-
top
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
border
-
inline
-
end
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
font
-
size
:
10px
;
line
-
height
:
14px
;
background
-
color
:
var
(
-
-
theme
-
sidebar
-
background
)
;
}
.
webconsole
-
app
.
jsterm
-
editor
.
eager
-
evaluation
-
result
:
empty
{
display
:
none
;
}
.
webconsole
-
app
.
jsterm
-
editor
.
eager
-
evaluation
-
result__row
{
height
:
var
(
-
-
theme
-
toolbar
-
height
)
;
}
