.
webconsole
-
evaluation
-
selector
-
button
{
padding
:
1px
16px
1px
8px
!
important
;
margin
-
top
:
2px
;
background
-
position
-
x
:
right
4px
!
important
;
max
-
width
:
150px
;
}
html
[
dir
=
"
rtl
"
]
.
webconsole
-
evaluation
-
selector
-
button
{
background
-
position
-
x
:
right
4px
!
important
;
}
.
jsterm
-
editor
.
webconsole
-
editor
-
toolbar
.
webconsole
-
evaluation
-
selector
-
button
{
height
:
20px
;
margin
-
inline
-
start
:
5px
;
margin
-
top
:
1px
;
}
.
webconsole
-
evaluation
-
selector
-
button
-
non
-
top
.
devtools
-
dropdown
-
button
{
background
-
color
:
var
(
-
-
blue
-
60
)
;
color
:
white
;
fill
:
currentColor
;
}
.
webconsole
-
evaluation
-
selector
-
button
-
non
-
top
.
devtools
-
dropdown
-
button
:
hover
.
webconsole
-
evaluation
-
selector
-
button
-
non
-
top
.
devtools
-
dropdown
-
button
[
aria
-
expanded
=
"
true
"
]
{
background
-
color
:
var
(
-
-
blue
-
70
)
!
important
;
color
:
white
!
important
;
}
