%
include
.
.
/
.
.
/
shared
/
syncedtabs
/
sidebar
.
inc
.
css
.
item
-
title
{
margin
:
1px
0
0
;
margin
-
inline
-
end
:
6px
;
}
.
search
-
box
{
-
moz
-
appearance
:
textfield
;
cursor
:
text
;
margin
:
4px
;
padding
:
2px
2px
3px
;
padding
-
inline
-
start
:
4px
;
color
:
-
moz
-
FieldText
;
}
.
search
-
box
>
.
textbox
-
input
-
box
{
background
-
image
:
url
(
chrome
:
/
/
global
/
skin
/
icons
/
search
-
textbox
.
svg
)
;
background
-
repeat
:
no
-
repeat
;
background
-
size
:
12px
12px
;
background
-
position
:
left
center
;
padding
-
inline
-
start
:
14px
;
}
.
search
-
box
>
.
textbox
-
input
-
box
:
-
moz
-
locale
-
dir
(
rtl
)
{
background
-
position
:
right
center
;
}
.
textbox
-
search
-
clear
{
width
:
16px
;
height
:
16px
;
background
-
image
:
url
(
chrome
:
/
/
global
/
skin
/
icons
/
Search
-
close
.
png
)
;
background
-
repeat
:
no
-
repeat
;
}
.
textbox
-
search
-
clear
:
not
(
[
disabled
]
)
{
cursor
:
default
;
}
.
textbox
-
search
-
clear
:
not
(
[
disabled
]
)
:
hover
{
background
-
position
:
-
16px
0
;
}
.
textbox
-
search
-
clear
:
not
(
[
disabled
]
)
:
hover
:
active
{
background
-
position
:
-
32px
0
;
}
.
client
.
item
.
tab
>
.
item
-
title
-
container
{
padding
-
inline
-
start
:
26px
;
}
.
item
.
tab
>
.
item
-
title
-
container
{
padding
-
inline
-
start
:
14px
;
}
.
item
-
icon
-
container
{
min
-
width
:
16px
;
max
-
width
:
16px
;
min
-
height
:
16px
;
max
-
height
:
16px
;
margin
-
right
:
5px
;
background
-
size
:
16px
16px
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
center
;
}
