%
include
.
.
/
.
.
/
shared
/
syncedtabs
/
sidebar
.
inc
.
css
.
item
-
title
{
margin
:
1px
0
0
;
margin
-
inline
-
end
:
6px
;
}
.
client
.
item
.
tab
>
.
item
-
title
-
container
{
padding
-
inline
-
start
:
26px
;
}
.
item
.
tab
>
.
item
-
title
-
container
{
padding
-
inline
-
start
:
14px
;
}
.
item
-
icon
-
container
{
min
-
width
:
16px
;
max
-
width
:
16px
;
min
-
height
:
16px
;
max
-
height
:
16px
;
margin
-
right
:
5px
;
background
-
size
:
16px
16px
;
background
-
repeat
:
no
-
repeat
;
background
-
position
:
center
;
}
