namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
-
moz
-
document
url
(
"
chrome
:
/
/
browser
/
content
/
browser
.
xul
"
)
{
notification
[
value
=
"
loop
-
sharing
-
notification
"
]
{
background
:
#
00a9dc
;
padding
:
0
;
border
:
0
;
}
notification
[
value
=
"
loop
-
sharing
-
notification
"
]
.
paused
{
background
:
#
ebebeb
;
}
notification
[
value
=
"
loop
-
sharing
-
notification
"
]
.
notification
-
button
{
background
:
#
fff
;
border
-
radius
:
0
;
}
notification
[
value
=
"
loop
-
sharing
-
notification
"
]
.
paused
.
notification
-
button
{
background
:
#
57bd35
;
}
notification
[
value
=
"
loop
-
sharing
-
notification
"
]
.
paused
.
notification
-
button
:
hover
{
background
:
#
39a017
;
}
notification
[
value
=
"
loop
-
sharing
-
notification
"
]
.
notification
-
button
:
hover
notification
[
value
=
"
loop
-
sharing
-
notification
"
]
.
paused
.
notification
-
button
-
default
:
hover
{
background
:
#
ebebeb
;
}
notification
[
value
=
"
loop
-
sharing
-
notification
"
]
.
notification
-
button
-
default
notification
[
value
=
"
loop
-
sharing
-
notification
"
]
.
paused
.
notification
-
button
-
default
{
background
:
#
fff
;
}
}
