%
include
.
.
/
.
.
/
.
.
/
.
.
/
toolkit
/
themes
/
osx
/
global
/
shared
.
inc
.
windowDialog
{
padding
:
12px
;
font
:
-
moz
-
dialog
;
}
description
{
margin
-
bottom
:
4px
!
important
;
}
prefpane
.
groupbox
-
body
{
-
moz
-
appearance
:
none
;
padding
:
8px
4px
4px
4px
;
}
tabpanels
{
padding
:
20px
7px
7px
;
}
caption
{
padding
-
inline
-
start
:
5px
;
padding
-
top
:
4px
;
padding
-
bottom
:
2px
;
}
#
popupPolicyRow
{
margin
-
bottom
:
4px
!
important
;
padding
-
bottom
:
4px
!
important
;
border
-
bottom
:
1px
solid
#
ccc
;
}
#
translationAttributionImage
{
width
:
70px
;
cursor
:
pointer
;
}
#
browserUseCurrent
#
browserUseBookmark
#
browserUseBlank
{
margin
-
top
:
10px
;
}
#
advancedPrefs
{
margin
:
0
8px
;
}
#
privacyPrefs
{
padding
:
0
4px
;
}
#
privacyPrefs
>
tabpanels
{
padding
:
18px
10px
10px
;
}
#
OCSPDialogPane
{
font
:
message
-
box
!
important
;
}
#
useFirefoxSync
#
getStarted
{
font
-
size
:
90
%
;
}
#
isNotDefaultLabel
{
font
-
weight
:
bold
;
}
#
autoInstallOptions
{
margin
-
inline
-
start
:
20px
;
}
.
updateControls
{
margin
-
inline
-
start
:
10px
;
}
#
SanitizeDialogPane
>
groupbox
{
margin
-
top
:
0
;
}
#
noFxaAccount
{
line
-
height
:
1
.
2em
;
}
#
noFxaAccount
>
label
:
first
-
child
{
margin
-
bottom
:
0
.
6em
;
}
