%
include
.
.
/
.
.
/
shared
/
incontentprefs
/
preferences
.
inc
.
css
body
{
font
-
size
:
1
.
36em
;
}
tabpanels
{
padding
:
20px
7px
7px
;
}
#
browserUseCurrent
#
browserUseBookmark
#
browserUseBlank
{
margin
-
top
:
10px
;
}
#
advancedPrefs
{
margin
:
0
8px
;
}
#
privacyPrefs
{
padding
:
0
4px
;
}
#
privacyPrefs
>
tabpanels
{
padding
:
18px
10px
10px
;
}
#
OCSPDialogPane
{
font
:
message
-
box
!
important
;
}
#
autoInstallOptions
{
margin
-
inline
-
start
:
20px
;
}
.
updateControls
{
margin
-
inline
-
start
:
10px
;
}
