#
sitesList
{
min
-
height
:
20em
;
}
#
sitesList
>
richlistitem
[
selected
]
{
outline
:
1px
solid
transparent
;
}
#
sitesList
>
richlistitem
>
hbox
.
item
-
box
>
label
{
-
moz
-
box
-
flex
:
1
;
}
.
item
-
box
{
padding
:
5px
8px
;
-
moz
-
box
-
align
:
center
;
width
:
50px
;
}
#
SiteDataRemoveSelectedDialog
{
min
-
height
:
36em
;
padding
:
16px
;
}
#
SiteDataRemoveSelectedDialog
>
dialog
{
padding
:
0
;
}
#
contentContainer
{
font
-
size
:
1
.
2em
;
margin
-
bottom
:
10px
;
}
.
question
-
icon
{
margin
:
6px
;
}
#
removing
-
label
{
font
-
weight
:
bold
;
}
