package
org
.
mozilla
.
gecko
.
util
;
public
final
class
XPCOMError
{
public
static
boolean
failed
(
long
err
)
{
return
(
err
&
0x80000000L
)
!
=
0
;
}
public
static
boolean
succeeded
(
long
err
)
{
return
!
failed
(
err
)
;
}
public
static
int
getErrorCode
(
long
err
)
{
return
(
int
)
(
err
&
0xffffL
)
;
}
public
static
int
getErrorModule
(
long
err
)
{
return
(
int
)
(
(
(
err
>
>
16
)
-
NS_ERROR_MODULE_BASE_OFFSET
)
&
0x1fffL
)
;
}
public
static
final
int
NS_ERROR_MODULE_BASE_OFFSET
=
{
{
MODULE_BASE_OFFSET
}
}
;
{
%
for
mod
val
in
modules
%
}
public
static
final
int
NS_ERROR_MODULE_
{
{
mod
}
}
=
{
{
val
}
}
;
{
%
endfor
%
}
{
%
for
error
val
in
errors
%
}
public
static
final
long
{
{
error
}
}
=
0x
{
{
"
%
X
"
%
val
}
}
L
;
{
%
endfor
%
}
}
