body
{
padding
:
0
;
margin
:
0
;
overflow
:
hidden
;
background
-
color
:
var
(
-
-
theme
-
body
-
background
)
;
}
.
mainFrame
{
display
:
flex
;
flex
-
direction
:
column
;
height
:
100vh
;
}
.
mainFrame
>
.
treeTableBox
{
flex
:
1
1
auto
;
overflow
:
auto
;
}
.
treeTable
{
width
:
100
%
;
}
.
treeTable
td
.
treeValueCell
{
padding
-
inline
-
start
:
16px
;
}
.
treeTable
.
treeLabel
.
treeTable
td
.
treeValueCell
.
objectBox
{
direction
:
ltr
;
}
.
treeTable
tr
:
not
(
.
writable
)
td
.
treeValueCell
{
background
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
lock
.
svg
"
)
no
-
repeat
;
background
-
position
:
1px
4px
;
background
-
size
:
12px
12px
;
-
moz
-
context
-
properties
:
fill
;
fill
:
var
(
-
-
theme
-
icon
-
dimmed
-
color
)
;
}
.
treeTable
tr
:
not
(
.
writable
)
td
.
treeValueCell
:
dir
(
rtl
)
{
background
-
position
-
x
:
right
1px
;
}
.
treeTable
tr
:
not
(
.
writable
)
.
selected
td
.
treeValueCell
{
fill
:
var
(
-
-
theme
-
selection
-
color
)
;
}
.
treeTable
tr
:
not
(
.
enumerable
)
td
.
treeValueCell
{
opacity
:
0
.
7
;
}
.
theme
-
light
.
treeTable
>
tbody
>
tr
>
td
{
border
-
bottom
:
1px
solid
var
(
-
-
grey
-
20
)
;
}
.
treeTable
.
userLabel
.
treeTable
.
userClassLabel
.
treeTable
.
userFunctionLabel
{
font
-
weight
:
bold
;
}
.
treeTable
.
userLabel
{
color
:
#
000000
;
}
.
treeTable
.
userClassLabel
{
color
:
#
E90000
;
}
.
treeTable
.
userFunctionLabel
{
color
:
#
025E2A
;
}
.
treeTable
.
domLabel
{
color
:
#
000000
;
}
.
treeTable
.
domClassLabel
{
color
:
#
E90000
;
}
.
treeTable
.
domFunctionLabel
{
color
:
#
025E2A
;
}
.
treeTable
.
ordinalLabel
{
color
:
SlateBlue
;
font
-
weight
:
bold
;
}
#
dom
-
refresh
-
button
:
:
before
{
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
reload
.
svg
"
)
;
}
