.
error
-
page
{
-
-
base
-
unit
:
4px
;
padding
:
calc
(
var
(
-
-
base
-
unit
)
*
4
)
;
font
-
size
:
15px
;
min
-
height
:
100vh
;
}
.
error
-
page__title
{
margin
:
0
;
font
-
size
:
36px
;
font
-
weight
:
200
;
}
.
error
-
page__details
{
font
-
family
:
monospace
;
}
