.
min
-
content
{
width
:
min
-
content
;
}
.
max
-
content
{
width
:
max
-
content
;
}
.
fit
-
content
{
width
:
-
moz
-
fit
-
content
;
width
:
fit
-
content
;
}
.
max
-
width
-
min
-
content
{
max
-
width
:
min
-
content
;
}
.
max
-
width
-
max
-
content
{
max
-
width
:
max
-
content
;
}
.
max
-
width
-
fit
-
content
{
max
-
width
:
-
moz
-
fit
-
content
;
max
-
width
:
fit
-
content
;
}
.
min
-
width
-
min
-
content
{
min
-
width
:
min
-
content
;
}
.
min
-
width
-
max
-
content
{
min
-
width
:
max
-
content
;
}
.
min
-
width
-
fit
-
content
{
min
-
width
:
-
moz
-
fit
-
content
;
min
-
width
:
fit
-
content
;
}
