:
root
{
-
-
bg
-
color
:
#
f9f9fa
;
-
-
text
-
color
:
#
0c0c0d
;
-
-
border
-
color
:
#
d7d7db
;
-
-
box
-
background
:
#
fff
;
-
-
box
-
background
-
hover
:
#
ebebeb
;
-
-
box
-
border
-
color
:
#
d7d7db
;
-
-
category
-
background
-
hover
:
rgba
(
12
12
13
0
.
1
)
;
-
-
category
-
text
:
rgba
(
12
12
13
)
;
-
-
category
-
text
-
selected
:
#
0a84ff
;
-
-
category
-
height
:
48px
;
-
-
category
-
padding
:
10px
;
-
-
category
-
transition
-
duration
:
150ms
;
-
-
link
-
color
:
#
0a8dff
;
-
-
link
-
color
-
active
:
#
003eaa
;
-
-
link
-
color
-
hover
:
#
0060df
;
-
-
success
-
50
:
#
30e60b
;
-
-
warning
-
50
:
#
ffe900
;
-
-
warning
-
90
:
#
3e2800
;
-
-
error
-
50
:
#
ff0039
;
-
-
error
-
60
:
#
d70022
;
-
-
highlight
-
50
:
#
0a84ff
;
-
-
grey
-
30
:
#
d7d7db
;
-
-
white
-
100
:
#
fff
;
-
-
page
-
width
:
664px
;
-
-
base
-
unit
:
4px
;
-
-
base
-
font
-
style
:
message
-
box
;
-
-
base
-
font
-
size
:
15px
;
-
-
base
-
line
-
height
:
1
.
8
;
-
-
micro
-
font
-
size
:
11px
;
-
-
monospace
-
font
-
family
:
monospace
;
-
-
alt
-
heading
-
icon
-
size
:
calc
(
var
(
-
-
base
-
unit
)
*
6
)
;
-
-
alt
-
heading
-
icon
-
gap
:
var
(
-
-
base
-
unit
)
;
-
-
main
-
heading
-
icon
-
size
:
calc
(
var
(
-
-
base
-
unit
)
*
16
)
;
-
-
main
-
heading
-
icon
-
gap
:
calc
(
var
(
-
-
base
-
unit
)
*
3
)
;
-
-
main
-
subheading
-
icon
-
size
:
calc
(
var
(
-
-
base
-
unit
)
*
5
)
;
-
-
main
-
subheading
-
heading
-
icon
-
gap
:
calc
(
var
(
-
-
base
-
unit
)
*
2
)
;
}
html
{
font
:
var
(
-
-
base
-
font
-
style
)
;
}
body
{
margin
:
0
;
padding
:
0
;
color
:
var
(
-
-
text
-
color
)
;
font
-
size
:
var
(
-
-
base
-
font
-
size
)
;
background
:
var
(
-
-
bg
-
color
)
;
}
dd
{
margin
:
0
;
padding
:
0
;
}
ul
{
list
-
style
:
none
;
margin
:
0
;
padding
:
0
;
}
a
{
color
:
var
(
-
-
link
-
color
)
;
text
-
decoration
:
none
;
}
a
:
hover
{
color
:
var
(
-
-
link
-
color
-
hover
)
;
}
a
:
active
{
color
:
var
(
-
-
link
-
color
-
active
)
;
}
p
{
margin
:
0
;
}
.
ellipsis
-
text
{
overflow
:
hidden
;
text
-
overflow
:
ellipsis
;
white
-
space
:
nowrap
;
}
.
technical
-
text
{
font
-
family
:
var
(
-
-
monospace
-
font
-
family
)
;
}
.
main
-
heading
{
font
-
size
:
2
.
5em
;
font
-
weight
:
lighter
;
line
-
height
:
1
.
2
;
color
:
var
(
-
-
in
-
content
-
text
-
color
)
;
margin
:
0
;
margin
-
bottom
:
.
5em
;
display
:
grid
;
grid
-
template
-
columns
:
var
(
-
-
main
-
heading
-
icon
-
size
)
1fr
;
grid
-
column
-
gap
:
var
(
-
-
main
-
heading
-
icon
-
gap
)
;
align
-
items
:
center
;
}
.
main
-
heading__icon
{
width
:
100
%
;
}
.
main
-
subheading
{
margin
-
block
-
start
:
calc
(
var
(
-
-
base
-
unit
)
*
4
)
;
font
-
weight
:
600
;
font
-
size
:
1
.
46em
;
line
-
height
:
1
.
3em
;
display
:
grid
;
grid
-
template
-
columns
:
var
(
-
-
main
-
subheading
-
icon
-
size
)
1fr
;
grid
-
column
-
gap
:
var
(
-
-
main
-
subheading
-
heading
-
icon
-
gap
)
;
align
-
items
:
center
;
}
.
main
-
subheading__icon
{
width
:
100
%
;
fill
:
currentColor
;
-
moz
-
context
-
properties
:
fill
;
}
.
alt
-
heading
{
font
-
weight
:
300
;
font
-
size
:
1
.
46em
;
line
-
height
:
1
.
2
;
margin
-
block
-
start
:
0
;
margin
-
block
-
end
:
calc
(
var
(
-
-
base
-
unit
)
*
4
)
;
}
.
alt
-
subheading
{
margin
-
block
-
start
:
calc
(
var
(
-
-
base
-
unit
)
*
4
)
;
font
-
weight
:
600
;
font
-
size
:
1
.
14em
;
line
-
height
:
1
.
4em
;
display
:
grid
;
grid
-
template
-
columns
:
var
(
-
-
alt
-
heading
-
icon
-
size
)
1fr
;
grid
-
column
-
gap
:
var
(
-
-
alt
-
heading
-
icon
-
gap
)
;
align
-
items
:
center
;
}
.
alt
-
subheading__icon
{
width
:
100
%
;
fill
:
currentColor
;
-
moz
-
context
-
properties
:
fill
;
}
.
separator
{
border
-
style
:
solid
none
none
none
;
border
-
color
:
var
(
-
-
border
-
color
)
;
}
.
separator
-
-
breathe
{
margin
:
calc
(
var
(
-
-
base
-
unit
)
*
4
)
0
;
}
.
toolbar
{
display
:
flex
;
column
-
gap
:
var
(
-
-
base
-
unit
)
;
}
.
default
-
button
.
default
-
input
{
box
-
sizing
:
border
-
box
;
font
-
size
:
1em
;
}
.
default
-
button
.
default
-
select
{
-
moz
-
appearance
:
none
;
font
-
size
:
1em
;
color
:
var
(
-
-
text
-
color
)
;
background
-
color
:
var
(
-
-
page
-
background
)
;
margin
:
0
;
height
:
calc
(
var
(
-
-
base
-
unit
)
*
8
)
;
padding
-
inline
-
start
:
calc
(
var
(
-
-
base
-
unit
)
*
5
)
;
padding
-
inline
-
end
:
calc
(
var
(
-
-
base
-
unit
)
*
5
)
;
border
:
1px
solid
var
(
-
-
box
-
border
-
color
)
;
border
-
radius
:
calc
(
var
(
-
-
base
-
unit
)
/
2
)
;
}
.
default
-
button
:
enabled
:
hover
{
background
:
var
(
-
-
box
-
background
-
hover
)
}
.
default
-
button
:
disabled
{
opacity
:
0
.
4
;
}
.
default
-
button
-
-
micro
{
padding
-
inline
-
start
:
calc
(
2
*
var
(
-
-
base
-
unit
)
)
;
padding
-
inline
-
end
:
calc
(
2
*
var
(
-
-
base
-
unit
)
)
;
font
-
size
:
var
(
-
-
micro
-
font
-
size
)
;
height
:
calc
(
var
(
-
-
base
-
unit
)
*
6
)
;
}
.
default
-
input
{
line
-
height
:
unset
;
padding
:
0
calc
(
var
(
-
-
base
-
unit
)
*
2
)
;
height
:
100
%
;
border
:
1px
solid
var
(
-
-
box
-
border
-
color
)
;
border
-
radius
:
2px
;
color
:
var
(
-
-
text
-
color
)
;
background
-
color
:
var
(
-
-
box
-
background
)
;
}
.
badge
{
font
-
size
:
var
(
-
-
micro
-
font
-
size
)
;
background
:
var
(
-
-
grey
-
30
)
;
border
-
radius
:
calc
(
var
(
-
-
base
-
unit
)
/
2
)
;
padding
:
var
(
-
-
base
-
unit
)
calc
(
2
*
var
(
-
-
base
-
unit
)
)
;
}
.
badge
-
-
info
{
background
:
var
(
-
-
highlight
-
50
)
;
}
.
badge
-
-
success
{
background
:
var
(
-
-
success
-
50
)
;
}
.
badge
-
-
warning
{
background
:
var
(
-
-
warning
-
50
)
;
}
.
badge
-
-
error
{
background
:
var
(
-
-
error
-
50
)
;
}
.
undecorated
-
link
.
undecorated
-
link
:
hover
{
text
-
decoration
:
none
;
color
:
currentColor
;
}
