html
{
-
moz
-
appearance
:
dialog
;
background
-
color
:
-
moz
-
Dialog
;
color
:
-
moz
-
DialogText
;
font
:
message
-
box
;
height
:
100
%
;
}
h1
{
font
-
size
:
1em
;
}
fieldset
>
label
{
white
-
space
:
nowrap
;
}
