html
{
color
:
-
moz
-
DialogText
;
font
:
message
-
box
;
height
:
100
%
;
}
h1
{
font
-
size
:
1em
;
}
fieldset
>
label
{
white
-
space
:
nowrap
;
}
.
group
{
margin
:
0
.
5em
0
;
}
label
.
block
{
display
:
block
;
margin
:
0
.
3em
0
;
}
button
.
wide
{
width
:
100
%
;
}
