html
{
height
:
100
%
;
}
body
{
height
:
100
%
;
margin
:
0
;
font
-
size
:
inherit
;
}
[
hidden
]
{
display
:
none
!
important
;
}
#
debugging
-
console
{
box
-
sizing
:
border
-
box
;
float
:
right
;
height
:
100vh
;
position
:
relative
;
z
-
index
:
99
;
}
payment
-
dialog
{
box
-
sizing
:
border
-
box
;
display
:
grid
;
grid
-
template
:
"
header
"
auto
"
main
"
1fr
;
"
disabled
-
overlay
"
auto
;
height
:
100
%
;
margin
:
0
10
%
;
padding
:
1em
;
}
payment
-
dialog
>
header
{
display
:
flex
;
}
#
main
-
container
{
display
:
flex
;
grid
-
area
:
main
;
position
:
relative
;
max
-
height
:
100
%
;
}
.
page
{
display
:
flex
;
flex
-
direction
:
column
;
height
:
100
%
;
position
:
relative
;
width
:
100
%
;
}
.
page
>
.
page
-
body
{
overflow
:
auto
;
}
.
page
>
footer
{
align
-
items
:
end
;
display
:
flex
;
flex
-
grow
:
1
;
}
#
error
-
text
{
text
-
align
:
center
;
}
#
order
-
details
-
overlay
{
background
-
color
:
var
(
-
-
in
-
content
-
page
-
background
)
;
overflow
:
auto
;
position
:
absolute
;
top
:
0
;
right
:
0
;
bottom
:
0
;
left
:
0
;
z
-
index
:
1
;
}
#
total
{
flex
:
1
1
auto
;
margin
:
5px
;
}
#
total
>
currency
-
amount
>
.
currency
-
code
{
color
:
GrayText
;
}
#
view
-
all
{
flex
:
0
1
auto
;
}
#
total
.
label
{
font
-
size
:
15px
;
font
-
weight
:
bold
;
}
payment
-
dialog
[
changes
-
prevented
]
[
completion
-
state
=
"
fail
"
]
#
pay
payment
-
dialog
[
changes
-
prevented
]
[
completion
-
state
=
"
unknown
"
]
#
pay
payment
-
dialog
[
changes
-
prevented
]
[
completion
-
state
=
"
processing
"
]
#
pay
payment
-
dialog
[
changes
-
prevented
]
[
completion
-
state
=
"
success
"
]
#
pay
{
position
:
relative
;
z
-
index
:
1
;
}
#
disabled
-
overlay
{
background
:
white
;
opacity
:
0
.
6
;
width
:
100
%
;
height
:
100
%
;
position
:
absolute
;
top
:
0
;
right
:
0
;
bottom
:
0
;
left
:
0
;
}
