html
body
{
margin
:
0
;
height
:
100
%
;
}
body
{
overflow
-
y
:
hidden
;
}
#
app
{
height
:
100
%
;
display
:
flex
;
justify
-
content
:
center
;
align
-
items
:
center
;
}
#
viewports
{
position
:
sticky
;
top
:
0
;
left
:
0
;
white
-
space
:
nowrap
;
}
.
viewport
{
display
:
inline
-
block
;
vertical
-
align
:
top
;
border
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
box
-
shadow
:
0
4px
4px
0
rgba
(
155
155
155
0
.
26
)
;
}
.
viewport
-
header
{
background
-
color
:
var
(
-
-
theme
-
toolbar
-
background
)
;
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
color
:
var
(
-
-
theme
-
body
-
color
-
alt
)
;
height
:
16px
;
}
.
browser
{
display
:
block
;
border
:
0
;
}
