.
theme
-
light
{
-
-
viewport
-
box
-
shadow
:
0
4px
4px
0
rgba
(
155
155
155
0
.
26
)
;
}
.
theme
-
dark
{
-
-
viewport
-
box
-
shadow
:
0
4px
4px
0
rgba
(
105
105
105
0
.
26
)
;
}
*
{
box
-
sizing
:
border
-
box
;
}
html
body
{
margin
:
0
;
height
:
100
%
;
}
body
{
overflow
-
y
:
hidden
;
}
#
app
{
height
:
100
%
;
display
:
flex
;
justify
-
content
:
center
;
align
-
items
:
center
;
}
#
viewports
{
position
:
sticky
;
top
:
0
;
left
:
0
;
white
-
space
:
nowrap
;
}
.
viewport
{
display
:
inline
-
block
;
vertical
-
align
:
top
;
border
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
box
-
shadow
:
var
(
-
-
viewport
-
box
-
shadow
)
;
}
.
resizable
-
viewport
{
position
:
relative
;
}
.
viewport
-
toolbar
{
background
-
color
:
var
(
-
-
theme
-
toolbar
-
background
)
;
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
color
:
var
(
-
-
theme
-
body
-
color
)
;
display
:
flex
;
flex
-
direction
:
row
;
justify
-
content
:
flex
-
end
;
height
:
18px
;
}
.
viewport
-
toolbar
-
button
{
border
:
none
;
display
:
block
;
margin
:
1px
3px
;
padding
:
0
;
width
:
16px
;
height
:
16px
;
opacity
:
0
.
8
;
background
-
color
:
var
(
-
-
theme
-
body
-
color
)
;
transition
:
background
0
.
25s
ease
;
}
.
viewport
-
toolbar
-
button
:
hover
{
opacity
:
1
;
}
.
viewport
-
toolbar
-
button
:
active
{
background
-
color
:
var
(
-
-
theme
-
selection
-
background
)
;
opacity
:
1
;
}
.
viewport
-
rotate
-
button
{
mask
-
image
:
url
(
"
.
/
images
/
rotate
-
viewport
.
svg
"
)
;
}
.
browser
{
display
:
block
;
border
:
0
;
}
.
browser
.
resizing
{
pointer
-
events
:
none
;
}
.
viewport
-
resize
-
handle
{
position
:
absolute
;
width
:
16px
;
height
:
16px
;
bottom
:
0
;
right
:
0
;
background
-
image
:
url
(
"
.
/
images
/
grippers
.
svg
"
)
;
background
-
position
:
bottom
right
;
padding
:
0
1px
1px
0
;
background
-
repeat
:
no
-
repeat
;
background
-
origin
:
content
-
box
;
cursor
:
se
-
resize
;
}
.
viewport
-
horizontal
-
resize
-
handle
{
position
:
absolute
;
width
:
5px
;
height
:
calc
(
100
%
-
16px
)
;
right
:
-
4px
;
top
:
0
;
cursor
:
e
-
resize
;
}
.
viewport
-
vertical
-
resize
-
handle
{
position
:
absolute
;
width
:
calc
(
100
%
-
16px
)
;
height
:
5px
;
left
:
0
;
bottom
:
-
4px
;
cursor
:
s
-
resize
;
}
