<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
title
>
Reference
:
simple
positioning
of
abspos
children
in
-
webkit
-
box
<
/
title
>
<
style
>
.
container
{
border
:
1px
solid
black
;
width
:
200px
;
}
.
box
{
display
:
flex
}
.
inline
-
box
{
display
:
inline
-
flex
}
.
abs
{
position
:
absolute
}
.
a
{
border
:
3px
solid
purple
}
.
b
{
border
:
3px
solid
orange
}
<
/
style
>
<
/
head
>
<
body
>
<
div
class
=
"
container
box
"
>
<
div
class
=
"
a
abs
"
>
aa
<
/
div
>
<
div
class
=
"
b
"
>
bbbb
<
/
div
>
<
/
div
>
<
div
class
=
"
container
box
"
>
<
div
class
=
"
a
"
>
aa
<
/
div
>
<
div
class
=
"
b
"
>
bbbb
<
/
div
>
<
/
div
>
<
div
class
=
"
container
inline
-
box
"
>
<
div
class
=
"
a
abs
"
>
aa
<
/
div
>
<
div
class
=
"
b
"
>
bbbb
<
/
div
>
<
/
div
>
<
div
class
=
"
container
inline
-
box
"
>
<
div
class
=
"
a
"
>
aa
<
/
div
>
<
div
class
=
"
b
"
>
bbbb
<
/
div
>
<
/
div
>
<
/
body
>
<
/
html
>
