<
!
DOCTYPE
html
>
<
html
>
<
head
>
<
title
>
CSS
Reference
<
/
title
>
<
style
>
.
box
{
display
:
flex
;
border
:
1px
solid
black
;
margin
:
5px
20px
;
float
:
left
;
/
*
For
testing
in
"
rows
"
*
/
}
br
{
clear
:
both
;
}
.
box
>
*
{
border
:
1px
dotted
purple
;
}
<
/
style
>
<
/
head
>
<
body
>
<
div
class
=
"
box
"
>
<
div
>
*
<
/
div
>
<
div
class
=
"
bogOne
"
>
1a
<
/
div
>
<
div
>
*
<
/
div
>
<
div
class
=
"
bogOne
"
>
1b
<
/
div
>
<
div
>
*
<
/
div
>
<
/
div
>
<
div
class
=
"
box
"
>
<
div
>
*
<
/
div
>
<
div
>
*
<
/
div
>
<
div
>
*
<
/
div
>
<
div
class
=
"
bogTwo
"
>
2a
<
/
div
>
<
div
class
=
"
bogTwo
"
>
2b
<
/
div
>
<
/
div
>
<
div
class
=
"
box
"
>
<
div
>
*
<
/
div
>
<
div
>
*
<
/
div
>
<
div
>
*
<
/
div
>
<
div
class
=
"
bogNine
"
>
9a
<
/
div
>
<
div
class
=
"
bogNine
"
>
9b
<
/
div
>
<
/
div
>
<
br
>
<
div
class
=
"
box
"
>
<
div
>
*
<
/
div
>
<
div
class
=
"
bogOne
"
>
1
<
/
div
>
<
div
class
=
"
bogTwo
"
>
2
<
/
div
>
<
div
class
=
"
bogNine
"
>
9
<
/
div
>
<
/
div
>
<
div
class
=
"
box
"
>
<
div
class
=
"
bogOne
"
>
1
<
/
div
>
<
div
>
*
<
/
div
>
<
div
class
=
"
bogTwo
"
>
2
<
/
div
>
<
div
class
=
"
bogNine
"
>
9
<
/
div
>
<
/
div
>
<
div
class
=
"
box
"
>
<
div
class
=
"
bogOne
"
>
1
<
/
div
>
<
div
>
*
<
/
div
>
<
div
class
=
"
bogTwo
"
>
2a
<
/
div
>
<
div
class
=
"
bogTwo
"
>
2b
<
/
div
>
<
div
class
=
"
bogNine
"
>
9
<
/
div
>
<
/
div
>
<
div
class
=
"
box
"
>
<
div
class
=
"
bogOne
"
>
1
<
/
div
>
<
div
class
=
"
bogTwo
"
>
2a
<
/
div
>
<
div
class
=
"
bogTwo
"
>
2b
<
/
div
>
<
div
class
=
"
bogNine
"
>
9a
<
/
div
>
<
div
class
=
"
bogNine
"
>
9b
<
/
div
>
<
/
div
>
<
/
body
>
<
/
html
>
