%
include
.
.
/
.
.
/
global
/
shared
.
inc
#
elevationBox
.
update
-
content
{
height
:
360px
;
width
:
700px
;
}
#
updates
{
margin
:
0
;
padding
:
0
;
}
.
update
-
header
{
-
moz
-
appearance
:
dialog
;
margin
:
12px
12px
0
12px
;
}
.
update
-
header
-
box
-
1
{
color
:
#
000
;
}
.
update
-
header
-
box
-
text
{
margin
:
0
;
padding
:
0
;
font
:
menu
;
font
-
weight
:
bold
;
}
.
update
-
header
-
label
{
font
-
weight
:
bold
;
}
.
update
-
content
{
padding
:
6px
12px
12px
12px
;
}
.
update
-
buttons
-
separator
{
display
:
none
;
}
#
update
-
button
-
box
{
padding
:
10px
12px
12px
12px
;
-
moz
-
appearance
:
statusbar
;
-
moz
-
window
-
dragging
:
drag
;
}
#
update
-
button
-
box
button
{
-
moz
-
appearance
:
toolbarbutton
;
color
:
ButtonText
;
min
-
height
:
22px
;
text
-
shadow
:
loweredShadow
;
}
#
updateFinishedName
{
font
-
weight
:
bold
;
font
-
size
:
larger
;
}
update
{
border
-
bottom
:
1px
dotted
#
C0C0C0
;
}
.
update
-
name
{
font
-
weight
:
bold
;
}
.
update
-
label
-
column
{
-
moz
-
box
-
align
:
end
;
}
.
update
-
type
{
font
-
weight
:
bold
;
color
:
#
990000
;
}
.
update
-
status
-
value
.
update
-
installedOn
-
value
{
margin
-
inline
-
start
:
1ch
;
}
#
historyItems
{
height
:
200px
;
margin
:
1px
5px
5px
5px
;
}
#
historyItems
.
update
{
padding
:
5px
;
display
:
-
moz
-
box
;
-
moz
-
box
-
orient
:
vertical
;
}
.
update
-
name
{
-
moz
-
box
-
flex
:
1
;
}
