#
containersView
>
richlistitem
{
-
moz
-
binding
:
none
;
}
.
actionsMenu
>
menupopup
>
menuitem
>
.
menu
-
iconic
-
left
{
display
:
-
moz
-
box
;
min
-
width
:
16px
;
}
media
(
resolution
:
2dppx
)
{
#
handlersView
>
richlistitem
.
actionsMenu
>
menupopup
>
menuitem
>
.
menu
-
iconic
-
left
{
image
-
rendering
:
-
moz
-
crisp
-
edges
;
}
}
