.
website
-
name
{
overflow
:
hidden
;
padding
-
inline
-
start
:
7px
;
-
moz
-
box
-
align
:
center
;
}
#
permissionsBox
{
min
-
height
:
18em
;
}
#
siteCol
#
statusCol
#
permissionsBox
>
richlistitem
{
min
-
height
:
35px
;
}
.
website
-
status
{
margin
:
1px
;
margin
-
inline
-
end
:
5px
;
}
#
permissionsDisableDescription
{
margin
-
inline
-
start
:
32px
;
color
:
#
737373
;
line
-
height
:
110
%
;
}
#
permissionsDisableCheckbox
{
margin
-
inline
-
start
:
4px
;
padding
-
top
:
10px
;
}
