%
include
.
.
/
.
.
/
shared
/
downloads
/
downloads
.
inc
.
css
keyfocus
#
downloadsSummary
:
focus
keyfocus
.
downloadsPanelFooterButton
:
focus
{
outline
:
1px
-
moz
-
dialogtext
dotted
;
outline
-
offset
:
-
5px
;
}
:
root
{
-
-
downloads
-
item
-
height
:
6em
;
-
-
downloads
-
item
-
font
-
size
-
factor
:
0
.
9
;
-
-
downloads
-
item
-
target
-
margin
-
bottom
:
7px
;
-
-
downloads
-
item
-
details
-
margin
-
top
:
1px
;
-
-
downloads
-
item
-
details
-
opacity
:
0
.
6
;
}
.
downloadButton
:
focus
>
.
button
-
box
{
outline
:
1px
-
moz
-
dialogtext
dotted
;
}
keyfocus
itemFocused
{
outline
:
1px
-
moz
-
dialogtext
dotted
;
outline
-
offset
:
-
1px
;
}
