%
include
.
.
/
.
.
/
shared
/
downloads
/
downloads
.
inc
.
css
:
root
{
-
-
downloads
-
item
-
height
:
5
.
5em
;
-
-
downloads
-
item
-
font
-
size
-
factor
:
0
.
9
;
-
-
downloads
-
item
-
details
-
opacity
:
0
.
6
;
}
keyfocus
itemFocused
keyfocus
#
downloadsSummary
:
focus
keyfocus
.
downloadsPanelFooterButton
:
focus
.
downloadButton
:
focus
{
outline
:
1px
-
moz
-
dialogtext
dotted
;
outline
-
offset
:
-
1px
;
}
