.
app
{
-
-
sidebar
-
width
:
240px
;
-
-
app
-
top
-
padding
:
70px
;
-
-
app
-
bottom
-
padding
:
40px
;
-
-
app
-
left
-
padding
:
34px
;
box
-
sizing
:
border
-
box
;
width
:
100vw
;
height
:
100vh
;
overflow
:
hidden
;
display
:
grid
;
grid
-
column
-
gap
:
40px
;
grid
-
template
-
columns
:
var
(
-
-
sidebar
-
width
)
auto
;
font
-
size
:
var
(
-
-
base
-
font
-
size
)
;
line
-
height
:
var
(
-
-
base
-
line
-
height
)
;
}
.
app__sidebar
{
padding
-
block
-
start
:
var
(
-
-
app
-
top
-
padding
)
;
padding
-
block
-
end
:
var
(
-
-
app
-
bottom
-
padding
)
;
padding
-
inline
-
start
:
var
(
-
-
app
-
left
-
padding
)
;
}
.
app__content
{
padding
-
block
-
start
:
var
(
-
-
app
-
top
-
padding
)
;
padding
-
block
-
end
:
var
(
-
-
app
-
bottom
-
padding
)
;
overflow
-
y
:
auto
;
}
.
page
{
max
-
width
:
var
(
-
-
page
-
width
)
;
}
.
page__section
{
margin
-
block
-
end
:
calc
(
var
(
-
-
base
-
unit
)
*
12
)
;
-
-
section
-
inline
-
margin
:
calc
(
var
(
-
-
alt
-
heading
-
icon
-
size
)
+
var
(
-
-
alt
-
heading
-
icon
-
gap
)
)
;
}
