.
app
{
display
:
grid
;
font
-
size
:
15px
;
grid
-
column
-
gap
:
40px
;
grid
-
template
-
columns
:
240px
auto
;
height
:
100vh
;
overflow
:
hidden
;
width
:
100vw
;
}
.
page
{
padding
-
block
-
start
:
60px
;
overflow
-
y
:
auto
;
}
