.
profiler
-
dialog__frame
{
border
:
none
;
height
:
100
%
;
width
:
100
%
;
}
.
profiler
-
dialog__header
{
align
-
items
:
center
;
background
-
color
:
var
(
-
-
grey
-
20
)
;
display
:
grid
;
grid
-
template
-
columns
:
1fr
max
-
content
;
padding
:
var
(
-
-
base
-
unit
)
;
}
.
profiler
-
dialog__header__title
{
margin
:
0
;
margin
-
inline
-
start
:
calc
(
var
(
-
-
base
-
unit
)
*
2
)
;
font
-
size
:
15px
;
font
-
weight
:
normal
;
}
.
profiler
-
dialog__inner
{
background
-
color
:
var
(
-
-
white
-
100
)
;
display
:
grid
;
height
:
calc
(
var
(
-
-
base
-
unit
)
*
150
)
;
grid
-
template
-
rows
:
max
-
content
auto
;
max
-
height
:
calc
(
100
%
-
calc
(
var
(
-
-
base
-
unit
)
*
25
)
)
;
position
:
fixed
;
width
:
calc
(
var
(
-
-
base
-
unit
)
*
150
)
;
}
.
profiler
-
dialog__mask
{
position
:
fixed
;
top
:
0
;
left
:
0
;
right
:
0
;
bottom
:
0
;
background
-
color
:
var
(
-
-
grey
-
90
-
a60
)
;
display
:
flex
;
align
-
items
:
center
;
justify
-
content
:
center
;
}
