.
runtime
-
actions
{
column
-
gap
:
var
(
-
-
base
-
unit
)
;
display
:
grid
;
grid
-
template
-
areas
:
"
start
center
end
"
;
grid
-
template
-
columns
:
max
-
content
1fr
max
-
content
;
}
.
runtime
-
actions__end
{
grid
-
area
:
end
;
}
.
runtime
-
actions__start
{
grid
-
area
:
start
;
}
