.
runtime
-
info
{
align
-
items
:
center
;
display
:
grid
;
grid
-
column
-
gap
:
var
(
-
-
main
-
heading
-
icon
-
gap
)
;
grid
-
template
-
areas
:
"
icon
title
action
"
"
icon
subtitle
action
"
;
grid
-
template
-
columns
:
var
(
-
-
main
-
heading
-
icon
-
size
)
1fr
max
-
content
;
grid
-
template
-
rows
:
1fr
max
-
content
;
margin
-
block
-
end
:
calc
(
var
(
-
-
base
-
unit
)
*
5
)
;
}
.
runtime
-
info__icon
{
grid
-
area
:
icon
;
}
.
runtime
-
info__title
{
grid
-
area
:
title
;
}
.
runtime
-
info__subtitle
{
grid
-
area
:
subtitle
;
}
.
runtime
-
info__action
{
align
-
self
:
start
;
font
-
size
:
var
(
-
-
base
-
font
-
size
)
;
grid
-
area
:
action
;
}
