.
sidebar
-
item
{
align
-
items
:
center
;
display
:
flex
;
font
-
size
:
20px
;
margin
-
inline
-
start
:
24px
;
}
.
sidebar
-
item__icon
{
fill
:
var
(
-
-
sidebar
-
item
-
icon
-
color
)
;
height
:
24px
;
margin
-
inline
-
end
:
9px
;
width
:
24px
;
-
moz
-
context
-
properties
:
fill
;
}
.
sidebar
-
item
-
-
selected
{
color
:
var
(
-
-
sidebar
-
item
-
selected
-
color
)
;
}
.
sidebar
-
item__icon
-
-
selected
{
fill
:
var
(
-
-
sidebar
-
item
-
selected
-
color
)
;
}
