%
if
0
%
endif
#
editBookmarkPanel
>
.
panel
-
arrowcontainer
>
.
panel
-
arrowcontent
{
padding
:
0
;
}
#
editBookmarkPanelBottomButtons
#
editBookmarkPanelRows
{
padding
:
var
(
-
-
arrowpanel
-
padding
)
;
}
#
editBMPanel_folderTree
{
min
-
width
:
27em
;
}
