treechildren
:
-
moz
-
tree
-
image
{
-
moz
-
context
-
properties
:
fill
fill
-
opacity
;
fill
:
-
moz
-
FieldText
;
fill
-
opacity
:
0
.
7
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
mozapps
/
skin
/
places
/
defaultFavicon
.
svg
"
)
;
padding
-
inline
-
end
:
2px
;
margin
:
0
2px
;
width
:
16px
;
height
:
16px
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
livemarkItem
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
livemark
-
item
.
png
"
)
;
-
moz
-
image
-
region
:
rect
(
0px
16px
16px
0px
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
livemarkItem
visited
)
{
-
moz
-
image
-
region
:
rect
(
0px
32px
16px
16px
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
container
)
treechildren
:
:
-
moz
-
tree
-
image
(
title
open
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
folder
.
svg
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
separator
)
{
list
-
style
-
image
:
none
;
width
:
0
!
important
;
height
:
0
!
important
;
margin
:
0
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
container
livemark
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
folder
-
live
.
svg
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
container
queryFolder_toolbar_____
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
bookmarksToolbar
.
svg
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
container
queryFolder_menu________
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
bookmarksMenu
.
svg
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
container
queryFolder_unfiled_____
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
unfiledBookmarks
.
svg
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
query
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
folder
-
smart
.
svg
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
query
OrganizerQuery_allbms_____v
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
allBookmarks
.
png
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
query
OrganizerQuery_downloads__v
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
downloads
.
png
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
query
tagContainer
)
treechildren
:
:
-
moz
-
tree
-
image
(
query
OrganizerQuery_tags_______v
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
tag
.
png
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
query
dayContainer
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
history
.
svg
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
query
hostContainer
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
folder
.
svg
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
query
OrganizerQuery_history____v
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
history
.
svg
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
title
query
folder
)
{
list
-
style
-
image
:
url
(
"
chrome
:
/
/
browser
/
skin
/
places
/
folder
.
svg
"
)
;
}
treechildren
:
:
-
moz
-
tree
-
cell
-
text
(
title
separator
)
{
color
:
ThreeDShadow
;
margin
:
0
5px
;
}
treechildren
:
:
-
moz
-
tree
-
cell
-
text
(
title
separator
selected
focus
)
{
color
:
HighlightText
;
}
treechildren
:
:
-
moz
-
tree
-
twisty
(
title
separator
)
{
-
moz
-
appearance
:
none
;
padding
:
0
;
}
treechildren
:
:
-
moz
-
tree
-
image
(
cutting
)
{
opacity
:
0
.
5
;
}
treechildren
:
:
-
moz
-
tree
-
cell
-
text
(
cutting
)
{
opacity
:
0
.
7
;
}
