.
network
-
monitor
.
learn
-
more
-
link
{
display
:
inline
-
block
;
vertical
-
align
:
middle
;
}
.
network
-
monitor
.
learn
-
more
-
link
:
:
before
{
display
:
block
;
margin
:
0
;
background
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
help
.
svg
)
;
background
-
position
:
center
;
background
-
size
:
contain
;
}
.
network
-
monitor
.
tree
-
container
.
learn
-
more
-
link
{
position
:
absolute
;
top
:
0
;
inset
-
inline
-
start
:
6px
;
padding
:
2px
;
}
.
network
-
monitor
.
tree
-
container
tr
:
not
(
:
hover
)
.
learn
-
more
-
link
{
opacity
:
0
.
4
;
}
