.
notificationbox
.
notificationInner
{
display
:
flex
;
flex
-
direction
:
row
;
}
.
notificationbox
.
details
{
flex
-
grow
:
1
;
display
:
flex
;
flex
-
direction
:
row
;
align
-
items
:
center
;
}
.
notificationbox
.
notification
-
button
{
text
-
align
:
right
;
}
.
notificationbox
.
messageText
{
flex
-
grow
:
1
;
}
.
notificationbox
.
details
:
-
moz
-
dir
(
rtl
)
.
notificationbox
.
notificationInner
:
-
moz
-
dir
(
rtl
)
{
flex
-
direction
:
row
-
reverse
;
}
.
notificationbox
.
notification
{
background
-
color
:
InfoBackground
;
text
-
shadow
:
none
;
border
-
top
:
1px
solid
ThreeDShadow
;
border
-
bottom
:
1px
solid
ThreeDShadow
;
}
.
notificationbox
.
notification
[
data
-
type
=
"
info
"
]
{
color
:
-
moz
-
DialogText
;
background
-
color
:
-
moz
-
Dialog
;
}
.
notificationbox
.
notification
[
data
-
type
=
"
critical
"
]
{
color
:
white
;
background
-
image
:
linear
-
gradient
(
rgb
(
212
0
0
)
rgb
(
152
0
0
)
)
;
}
.
notificationbox
.
messageImage
{
display
:
inline
-
block
;
width
:
16px
;
height
:
16px
;
margin
:
6px
;
}
.
notificationbox
.
messageImage
[
data
-
type
=
"
info
"
]
{
background
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
information
-
16
.
png
"
)
;
}
.
notificationbox
.
messageImage
[
data
-
type
=
"
warning
"
]
{
background
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
warning
-
16
.
png
"
)
;
}
.
notificationbox
.
messageImage
[
data
-
type
=
"
critical
"
]
{
background
-
image
:
url
(
"
chrome
:
/
/
global
/
skin
/
icons
/
error
-
16
.
png
"
)
;
}
.
notificationbox
.
messageCloseButton
{
width
:
19px
;
height
:
20px
;
margin
:
4px
;
margin
-
inline
-
end
:
8px
;
background
-
image
:
url
(
"
chrome
:
/
/
devtools
/
skin
/
images
/
close
.
svg
"
)
;
background
-
position
:
3px
center
;
background
-
color
:
transparent
;
background
-
repeat
:
no
-
repeat
;
border
-
radius
:
10px
;
}
.
notificationbox
.
messageCloseButton
:
hover
{
background
-
color
:
rgba
(
170
170
170
.
2
)
;
}
.
notificationbox
.
messageCloseButton
:
active
{
background
-
color
:
rgba
(
170
170
170
.
4
)
;
}
