.
sidebar
-
toggle
{
display
:
block
;
}
.
sidebar
-
toggle
:
:
before
.
sidebar
-
toggle
.
pane
-
collapsed
:
dir
(
rtl
)
:
:
before
{
background
-
image
:
var
(
-
-
theme
-
pane
-
collapse
-
image
)
;
}
.
sidebar
-
toggle
.
pane
-
collapsed
:
:
before
.
sidebar
-
toggle
:
dir
(
rtl
)
:
:
before
{
background
-
image
:
var
(
-
-
theme
-
pane
-
expand
-
image
)
;
}
media
(
max
-
width
:
700px
)
{
.
sidebar
-
toggle
:
:
before
{
transform
:
rotate
(
90deg
)
;
}
.
sidebar
-
toggle
:
dir
(
rtl
)
:
:
before
{
transform
:
rotate
(
-
90deg
)
;
}
}
