.
sidebar
-
toggle
{
display
:
block
;
}
.
sidebar
-
toggle
:
:
before
.
sidebar
-
toggle
.
pane
-
collapsed
:
-
moz
-
locale
-
dir
(
rtl
)
:
:
before
{
background
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
pane
-
collapse
.
svg
)
;
}
.
sidebar
-
toggle
.
pane
-
collapsed
:
:
before
.
sidebar
-
toggle
:
-
moz
-
locale
-
dir
(
rtl
)
:
:
before
{
background
-
image
:
url
(
chrome
:
/
/
devtools
/
skin
/
images
/
pane
-
expand
.
svg
)
;
}
media
(
max
-
width
:
700px
)
{
.
sidebar
-
toggle
:
:
before
{
transform
:
rotate
(
90deg
)
;
}
.
sidebar
-
toggle
:
dir
(
rtl
)
:
:
before
{
transform
:
rotate
(
-
90deg
)
;
}
}
