.
frames
-
group
.
frame
{
display
:
block
;
padding
-
inline
-
start
:
16px
;
}
.
img
.
annotation
-
logo
{
background
-
color
:
var
(
-
-
theme
-
body
-
color
)
;
}
.
frames
[
role
=
"
list
"
]
{
display
:
inline
-
grid
;
grid
-
template
-
columns
:
auto
1fr
;
grid
-
column
-
gap
:
8px
;
}
.
frames
.
frame
{
display
:
contents
;
cursor
:
pointer
;
white
-
space
:
normal
;
}
.
frames
.
title
{
text
-
overflow
:
ellipsis
;
white
-
space
:
nowrap
;
grid
-
column
:
1
/
2
;
color
:
var
(
-
-
console
-
output
-
color
)
;
}
.
frames
.
location
{
color
:
var
(
-
-
frame
-
link
-
source
)
;
grid
-
column
:
-
1
/
-
2
;
text
-
overflow
:
ellipsis
;
white
-
space
:
nowrap
;
direction
:
rtl
;
text
-
align
:
end
;
}
.
frames
.
location
.
line
{
color
:
var
(
-
-
frame
-
link
-
line
-
color
)
;
}
.
frames
.
frames
-
list
.
frame
:
hover
.
location
{
text
-
decoration
:
underline
;
}
.
frames
-
group
{
grid
-
column
:
1
/
-
1
;
}
.
frames
.
frames
-
group
.
group
{
display
:
flex
;
}
.
group
-
description
{
display
:
flex
;
align
-
items
:
center
;
color
:
var
(
-
-
console
-
output
-
color
)
;
}
.
frames
.
frames
-
group
.
frames
-
list
{
display
:
block
;
}
.
frames
.
frames
-
group
.
frames
-
list
.
frame
{
padding
-
inline
-
start
:
16px
;
display
:
block
;
text
-
overflow
:
ellipsis
;
}
.
frames
.
frames
-
group
.
frames
-
list
{
grid
-
column
:
1
/
-
1
;
margin
-
block
-
start
:
2px
;
}
.
frames
.
frames
-
group
.
frames
-
list
.
frame
:
first
-
of
-
type
{
border
-
top
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
padding
-
block
-
start
:
4px
;
}
.
frames
.
frames
-
group
.
frames
-
list
.
frame
:
last
-
of
-
type
{
margin
-
block
-
end
:
4px
;
border
-
bottom
:
1px
solid
var
(
-
-
theme
-
splitter
-
color
)
;
}
.
badge
{
background
:
var
(
-
-
theme
-
toolbar
-
background
-
hover
)
;
color
:
var
(
-
-
theme
-
body
-
color
)
;
border
-
radius
:
8px
;
padding
:
1px
4px
;
font
-
size
:
0
.
9em
;
display
:
inline
-
block
;
text
-
align
:
center
;
cursor
:
default
;
margin
-
inline
-
start
:
4px
;
}
.
frames
.
frames
-
group
.
expanded
.
group
-
description
.
frames
.
frames
-
group
.
expanded
.
badge
{
color
:
var
(
-
-
theme
-
highlight
-
blue
)
;
}
.
frames
.
img
.
annotation
-
logo
{
display
:
none
;
}
.
expanded
.
img
.
annotation
-
logo
{
background
-
color
:
currentColor
;
}
.
group
.
img
.
arrow
{
mask
:
url
(
"
resource
:
/
/
devtools
/
client
/
debugger
/
new
/
images
/
arrow
.
svg
"
)
;
mask
-
size
:
auto
;
margin
-
inline
-
end
:
4px
;
background
-
color
:
var
(
-
-
theme
-
icon
-
dimmed
-
color
)
;
width
:
10px
;
height
:
10px
;
mask
-
size
:
100
%
;
display
:
inline
-
block
;
transform
:
rotate
(
-
90deg
)
;
transition
:
transform
0
.
18s
ease
;
}
.
group
.
img
.
arrow
.
expanded
{
transform
:
rotate
(
0
)
;
}
:
root
.
theme
-
dark
.
annotation
-
logo
:
not
(
.
angular
)
{
background
-
color
:
var
(
-
-
theme
-
highlight
-
blue
)
;
}
