namespace
p
"
http
:
/
/
www
.
ns
.
com
/
ns
/
Product
"
;
p
|
Product
*
{
display
:
block
;
}
p
|
Code
{
color
:
green
;
font
-
weight
:
bold
;
}
p
|
Price
{
color
:
purple
;
font
-
weight
:
bold
;
}
