.
wy
-
nav
-
content
{
max
-
width
:
80
%
!
important
;
}
table
.
docutils
{
width
:
90
%
;
}
table
.
docutils
td
table
.
docutils
th
{
font
-
size
:
16px
!
important
;
}
.
rst
-
content
.
line
-
block
{
margin
-
bottom
:
0px
!
important
;
}
