%
include
.
.
/
.
.
/
shared
/
downloads
/
downloads
.
inc
.
css
#
downloadsSummary
:
-
moz
-
focusring
{
outline
-
offset
:
-
5px
;
}
notKeyfocus
#
downloadsSummary
:
-
moz
-
focusring
notKeyfocus
.
downloadsPanelFooterButton
:
-
moz
-
focusring
{
outline
:
none
;
}
:
root
{
-
-
downloads
-
item
-
height
:
5
.
5em
;
-
-
downloads
-
item
-
font
-
size
-
factor
:
0
.
9
;
-
-
downloads
-
item
-
details
-
opacity
:
0
.
6
;
}
notKeyfocus
.
downloadButton
:
-
moz
-
focusring
{
outline
:
none
;
}
media
(
-
moz
-
windows
-
default
-
theme
)
{
item
[
verdict
=
"
Malware
"
]
:
not
(
:
hover
)
{
color
:
#
aa1b08
;
}
:
root
[
lwt
-
popup
-
brighttext
]
item
[
verdict
=
"
Malware
"
]
:
not
(
:
hover
)
{
color
:
#
ff0039
;
}
.
downloadProgress
>
.
progress
-
bar
{
background
-
color
:
#
3c9af8
;
}
.
downloadProgress
[
paused
=
"
true
"
]
>
.
progress
-
bar
{
background
-
color
:
#
a6a6a6
;
}
}
keyfocus
itemFocused
{
outline
:
1px
-
moz
-
dialogtext
dotted
;
outline
-
offset
:
-
1px
;
}
