namespace
url
(
"
http
:
/
/
www
.
mozilla
.
org
/
keymaster
/
gatekeeper
/
there
.
is
.
only
.
xul
"
)
;
-
moz
-
document
url
(
"
chrome
:
/
/
browser
/
content
/
browser
.
xul
"
)
{
#
loop
-
button
[
state
=
"
slideshow
"
]
{
background
:
none
;
}
#
loop
-
button
[
state
=
"
slideshow
"
]
>
.
toolbarbutton
-
badge
-
stack
{
background
:
var
(
-
-
toolbarbutton
-
hover
-
background
)
!
important
;
background
-
clip
:
padding
-
box
!
important
;
border
-
color
:
var
(
-
-
toolbarbutton
-
hover
-
bordercolor
)
!
important
;
box
-
shadow
:
var
(
-
-
toolbarbutton
-
hover
-
boxshadow
)
!
important
;
}
}
