%
include
.
.
/
.
.
/
shared
/
controlcenter
/
panel
.
inc
.
css
.
identity
-
popup
-
expander
>
.
button
-
box
.
identity
-
popup
-
permission
-
remove
-
button
>
.
button
-
box
{
-
moz
-
appearance
:
none
;
}
.
identity
-
popup
-
expander
:
-
moz
-
focusring
.
identity
-
popup
-
permission
-
remove
-
button
:
-
moz
-
focusring
{
outline
:
1px
-
moz
-
dialogtext
dotted
;
outline
-
offset
:
-
1px
;
}
.
tracking
-
protection
-
button
>
.
button
-
box
>
.
button
-
icon
{
margin
-
inline
-
end
:
5px
;
}
.
protections
-
popup
-
category
:
hover
{
color
:
inherit
;
}
