:
root
{
-
-
editor
-
header
-
height
:
29px
;
-
-
editor
-
footer
-
height
:
25px
;
-
-
editor
-
searchbar
-
height
:
25px
;
-
-
theme
-
code
-
line
-
height
:
calc
(
15
/
11
)
;
-
-
skip
-
pausing
-
background
-
color
:
var
(
-
-
theme
-
toolbar
-
hover
)
;
-
-
skip
-
pausing
-
opacity
:
0
.
6
;
-
-
skip
-
pausing
-
color
:
var
(
-
-
theme
-
body
-
color
)
;
}
:
root
.
theme
-
light
:
root
.
theme
-
light
{
-
-
search
-
overlays
-
semitransparent
:
rgba
(
221
225
228
0
.
66
)
;
-
-
popup
-
shadow
-
color
:
#
d0d0d0
;
}
:
root
.
theme
-
dark
:
root
.
theme
-
dark
{
-
-
search
-
overlays
-
semitransparent
:
rgba
(
42
46
56
0
.
66
)
;
-
-
popup
-
shadow
-
color
:
#
5c667b
;
}
