:
root
{
-
-
editor
-
header
-
height
:
29px
;
-
-
editor
-
footer
-
height
:
25px
;
-
-
editor
-
searchbar
-
height
:
25px
;
-
-
theme
-
code
-
line
-
height
:
calc
(
15
/
11
)
;
-
-
skip
-
pausing
-
background
-
color
:
var
(
-
-
theme
-
toolbar
-
hover
)
;
-
-
skip
-
pausing
-
opacity
:
0
.
6
;
-
-
skip
-
pausing
-
color
:
var
(
-
-
theme
-
body
-
color
)
;
}
:
root
.
theme
-
light
:
root
.
theme
-
light
{
-
-
search
-
overlays
-
semitransparent
:
rgba
(
221
225
228
0
.
66
)
;
-
-
popup
-
shadow
-
color
:
#
d0d0d0
;
-
-
theme
-
inline
-
preview
-
background
:
rgba
(
192
105
255
0
.
05
)
;
-
-
theme
-
inline
-
preview
-
border
-
color
:
#
ebd1ff
;
-
-
theme
-
inline
-
preview
-
label
-
color
:
#
6300a6
;
-
-
theme
-
inline
-
preview
-
label
-
background
:
rgb
(
244
230
255
)
;
}
:
root
.
theme
-
dark
:
root
.
theme
-
dark
{
-
-
search
-
overlays
-
semitransparent
:
rgba
(
42
46
56
0
.
66
)
;
-
-
popup
-
shadow
-
color
:
#
5c667b
;
-
-
theme
-
inline
-
preview
-
background
:
rgba
(
192
105
255
0
.
05
)
;
-
-
theme
-
inline
-
preview
-
border
-
color
:
#
47326c
;
-
-
theme
-
inline
-
preview
-
label
-
color
:
#
dfccff
;
-
-
theme
-
inline
-
preview
-
label
-
background
:
#
3f2e5f
;
}
keyframes
spin
{
from
{
transform
:
rotate
(
0deg
)
;
}
to
{
transform
:
rotate
(
360deg
)
;
}
}
