.
flottingLabel
.
group
input
:
focus
~
label
.
flottingLabel
.
group
input
:
valid
~
label
.
flottingLabel
.
group
input
:
-
moz
-
read
-
only
~
label
.
flottingLabel
.
group
input
.
flatpickr
-
input
~
label
.
flottingLabel
.
group
input
:
disabled
~
label
{
color
:
#
606060
;
font
-
size
:
0
.
625em
;
top
:
0
;
}
